<%@ Control Language="VB" AutoEventWireup="false" CodeFile="semInclusionStudentSearch.ascx.vb" Inherits="SenRegister_UserControls_semInclusionStudentSearch" %>
<div  class="matters" >


<table>
            <tr>
                <td >
                    Student Number</td>
                <td >
                    :</td>
                <td colspan="8">
                    <asp:TextBox ID="txtstudentsearchnumber" runat="server"></asp:TextBox></td>
            </tr>
    <tr>
        <td >
            Student Name</td>
        <td >
        </td>
        <td colspan="8">
            <asp:TextBox ID="txtstudentsearchname" runat="server"></asp:TextBox></td>
    </tr>
            <tr>
                <td >
                    Curriculum</td>
                <td >
                    :</td>
                <td >
                    <asp:DropDownList ID="ddclm" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddclm_SelectedIndexChanged">
                    </asp:DropDownList></td>
                <td >
                    Grade</td>
                <td >
                    :</td>
                <td colspan="5">
                    <asp:DropDownList ID="ddgrade" runat="server" AutoPostBack="True">
                    </asp:DropDownList></td>
            </tr>
            <tr>
                <td >
                    Section</td>
                <td >
                    :</td>
                <td >
                    <asp:DropDownList ID="ddsection" runat="server">
                    </asp:DropDownList>&nbsp;</td>
                <td >
                    Shift</td>
                <td >
                    :</td>
                <td >
                    <asp:DropDownList ID="ddshift" runat="server" AutoPostBack="True">
                    </asp:DropDownList></td>
                <td >
                    &nbsp;Stream</td>
                <td>
                    :</td>
                <td >
                    <asp:DropDownList ID="ddstream" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddstream_SelectedIndexChanged">
                    </asp:DropDownList></td>
            </tr>
    <tr>
        <td colspan="9" align="center">
            <asp:Button ID="btnsearch" CssClass="button" runat="server" Text="Search" /></td>
    </tr>
</table>
<asp:HiddenField ID="Hiddenbsu" runat="server" />
<asp:HiddenField ID="Hiddenacyid" runat="server" />
<asp:HiddenField ID="Hiddenacdid" runat="server" />
</div>