﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="libraryRequestBooks.ascx.vb" Inherits="Library_Users_Usercontrols_libraryRequestBooks" %>

<div align="center" >

<br />
<br />

<table  Width="100%" align="center" >
                        <tr>
                            <td class="title-bg">
                               Request New Items
                            </td>
                        </tr>
                        <tr>
                            <td  align="left"  >


<table>
    <tr>
        <td>
            Item Title</td>
        
        <td>
            <asp:TextBox ID="txttitle" runat="server" Width="400px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>
            Item Author</td>
       
        <td>
            <asp:TextBox ID="txtauthor" runat="server" Width="400px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>
            Description Notes</td>
        
        <td align="center">
            <asp:TextBox ID="txtdes" runat="server" EnableTheming="false" Height="114px" TextMode="MultiLine" 
                Width="400px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <asp:Button ID="btnsave" runat="server" CssClass="button" Text="Submit" Width="113px" />
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
                        <asp:Label ID="lblMessage" runat="server" ForeColor="Red"></asp:Label>
        </td>
    </tr>
</table>



      </td>
                    </tr>
               </table>






<asp:HiddenField ID="HiddenBsuID" runat="server" />

<asp:HiddenField ID="Hiddenlibrarydivid" runat="server" />

<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
    Display="None" ErrorMessage="Please enter the title of an item" 
    ControlToValidate="txttitle" SetFocusOnError="True"></asp:RequiredFieldValidator>


<asp:ValidationSummary ID="ValidationSummary1" runat="server" 
    ShowMessageBox="True" ShowSummary="False" />



</div>