<%@ Control Language="VB" AutoEventWireup="false" CodeFile="cotIssueToken.ascx.vb" Inherits="Counter_UserControls_cotIssueToken" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>


    <script type="text/javascript" >
    
    function print1(){
	                 
	var temp1, FileNAme;
	//var ForWriting= 2;
	var oShell = new ActiveXObject("WScript.shell");
	
   	var fso = new ActiveXObject("Scripting.FileSystemObject");
   	var temp1 = new ActiveXObject("Scripting.FileSystemObject");
		

	var folderspec = "c:\\tempbarcd";
		if (fso.FolderExists(folderspec))
		{//fso.DeleteFolder(folderspec,true);
		}
		else
		{
		var a = fso.CreateFolder(folderspec);
		}
	var filetxt = folderspec+"/barcdfile.txt"
	
	var FileNAme = temp1.CreateTextFile(filetxt,true);
	
	var TokenNo     = document.getElementById('<% = HiddenTokenNumber.ClientID %>').value	;	

		FileNAme.WriteBlankLines(1) ;
		FileNAme.WriteLine(String.fromCharCode(27,119,1));
		FileNAme.WriteLine(String.fromCharCode(27,66,1));
		FileNAme.WriteLine(document.getElementById('<% = HiddenPrinterBsuName.ClientID %>').value);
		FileNAme.WriteLine(String.fromCharCode(27,66,0));
		
		//FileNAme.WriteBlankLines(1) ;
		FileNAme.WriteLine(String.fromCharCode(27,66,1));
		FileNAme.WriteLine("Token Number: " + TokenNo);
		FileNAme.WriteLine(String.fromCharCode(27,66,0));
		//FileNAme.WriteBlankLines(1) ;
		FileNAme.WriteLine("Name: " + document.getElementById('<% = Hiddenstudentname.ClientID %>').value);
		FileNAme.WriteBlankLines(1) ;
		FileNAme.WriteLine("Stu.No.: " + document.getElementById('<% = HiddenStudentno.ClientID %>').value);
		FileNAme.WriteBlankLines(1) ;
		FileNAme.WriteLine("Date: " + getDatetext());
		FileNAme.WriteBlankLines(1) ;
		FileNAme.WriteLine("******THANK YOU******")	;
		FileNAme.WriteLine(String.fromCharCode(27,119,0));
		FileNAme.WriteBlankLines(9) ;
		FileNAme.WriteLine(String.fromCharCode(27,105));
		FileNAme.close()
			
	var batfile = folderspec+"/barcdprint.bat"
	var filetxt1=folderspec+"\\barcdfile.txt"
	
	var batrun = temp1.CreateTextFile(batfile,true);
	
	var printerport = document.getElementById('<% = HiddenPrinterPortNo.ClientID %>').value
	batrun.writeline("Type "+filetxt1+" >" + printerport );
	
	batrun.writeline("copy c:\\drw.dat " + printerport)
	batrun.close();
	oShell.Run ("C:/tempbarcd/barcdprint.bat",0) 
	}



function getDatetext()
{
var date = new Date();
var d  = date.getDate();
var day = (d < 10) ? '0' + d : d;
var m = date.getMonth() + 1;
var month = (m < 10) ? '0' + m : m;
var yy = date.getYear();
var year = (yy < 1000) ? yy + 1900 : yy;
var timesH = date.getHours();
var timesM = date.getMinutes();


var year = (yy < 1000) ? yy + 1900 : yy;

var datetext = day + "/" + month + "/" + year + " " + timesH + ":" + timesM

return datetext
}
    
    </script>
<ajaxToolkit:ToolkitScriptManager id="ScriptManager1" runat="server"></ajaxToolkit:ToolkitScriptManager>
<asp:Image ID="Image1" runat="server" Height="88px" ImageUrl="~/Images/gemslogo.jpg"
    Width="104px" />

 <table border="1" bordercolor="#1b80b6" cellpadding="5" cellspacing="0" Width="100%" >
                        <tr >
                            <td class="subheader_img" style="font-size: large" >
                                 Please Enter Fee ID.</td>
                        </tr>
                        <tr>
                            <td >
<asp:UpdatePanel id="UpdatePanel1" runat="server">
    <contenttemplate>
    <div style="vertical-align:middle">
          <asp:Panel ID="Panel1"  runat="server" >


<table width="100%">
    <tr>
        <td colspan="3"  valign="middle" ><asp:Label ID="lblNo" runat="server" Font-Size="50px" Height="57px" Width="99%" BorderStyle="Solid" Font-Bold="True"></asp:Label></td>
    </tr>
    <tr>
        <td style="width:33%">
            <asp:Button ID="Button1" runat="server" CssClass="button" Height="60px" Text="1" Width="100%" OnClick="Button1_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%" >
            <asp:Button ID="Button2" runat="server" CssClass="button" Height="60px" Text="2" Width="100%" OnClick="Button2_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%" >
            <asp:Button ID="Button3" runat="server" CssClass="button" Height="60px" Text="3" Width="100%" OnClick="Button3_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
    </tr>
    <tr>
        <td style="width:33%">
            <asp:Button ID="Button4" runat="server" CssClass="button" Height="60px" Text="4" Width="100%" OnClick="Button4_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%">
            <asp:Button ID="Button5" runat="server" CssClass="button" Height="60px" Text="5" Width="100%" OnClick="Button5_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%">
            <asp:Button ID="Button6" runat="server" CssClass="button" Height="60px" Text="6" Width="100%" OnClick="Button6_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
    </tr>
    <tr>
        <td style="width:33%">
            <asp:Button ID="Button7" runat="server" CssClass="button" Height="60px" Text="7" Width="100%" OnClick="Button7_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%">
            <asp:Button ID="Button8" runat="server" CssClass="button" Height="60px" Text="8" Width="100%" OnClick="Button8_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%">
            <asp:Button ID="Button9" runat="server" CssClass="button" Height="60px" Text="9" Width="100%" OnClick="Button9_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
    </tr>
    <tr>
        <td style="width:33%">
            <asp:Button ID="Button10" runat="server" CssClass="button" Height="60px" Text="Clear" Width="100%" OnClick="Button10_Click" Font-Bold="True" Font-Size="Medium" /></td>
        <td style="width:33%">
            <asp:Button ID="Button11" runat="server" CssClass="button" Height="60px" Text="0" Width="100%" OnClick="Button11_Click" Font-Bold="True" Font-Size="XX-Large" /></td>
        <td style="width:33%">
            <asp:Button ID="Button12" runat="server" CssClass="button" Height="60px" Text=" < BkSp" Width="100%" OnClick="Button12_Click" Font-Bold="True" Font-Size="Medium" /></td>
    </tr>
</table>




        </asp:Panel>
    </div>
    </contenttemplate>
</asp:UpdatePanel>
 <asp:Button ID="Button13" runat="server" CssClass="button" Height="50px" Text="Print Queue Receipt" Width="100%" OnClick="Button13_Click" Font-Bold="True" Font-Size="Medium" />
 </td>
                    </tr>
               </table>
<asp:HiddenField ID="HiddenCounterTypeId" runat="server" />
<asp:HiddenField ID="HiddenBSU_ID" runat="server" />
<asp:HiddenField ID="HiddenPrint" runat="server" />
<asp:HiddenField ID="HiddenTokenNumber" runat="server" /><asp:HiddenField ID="HiddenPrinterPortNo" runat="server" />
<asp:HiddenField ID="HiddenPrinterBsuName" runat="server" /><asp:HiddenField ID="HiddenStudentno" runat="server" />
<asp:HiddenField ID="Hiddenstudentname" runat="server" />
<script type="text/javascript"> 

if (document.getElementById('<% = HiddenPrint.ClientID %>').value =='1')
{
print1()
document.getElementById('<% = HiddenPrint.ClientID %>').value = '0'

}


</script>
