<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="AddComplaints.aspx.vb" Inherits="HelpDesk_AddComplaints" %>


<%@ Register src="Version2/Usercontrols/hdAddIssues.ascx" tagname="hdAddIssues" tagprefix="uc1" %>


<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 

 

    <uc1:hdAddIssues ID="hdAddIssues1" runat="server" />
 

 

</asp:Content> 
