<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdClipboard.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdClipboard" %>

<%@ Register Src="UserControls/hdClipboard.ascx" TagName="hdClipboard" TagPrefix="uc1" %>

    
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server"  >
<div>
    <uc1:hdClipboard ID="HdClipboard1" runat="server" />
  
</div>
</asp:Content>
