<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdClaimTask.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdClaimTask" %>

<%@ Register Src="UserControls/hdClaimTask.ascx" TagName="hdClaimTask" TagPrefix="uc2" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage"  runat="server" >
<div class="matters">
    
<uc2:hdClaimTask ID="HdClaimTask1" runat="server" />
</div>
</asp:Content> 