<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdImageView.aspx.vb" Inherits="HelpDesk_hdImageView" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Image View</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Image ID="Image1" runat="server" /></div>
    </form>
</body>
</html>
