<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdMasterSettings.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="HelpDesk_hdMasterSettings" %>

<%@ Register Src="UserControls/hdMasterSettings.ascx" TagName="hdMasterSettings"
    TagPrefix="uc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server" >
       <uc1:hdMasterSettings ID="HdMasterSettings1" runat="server" />
</asp:Content>

