<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdSelectedTaskTabs.aspx.vb" Inherits="HelpDesk_hdSelectedTaskTabs" %>

<%@ Register Src="UserControls/hdSelectedTaskTabs.ascx" TagName="hdSelectedTaskTabs"
    TagPrefix="uc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <base target="_self" /> 
    <title>Task</title>
    <link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="matters">
        <ajaxToolkit:ToolkitScriptManager id="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
        <uc1:hdSelectedTaskTabs ID="HdSelectedTaskTabs1" runat="server" />
    
    </div>
    </form>
</body>
</html>
