﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskRootingMaster.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdTaskRootingMaster" %>

<%@ Register src="UserControls/hdTaskRootingMasterV3.ascx" tagname="hdTaskRootingMasterV3" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">



        <uc1:hdTaskRootingMasterV3 ID="hdTaskRootingMasterV31" runat="server" />
    

    
</asp:Content> 

 