﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskEscalationLevelsMaster.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdTaskEscalationLevelsMaster" %>

<%@ Register src="UserControls/hdTaskEscalationLevelsMaster.ascx" tagname="hdTaskEscalationLevelsMaster" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

        <uc1:hdTaskEscalationLevelsMaster ID="hdTaskEscalationLevelsMaster" runat="server" />
    
</asp:Content> 

 