﻿<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="hdTaskMonitorRefreshPage.aspx.vb" Inherits="HelpDesk_hdTaskMonitorRefreshPage" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 <script type="text/javascript" >
     window.setTimeout('loadpage();', 200);

     function loadpage() {

         var EmployeeId = document.getElementById("<%=Hiddenempid.ClientID %>").value;
         var sBusper = document.getElementById("<%=Hiddensuper.ClientID %>").value;

         var win = window.open("hdTaskMonitorRefresh.aspx?EmployeeId=" + EmployeeId + "&sBusper=" + sBusper + "&tmsection=0")//, "", "toolbar=0,menubar=0,scrollbars=yes,resizable=0,directories=0,status=0,fullscreen,left=100,top=100");

     }
     
    </script>
    <asp:HiddenField ID="Hiddenempid" runat="server" />
    <asp:HiddenField ID="Hiddensuper" runat="server" />

</asp:Content> 
