﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskApproverMaster.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdTaskApproverMaster" %>

<%@ Register src="UserControls/hdTaskApproverMaster.ascx" tagname="hdTaskApproverMaster" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

        <uc1:hdTaskApproverMaster ID="hdTaskApproverMaster" runat="server" />
    
</asp:Content> 

 