﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskApproval.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdTaskApproval" %>

<%@ Register src="UserControls/hdTaskApproval.ascx" tagname="hdTaskApproval" tagprefix="uc1" %>


<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

<script type="text/javascript">

        function ViewTaskDes(TaskListId) {

            window.open('../HelpDesk/Pages/hdTaskDescriptionView.aspx?TaskListId=' + TaskListId, '', 'Height:768px;Width:1024px;scroll:auto;resizable:yes;'); return false;

        }
        </script>
        <uc1:hdTaskApproval ID="hdTaskApproval" runat="server" />
    
</asp:Content> 



 