﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskMonitor.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="HelpDesk_hdTaskMonitor" %>

<%@ Register src="UserControls/hdTaskMonitor.ascx" tagname="hdTaskMonitor" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage"  runat="server">
   <div>
    
        <uc1:hdTaskMonitor ID="hdTaskMonitor1" runat="server" />
    
    </div>


</asp:Content>
