﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryStudentOnlineReservation.aspx.vb" Inherits="Library_Users_StudentLogin_Pages_libraryStudentOnlineReservation" %>

<%@ Register src="../Usercontrol/libraryStudentOnlineReservation.ascx" tagname="libraryStudentOnlineReservation" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <uc1:libraryStudentOnlineReservation ID="libraryStudentOnlineReservation1" 
            runat="server" />
    
    </div>
    </form>
</body>
</html>
