﻿
.cssStepBtnActive
{
	
	/*background: #003A63 !important;*/
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 190px!important;
	height: 40px !important;
	cursor: pointer;

border:1px solid #FFBC00 !important;
     background-color: #FFDA73;
        background: -moz-linear-gradient(top, #FFDA73 0%, #fc9a0b 100%, #FFDA73 100%, #fc9a0b 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFDA73), color-stop(100%,#fc9a0b), color-stop(100%,#FFDA73), color-stop(100%,#fc9a0b));
        background: -webkit-linear-gradient(top, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        background: -o-linear-gradient(top, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        background: -ms-linear-gradient(top, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        background: linear-gradient(to bottom, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDA73', endColorstr='#fc9a0b',GradientType=0 );
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cssStepBtnActive:hover
{
	
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 190px!important;
	height: 40px !important;
	cursor: pointer;

   border:1px solid #FFBC00 !important;
     background-color: #FFDA73;
        background: -moz-linear-gradient(top, #FFDA73 0%, #fc9a0b 100%, #FFDA73 100%, #fc9a0b 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFDA73), color-stop(100%,#fc9a0b), color-stop(100%,#FFDA73), color-stop(100%,#fc9a0b));
        background: -webkit-linear-gradient(top, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        background: -o-linear-gradient(top, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        background: -ms-linear-gradient(top, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        background: linear-gradient(to bottom, #FFDA73 0%,#fc9a0b 100%,#FFDA73 100%,#fc9a0b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDA73', endColorstr='#fc9a0b',GradientType=0 );
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cssStepBtnInActive
{

	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #838689;
	margin: 2px !important;
	padding: 2px !important;
	width: 190px!important;
	height: 40px !important;
	cursor: pointer;
      border: 1px solid #ccc;
     background-color: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cssStepBtnInActive:hover
{

	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
color: #838689;
	margin: 2px !important;
	padding: 2px !important;
	width: 190px!important;
	height: 40px !important;
	cursor: pointer;
     border: 1px solid #ccc;
     background-color: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cssStepBtnComp
{
	
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #005F6B;
	margin: 2px !important;
	padding: 2px !important;
	width: 190px!important;
	height: 40px !important;
	cursor: pointer;
    border: 1px solid #bbe458 !important;
	   background-color: #e1fd9d;
        background: -moz-linear-gradient(top, #e1fd9d 0%, #d0f96d 100%, #e1fd9d 100%, #d0f96d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1fd9d), color-stop(100%,#d0f96d), color-stop(100%,#e1fd9d), color-stop(100%,#d0f96d));
        background: -webkit-linear-gradient(top, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        background: -o-linear-gradient(top, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        background: -ms-linear-gradient(top, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        background: linear-gradient(to bottom, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1fd9d', endColorstr='#d0f96d',GradientType=0 );
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.cssStepBtnComp:hover
{

	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #005F6B;
	margin: 2px !important;
	padding: 2px !important;
	width: 190px!important;
	height: 40px !important;
	cursor: pointer;
      border: 1px solid #bbe458 !important;
	   background-color: #e1fd9d;
        background: -moz-linear-gradient(top, #e1fd9d 0%, #d0f96d 100%, #e1fd9d 100%, #d0f96d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1fd9d), color-stop(100%,#d0f96d), color-stop(100%,#e1fd9d), color-stop(100%,#d0f96d));
        background: -webkit-linear-gradient(top, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        background: -o-linear-gradient(top, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        background: -ms-linear-gradient(top, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        background: linear-gradient(to bottom, #e1fd9d 0%,#d0f96d 100%,#e1fd9d 100%,#d0f96d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1fd9d', endColorstr='#d0f96d',GradientType=0 );
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}




.cssStepNo
{
	font-size: 27px;
	display: block;
	width: 10px;
	float: left;
	padding-bottom: 0px;
	vertical-align:middle;
	margin-left: 2px;
	margin-right: 2px;
   
}
.cssStepContainer
{
	display: block;
	width: 148px;
	float: left;
	margin: 1px 0px 0px 6px;
	padding-left: 3px;
	font-size: 9px;font-weight:bold;
    
   
}
.cssStep
{
	text-decoration: none;
	font-weight: bold;font-size:10px;
}
.cssStepInfo
{
	padding-top: 2px;
	text-decoration: none;
	font-weight:normal;color:#36383B;
}
/*********************************************************/