<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="rptLibraryItems.aspx.vb" Inherits="Library_Reports_FilterPages_rptLibraryItems" %>

<%@ Register Src="../UserControls/rptLibraryItems.ascx" TagName="rptLibraryItems"
    TagPrefix="uc1" %>
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
<div>
        <uc1:rptLibraryItems ID="RptLibraryItems1" runat="server" />
    
</div>
</asp:Content> 
