<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="rptLibraryTransactions.aspx.vb" Inherits="Library_Reports_FilterPages_rptLibraryTransactions" %>

<%@ Register Src="../UserControls/rptLibraryTransactions.ascx" TagName="rptLibraryTransactions"
    TagPrefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
    <uc1:rptLibraryTransactions ID="RptLibraryTransactions1" runat="server" />

</asp:Content> 
