﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdIssueChart.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_FusionCharts_hdIssueChart" %>

<%@ Register src="UserControls/hdIssueChart.ascx" tagname="hdIssueChart" tagprefix="uc1" %>

 



<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 
    

 <uc1:hdIssueChart ID="hdIssueChart1" runat="server" />
                
 </asp:Content> 
    
    
        
 