<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="ReportHandler.aspx.vb" Inherits="Payroll_Reports_ASPX_Report_ReportHandler"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
<script type="text/javascript" language="javascript">
Sys.Application.add_load(  
function CheckForPrint()  
     {
       if (document.getElementById('<%= h_newWindow.ClientID %>' ).value!='')
       { 
       var trn_id = document.getElementById('<%= h_trn_id.ClientID %>' ).value;
           var bsu_id = document.getElementById('<%= h_bsu_id.ClientID %>' ).value;
        document.getElementById('<%= h_newWindow.ClientID %>' ).value=''; 
        //showModelDialog ('../ASPX Report/rptReportViewerModel.aspx?newwindow=5', '',"dialogWidth: 800px; dialogHeight: 700px; help: no; resizable: no; scroll: yes; status: no; unadorned: no;"); 
        //window.open  ('../ASPX Report/rptReportViewerModel.aspx?newwindow=5', '',"dialogWidth: 800px; dialogHeight: 700px; help: no; resizable: no; scroll: yes; status: no; unadorned: no;"); 

                //window.open  ('../ASPX Report/rptReportViewerModel.aspx?newwindow=5', '',"dialogWidth: 800px; dialogHeight: 700px; help: no; resizable: no; scroll: yes; status: no; unadorned: no;"); 
           var result;
           
           
           var url = '../ASPX Report/rptdiscribcencydetails.aspx?TRN_ID=' + trn_id +'&BSU_ID='+bsu_id+' ' ;
            result = window.showModalDialog(url,"", "dialogWidth: 450px; dialogHeight: 500px; help: no; resizable: no; scroll: yes; status: no; unadorned: no;");
//            if (result=="0")
            {
                location.href= '../ASPX Report/rptReportViewerNew.aspx';
            }

       }
     } 
    ); 
</script>
   <asp:HiddenField ID="h_newWindow" runat="server" />
    <asp:HiddenField ID="h_trn_id" runat="server"/>
     <asp:HiddenField ID="h_bsu_id" runat="server"/>
</asp:Content>

