<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdInsertCategory.aspx.vb" Inherits="HelpDesk_Pages_hdInsertCategory" %>

<%@ Register Src="../UserControls/hdInsertCategory.ascx" TagName="hdInsertCategory"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Helpdesk- Insert Category</title>
    <%--<link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>
    <link type="text/css" href="../../cssfiles/sb-admin.css" rel="stylesheet" />
<link type="text/css" href="../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:hdInsertCategory id="HdInsertCategory1" runat="server">
        </uc1:hdInsertCategory></div>
    </form>
</body>
</html>
