<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTraceFlow.aspx.vb" Inherits="HelpDesk_Pages_hdTraceFlow" %>

<%@ Register Src="../UserControls/hdTraceFlow.ascx" TagName="hdTraceFlow" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<title>Helpdesk- Trace Flow</title>
     <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:hdTraceFlow ID="HdTraceFlow1" runat="server" />
    
    </div>
    </form>
</body>
</html>
