
#buttonContainer {
    border: 0px solid #F4F4F4;
    margin: 10px auto 0;
    overflow: hidden;
}





.button {
    font: 15px Calibri, Arial, sans-serif;
    /* A semi-transparent text shadow */
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
    /* Overriding the default underline styling of the links */
    text-decoration: none !important;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    cursor: pointer;
    padding: 10px 2px;
    background-repeat: no-repeat;
    /* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */
    background-position: bottom left;
    background-image: url('button_bg.png');
    /* Multiple backgrounds version. The background images
	   are defined individually in color classes */
    background-position: left bottom;
    background-clip: border-box;
    /* Applying a default border raidus of 8px */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    /* A 1px highlight inside of the button */
    -moz-box-shadow: 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 1px #fff inset;
    box-shadow: 0 0 1px #fff inset;
    /*box-shadow:
    0 5px 2px 3px rgba(158, 158, 158, 0.4), 
    0 3px 5px #B7B6B6, 
    0 0 0 2px #BBB7AE, 
    inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
    inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);*/
    /*-webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;


  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);*/
    /* Animating the background positions with CSS3 */
    /* Currently works only in Safari/Chrome */
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    top: 0px;
    left: 0
}

    .button:hover {
        /* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
        background-position: top left;
        background-position: top left, bottom right, 0 0, 0 0;
    }

    .button:active {
        /* Moving the button 1px to the bottom when clicked */
        bottom: -1px;
        box-shadow: 0 0 0 0 #BBB7AE;
    }

    /* The three buttons sizes */

    .button.big {
        font-size: 30px;
    }

    .button.medium {
        font-size: 18px;
    }

    .button.small {
        font-size: 13px;
    }

    /* A more rounded button */

    .button.rounded {
        -moz-border-radius: 4em;
        -webkit-border-radius: 4em;
        border-radius: 4em;
    }

    .button.pad {
        padding: 0px 0px;
    }
/* Defining four button colors */


/* BlueButton */

.blue.button {
    /*color: #0f4b6d !important;*/
    color: white;
    border: 1px solid #84acc3 !important;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    /* A fallback background color */
    background-color: #48b5f2;
    /* Specifying a version with gradients according to */
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient( center bottom, circle, rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px), -moz-linear-gradient(#4fbbf7, #3faeeb);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient( radial, 50% 100%, 0, 50% 100%, 100, from(rgba(89,208,244,1)), to(rgba(89,208,244,0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

    .blue.button:hover {
        background-color: #63c7fe;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient( center bottom, circle, rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px), -moz-linear-gradient(#63c7fe, #58bef7);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient( radial, 50% 100%, 0, 50% 100%, 100, from(rgba(109,217,250,1)), to(rgba(109,217,250,0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
    }

/* Green Button */

.green.button {
    color: white !important;
    border: 1px solid #96a37b !important;
    background-color: #79be1e;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(162,211,30,1) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(#82cc27, #74b317);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162,211,30,1)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
}

    .green.button:hover {
        background-color: #89d228;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
    }

/* Red Button */

.red.button {
    color: white !important;
    border: 1px solid #96a37b !important;
    background-color: #AB2328;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(171,35,40,1) 0,rgba(171,35,40,0) 100px),-moz-linear-gradient(#AB2328, #BC4316);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(188,67,22,1)), to(rgba(188,67,22,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#AB2328), to(#BC4316));
}

    .red.button:hover {
        background-color: #BC4316;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(188,67,22,1) 0,rgba(188,67,22,0) 100px),-moz-linear-gradient(#AB2328, #BC4316);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(188,67,22,1)), to(rgba(188,67,22,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#AB2328), to(#BC4316));
    }
/* Pink Button */

.pink.button {
    color: white !important;
    border: 1px solid #96a37b !important;
    background-color: #EBA7A8;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(235,167,168,1) 0,rgba(235,167,168,0) 100px),-moz-linear-gradient(#EBA7A8, #F9A891);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(249,168,145,1)), to(rgba(249,168,145,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBA7A8), to(#F9A891));
}

    .pink.button:hover {
        background-color: #F9A891;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(249,168,145,1) 0,rgba(249,168,145,0) 100px),-moz-linear-gradient(#EBA7A8, #F9A891);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(249,168,145,1)), to(rgba(249,168,145,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#EBA7A8), to(#F9A891));
    }

/*Navy Blue*/



.Navy.button {
    color: white !important;
    border: 1px solid #002560 !important;
    background-color: #002560;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(0,37,96,1) 0,rgba(0,37,96,0) 100px),-moz-linear-gradient(#002560, #002560);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(0,37,96,1)), to(rgba(0,37,96,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#002560), to(#002560));
}

    .Navy.button:hover {
        background-color: #002560;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(0,37,96,1) 0,rgba(0,37,96,0) 100px),-moz-linear-gradient(#002560, #002560);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(0,37,96,1)), to(rgba(0,37,96,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#002560), to(#002560));
    }

/*Purple*/

.Purple.button {
    color: white !important;
    border: 1px solid #9325ce !important;
    background-color: #9325ce;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(0,147, 37, 206) 0,rgba(0,147, 37, 206) 100px),-moz-linear-gradient(#9325ce, #9325ce);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(0,147, 37, 206)), to(rgba(0,147, 37, 206))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#9325ce), to(#9325ce));
}

    .Purple .button:hover {
        background-color: #9325ce;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(0,147, 37, 206) 0,rgba(0,147, 37, 206) 100px),-moz-linear-gradient(#9325ce, #9325ce);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(0,147, 37, 206)), to(rgba(0,147,37,206))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#9325ce), to(#9325ce));
    }
/* Yellow Button */

.yellow.button {
    color: white !important;
    border: 1px solid #FFC000 !important;
    background-color: #FFC000;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(255,192,0,1) 0,rgba(255,192,0,0) 100px),-moz-linear-gradient(#FFC000, #EFCB00);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(255,192,0,1)), to(rgba(255,192,0,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFC000), to(#EFCB00));
}

    .yellow.button:hover {
        background-color: #EFCB00;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(239,203,0,1) 0,rgba(239,203,0,0) 100px),-moz-linear-gradient(#FFC000, #EFCB00);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(239,203,0,1)), to(rgba(239,203,0,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFC000), to(#EFCB00));
    }

/* Orange Button */

.orange.button {
    color: white !important;
    border: 1px solid #bea280 !important;
    background-color: #e38d27;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(232,189,45,1) 0,rgba(232,189,45,0) 100px),-moz-linear-gradient(#f1982f, #d4821f);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(232,189,45,1)), to(rgba(232,189,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1982f), to(#d4821f));
}

    .orange.button:hover {
        background-color: #ec9732;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(241,192,52,1) 0,rgba(241,192,52,0) 100px),-moz-linear-gradient(#f9a746, #e18f2b);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(241,192,52,1)), to(rgba(241,192,52,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9a746), to(#e18f2b));
    }

.gray.button {
    color: white !important;
    border: 1px solid #a5a5a5 !important;
    background-color: #a9adb1;
    height: inherit;
    WIDTH: 10%;
    text-align: center;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(197,199,202,1) 0,rgba(197,199,202,0) 100px),-moz-linear-gradient(#c5c7ca, #92989c);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197,199,202,1)), to(rgba(197,199,202,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c));
}

    .gray.button:hover {
        background-color: #b6bbc0;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(202,205,208,1) 0,rgba(202,205,208,0) 100px),-moz-linear-gradient(#d1d3d6, #9fa5a9);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202,205,208,1)), to(rgba(202,205,208,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9));
    }



.chk.button {
    color: #345903 !important;
    border: 1px solid #96a37b !important;
    background-color: #79be1e;
    height: 40px;
    WIDTH: 100px;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(162,211,30,1) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(#82cc27, #74b317);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162,211,30,1)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
}

    .chk.button:hover {
        background-color: #89d228;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
    }

/* Orange Button */

.unchk.button {
    color: #693e0a !important;
    border: 1px solid #bea280 !important;
    background-color: #e38d27;
    height: 40px;
    WIDTH: 100px;
    background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(232,189,45,1) 0,rgba(232,189,45,0) 100px),-moz-linear-gradient(#f1982f, #d4821f);
    background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(232,189,45,1)), to(rgba(232,189,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1982f), to(#d4821f));
}

    .unchk.button:hover {
        background-color: #ec9732;
        background-image: url('button_bg.png'), url('button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(241,192,52,1) 0,rgba(241,192,52,0) 100px),-moz-linear-gradient(#f9a746, #e18f2b);
        background-image: url('button_bg.png'), url('button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(241,192,52,1)), to(rgba(241,192,52,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9a746), to(#e18f2b));
    }

.effect2 {
    position: relative;
}

    .effect2:before, .effect2:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    .effect2:after {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }


@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.2);
    }

    50% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }

    70% {
        -moz-transform: scale(.9);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes bounceIn {
    0% {
        opacity: 0;
        -o-transform: scale(.2);
    }

    50% {
        opacity: 1;
        -o-transform: scale(1.05);
    }

    70% {
        -o-transform: scale(.9);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.2);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
