﻿
/*------------------------------------------------------student dashboard-------------------------------------------------------------*/

.dbcontainerMain {
    background-color: #fff;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 100px;
    padding: 0;
    text-align: center;
    position: fixed;
    
}

.dbULcontainer {
    display: block;
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 240px;
}

.dbURcontainer {
    display: block;
    position: absolute;
    margin-right: -100px;
    margin-top:100px;
    margin: 0;
    width: 240px;
    float:right;
    background-color: #FFF;
     border: 1px solid #88BCE2;
}
.dbCatSubContainer {
    display: block;
    position: absolute !important;
    width: 200px !important;
    vertical-align: middle;
}

.dbCatSubProgContainer {
    display: block;
    width: 90px !important;
    float: left !important;
    padding-left: 45px !important;
    margin-top: 8px !important;
}



.dbStudDetailcontainer {
    margin-left: 240px;
    margin-top: 2px;
    padding-left: 6px;
    border: 1px solid #88BCE2;
    background-color: #FFF;
    
    display: block;
    position: absolute;
    z-index: 0;
    width: 680px;
}

.dbHolderScroll {
    z-index: 0;
    position: absolute;
    border: solid 1px #ccc;
    border-collapse: collapse;
    padding: 1px 0px 1px 0px;
    margin: 0px 0px -5px 0px;
    overflow: hidden;
}

.dbHolderScrollInside {
    display: block;
    /*box-shadow: 0 0 20px #99AABB;*/
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 437px;
    max-height: 437px;
}

.dbinactiveCat {
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    padding-left: 4px;
    margin: 2px 0px 2px 8px;
    height: 70px;
}

.dbactiveCat {
    border-top: 1px solid #88BCE2;
    border-left: 1px solid #88BCE2;
    border-bottom: 1px solid #88BCE2;
    border-right: 1px solid #e8e8e8;
    background-color: #fff;
    padding-left: 4px;
    margin: 2px -9px 2px 12px;
    height: 70px;
    padding-right: 0px;
}

.dblinkbtnCat {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #555152;
    font-weight: bold;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

    .dblinkbtnCat:hover {
        cursor: pointer;
        text-decoration: none;
        font-family: Helvetica, sans-serif;
        color: #555152;
        font-weight: bold;
        font-size: 11px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }

.EQ_Count33 {
    color: #EDB92E;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.EQ_Count66 {
    color: #53777A;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.EQ_Count100 {
    color: #40C0CB;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.REG_Count33 {
    color: #EDB92E;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.REG_Count66 {
    color: #53777A;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.REG_Count100 {
    color: #40C0CB;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.EN_Count33 {
    color: #EDB92E;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.EN_Count66 {
    color: #53777A;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.EN_Count100 {
    color: #8FBE00;
    font-family: 'Abel', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.TC_Count33 {
    color: #EDB92E;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.TC_Count66 {
    color: #C02942;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.TC_Count100 {
    color: #ED303C;
    font-family: 'Abel',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}



.Line1 {
    float: left;
    background-color: #35b5d7;
    width: 2px;
    padding-left: 2px;
    height: 70px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Line2 {
    float: left;
    background-color: #F8CA00;
    width: 2px;
    padding-left: 2px;
    height: 70px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Line3 {
    float: left;
    background-color: #AEE239;
    width: 2px;
    padding-left: 2px;
    height: 70px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Line4 {
    float: left;
    background-color: #E97F02;
    width: 2px;
    padding-left: 2px;
    height: 70px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Line5 {
    float: left;
    background-color: #BD1550;
    width: 2px;
    padding-left: 2px;
    height: 70px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Line6 {
    float: left;
    background-color: #AEE239;
    width: 2px;
    padding-left: 2px;
    height: 70px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.studbTotCount33 {
    font-size: 32px;
    display: block;
    width: 60px;
    float: left;
    height: 35px;
    font-family: 'Abel','Istok Web','Quantico','Droid Serif','Century Gothic', 'Courier New',Arial;
    margin-top: 10px;
    vertical-align: middle;
    font-weight: normal;
    color: #EDB92E;
    margin-left: 4px;
}

.studbTotCount66 {
    font-size: 32px;
    display: block;
    width: 60px;
    float: left;
    height: 35px;
    font-family: 'Abel','Istok Web','Quantico','Droid Serif','Century Gothic', 'Courier New',Arial;
    margin-top: 10px;
    vertical-align: middle;
    font-weight: normal;
    color: #53777A;
    margin-left: 4px;
}

.studbTotCount100 {
    font-size: 32px;
    display: block;
    width: 60px;
    float: left;
    height: 35px;
    font-family: 'Abel','Istok Web','Quantico','Century Gothic', 'Courier New',Arial;
    margin-top: 10px;
    vertical-align: middle;
    font-weight: normal;
    color: #7AB317;
    margin-left: 4px;
}


.IRUnitLinkcss {
    font-family: Helvetica, sans-serif !important;
    text-decoration: none !important;
    color: #0080C9 !important;
    font-size: 12px !important;
    font-weight: normal !important;
}

    .IRUnitLinkcss:hover {
        font-family: Helvetica, sans-serif !important;
        text-decoration: none !important;
        color: #0080C9 !important;
        font-size: 12px !important;
        font-weight: normal !important;
    }

.gridlbl {
    font-family: Helvetica, sans-serif !important;
    text-decoration: none !important;
    color: #555152 !important;
    font-size: 12px !important;
    font-weight: normal !important;
}

.drillUnitcss {
    font-family: Helvetica, sans-serif !important;
    text-decoration: none !important;
    color: #0080C9 !important;
    font-size: 13px !important;
    font-weight: normal !important;
    margin-left: 3px !important;
}

.drillUnitLinkcss {
    font-family: Helvetica, sans-serif !important;
    text-decoration: none !important;
    color: #0080C9 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 18px;
}

    .drillUnitLinkcss:hover {
        font-family: Helvetica, sans-serif !important;
        text-decoration: none !important;
        color: #0080C9 !important;
        font-size: 12px !important;
        font-weight: normal !important;
    }

.dbprogIR {
    background-color: #f1f1f1;
    margin: 3px 0px 3px 3px;
    width: 78px;
    height: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    position: relative;
}

.dbProgCount {
    position: absolute;
    padding: 0px;
    z-index: 1;
    left: 50%;
    color: #000;
    font-size: 9px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.dbprogTitle {
    position: absolute;
    padding: 0px;
    left: 0%;
    color: #000;
    font-size: 9px;
    font-weight: normal;
    margin-left: -24px;
}

.barStudENQ {
    position: absolute;
    padding: 0px;
    height: 10px;
    margin-top: -1px;
    margin-left: -1px;
    /*background:#40C0CB;B96B54; #7F9EBB;#ce76fa;*/
    border: 1px solid #40C0CB;
    background-color: #40C0CB;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
}

.barStudREG {
    position: absolute;
    padding: 0px;
    height: 10px;
    margin-top: -1px;
    margin-left: -1px;
    /*background:#E97F02;B96B54; #7F9EBB;#ce76fa;*/
    border: 1px solid #E97F02;
    background-color: #E97F02;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
}

.barStudTC {
    position: absolute;
    padding: 0px;
    height: 10px;
    margin-top: -1px;
    margin-left: -1px;
    /*background:#40C0CB;B96B54; #7F9EBB;#ce76fa;*/
    border: 1px solid #ea6f40;
    background-color: #ea6f40;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
}

.arrRightActive {
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #88BCE2;
}

.arrRightInactive {
    display: block;
    float: left;
    margin-top: 12px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #ccc;
}

.divarrow-down {
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #88BCE2;
}

.divarrow-right {
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #88BCE2;
}

.darkPanlvisibleIR_DashBoard {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 2;
    left: 0% !important;
    top: 0% !important;
    background: url(../Images/dark.png) 0 0 !important;
    display: none !important;
}

.darkPanlvisibleIR_DashBoard {
    display: block !important;
    z-index: 2;
}


#divFollUp_main {
    color: #0080C9;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    display: inline;
    cursor: pointer;
    padding-bottom: 16px;
    margin-top: -6px;
}

.divhoverFollUp {
    /*border:1px solid #a9bed8;*/
    background-color: #fff;
    padding: 1px 15px 1px 2px;
    margin-top: 16px;
    margin-left: -630px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 620px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.DashBoardPopUpFilter {
    width: 630px;
    height: 170px;
    background-color: white;
    position: absolute;
    margin-top: 23px;
    margin-left: -620px;
    border: 1px solid #0092d7;
    z-index: 4;
}

.PopSearchbtn {
    clear: initial;
    text-decoration: none;
    color: blue;
}

.divGirdEnabled {
    width: 99%;
    max-height: 472px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1px 6px 1px 3px;
    text-align: left;
}


.tblFilterIRPopUp { /*border:0px solid #a9bed8;*/
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    font-size: 14px;
    width: 99%;
    color: #556270;
    text-align: left;
    font-weight: normal;
}

.txtSearchIRPopUp {
    display: inline;
    width: 300px !important;
    height: 22px !important;
    border: 1px solid #a9bed8 !important;
    background-color: #FFF !important;
    border-collapse: collapse;
    color: #1B80B6;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    font-size: 12px;
    margin: 1px 0px 1px 0px;
    padding-left: 2px;
    line-height: 20px;
}

.watermarkedtextIRPopUp {
    color: #bdbdbd;
    width: 300px !important;
    height: 22px !important;
    border: 1px solid #a9bed8 !important;
    background-color: #FFF !important;
    border-collapse: collapse;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: 1px 0px 1px 0px;
    padding-left: 2px;
    line-height: 20px;
}


#divFollUp_main:hover > div {
    display: block;
    text-decoration: none !important;
    visibility: visible;
    opacity: 1;
}

table.gridViewClassSTUD_DB {
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    border: 1px solid #e1e6ef;
    padding: 9px;
    border-collapse: collapse;
    background-color: #fff;
}

    table.gridViewClassSTUD_DB th {
        height: 25px;
        text-align: center;
        color: #04558b;
        font-weight: bold;
        border: 1px solid #e1e6ef;
        font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        font-size: 12px;
    }

    table.gridViewClassSTUD_DB tr {
        border: 0px none !important;
    }

    table.gridViewClassSTUD_DB td {
        height: 26px;
        font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        border: 1px solid #e1e6ef !important;
        -moz-border-radius: 0;
        font-weight: normal;
        color: #4d4d4d;
        font-size: 9px !important;
    }

.gridAlternateCssSTUD_DB {
    height: 26px;
    border: 1px solid #e1e6ef !important;
    background-color: #f5f7fa;
    font-size: 9px !important;
    font-weight: normal;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
}

.gridRowCssSTUD_DB {
    height: 26px;
    border: 1px solid #e1e6ef !important;
}

/*First level nested Grid Style*/
table.gridViewClassChild1 {
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    border: 1px solid #DBF3FF;
    padding: 9px;
    border-collapse: collapse;
    background-color: #fff;
}

    table.gridViewClassChild1 th {
        height: 25px;
        text-align: center;
        color: #4E4B52;
        font-weight: bold;
        font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        font-size: 12px;
        border: 1px solid #DBF3FF;
        background-color: #DBF3FF;
        background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
        background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
        background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
        background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    }

    table.gridViewClassChild1 tr {
        border: 0px none !important;
    }

    table.gridViewClassChild1 td {
        height: 26px;
        font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        border: 1px solid #DBF3FF !important;
        -moz-border-radius: 0;
        font-weight: normal;
        color: #68656D;
        font-size: 9px !important;
    }

.gridAlternateCssChild1 {
    height: 26px;
    border: 1px solid #DBF3FF !important;
    background-color: #EBF6FA;
    font-size: 9px !important;
    font-weight: normal;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, .6) 100%, transparent 100%, transparent);
}

.gridRowCssChild1 {
    height: 26px;
    border: 1px solid #e1e6ef !important;
}

/*End of nested Grid Style*/



.highlight {
    cursor: pointer;
    color: #000;
    background: #eafc93;
}

.gridpagerSTUD_DB /*Common Styles*/ {
    background-color: Transparent !important;
    width: auto !important;
    height: 28px !important;
}

    .gridpagerSTUD_DB table {
        background-color: Transparent !important;
        margin: auto;
        float: right;
    }

    .gridpagerSTUD_DB tr {
        border: 1px solid #e1e6ef !important;
        /*border: 0px none !important;*/
        background-color: Transparent !important;
    }

    .gridpagerSTUD_DB table td {
        background-color: Transparent !important;
        border-collapse: collapse;
        margin: 2px;
    }

    .gridpagerSTUD_DB td {
        background-color: Transparent;
        border-collapse: collapse;
    }

        .gridpagerSTUD_DB td table {
            background-color: Transparent !important;
            border-collapse: collapse;
        }

            .gridpagerSTUD_DB td table td {
                border: 0px none !important;
                padding: 2px 2px 2px 2px;
                margin-top: 1px;
                /*top, right, bottom and left */
                background-color: Transparent !important;
            }

    .gridpagerSTUD_DB table td a {
        font-weight: bold;
        color: #4b4b4b;
        border: solid 1px #ccc !important;
        /*-moz-border-radius: 12px;
 border-radius: 12px;*/
        font-size: 12px;
        text-decoration: none;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
    }

        .gridpagerSTUD_DB table td a:hover {
            font-weight: bold;
            color: white;
            border: solid 1px #2a67a1 !important;
            font-size: 12px;
            text-decoration: none;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 1px;
            padding-bottom: 1px;
            background: #317abf;
            background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
            background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
        }

    .gridpagerSTUD_DB table td span {
        font-weight: bold;
        color: white;
        border: solid 1px #2a67a1 !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 1px;
        padding-bottom: 1px;
        /*top, right, bottom and left */
        background: #317abf;
        background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
        background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
    }
/***********************/

.watermarked {
    /*height:20px;
	width:150px;
	padding:2px 0 0 2px;*/
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
}

.printImage {
    text-align: right;
    position: absolute;
    TOP: 0px;
    LEFT: 400px;
    WIDTH: 50px;
    HEIGHT: 50px;
}
