/*---------------------------------------------
$        GEMS CSS Document                     $
$        http://8d40.com/gems                  $
$        http://careers.gemseducation.com/     $
----------------------------------------------*/

/************************************
Museo, Geniusbold, Geniuslight Font
Modify your own stylesheet
p { font-family: 'museo_sans300'; }
************************************/
@font-face {
    font-family: 'museo_sans300'; /* font-family: 'museo_sans300'; */
    src: url('../fontmuseosans-300-webfont.eot');
    src: url('../fontmuseosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geniusbold'; /* font-family: 'geniusbold'; */
    src: url('../fonts/genius_bold-webfont.eot');
    src: url('../fonts/genius_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/genius_bold-webfont.woff2') format('woff2'),
         url('../fonts/genius_bold-webfont.woff') format('woff'),
         url('../fonts/genius_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geniuslight'; /* font-family: 'geniuslight'; */
    src: url('../fonts/genius_light-webfont.eot');
    src: url('../fonts/genius_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/genius_light-webfont.woff2') format('woff2'),
         url('../fonts/genius_light-webfont.woff') format('woff'),
         url('../fonts/genius_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/******************** Font Ends ********************/

/******************** Body ********************/
body, html {
    background: #fff;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    text-align: left;
    height: 100%;
}

.matters {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size:12px;
}
.Gemspage-wrapper {
    background: #fff;
    min-height: 100%;
    position: relative;
}
.wrapper-content{ padding-bottom:220px; }
.HeaderContent{ max-width:1200px; margin:2px auto; padding: 2px 100px; }
.FontWhite{ color:#ffffff; }
.login { width: 300px; }
.logout { width: 300px; }
a:link,a:active,a:visited{color:#0b1f41;text-decoration:none;}
a:focus,a:hover{color:gray;text-decoration:none;}
.clearFloat{ clear:both; }
.gemsmenu .container .navbar-brand{ display:none;  } /* Hide the mobile nav bar */
.separator{background-color: transparent;border:none;color:#fff;height:10px;margin:2px 0}
.m { border-radius: 0px 4px 4px 0px; }
.p { border-radius: 4px 4px 4px 4px; }
#ClearDiv{ clear: both; position: relative; z-index: 10; height: 2em; margin-top: -3em; }
.gemsbody{ color: #808184; text-align:left; text-decoration:none; max-width:1200px; margin:2px auto; padding: 2px 100px; }
.gemsbody p { color: #00a3e0;  font:18px 'MuseoSans-700',Helvetica,Arial,sans-serif; }
.b{ padding:15px; }
.t{ padding-left:30px; padding-bottom:15px; color: #808184; font:16px 'MuseoSans-300',Helvetica,Arial,sans-serif; }

/******************** Body Ends ********************/

/******************** Input Style ********************/
input[type="text"], input[type="password"], input[type="email"], textarea, select{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #19a2dc;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    outline: medium none;
    padding: 4px 0 4px 5px;
    width: 60%;
    height: 31px;
    line-height: 20px;
}


/* Style for Web Login Textbox Home Page */
.input-prepend input, .input-prepend select {
    border-radius: 0 4px 4px 0;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}
.input-prepend input, .input-prepend select {
    font-size: 15px;
}
.input-prepend {
    border-radius: 4px 0 0 4px;
}
.input-prepend .add-on {
    margin-right: -1px;
}
.input-prepend .add-on {
    border-radius: 0;
    vertical-align: top;
}
.input-prepend {
    font-size: 0;
    white-space: nowrap;
}
.input-prepend {
	width: 100%;
	margin: 0 0 2px 0;
}
.input-prepend .add-on {
	font-size: 15px;
	background: #19a2dc;
	border: 0;
	color:#fff;
	border-radius: 4px 0px 0px 4px;
    display: inline-block;
    font-weight: normal;
    height: 31px;
    line-height: 20px;
    min-width: 16px;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: auto;
}
/* Web Login end */
/******************** Input Style Ends ********************/

/******************** Change the text color of input box placeholder like search, login on top of pages ********************/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#000000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#000000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#000000;
}
/******************** Placeholder Ends ********************/

/******************** Home Index Center Menu Style with popup hover ********************/
.GemsHomeCenterMenu {
	color:#ffffff;
    float: left;
    margin: 8px;
    padding: 10px;
    width: 270px;
    height: 220px;
	text-align:center;
	position: relative;
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
} 
.GemsHomeCenterMenu:hover{
	-ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}
.GemsHomeCenterMenu p{ font-size:18px; background:transparent; }
.GemsHomeCenterMenu .HomeTitleBottom { font-size:20px; background:transparent; }
.hometbl a:link, .hometbl a:visited, .hometbl a:active, .hometbl a:hover {
	color: #ffffff;
	text-decoration: none;
}
/******************** Home Index Ends ********************/

/******************** Navigation Bar Style for Home, FAQ, Current Vacancies, My Applied Jobs, etc. ********************/
.gemsmenu { background:#ffffff; border-bottom:4px solid #233e93; }
.gemsmenu .GemsNav{ max-width:1200px; margin:0px auto; }
.gemsmenu .container{ margin-left:0px; padding-left:100px; }
.gemsmenu li a {
	font:17px 'MuseoSans-500',Helvetica,Arial,sans-serif;
	display:block;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:2px;
	padding-top:10px;
	text-decoration:none;
	margin-left:0px;
	color:#828789;
	background:transparent;
	border-bottom:4px solid transparent;
}
.gemsmenu li:hover a, .gemsmenu li.active a{ background-color: #fff; border-bottom:4px solid #233e93; }
/******************** Navigation Ends ********************/

/******************** SignUp Classes ********************/
.GemsSignup {
	background:#fff;
	max-width:700px;
	margin:0 auto;
	font-size:15px;
	padding:20px;
	padding-bottom:30px;
	margin-top:0px;
	background:#19a2dc;
	height:auto;
	border-radius: 4px 4px 4px 4px;	
}
.tblsign tr td{ padding-left:6px; padding-right:6px; }
.signupinput{ /* SignUp Textbox Style */
margin-bottom:5px;
border-radius: 6px 6px 6px 6px;
margin-bottom:30px;
}
.Signcap{ color:#fff; display:none; }
/******************** SigUp Ends ********************/

/******************** Forgot Passwword Classes ********************/
.GemsForgotpass {
	background:#fff;
	max-width:500px;
	margin:0 auto;
	font-size:15px;
	padding:20px;
	padding-bottom:30px;
	margin-top:20px;
	background:#19a2dc;
	height:auto;
	border-radius: 4px 4px 4px 4px;
}
.GemsForgotpass legend, .GemsSignup legend{
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 2px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
/******************** Forgot Password End ********************/

/******************** For Search, Talk to Us, Apply for jobs ********************/
.Topcontainer { /* Content */
font-family:museo_sans300;
width: 100%;
height:60px;
float:right;
}
.Topcontainer1 { /* Content */
font-family:museo_sans300;
width: 100%;
height:60px;
float:right;
}
.tsearch { /* Search */
margin-top:4px;
}
#search_form{ position:relative; padding-top:2px; float:right }
#search_form #search_holder{ display:block }
#search_form #search_holder input[type="text"]{ 
	font-size:13px;
	width:190px;
	height:35px;
	margin:0;
	position:absolute;
	right:0;
	padding:0 32px 0 9px
}
#search_form #search_holder #search_field{
	z-index:3;
	border:1px solid #ebebeb;
	background:url("") #fff;
	text-shadow:0 0 1px #fff
}
#search_form #search_holder #search_field:focus,#search_form #search_holder #search_field:hover{
	border-color:#acb1b4;
	color:#123
}
#search_form #search_holder #search_suggest{
	z-index:2;
	border:none;
	background:#fff;
	border:1px solid #fff;
	color:#9da2a8
}
 #search_form #search_holder .overTxtLabel{
	z-index:113
}
#search_form .active{
	color:#fff;
	background:#a6a7a8
}
#search_form .btn_search{ /*search icon*/
	z-index:3;
	position:absolute;
	top:3px;
	right:1px;
	display:block;
	color:#a6a7a8;
	width:30px;
	height:33px;
	font-size:17px;
	line-height:21px;
	text-align:center;
	font-weight:400;
	background:#ebebeb;
	border:0;
	border-left:7px solid #ebebeb;
	border-right:7px solid #ebebeb;
	border-top:7px solid #ebebeb;
	border-bottom:7px solid #ebebeb;
}
#search_form .btn-anchor{
	background:0 0;
	border:0;
	border-bottom:1px solid #ccc;
	color:#666;
	margin:0 10px;
	font-size:10px;
	padding-bottom:2px;
	font-weight:400
 }
 #search_form.voicetron [name="q"]{
	padding-right:34px;
	width:170px;
	line-height:17px
}
#search_form.voicetron .btn_search{ color:#71767a }
/* Search classes end here */

.ttalk {  /* Talk to Us */
    width: 110px;
	float:right;
	display:inline-block;
	margin:4px 20px 0px 20px;
}
.enrolnow{ /* For Apply Jobs */
	font-size: 16px;
	padding-top:100px;
	padding-bottom:10px;
	padding-left:19px;
	padding-right:19px;
	border:1.7px solid  #fedb00;
	background: #fedb00;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
	float:right;
	display:inline-block;
}
.enrolnow:hover{ /* Hover For Apply Jobs */
	border:1.7px solid  #fedb00;
	background: transparent;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
}
/******************** Top Ends ********************/

/******************** For Checkbox on Myappliedjobs********************/
.checkbox-group {
    position:relative;
}
.checkbox-group input[type=checkbox] {  /* Hide Checkbox Input */
    display:none
}
.checkbox-group label {  /* Style Label */
    padding-left:20px;
    cursor:pointer;
    margin-bottom:0
}
.checkbox-group label span {  /* Style span tag */
    display:block;
    position:absolute;
    left:0; 
}
.checkbox-group label .box {  /* Style box */
    background:#fff;
    height:15px;
    width:15px;
    z-index:9;
     border-radius: 2px 2px 2px 2px;
	 border:1px solid #00a3e0;
}
.checkbox-group label .check { /* Check icon: create border on the bottom and right only and then rotate */
    top:0;
    left:6px;
    width:4px;
    height:13px;
    border:2px solid #00a3e0;
    border-top:none;
    border-left:none;
    opacity:0;
    z-index:10;   
}
input[type=checkbox]:checked ~ label .box {  /* Change color of box when checkbox is checked */
    background:#fff
}
input[type=checkbox]:checked ~ label .check { /* Rotate and show check icon when checkbox is checked */
    opacity:1;
    -webkit-transform:scale(1) rotate(45deg);
    -moz-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
/******************** For Checkbox on Myappliedjobs ends********************/

/******************** Form Select box classes ********************/
.GEMS-select {
    width: 100%;
    height: 31px;
    overflow: hidden;
    background: url('../images/bgselect.png') no-repeat right #fff;
    border: 1px solid #10a1dc;
	border-radius: 6px 6px 6px 6px;
	margin-bottom:15px;
}
.GEMS-select select{
background:transparent;
width:100%;
height:35px;
border:0;
border-radius:0;
-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
color:#000000;
padding-bottom:11px;
padding-right:34px;
}
.GEMS-select select::-ms-expand{
    display: none;
}
/******************** Select box End ********************/

/******************** Profile Picture classes with hover bottom ********************/
.ProfilePicHover {
  overflow: hidden;
  position: relative;
  border:2px solid #10a1dc;
  width:70px;
  height:70px;
  border-radius: 8px 8px 8px 8px;
}
.ProfilePic_contentHover {
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
  position: absolute;
  bottom: -193px;
  transition: all 0.5s ease;
  height:5px;
  width:70px;
  border-top:2px solid #10a1dc;
}
.ProfilePicHover:hover .ProfilePic_contentHover {
  opacity: 0.5;
  filter: Alpha(opacity=50); /* IE8 and earlier */
  background-color: #10a1dc;
  bottom: 0;
}
/******************** Profile Picture End ********************/ 

/******************** Header ********************/ 
.HeaderContent{
max-width:1200px;
margin:2px auto;
padding: 2px 100px;
}

/******************** Header End ********************/ 

/******************** Mobile PopUp Login classes ********************/ 
.modal-body .logmsg{
padding:2px;
color:red;
}
.modal-body .SignbtnLst{
height:40px;
}
.modal-body .ForgpSUp{
padding-top:7px;
position:absolute;	
}
.modal-body .Signbtn{
float:right;	
}
.modal-body .txtbox{
width:100%;margin-bottom:5px;border-radius: 4px 4px 4px 4px;	
}
/******************** Mobile PopUp End ********************/ 

/******************** Profile Steps Classes ********************/ 
.ProfileContent{
max-width: 1200px;
margin:7px auto;
padding: 2px 100px;	
}
	.ProfileContent .input{
		margin-bottom:5px;
		border-radius: 6px 6px 6px 6px;
		margin-bottom:15px;
		color:#000000;
		font-size:14px;
	}
	.ProfileContent b{
		font-size:16px;
		font-weight:bolder;
		margin-bottom:10px;
		color:#51555b;
	}
	.ProfileContent p{
		font-size:16px;
	}
.ProfileTopTitle{
	border:0px;
	background:#19a2dc;
	color:#fff;
	font-size:25px;
	padding: 0px 0px 0px 9px;
	margin-bottom:10px;
}
.ProfileLeftSide{
	width:23%;
	float:left;
}
	.ProfileLeftSide button{
		border:0px;
		background:#204294;
		padding: 0px 0px 0px 9px;
		color:#fff;
		height:34px; 
		width:100%;
		margin-bottom:10px;
		text-align:left;
		outline: medium none;
	}
	.ProfileLeftSide #active{
		background:#19a2dc;
		padding:0px 7px;
		color:#fff;		
	}
	.ProfileLeftSide a{
		color:#b13237;	
	}
.ProfileContentSteps{
	width:77%;
	float:left;
}
/******************** 3 color box from left side ********************/ 
.ProfComplete{
	position:absolute;
	border-radius: 6px 6px 6px 6px;
	height:28px;
	width:28px;	
	background:#98ca3c;
}
.ProfParComplete{
	position:absolute;
	border-radius: 6px 6px 6px 6px;
	height:28px;
	width:28px;	
	background:#7ccdcc;
}
.ProfNotComplete{
	position:absolute;
	border-radius: 6px 6px 6px 6px;
	height:28px;
	width:28px;	
	background:#ab2329;	
}
/******************** 3 color box ends ********************/ 
.profLeft{ padding-top:10px; padding-left:35px; color:#818285; }
#Titlediv{ font-size:24px; padding-bottom:7px; }
#ProfBtn{ display:none; }
/******************** CHECKBOX FOR PROFILE STEPS ********************/ 
.ProfCBox{ position:absolute; }
	.ProfCBoxLeft{ padding-top:3px; padding-left:30px; }
	.ProfCBox input[type="checkbox"] + label {
		width: 26px;
		height:26px;
		background: url('../images/checkboxform.png') left top no-repeat;
		margin: -1px 4px 0 0;
		cursor: pointer;
		display: inline-block;
	}
	.ProfCBox input[type="checkbox"]:checked + label {
		background: url('../images/checkboxform.png') -26px top no-repeat;
	}
/******************** CHECKBOX FOR ENDS ********************/ 	

/******************** Steps Popup Edit classes ********************/ 
.StepPopupcontent{
	background:#fff;
	max-width:700px;
	margin:50px auto;
	border:1px solid #000000;
}
	.StepPopupcontent #close{
		border: 0px;
		width: 20px;
		height: 20px;
		float:right;
		background: url('../images/fileclose.gif') left top no-repeat;
		outline: medium none;
		margin-right:0px;
	}
	.StepPopupcontent .Steptop{
		padding:7px 3px 0px 0px;
	}
	.StepPopupcontent .body{
		padding:0px 10px 10px 10px;
	}
/******************** Steps Popup end ********************/ 	

/******************** Steps Complete, Partially Complete, Not Complete bar ********************/ 	
.PercentStepContent{
	margin-top:20px;
	background:#fff;
	width:100%;
	padding-left:10px;
}
#loadbar{
	font-size:14px;
	width:10%;
	height:100%;
	float:left;
	border-right:1px solid #fff;
	color:#fff;
	margin:0px auto;
	text-align: center;
	padding:10px 0px 10px 0px;
}
/******************** Load bar Ends ********************/ 


/******************** Change Password classes for changepassword.php ********************/
.Changepassbody{
	color: #808184;
	text-align:left;
	text-decoration:none;
	max-width:500px;
	margin:2px auto;
	padding: 2px 0px;
	font-size:17px;
}
.ChangepassContainer{
	margin-bottom:80px;
	margin-top:50px;
	background:#10a1dc;
	padding:15px 40px 10px 40px;
	border-radius:8px 8px 8px 8px;
	color:#fff;
}
.ChangepassContainer input{
	color:#000000;
	border-radius:8px 8px 8px 8px;
}
.Changepassbody #txt{
	padding:5px 0px 5px 0px;
	width:50%;
	float:left;
	height:40px;
}
.Changepassbody #FormInput{
	width:50%;
	float:left;
	height:40px;
}
	.Changepassbody #FormInput input{
		width:100%;
	}
.Changepassbody #FormSub{
	width:50%;
	float:left;
	height:40px;
}
	.Changepassbody #FormSub input{
		float:right;
		border:0px;
		background:transparent;
		color:#000000;
	}
.err{ color:red; font-style:italic; }
.suc{ color:green; font-style:italic; }
legend{ color:#fff; }
/******************** Change password End ********************/


/******************** Footer Classes ********************/
.Gems_Footer{
background:#0b1f41;
height: auto;
padding-bottom:0px;
padding-top:10px;
color:#fff;
width:100%;
position:absolute;
bottom:0;
left:0;	
}
.FooterContent{
max-width:1200px;
margin:5px auto;
padding: 5px 100px;
}
.FooterContent .FLogoSocial{
height: 190px;	
width:150px;
}
.FooterContent .FOrganztion{
height: 190px;
width:200px;
float:right;
margin-right:80px;
}
.FooterContent .FAdLink{
height: 190px;
float:right;
width:165px;	
}
.FooterContent .f_logo{
margin-bottom: 70px;
}
/******************** Footer End ********************/

/******************** For MyAppliedJobs classes ********************/
.jobavlty{
width:20px;
height:20px;
border-radius: 4px 4px 4px 4px; 
float:right	
}
.JobBody{
/*border:1px solid red;*/
max-width:1200px;
margin:5px auto;
padding: 5px 100px;
}
/******************** MyAppliedJobs End ********************/


/******************** For View Job Classes ********************/
.FindJob{

position: relative;

background-color:#00a3e0;


float:left;
border-radius: 4px 4px 4px 4px;
margin-right:20px;

}
.JobStats{
position: absolute;
top: 490px;
color:#808184;
}
.pagination pagination-sm ul{
background-color:red;
}
.JobBody .jobscheck{
width:1px;
border-right:0px solid transparent;
}

.Fjobs{
  border-radius: 8px 8px 8px 8px;
  width:100%;
}
#ApplyJobstoggle{
	display:none;
}
.fndj{
	width:210px;
}
.FindJob p{
	color:#fff;
	margin-bottom:1px;
	font-size:15px;
}
#myjobclose{
border: 0px;
width: 20px;
height: 20px;
float:right;
background: url('../images/fileclose.gif') left top no-repeat;
outline: medium none;
} 
.delhead{
padding:7px 13px 7px 13px;
background:#f0eaea;
font-weight:bold;
font-size:15;
} 
.delfoot{
padding:0px 0px 15px 13px;
font-size:15;
} 
.delfootbutton{
font-size: 15px;
border:0px;
width: 85px;
height: 24px;
color:#fff;
}

#StatsCon{
    width:150px;
    height:40px;
    margin:0px auto;
}

#StatsCon div{
    position:relative;
    width:30px;
    height:30px;
    float:left;
    margin-right:5px;
}
#StatsCon div span{
    position:absolute;
    bottom:0;
    right:20;
	width:100px;
}
.avai{
	position:absolute;
	background:#97c93c;
	border-radius: 6px 6px 6px 6px;
}
.unavai{
	position:absolute;
	background:#ab2228;
	border-radius: 6px 6px 6px 6px;
}

.ProfStep{
	background-color:#fcda00;
	border:0px;ffg
	border-radius: 7px 7px 7px 7px;
	width:80px;
	color: #808184;
	text-align:left;
	text-decoration:none;
	max-width:1200px;
	margin:2px auto;
	padding: 2px 100px;
	font:16px 'MuseoSans-100',Helvetica,Arial,sans-serif;
}
	.GemsViewJob #login{
		background: #fedb00;
		float:right;
		color:#000000;
		padding:5px;
		border-radius:3px 3px 3px 3px;
		border:1px solid #fedb00;
	}
	.GemsViewJob #login:hover{
	border:1.7px solid  #fedb00;
	background: transparent;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
	}	
	.GemsViewJob #l{
		width:25%;
		float:left;
		margin-bottom:15px;
		font-weight: 600;
		color:#19a2dc;
	}
	.GemsViewJob #r{
		width:75%;
		float:left;
		margin-bottom:15px;
	}
	
	.header {
  border-bottom:1px solid #818285;border-collapse:collapse;
    padding:1px 0px 2px 4px;
    margin-bottom:6px;margin-top:2px;
    cursor: pointer;
    font-weight: bold;
}
.colClass
{
 padding:5px 10px 2px 10px;
        background:#ececec url("../Images/down.png") no-repeat 3px 5px;
          border:1px solid #d1cfcf; 
   
   
}	
	.ExpClass
{
      padding:5px 10px 2px 10px;
        background:#ececec url("../Images/up.png") no-repeat 3px 5px;
          border:1px solid #d1cfcf; 
}

.gridheader {
    background-color:#00a3e0;
}
/******************** View Job End ********************/

/******************** For Step 1 ********************/
.TblProfileSteps1{ background:#fff; padding:0px 20px 0px 20px; color:#818285; font-size:15px; }
/******************** For Step 2 ********************/
.TblProfileSteps2{ background:#10a1dc; margin:0px 0px 0px 10px; padding:20px; color:#fff; font-family: 'museo_sans300';font-size:17px; }
/******************** For Step 3 ********************/
.TblProfileSteps3{ background:#fff; padding:0px 10px 0px 10px; color:#818285; font-size:15px; }
#Step3Tbl3 .textarea { width: 100%; height: 80px; border-radius: 6px 6px 6px 6px; color:#000000; border:1px solid #19a2dc; font-size:14px; }
/******************** For Step 4 ********************/
.TblProfileSteps4{ background:#fff; padding:0px 10px 0px 10px; color:#818285; font-size:15px; }
/******************** For Step 5 ********************/
.TblProfileSteps5{ background:#fff; padding:0px 0px 0px 10px; color:#818285; font-size:15px; }
.FormTeaching{ background:#10a1dc; padding:20px; color:#fff; font-size:14px; font-family: 'museo_sans300'; }
.FormNonTeaching{ background:#10a1dc; padding:20px; color:#fff; font-size:14px; font-family: 'museo_sans300'; }
.TblProfileSteps5 .textarea { width: 100%; height: 80px; border-radius: 6px 6px 6px 6px; color:#000000; border:0px; font-size:14px;}
.TblProfileSteps5 table, .TblProfileSteps5 th, .TblProfileSteps5 td, .TblProfileSteps5 tr {  padding-bottom:5px; padding-top:0px; }
#mobshow{ display:none; }
/******************** For Step 6 ********************/
.TblProfileSteps6{ background:#fff; color:#818285; font-size:15px; padding:0px 0px 0px 15px; }
.TblProfileSteps6 #box{ background:#10a1dc; padding:7px 15px 15px 15px ; color:#fff; font-family: 'museo_sans300'; }
.TblProfileSteps6 #box td{ padding:5px 10px 5px 10px; }
.TblProfileSteps6 .textarea { width: 100%; height: 80px; border-radius: 6px 6px 6px 6px; color:#000000; border:0px; font-size:14px; border:1px solid #10a1dc }
.TblProfileSteps6 .Step6TxtArea{ background:#10a1dc; padding:14px 14px 10px 14px; color:#fff; font-size:14px; }
#padleft{ padding-left:11px; }
/******************** For Step 7 ********************/
.TblProfileSteps7{ background:#fff; color:#818285; font-size:15px; padding:0px 0px 0px 15px; }
.TblProfileSteps7 .Step7box{ background:#10a1dc; padding:10px 15px 15px 15px ; color:#fff; font-size:14px; }
.TblProfileSteps7 .Step7box #Step7box td{ padding-left:10px; padding-right:10px; }
.TblProfileSteps7 .Step7box .step7pad{ padding-left:10px; padding-right:10px; }
.step3add{ margin-top:20px; float:right; background:#e7e8e9; color:#7a8084; padding:2px 15px 2px 15px; border-radius:5px 5px 5px 5px; cursor:pointer; }
/******************** For Step 8 ********************/
.TblProfileSteps8{ background:#fff; color:#818285; font-size:15px; padding:0px 0px 0px 15px; }
.TblProfileSteps8 hr{ border:1.5px solid #818285; margin-top:2px;   }
/******************** For Step 9 ********************/
.TblProfileSteps9{ background:#fff; padding:0px 0px 0px 10px; color:#818285; font-size:15px; }
.TblProfileSteps9 .Tbl9{ background:#10a1dc; padding:20px; color:#fff; font-family: 'museo_sans300';}
.TblProfileSteps9 .TblProfileSteps9top{ padding:5px 20px 0px 20px; font-size:16px; }
/******************** For Step 10 ********************/
.TblProfileSteps10{ background:#fff; padding:0px 0px 0px 10px; color:#818285; font-size:15px; }
/******************** Other for Steps like button, table, etc. ********************/
.TblListDelete{ float:right; }
.ProfBTNAdd{ margin-top:20px; float:right; background:#e7e8e9; color:#7a8084; padding:2px 15px 2px 15px; border-radius:5px 5px 5px 5px; cursor:pointer; }
.TblProfileSteps3 #TblTR, .TblProfileSteps4 #TblTR, .TblProfileSteps6 #TblTR, .TblProfileSteps7 #TblTR{ border:1px solid #999999; background: #999999; color:#fff; }
.TblProfileSteps3 #TblTR td, .TblProfileSteps3 #TblTRlist td, .TblProfileSteps4 #TblTR td, .TblProfileSteps4 #TblTRlist td, .TblProfileSteps6 #TblTR td, .TblProfileSteps6 #TblTRlist td, .TblProfileSteps7 #TblTR td, .TblProfileSteps7 #TblTRlist td{ padding-left:3px; }
.TblProfileSteps3 #cen, .TblProfileSteps4 #cen, .TblProfileSteps6 #cen, .TblProfileSteps7 #cen{ border:1px solid #ececec; }
.TblProfileSteps3 #left, .TblProfileSteps4 #left, .TblProfileSteps6 #left, .TblProfileSteps7 #left{ border:1px solid #ececec; border-left:transparent; }
.TblProfileSteps3 #right, .TblProfileSteps4 #right, .TblProfileSteps6 #right, .TblProfileSteps7 #right{ border:1px solid #ececec; border-right:transparent; }
/******************** Profile step end ********************/

/**********************************************************/
/******************** ALL MEDIA SCREEN ********************/
/**********************************************************/

/******************** Other pages media screen  ********************/ 
@media only screen and (min-width:0px) and (max-width:580px){
.SignSeparator{ height:10px; }	
.GemsSignup table, .GemsSignup thead, .GemsSignup tbody, .GemsSignup th, .GemsSignup td, .GemsSignup tr { 
 display: block;  }
.GemsSignup .aa{ display:none; }
.Signcap{ color:#fff; display:block; }
.tblsign tr td{ padding-left:6px; padding-right:6px; }
.signupinput{ margin-bottom:1px; margin-bottom:5px; }
.select-style { margin-bottom:0px; }
.GemsSignup { border-radius: 0px 0px 0px 0px; margin-bottom:250px; }
.Signmsg{ color:red; padding-left:7px; }
}
@media only screen and (min-width:0px) and (max-width:900px){
.gemsmenu .container{ padding-left:5px; }
}
@media only screen and (min-width:0px) and (max-width:767px){
.gemsmenu .container{ padding-left:0px; }
.gemsmenu  .navbar-brand{ margin-left:10px; }
.GemsHomeCenterMenu { width: 260px; height: 220px; } 
.login{ padding-top:10px; }
.Topcontainer { display:none; }
.gemsmenu { background:#ffffff; border-bottom:0px; }
/*Strip the ul of padding and list styling*/
.gemsmenu li:hover a, li.active a{
 background-color: #CCCCCC;
 border-bottom:0px;
 border-top:1px solid #fff;
 border-bottom:1px solid #fff;
}
.gemsmenu li a { padding:15px 0px 15px 45px; border-bottom:1px solid #CCCCCC; }
}
/***************** # Phone portrait *****************/
@media only screen and (min-width:0px) and (max-width:580px) and (orientation : portrait){
.wrapper-content{ padding-bottom:450px; }
.gemsmenu .container{ padding-left:0px; }
.gemsmenu .container .navbar-brand{ display:inline-block; }
.hometbl{ width: 100%; }
.separator{background-color: transparent;border:none;color:#fff;height:0px;margin:0px 0}
.login{display:none;}
.logout{display:none;}
.GemsHomeCenterMenu { width: 100%; height: 100%; margin-left:0px; margin-bottom:1px; }
.GemsHomeCenterMenu img{ width: 70px; height: 50px; padding-bottom:0px; }
.GemsHomeCenterMenu .HomeTitleBottom { font-size:15px; background:transparent; }	
.GemsHomeCenterMenu p{ margin:0px; font-size:13px; background:transparent; }
.GemsSignup { margin-bottom:10px; }
.GemsForgotpass { margin-bottom:10px; }
}
/***************** # Phone landscape *****************/
@media only screen and (min-width:0px) and (max-width:580px) and (orientation : landscape){
.GemsHomeCenterMenu p{ margin:0px; }
}
/* For Header */
@media only screen and (min-width:0px) and (max-width:900px){
.HeaderContent{ margin:0px auto; padding: 10px; }
}
@media only screen and (min-width:0px) and (max-width:767px){
#Table_01 table {  display: block;  }
}
@media only screen and (min-width:0px) and (max-width:580px) and (orientation : portrait){
#Table_01 table, #Table_01 td, #Table_01 tr {  display: block;  }
}
/******************** Profile Steps media screen ********************/ 
@media only screen and (min-width:0px) and (max-width:900px){
.PercentStepContent{ padding-left:0px; }
.ProfileContent{ margin:0px auto; padding: 10px 5px 10px 5px; }
}
@media only screen and (min-width:0px) and (max-width:767px){
.ProfileLeftSide{ display:none; }
.ProfileContentSteps{ width:100%; }
#ProfBtn{ display:block; }
}
@media only screen and (min-width:0px) and (max-width:500px){
.PercentStepContent{ height:50px; }
#loadbar{ padding:auto 0px auto 0px; }
#ProfBtn{ display:block; }
}
/******************** Profile Steps end ********************/ 
/******************** Change Password ********************/ 
@media only screen and (min-width:0px) and (max-width:900px){
.Changepassbody{ margin:0px auto; padding: 10px; }
.Changepassbody #txt{ width:100%; }
.Changepassbody #FormInput{ width:100%; }
.hidetxt{ display:none; }
.Changepassbody #FormSub{ width:100%; float:left; height:40px; }
.Changepassbody #FormSub input{ float:right; }
.ChangepassContainer{ height:380px; }
}
/******************** Change password end ********************/ 
@media only screen and (min-width:0px) and (max-width:900px){
/******************** Gems Body ********************/ 
.gemsbody{ margin:0px auto; padding: 10px; }
}
/******************** media screen For Footer ********************/ 
@media only screen and (min-width:0px) and (max-width:900px){
.FooterContent{ margin:0px auto; padding: 10px; }
.FooterContent .FOrganztion{ margin-left:30px; }
.FooterContent .FOrganztion{ margin-right:50px; }
}
@media only screen and (min-width:0px) and (max-width:580px){
.FooterContent{ margin:0px auto; padding: 10px; }
#FooterContent table, #FooterContent td, #FooterContent tr {  display: block;  }	
.FooterContent .FLogoSocial{ height: 130px; }
.FooterContent .FOrganztion{ margin-left:0px; height: 190px; float:none; }
.FooterContent .FAdLink{ float:none; height: 110px; }
.FooterContent .f_logo{ margin-bottom: 20px; }
}
/******************** footer end ********************/ 
/******************** media screen for applied jobs ********************/ 
@media only screen and (min-width:901px) and (max-width:995px){
.FindJob{ margin-top:2px; }
}
@media only screen and (min-width:0px) and (max-width:900px){
.JobBody{ max-width:1200px; margin:0px auto; padding: 10px; }
.FindJob{ display:none; }
.fndj{ display:none;  }
}
@media only screen and (min-width:0px) and (max-width:580px){
.GemsSignup .GEMS-select { margin-bottom:0px; }
}
@media only screen and (min-width:0px) and (max-width:900px){
.GemsViewJob{ margin:0px auto; padding: 0px 5px 0px 5px; }
@media only screen and (min-width:0px) and (max-width:425px){
.GemsViewJob{ margin:0px auto; padding: 0px 10px 0px 10px; }
.GemsViewJob #l{ width:100%; margin-bottom:5px; }
.GemsViewJob #r{ width:100%; margin-bottom:20px; }
}
/******************** applied jobs end ********************/ 

/******************** media screen for all steps ********************/
@media only screen and (min-width:0px) and (max-width:767px){
.TblProfileSteps2{ margin:0px; }
.TblProfileSteps3{ padding:0px 2px 0px 2px; }
.TblProfileSteps4{ padding:0px 2px 0px 2px; }
.TblProfileSteps5{ padding:0px 0px 0px 0px; }
.TblProfileSteps5 th, .TblProfileSteps5 td, .TblProfileSteps5 tr {  padding-bottom:4px; display:block; }
#mobshow{ display:block; }
#mobhidethis{ display:none;
}
.FormTeaching{ padding:10px; }
.FormNonTeaching{ padding:10px; }
.TblProfileSteps6{ padding:0px 2px 0px 2px; }
.TblProfileSteps7{ padding:0px 2px 0px 2px; }
.TblProfileSteps8{ padding:0px 2px 0px 2px; }
.TblProfileSteps9{ margin:0px; padding:0px 2px 0px 2px; }
.TblProfileSteps9top{ margin:0px; }
.TblProfileSteps10{ margin:0px; padding:0px 2px 0px 2px; }
}
/******************** all steps end ********************/