<%@ Page Language="VB" AutoEventWireup="false" CodeFile="createpasswordqueans.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="createpasswordqueans" %>

<%@ Register Src="createpasswordquestions.ascx" TagName="createpasswordquestions"
    TagPrefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

  <uc1:createpasswordquestions id="Createpasswordquestions1" closeflag="false" runat="server"></uc1:createpasswordquestions>

</asp:Content> 

