<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="ServerName.aspx.vb" Inherits="ServerName" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
    <asp:Label id="lblServerName" runat="server"></asp:Label>
    <asp:Button id="btnGetServerName" runat="server" OnClick="btnGetServerName_Click"
        Text="Server Name" />
</asp:Content>

