﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ConvertCVtoText.aspx.vb" Inherits="DataMigration_ConvertCVtoText" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="lblText" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
