﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="PROG_BAR.ascx.vb" Inherits="OASIS_HR_Requisition_Control_PROG_BAR" %>
<asp:Table ID="tblProgressBar" runat="server" 
    BorderWidth="1px" 
    CellPadding="1" 
    CellSpacing="0" 
    Height="8px" 
    Width="250px">
</asp:Table>