<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryBookRackStatusAssign.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="Library_libraryBookRackStatusAssign" %>

<%@ Register Src="UserControls/libraryBookRackStatusAssign.ascx" TagName="libraryBookRackStatusAssign"
    TagPrefix="uc1" %>
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server" >
<div>
        <uc1:libraryBookRackStatusAssign id="LibraryBookRackStatusAssign1" runat="server">
        </uc1:libraryBookRackStatusAssign>
</div>
</asp:Content>  
