﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryUpdateCoverPhoto.aspx.vb" Inherits="Library_libraryUpdateCoverPhoto" %>

<%@ Register src="UserControls/libraryUpdateCoverPhoto.ascx" tagname="libraryUpdateCoverPhoto" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <base target="_self" />
    <link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <uc1:libraryUpdateCoverPhoto ID="libraryUpdateCoverPhoto1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
