<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryTransaction.aspx.vb" Inherits="Library_libraryTransaction" %>

<%@ Register Src="UserControls/libraryTransaction.ascx" TagName="libraryTransaction"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Library Transactions</title>
    <link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <base target="_self" /> 
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:libraryTransaction id="LibraryTransaction1" runat="server">
        </uc1:libraryTransaction></div>
    </form>
</body>
</html>
