﻿<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="libraryTransactionReservationApproval.aspx.vb" Inherits="Library_libraryTransactionReservationApproval" %>

<%@ Register src="UserControls/libraryTransactionReservationApproval.ascx" tagname="libraryTransactionReservationApproval" tagprefix="uc1" %>


<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

   <uc1:libraryTransactionReservationApproval ID="libraryTransactionReservationApproval1" runat="server" />
    

</asp:Content> 
 
