<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryGlobalItems.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="Library_libraryGlobalItems" %>

<%@ Register Src="UserControls/libraryGlobalItems.ascx" TagName="libraryGlobalItems"
    TagPrefix="uc1" %>

<asp:Content ID="C1"  ContentPlaceHolderID="cphMasterpage" runat="server" >
<div>
        <uc1:libraryGlobalItems ID="LibraryGlobalItems1" runat="server" />
    
</div>
</asp:Content>  



