﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryOffline.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="Library_libraryOffline" %>
<%@ Register src="UserControls/libraryOffline.ascx" tagname="libraryOffline" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server" >
<div  align="center"  >
    
        <uc1:libraryOffline ID="libraryOffline1" runat="server" />
    
</div>
</asp:Content> 

