<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryStockTran.aspx.vb"
    Inherits="Library_libraryEditingItem" %>
<%@ Register Src="UserControls/libraryAssignBookToPouch.ascx" TagName="libraryAssignBookToPouch"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Edit Library Items</title>
   <%-- <link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <link href="../cssfiles/Ratings.css" rel="stylesheet" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
        <ajaxToolkit:TabContainer ID="Tab1" runat="server" ActiveTabIndex="0">
            <ajaxToolkit:TabPanel ID="HT1" runat="server">
                <ContentTemplate>
                    <uc1:libraryAssignBookToPouch ID="libraryAssignBookToPouch1" runat="server" />
                </ContentTemplate>
                <HeaderTemplate>
                    Item Pouch
                </HeaderTemplate>
            </ajaxToolkit:TabPanel>
            <%--      <ajaxToolkit:TabPanel ID="HT2" runat="server">
                <ContentTemplate>
                           
                                
                </ContentTemplate>
                <HeaderTemplate>
                 Edit Stock Details
                </HeaderTemplate>
            </ajaxToolkit:TabPanel>
            
            <ajaxToolkit:TabPanel ID="HT3" runat="server">
                <ContentTemplate>
                   
                
                </ContentTemplate>
                <HeaderTemplate>
               Accession No / Call No / Rack / Status - Updating
                </HeaderTemplate>
            </ajaxToolkit:TabPanel>
            
            <ajaxToolkit:TabPanel ID="HT4" runat="server">
                <ContentTemplate>
                   
                              
                </ContentTemplate>
                <HeaderTemplate>
                 Approve User Comments
                </HeaderTemplate>
            </ajaxToolkit:TabPanel>
            
            --%>
        </ajaxToolkit:TabContainer>
    </div>
    </form>
</body>
</html>
