<%@ Control Language="VB" AutoEventWireup="false" CodeFile="hdClipboard.ascx.vb" Inherits="HelpDesk_UserControls_hdClipboard" %>
<script type="text/javascript">

function open()
{
var callerbsuid = document.getElementById('<%=callerbsuid.ClientID %>').value
var tobsuid = '999998'
var reportedempid= document.getElementById('<%=reportedempid.ClientID %>').value
var par = "?callerbsuid=" + callerbsuid + "&tobsuid=" + tobsuid + "&reportedempid=" + reportedempid +"&categoryid=" + 1 //categoryid 1 (software)
par= 'http://fin.gemsoasis.com/comm/default.aspx' + par;

window.showModalDialog( par , '','dialogHeight:768px;dialogWidth:1024px;scroll:auto;resizable:yes;'); 

}

window.setTimeout('open();', 2000); 
  
</script>


    <input id="Hidden1" type="hidden" />
    <asp:HiddenField ID="callerbsuid" runat="server"></asp:HiddenField>
    <asp:HiddenField ID="reportedempid" runat="server"></asp:HiddenField>