<%@ Control Language="VB" AutoEventWireup="false" CodeFile="hdInternalTabs.ascx.vb" Inherits="HelpDesk_UserControls_hdInternalTabs" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
  
<%@ Register src="../Version2/Usercontrols/hdAddIssues.ascx" tagname="hdAddIssues" tagprefix="uc1" %>
    
<div>
    <div align="left" class="matters">
      
        <uc1:hdAddIssues ID="hdAddIssues1" runat="server" />
      
    </div>
</div>
