﻿           
.ambassador-mainheader
{
    color: darkblue;
    font-weight:bold; 
    font-family: Arial, Helvetica, sans-serif;                        
    font-size: 18px;
    text-decoration: underline;
    font-style: normal;
}
.ambassador-message
{
    color:  darkgreen;
    font-weight:bold; 
    font-family: Arial, Helvetica, sans-serif;                        
    font-size: 15px;
    font-style: normal;
}
.ambassador-header
{
    color: darkblue;
    font-weight:bold; 
    font-family: Arial, Helvetica, sans-serif;                        
    font-size: 15px;             
             font-style: normal;
            }

           .ambassador-header1
            {
                color:  darkorange;
                font-weight:bold; 
                font-family: Arial, Helvetica, sans-serif;                        
             font-size: 15px;
             font-style: normal;
            }

           .ambassador-rowheader {               
               /*background: lightblue url("img_tree.gif") no-repeat fixed center;*/ 
              background: #dee2e6 url("img_tree.gif") no-repeat fixed center;
               font-weight:bold;
               font-family: Arial, Helvetica, sans-serif;     
           }

            .ambassador-tablefont {               
                font-family: Arial, Helvetica, sans-serif;     
           }
           .ambassador-normalfont {               
                font-family: Arial, Helvetica, sans-serif;     
           }
           .ambassador-rowalert {
               /*background: lightblue url("img_tree.gif") no-repeat fixed center;*/ 
               background: #dee2e6 url("img_tree.gif") no-repeat fixed center;
               color:blue;
           }
           .ambassador-button {
                background-color: #256987; 
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                /*display: inline-block;*/
                font-size: 16px;
            } 
           .spacer5 {
                height: 5px;
            }
           .with-margin {
                margin-bottom: 5px;
            }
           .width-100 {
                Width: 100%;
            }

           .RadGrid .rgRow td, .RadGrid .rgAltRow td {
    border-color: #d0d7e5;
}
 .RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td {
    border-style: solid;
    border-width: 0 0 1px 1px;
}

           .msgInfoBox {
    cursor:move;
  z-index: 100;  
position: fixed;
top: 50%;
  left: 15%;  
  margin-top: -6px;/*set to a negative number 1/2 of your height*/
  margin-left: -10px;/*set to a negative number 1/2 of your width*/
 
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-duration: 1s;
-o-animation-duration:1s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
   -moz-animation-fill-mode: both;
-o-animation-fill-mode: both;
 
    -webkit-animation-name: bounceIn;
       -moz-animation-name: bounceIn;
       -o-animation-name: bounceIn;
       animation-name: bounceIn;
    border: 1px solid #459dff;

 
}
.msgInfoclose {
 
    cursor:pointer;
    float:right;
    display:inline-block;
    padding:1px 2px;
color:#000;
font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
 
  .msgInfoclose:before {
       content: "\e014";
          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
              text-transform: none;
          line-height: 1em;
          margin-left: .2em; 
          padding:4px;
}
 
.msgInfoError
{
    margin: 0 auto;
    width:70%;
    display:block;
     line-height:22px;
       color:#2E2633;
border:1px solid #FA6900;
       background-color: #FA6900;
       background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       padding:10px 11px 10px 11px;
       font-size: 14px;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }
 
 
.msgInfoSuccess
{
    margin: 0 auto;
    width:70%;
    display:block;
     line-height:22px;
       color:#2E2633;
border:1px solid #BEF202;
       background-color: #BEF202;
       background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       padding:10px 11px 10px 11px;
       font-size: 14px;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }
 
.msgInfoWarning
{
    margin: 0 auto;
    width:70%;
    display:block;
    line-height:22px;
       color:#2E2633;
border:1px solid #FFCC00;
       background-color: #FFCC00;
       background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
       padding:10px 11px 10px 11px;
       font-size: 14px;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }
 
@-webkit-keyframes bounceIn {
       0% {
              opacity: 0;
              -webkit-transform: scale(.3);
       }
       
       50% {
              opacity: 1;
              -webkit-transform: scale(1.05);
       }
       
       70% {
              -webkit-transform: scale(.9);
       }
       
       100% {
              -webkit-transform: scale(1);
       }
}
 
@-moz-keyframes bounceIn {
       0% {
              opacity: 0;
              -moz-transform: scale(.3);
       }
       
       50% {
              opacity: 1;
              -moz-transform: scale(1.05);
       }
       
       70% {
              -moz-transform: scale(.9);
       }
       
       100% {
              -moz-transform: scale(1);
       }
}
 
@-o-keyframes bounceIn {
       0% {
              opacity: 0;
              -o-transform: scale(.3);
       }
       
       50% {
              opacity: 1;
              -o-transform: scale(1.05);
       }
       
       70% {
              -o-transform: scale(.9);
       }
       
       100% {
              -o-transform: scale(1);
       }
}
 
@keyframes bounceIn {
       0% {
              opacity: 0;
              transform: scale(.3);
       }
       
       50% {
              opacity: 1;
              transform: scale(1.05);
       }
       
       70% {
              transform: scale(.9);
       }
       
       100% {
              transform: scale(1);
       }
}
