﻿@charset "UTF-8";
/*** General elements styling ***/
/**, *:before, *:after {
  box-sizing: border-box;
  outline: 0; }*/

.PageHeaderLinks {
    /*font-size: 12px;
    font-weight: bold;*/
    /*color: #459cfe;
    display: inline-block;*/
    /*padding: 8px 2px 5px 4px;*/
    /*text-decoration: none;*/
    /*margin-right: 14px;*/
}


/* Start Businessunit selection  Css */

.top-left-submenu-container {
    display: inline-block;
    position: relative;
}

    .top-left-submenu-container ul {
        padding: 0;
        float: left;
        margin: 0;
    }

        .top-left-submenu-container ul li {
            list-style-type: none;
            /*font-size: 12px;*/
            color: #459cfe;
            font-weight: normal;
            /*font-family: "Roboto", sans-serif;*/
        }




.BsuColDrop {
    /* hides sub-menu */
    position: absolute;
    padding-top: 10px;
    left: -700px;
    z-index: 2006;
    visibility: hidden; /* shows sub-menu */
    opacity: 0;
    background-color: #fff;
    /*font: 11px "Roboto", Helvetica, sans-serif !important;*/
    float: left;
    color: black;
    border: 1px solid #95cc53;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}


#BsuDrop li:hover .BsuColDrop {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    -moz-box-shadow: 0 0 10px 1px #dbdbdb;
    -webkit-box-shadow: 0 0 10px 1px #dbdbdb;
    box-shadow: 0 0 10px 1px #dbdbdb;
    
}

#BsuDrop li:hover a.active {
    color: #fff;
    background-color: #459cfe;
}



.BsuColDrop .BoxActive {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
}

.divBsuCol {
    /*-moz-column-gap: 2px;
    -webkit-column-gap: 2px;
    column-gap: 2px;
-webkit-columns: 319px 3;
   -moz-columns: 319px 3;
        columns: 319px 3;*/
    -webkit-columns: 3 318px;
    -moz-columns: 3 318px;
    columns: 3 318px;
    -webkit-column-gap: 0.125em;
    -moz-column-gap: 0.125em;
    column-gap: 0.125em;
    /*-webkit-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  column-rule-width: 1px;
  -webkit-column-rule-color:#4194f1 ;
  -moz-column-rule-color:#4194f1 ;
  column-rule-color: #4194f1 ;*/
    margin: 1em auto 1em;
}

.divBsuColSolid { /*-webkit-column-rule-style: solid;
  -moz-column-rule-style: solid;
  column-rule-style: solid;*/
}

.divBsuTitleLink {
    display: block;
    text-align: left;
    width: 318px !important;
    font: 11px "Roboto", Helvetica, sans-serif !important;
    color: #616161 !important;
    font-weight: normal !important;
    padding: 3px 0px 6px 3px;
    vertical-align: middle !important;
    text-decoration: none !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 0px 3px 0px;
}

    .divBsuTitleLink:hover {
        color: #4194f1 !important;
    }



.BsuNoColDrop {
    font-size: 12px;
    font-weight: normal;
    padding: 8px 0px 8px 14px;
    margin: 10px 0px 10px 0px;
    color: #d82133;
}

.divBsuScroll {
    float: left;
    border: 0px none;
    padding: 1px 0px 1px 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    width: 1004px;
    min-height: 80px;
}

.divBsuScrollInside {
    display: block;
    margin-top: 5px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 334px;
    /*width: 1024px;*/
    text-align: left;
    min-height: 120px;
}
.bsulink {
    display: block;
    cursor: pointer;
    line-height: 25px;
    font-size:12px;
}
span.bsulink:hover {
    color: #6a923a;
    background-color: rgba(224, 249, 195, 0.3);
}
span.bsulink fa {
    color:#000;
}
span.bsulink fa:hover {
    color: #6a923a;
}

span.bsu-top-text{
    font-weight:bold;
}
.DisplaySearchCss {
    color: #fff;
    padding: 4px;
    font-size: 14px;
    margin: -5px;
    text-decoration: none;
    background-color: #8dc24c;
    background: rgb(165,224,103) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(165,224,103,1) 0%, rgba(144,193,79,1) 44%, rgba(131,193,50,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(165,224,103,1) 0%,rgba(144,193,79,1) 44%,rgba(131,193,50,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(165,224,103,1) 0%,rgba(144,193,79,1) 44%,rgba(131,193,50,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5e067', endColorstr='#83c132',GradientType=0 ) !important; /* IE6-9 */
}

/*.buttonSearch {
    margin: 0px 4px;
    background-color: #459dff;
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px;
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px,-moz-linear-gradient(top, #459dff 0%, #3c87dc 100%, #459dff 100%, #3c87dc 100%);
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#459dff), color-stop(100%,#3c87dc), color-stop(100%,#459dff), color-stop(100%,#3c87dc));
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px, -webkit-linear-gradient(top, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px, -o-linear-gradient(top, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px, -ms-linear-gradient(top, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    background: url(../Images/Master/searchBtn.png) no-repeat 4px 5px,linear-gradient(to bottom, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459dff', endColorstr='#3c87dc',GradientType=0 );
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff !important;
    padding-left: 18px;
    padding-right: 2px;
}

.buttonReset {
    margin: 0px 4px;
    background-color: #459dff;
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px;
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px,-moz-linear-gradient(top, #459dff 0%, #3c87dc 100%, #459dff 100%, #3c87dc 100%);
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#459dff), color-stop(100%,#3c87dc), color-stop(100%,#459dff), color-stop(100%,#3c87dc));
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px, -webkit-linear-gradient(top, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px, -o-linear-gradient(top, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px, -ms-linear-gradient(top, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    background: url(../Images/Master/resetBtn.png) no-repeat 4px 5px,linear-gradient(to bottom, #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459dff', endColorstr='#3c87dc',GradientType=0 );
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff !important;
    padding-left: 18px;
    padding-right: 2px;
}









.txtSearchCss {
    border: 1px solid #fff !important;
    height: 26px !important;
    width: 280px !important;
    display: inline;
    color: #444444 !important;
    background-color: #fff !important;
    margin-left: 5px;
    padding: 0px 0px 0px 4px;
    font-size: 13px;
}*/


/*Accordion  Css Style*/

/*#accordian {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


    #accordian ul {
        float: left;
        margin: 0;
        padding: 0;
    }*/

    /*#accordian li {
        list-style-type: none;
        position: relative;*/
        /*overflow:hidden;*/
    /*}*/

    #accordian .head {
        /*background: -moz-linear-gradient(top,  #459dff 0%, #3c87dc 100%, #459dff 100%, #3c87dc 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#459dff), color-stop(100%,#3c87dc), color-stop(100%,#459dff), color-stop(100%,#3c87dc));
	background:  -webkit-linear-gradient(top,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	background: -o-linear-gradient(top,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	background:  -ms-linear-gradient(top,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	background: linear-gradient(to bottom,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459dff', endColorstr='#3c87dc',GradientType=0 );
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;*/
    }

    /*#accordian .content {
        padding: 10px;
        font-size: 1.2em;
        line-height: 1.4em;
        min-height: 150px;
        border: 1px solid #25a0da;
        -moz-box-shadow: -1px 6px 10px -2px #dbdbdb;
        -webkit-box-shadow: -1px 6px 10px -2px #dbdbdb;
        box-shadow: -1px 6px 10px -2px #dbdbdb;
    }*/


/**/

/**** header ****/
/*.safari .container {
    width: 1280px !important;
}

.ipad .container {
    width: 100% !important;
}

.android .container {
    width: 100% !important;
}*/

/*@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot?96864962');
    src: url('fonts/fontello.eot?96864962#iefix') format('embedded-opentype'), url('fonts/fontello.woff?96864962') format('woff'), url('fonts/fontello.ttf?96864962') format('truetype'), url('fonts/fontello.svg?96864962#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.svg?6266098#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: .8em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


/* styling for right-facing arrows */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

    /**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
    audio:not([controls]) {
        display: none;
        height: 0;
    }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
    -webkit-appearance: none;
    border-radius: 0;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

    /**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correc

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button;
        /* 2 */
        cursor: pointer;
        /* 3 */
        *overflow: visible;
        top: 0px;
        left: 0px;
    }

    t[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button;
        /* 2 */
        cursor: pointer;
        /* 3 */
        *overflow: visible;
        /* 4 */
    }

    /**
 * Re-set default cursor for disabled elements.
 */
    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    /**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
        /* 1 */
        padding: 0;
        /* 2 */
        *height: 13px;
        /* 3 */
        *width: 13px;
        /* 3 */
    }

    /**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
    input[type="search"] {
        -webkit-appearance: textfield;
        /* 1 */
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        /* 2 */
        box-sizing: content-box;
    }

        /**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

    /**
 * Remove inner padding and border in Firefox 3+.
 */
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/*----------------------------------- Begin Bread Crumb -------------------------------------------*/

#breadCrumb_box {
    top: 40px;
    position: absolute;
    left: 15px;
}

#breadcrumbsOASIS {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #breadcrumbsOASIS li {
        float: left;
    }

    #breadcrumbsOASIS a {
        padding: .2em .8em .25em 2em;
        float: left;
        text-decoration: none;
        color: #444;
        position: relative;
        background-color: #ddd;
        border-top: 1px solid #b9b8b8;
        border-bottom: 1px solid #b9b8b8;
    }

    #breadcrumbsOASIS li:first-child a {
        background-color: #459cfe;
        color: #fff;
        padding-left: 0.6em;
        /*border-radius: 5px 0 0 5px;*/
        border-left: 1px solid #459cfe;
        border-top: 1px solid #459cfe;
        border-bottom: 1px solid #459cfe;
    }

        #breadcrumbsOASIS li:first-child a::after,
        #breadcrumbsOASIS li:first-child a::before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.76em;
            border-top: 0.76em solid transparent;
            border-bottom: 0.76em solid transparent;
            border-left: 0.5em solid #459cfe;
            right: -0.5em;
        }

    #breadcrumbsOASIS a::after,
    #breadcrumbsOASIS a::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -0.76em;
        border-top: 0.76em solid transparent;
        border-bottom: 0.76em solid transparent;
        border-left: .5em solid;
        right: -0.5em;
    }

    #breadcrumbsOASIS a::after {
        z-index: 2;
        border-left-color: #ddd;
    }

    #breadcrumbsOASIS a::before {
        border-left-color: #222;
        z-index: 1;
    }



    #breadcrumbsOASIS .current,
    #breadcrumbsOASIS .current:hover {
        font-weight: normal;
        color: #fff;
        padding: .2em .8em .25em 2em;
        background-color: #1e82b4;
        /*border-radius: 0 5px 5px 0;*/
        border-right: 1px solid #1e82b4;
        border-top: 1px solid #1e82b4;
        border-bottom: 1px solid #1e82b4;
    }


        #breadcrumbsOASIS .current::after,
        #breadcrumbsOASIS .current::before {
            content: normal;
            top: 50%;
            margin-top: -0.76em;
            border-top: 0.76em solid transparent;
            border-bottom: 0.76em solid transparent;
            border-left: 0.5em solid;
            right: -0.5em;
        }

.BreadLinkInactive {
    cursor: default !important;
    padding-bottom: 3px;
}
/*----------------------------------- End Bread Crumb -------------------------------------------*/

.error {
    color: #FF0557;
    font-size: 12px;
}

