﻿.gridheadrotate
{
	/* Safari */
	-webkit-transform: rotate(-90deg); /* Firefox */
	-moz-transform: rotate(-90deg); /* IE */
	-ms-transform: rotate(-90deg); /* Opera */
	-o-transform: rotate(-90deg); /* Internet Explorer  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid red;
	text-align: center;
}

.gridrotate2
{
	
	height: 150px;
	line-height: 150px;
	width:20px;
	font-weight: normal;
	display: block;
	white-space: nowrap;vertical-align:bottom !important;
  margin-top:70px;margin-bottom:-50px;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.gridrotate2_pointer
{
	
	height: 150px;
	line-height: 150px;
	width:20px;
	font-weight: normal;
	display: block;
	white-space: nowrap;vertical-align:bottom !important;
  margin-top:70px;margin-bottom:-50px;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	cursor:pointer;
}


.gridrotate3
{
	
	height: 100px;
	line-height: 100px;
	width:20px;
	display: block;
	white-space: nowrap;vertical-align:bottom !important;
  margin-top:30px;margin-bottom:-30px;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}


.gridheader_backup
{
	color:#fff;
	font-family: Arial;
	font-size:8pt;
	
background: -webkit-linear-gradient(#347EC7, #3275B9); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#347EC7, #3275B9); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#347EC7, #3275B9); /* For Firefox 3.6 to 15 */
background: linear-gradient(#347EC7, #3275B9); /* Standard syntax */
border-collapse:collapse;

}

.gridheader
{
	color:#fff;
	font-family: Arial;
	font-size:8pt;
	
background: -webkit-linear-gradient(#2196DC, #2196DA); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#2196DC, #2196DA); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#2196DC, #2196DA); /* For Firefox 3.6 to 15 */
background: linear-gradient(#2196DC, #2196DA); /* Standard syntax */
border-collapse:collapse;

}


.gridheader td
{
	border-top:solid 1px #B7B7B7; border-right:solid 1px #B7B7B7;
}


.gridrowstyle1
{
	background-color:#F2F2F2;
	font-family: Arial;
	font-size:8pt;border-style:none ;border-width:0px;border-color:#ffffff;color:#2196DA;
}

.gridrowstyle1 td { border-top:solid 1px #ffffff; border-right:solid 1px #FFDDE8; }

/*border-top:solid 1px #B7B7B7*/
.gridrowstyle2
{
	/*background-color:#D4D4D4;*/
	font-family: Arial;
	font-size:8pt;border-style:none ;border-width:0px;color:#2196DA;
}
.gridrowstyle2 td { border-top:solid 1px #ffffff;border-right:solid 1px #FFDDE8; }



.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=90);
	opacity:0.9;
}
.gridstyle
{
	border-style:outset;border-color:#ffffff !important;
	box-shadow: 10px 10px 5px #B4B4B4;border-left-width:1px;border-radius:25px;
}



.ImageStyle
{
	cursor:pointer;
}

.PnlPopup
{
border-with:2px;
border-color:#78B82C;
border-style:solid;
	
}

.msgClose
{
	background: -webkit-linear-gradient(#72B634, #B8E094); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#72B634, #B8E094); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#72B634, #B8E094); /* For Firefox 3.6 to 15 */
background: linear-gradient(#72B634, #B8E094); /* Standard syntax */
}
.tableChart 
{
	BORDER-LEFT: #78B82C 1pt solid;
	BORDER-RIGHT: #78B82C 1pt solid;
	padding: 4px; 
	border-collapse:collapse;
	BORDER-BOTTOM: #78B82C 1pt solid; 
	-moz-border-radius:0;
} 
.tdChart  
{
	padding: 2px; 	
	border-left: #78B82C 1pt solid; 
	border-top: #78B82C 1pt solid;
	border-bottom : #78B82C 1pt solid;
	border-right: #78B82C 1pt solid;
	-moz-border-radius:0;

	margin-left: 120px;
	
	

}

.chartFields
{
		font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;font-weight: bold;
}
table.tableNoborder
{
	border:0pt None !important;
}

.tableChart1
{
	border-width:1px;
	border-collapse:collapse;
	border-color:#78B82C;
	border-style:solid;
	border-bottom-style :solid;border-bottom-color:#78B82C;
	border-top-style :solid;border-top-color:#78B82C;
	
}

.largelabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;font-size:85px !important;
}

.lblTitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;font-size:10px !important;color:#7F7F7F;
}

.chartgridheader
{
	color:#000;
	font-family: Arial;
	font-size:8pt;
	
background: #D5D7CD; /* For Safari 5.1 to 6.0 */
border-collapse:collapse;

}


.chartgridheader td
{
	border-top:solid 1px #B7B7B7; border-right:solid 1px #B7B7B7;
}


.chartgridrowstyle
{
	background-color:#fff;
	font-family: Arial;
	font-size:8pt;border-style:none ;border-width:0px;border-color:#000;width:20px !important;
}

