﻿@media (min-width: 992px) {
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #f9815c !important;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f9815cbf /*#343a40*/;
  }

     body.sidenav-toggled .navbar-sidenav h3, body.sidenav-toggled .navbar-sidenav p {
  display: none;
}

    /*#mainNav .navbar-collapse .navbar-sidenav > .nav-item h3 {
    color: #fff;
    font-size: 100%;
    padding: 6px 10px;
    }

    #mainNav .navbar-collapse .navbar-sidenav > .nav-item p {
    color: #fff;
    padding: 6px 10px;
    font-weight: 600;
    }*/


    /*#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > h3 {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > p {
  color: rgba(0, 0, 0, 0.7);
}*/

#mainNav.navbar-dark .SSnavbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #efefef;
  background-color:#f56032;
}


#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #efefef !important;
  background-color:#f56032 !important;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #da3807/*#212529*/ !important;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #efefef /*#adb5bd*/ !important;
}
/*#ff5722*/
}


 .bg-dark {
  background-color: #f56032 !important;
}

 .btn-primary {
  color: #fff;
  background-color: #f56032;
  border-color: #f15b2d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #de4719;
  border-color: #f15b2d;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
   background-color: #de4719;
  border-color: #f15b2d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}