﻿.bg-dark .card-header.text-white {
    color: #FFFFFF !important;
}

.bg-dark .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

    .bg-dark .btn-success:hover {
        color: #fff;
        background-color: #288828 !important;
        border-color: #288828;
    }

.bg-dark .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.bg-dark .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.bg-dark .card-body .card-header {
    padding: 0.35rem 0.90rem;
}
.bg-dark .btn-warning {
    color: #fff;
    background-color: #f3b500;
    border-color: #f3b500;
}

    .bg-dark .btn-warning:hover {
        color: #fff;
        background-color: #dea000 !important;
        border-color: #dea000;
    }

.colClass {
    padding: 0px 10px 0px 10px;
    background: #ececec url("/PHOENIXBETA/Images/down.png") no-repeat 3px 5px;
    border: 1px solid #d1cfcf;
}

.ExpClass {
    padding: 0px 10px 0px 10px;
    background: #ececec url("/PHOENIXBETA/Images/up.png") no-repeat 3px 5px;
    border: 1px solid #d1cfcf;
}

.form-group label.Ftitle {
    padding: 0px;
    font-size: 15px;
    width: 100%;
    margin-bottom: .5rem;
}
.form-group label {
    padding: 0px;
    font-size: 15px;
    margin: 0px
}

.form-group .form-control {
    border-radius: 0;
}

.form-group .form-control {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    font-size: 15px !important;
    line-height: 18px;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    height: 34px !important;
}
.form-group .RB_Holder
{
    padding:5px 0px;
}
.form-group span.form-control {
    cursor: not-allowed;
}
.Calendar_Holder {
    display: inline-block;
    width: 100%;
}
.Calendar_Holder .form-control.textbox {
    width: 80%
}
.Calendar_Holder .imagebtn {
    width: 20%;
    padding: 4px;
    display: inline-block;
    height: 33px !important;
    max-width: 33px;
}
.checkbox-list span label {
    width: 25%;
}

div.checkbox-list, .checkbox-list
{
    width:100%;
}
    div.checkbox-list.modifay, .checkbox-list.modifay {
        width: 100%;
        min-height: 190px;
    }
.form-control.txt_name {
    width: 70%;
    min-width:50% !important;
}

.form-control.ddl_title {
    width: 30%;
    min-width: 20% !important;
}
.form-group {
    margin-bottom: 0rem;
}
.DT-p-0 {
    padding: 0px;
}

/*****************/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .DT-p-0 {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.title-bg-Form-small {
    color: #fff;
    background: #8dc24c;
    font-size: 100%;
    font-weight: 600;
    padding: 4px 10px;
}
.title-bg-Form-small-gray {
    color: #fff;
    background: #e5e5e5;
    font-size: 100%;
    font-weight: 600;
    padding: 4px 10px;
}
.title-bg-Form-Head-small {
    color: #fff;
    background: #17a2b8;
    font-size: 100%;
    font-weight: 600;
    padding: 4px 10px;
}
.form-control.inputbox_multi {
   height:65px !important;
}

/*********************************/
.checkbox-list .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
    display:none;
}
.headstyle {
    background-color: #6fa42e;
    color: #fff;
    text-align: left;
}
.ajax__calendar_day {
    height: 17px;
    width: 20px;
    text-align: right;
    padding: 0 2px;
    cursor: pointer;
}
/******************************************/


.step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

    .step .step-item {
        -ms-flex: 1 1 0;
        flex: 1 1 0;
        margin-top: 0;
        min-height: 1rem;
        position: relative;
        text-align: center;
    }

        .step .step-item:not(:first-child)::before {
            background: #0069d9;
            content: "";
            height: 2px;
            left: -50%;
            position: absolute;
            top: 9px;
            width: 100%;
        }

        .step .step-item a {
            color: #acb3c2;
            display: inline-block;
            padding: 20px 10px 0;
            text-decoration: none;
        }

            .step .step-item a::before {
                background: #0069d9;
                border: .1rem solid #fff;
                border-radius: 50%;
                content: "";
                display: block;
                height: .9rem;
                left: 50%;
                position: absolute;
                top: .2rem;
                transform: translateX(-50%);
                width: .9rem;
                z-index: 1;
            }

        .step .step-item.active a::before {
            background: #6fa42e;
            border: .1rem solid #6fa42e;
        }

        .step .step-item.active ~ .step-item::before {
            background: #e7e9ed;
        }

        .step .step-item.active ~ .step-item a::before {
            background: #e7e9ed;
        }

.btn:disabled,
.btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc !important;
    color: #FFFFFF !important;
    cursor: not-allowed;
}

.btn:hover:disabled,
.btn:hover[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc !important;
    color: #FFFFFF !important;
    cursor: not-allowed;
}

.btn-xs, .btn-group-sx > .btn {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.textworningOL {
    /* color: #fff;
    background-color: #e6a800;
  */
    color: #333;
    background-color: #d9edf7;
    max-width: 430px;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
}
.checkbox.likebtn
{
    padding:0px;
}
.checkbox.likebtn label {
    margin: 0px;
    margin-top: 5px;
}
.OfferLetterHTML {
    border: 1px solid #55595c;
    padding: 15px;
    border-radius: 10px;
    display:inline-block;
}
/***************************/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #EDEDED;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    width:100%;
}

.btn.upload-btn {
    background-color: #03a595;
    color: #fff;
    min-height: 34px;
   width:100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.upload-btn-wrapper .file-info {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 33px;
    min-height: 34px;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/***************************/
.lbl_Doc {
    width: 100%;
    position: relative;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    text-transform: lowercase;
    margin: 0px;
}
.i-style {
        position: absolute;
        right: 0px;
        top: 5px;
        font-size: 20px;
        
    }
.i-style-ex {
    position: absolute;
    left: 0px;
    top: 6px;
    font-size: 18px;
}
    .i-style.green {
        color: #28a745;
    }
    .i-style.red {
        color: #dc3545;
    }

.Doc_details_Holder {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9eee4;
    width:100% ;
    display:inline-block
}
.Doc_View_a {
    background-color: #0b96ac;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
}
.Doc_View_a:hover{
 background-color: #17a2b8;
    color: #fff;
}
.Doc_View_a.disable {
    background-color: #e1e1e1;
    color: #fff !important;
    cursor:not-allowed;

}
.Doc_View_a.disable:hover {
    background-color: #e1e1e1;
    color: #fff !important;

}
.Doc_details_contaner {
    border-right: 1px solid #e9eee4;
}
.table-responsive {
    overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .table-responsive {
        overflow-x: auto;
    }
}