/* Class Styles */
.subheader_bgImg 
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-image:url(../Images/newblue.gif) ;
	background-repeat: repeat-x; 
	font-weight:bold; 
	font-size: 12px;
	text-align:left;
	color: #ffffff;
	height:20; 			 
}
.subheader_bgColor
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #00A5E6;
	font-weight:bold; 
	font-size: 12px;
	text-align:left;
	color: #ffffff;
	height:20; 			 
}


.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #1b80b6;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 8pt; color: white ; font-weight:bold;
    cursor: hand ;
}
.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #1b80b6;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 8pt; color: #1b80b6 ; font-weight:bold;
    cursor: hand ;
}

.accordionContent
{
    background-color: #1b80b6;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
.SubaccordionHeader
{
    border: 1px solid #2F4F4F;
    color:White;
    background-color: #BDDCF4; /* #1B80B6; */
    /*background-image:url(../Images/newblue.gif) ;
    background-repeat: repeat-x;*/
    font-weight: bold;
    padding: 0px;
    margin-top: 2px;
    cursor: pointer;
    height:25px; 
}

.SubaccordionContent
{
    background-color:White;
    border: 1px solid #2F4F4F; /* dashed */
    border-top: none;
    padding: 2px;
    padding-top: 5px;
}
.cal_Theme1 .ajax__calendar_container 

{ 
background-color: #a6d7f7; border:solid 1px #cccccc; width:230px;height:210px;
} 

.cal_Theme1 .ajax__calendar_header 

{ 

background-color: #ffffff; margin-bottom: 4px; 
} 

.cal_Theme1 .ajax__calendar_title, 

.cal_Theme1 .ajax__calendar_next, 

.cal_Theme1 .ajax__calendar_prev 

{ 

color: #004080; padding-top: 3px; 
} 


.cal_Theme1 .ajax__calendar_body 

{ 

background-color: #f3f5f6; border: solid 1px #cccccc; width:220px;height:167px;
} 


.cal_Theme1 .ajax__calendar_dayname 

{ 

text-align:center; font-weight:bold; margin-bottom: 4px; margin-top: 2px; 
} 

  

  


.cal_Theme1 .ajax__calendar_day 

{ 

text-align:center; font-size:small;font-weight:normal;font-family:Verdana,Monospace;
} 

  

  .MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: lemonchiffon;
    color: red;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}


.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, 

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, 

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, 

.cal_Theme1 .ajax__calendar_active 

{ 

color: #004080; font-weight:bold; background-color: #ffffff; 
} 

.cal_Theme1 .ajax__calendar_today 
{ 

font-weight:bold; 
} 
.cal_Theme1 .ajax__calendar_other, 

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, 

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title 

{ 

color: #bbbbbb; 
} 

.normal { background-color: }
.normalActive { background-color:#BDDCF4 }
.normalItemActive{ background-color: #8FBFE7}
.normalItemInActive{ background-color:  }