﻿.darkPanel  { position:absolute; left:0px; top:0px;bottom:0px;right:0px;
                 background:url('../images/common/dark.png') 0 0 !important; 
                 display:block; min-width:100%; min-height:100%; z-index:1;}
.darkPanelTop { position:relative;   background-color:#f0f0f0;
                     border:1px solid #0092d7; margin:90px auto 0px auto;/*top, right, bottom and left */  
width:552px;  height: 340px; z-index:200; 
padding:0px 0px 0px 0px;  

	-webkit-box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   -moz-box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}


.holderInner { overflow:hidden;background-color:white; }
.holderInner { width:535px;
     height:297px; 
 border: solid 1px #ccc;border-collapse:collapse;margin:6px 6px 6px 6px;
 background-color: #FFFFFF;
                  text-align:left;
                  }
          
 
.darkPanelFooter { padding: 1px 0px 0px 1px;
    margin: 0px;/*top, right, bottom and left */ 
  width: 99.8%;   height:27px;
font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    color: #fff;
    font-size: 16px;    
  position: absolute;
  bottom: 0px;border-top:1px solid #0092d7;
 background: #75a9d1;
	background: -moz-linear-gradient(top,  #75a9d1 0%, #4372b0 98%, #75a9d1 99%, #4372b0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a9d1), color-stop(98%,#4372b0), color-stop(99%,#75a9d1), color-stop(100%,#4372b0));
	background: -webkit-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: -o-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: -ms-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: linear-gradient(to bottom,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', endColorstr='#4372b0',GradientType=0 );

}
.TitlePl {
    position: relative;
    float: left;
    padding-left: 6px;margin-top:5px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;font-weight:normal;

}

.closelbtnPl {position:relative;float:right;padding-right:4px;margin-top:2px;
    text-decoration:none;
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    letter-spacing:1px; border:0px none;
color: #a6c4dd;text-shadow: 0px 2px 3px #555;

/*text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);*/


}

.divBoxFrame
{
    float:left;

   
 
padding-left:2px;padding-right:2px;
padding-top:1px;padding-bottom:1px;
margin-left:0px;margin-right:0px;
overflow:hidden; 
}

.button
 {
   
    border: 1px solid;
    border-color: #50a3c8 #297cb4 #083f6f;
      
    background: #0c5fa5 url(../images/button/btnInital.jpg) repeat-x left top;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top,white,   #72c6e4 4%,    #0c5fa5    );
    background: -webkit-gradient(linear,left top, left bottom,from(white), to(#0c5fa5),color-stop(0.03, #72c6e4) );
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
    color: white;
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 13px;
      height:26px;
    cursor: pointer;
    font-weight: bold;
    }
    /* IE class 
    .ie button {
        overflow: visible;
    }*/
    /* IE class 
    .ie7 button {
        padding-top: 0.357em;
        padding-bottom: 0.214em;
        line-height: 1.143em;
    }*/
    .button:hover
     {
        border-color: #1eafdc #1193d5 #035592;
        background: #057fdb  url(../images/button/btnHover.jpg) repeat-x left top;
        background: -moz-linear-gradient(
            top,
            white,
            #2bcef3 4%,
            #057fdb
        );
        background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(white),
            to(#057fdb),
            color-stop(0.03, #2bcef3)
        );
    }

    table.ClassGray {font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-size:13px;
	
            border-left:1px solid  #e6e6e6;   
 border-right:1px solid #e6e6e6; 
  border-bottom:1px solid #e6e6e6;

	padding: 12px;
      padding: 0em;
     margin-bottom: 0em;
     border-collapse:collapse;
	     
    color:#1d4070;
   background-color:#fff;

}
 table.ClassGray  th {height:24px; text-align:left; color:#1d4070;  font-weight:bold; padding-left:4px;
                        -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;
           		  border-bottom:2px solid #b9b9b9;
                    border-left:1px solid  #e6e6e6;   
 border-right:1px solid #e6e6e6; 
  border-top:1px solid #e6e6e6;
                     font-size:13px;font-family:Helvetica,Andale Mono,Sans-Serif,sans;
                                  
	 background-color:#fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
 }


 table.ClassGray  tr { border:0px none !important;}
table.ClassGray  td 
{padding-left:4px;padding-top:4px;padding-bottom:4px; vertical-align:middle;
	border:0px none !important;
	-moz-border-radius:0;font-weight:normal;

}

.calPrevMth
{ text-decoration:none;font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-size:12px;padding-left:16px;padding-right:6px;
         background:transparent url(../Images/common/MthPrev.png) no-repeat -1px -1px; color:#1d4070;

}
.calNxtMth
{
 text-decoration:none;font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-size:12px;
         background:transparent url(../Images/common/MthNext.png) no-repeat 15px 0px; color:#1d4070;
          padding-left: 13px;
    padding-right: 17px;
    background: transparent url(../Images/common/MthNext.png) no-repeat 30px -1px;
}
.calMthYear{	 font-family: 'helvetica';margin:0px;width:100%;
    height:24px; text-align:left; color:#1d4070; padding-left:1px;padding-top:2px; -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 
           		  border-bottom:1px solid #b9b9b9; 
                    border-left:1px solid  #e6e6e6;   
 border-right:1px solid #e6e6e6; 
  border-top:1px solid #e6e6e6;
                     font-size:15px;
                                  
	 background-color:#fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );

}
.calDayStyle
{ border:1px solid #e6e6e6; height:24px; width:20px;
 font-family: 'helvetica';
 text-decoration:none;
	font-size: 14px;
	text-align: center;

	color: #000;
	 background-color:#ffffff;
 
}

.calDayStyle:hover {
 color:#000 !important;
   	background: #e7fd7e;
	background: -moz-linear-gradient(top,  #e7fd7e 0%, #e0fb5e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7fd7e), color-stop(100%,#e0fb5e));
	background: -webkit-linear-gradient(top,  #e7fd7e 0%,#e0fb5e 100%);
	background: -o-linear-gradient(top,  #e7fd7e 0%,#e0fb5e 100%);
	background: -ms-linear-gradient(top,  #e7fd7e 0%,#e0fb5e 100%);
	background: linear-gradient(to bottom,  #e7fd7e 0%,#e0fb5e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7fd7e', endColorstr='#e0fb5e',GradientType=0 );
}


.calDayToday {
 
      color:#000;
      
	 font-family: 'helvetica';font-size:13px;
 text-decoration:none;
 
    	background: #85b9ff; border:none;
	
}
.calDayToday a {
    color:#000 !important;
}

.calWeekTitle
{
  text-align:center; color:#fff;  font-weight:bold; 
           		  border:0px none;font-size:13px;height:23px; font-family: 'helvetica';
               
                      background: #75a9d1;
	background: -moz-linear-gradient(top,  #75a9d1 0%, #4372b0 100%, #75a9d1 100%, #4372b0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a9d1), color-stop(100%,#4372b0), color-stop(100%,#75a9d1), color-stop(100%,#4372b0));
	background: -webkit-linear-gradient(top,  #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
	background: -o-linear-gradient(top,  #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
	background: -ms-linear-gradient(top,  #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
	background: linear-gradient(to bottom,  #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', endColorstr='#4372b0',GradientType=0 );
}
.calWeekendstyle
{
    color: #ffffff !important;
	font-weight: bold;
	border-color: #0c0;
	background: #88e888;text-align:center !important;vertical-align:middle !important;
	
	background: -moz-linear-gradient(top,  #88e888 0%, #9dff9d 1%, #42fd42 2%, #01ab01 98%, #37ef37 99%, #37ef37 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88e888), color-stop(1%,#9dff9d), color-stop(2%,#42fd42), color-stop(98%,#01ab01), color-stop(99%,#37ef37), color-stop(100%,#37ef37));
	background: -webkit-linear-gradient(top,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
	background: -o-linear-gradient(top,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
	background: -ms-linear-gradient(top,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
	background: linear-gradient(to bottom,  #88e888 0%,#9dff9d 1%,#42fd42 2%,#01ab01 98%,#37ef37 99%,#37ef37 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88e888', endColorstr='#37ef37',GradientType=0 );
}
.calOtherDay
{
	 border:1px solid #e6e6e6; height:24px; width:20px;
 font-family: 'helvetica';
 text-decoration:none;
	font-size: 14px;
	text-align: center;
	background: #eeeeee;

}
  .calOtherDay a{
      color: #8c8c8a !important;
  }     
.calCss
{
      border-collapse:collapse;color:#b9b9b9;
}

.tdfields
{font-weight:500;font-size:13px; font-family: Helvetica, sans-serif; color:#084777 !important;
}
.tdPadDiv
{padding-top:10px;
 padding-bottom:1px;
}
.dropDownList{ color:#000; font-size:12px; font-family: Helvetica, sans-serif; 
                         height:21px; border:1px solid #d8d8d8;
                         }
.remark
{
font-family: Helvetica, sans-serif; font-size:11px;color:#3f3f3f;font-weight:normal;	
}
 .remark_info
{
font-family: Helvetica, sans-serif;  font-size:11px;color:#3f3f3f;font-weight:bold; clear:both;	
}
 .multipleText_full {color:#000000;border:1px solid #d8d8d8;font-family: Helvetica, sans-serif;display:block;   resize: none; }

 .inputtext{ height:19px; color:#000000; border:1px solid #d8d8d8;
                                             font-family: Helvetica, sans-serif; font-size:12px;}

    .calCss a {text-decoration:none;
    }
.calCss table tr
{
    border:0px none; 
}


.divSub
{
    border:1px solid  #e6e6e6; cursor:default;
   Height:20px;float:right;text-align:center;vertical-align:middle;
   color:#d82133;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   /*color:#d82133;  color:#079adc;*/
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
         background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
.divSub div
{
margin-bottom:-5px;padding:3px 3px 2px 3px;cursor:default;
}

@font-face {
	font-family: 'Conv_Walkway_SemiBold';
	src: url('Fonts/Walkway_SemiBold.eot');
	src: url('Fonts/Walkway_SemiBold.woff') format('woff'), url('Fonts/Walkway_SemiBold.ttf') format('truetype'), url('Fonts/Walkway_SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-size:38px;
}

.buttonSave
 {margin-right:2px;margin-left:2px;
  padding-left:22px;padding-right:20px;
     background:transparent url(../Images/common/saveBtn.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;letter-spacing:1px;
    border:1px solid #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
  -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    }

.buttonSave:hover{border:1px solid #fff;
    background-color:#85b9ff;color:#fff;
}

.buttonCancel
 {margin-right:2px;margin-left:2px;
  padding-left:26px;padding-right:17px;letter-spacing:1px;
     background:transparent url(../Images/common/CancelBtn.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;
    border:1px solid  #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
  
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);    cursor:pointer;
    }
.buttonCancel:hover{border:1px solid #fff;
color:#fff;
    background-color:#85b9ff;
	
	
}

.tblLeaveCal {font-family:Helvetica,Andale Mono,Sans-Serif,sans;
	          
                 padding:0px;  
	 border-collapse:collapse;

}
.tdRoundedge
{
   border-left:1px solid  #e6e6e6;
                  border-right:1px solid  #e6e6e6;
                border-top:1px solid  #e6e6e6;   border-bottom:1px solid #e6e6e6;-moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	  

}
.trLeaveCal_head
{
    height:28px; text-align:center;  padding:0px;margin:0px;
           		  border:0px none;color:#1d4070;font-size:12px;font-weight:bold !important;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
                border-collapse:collapse;
                background-color:#fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}
    .trLeaveCal_head td { border:0px none;font-weight:bold !important;

    }
.trLeaveCal_Row
{
     height:28px;border-top:2px solid #b9b9b9;text-align:center;
     font-family:Helvetica,Andale Mono,Sans-Serif,sans;color:#222222;font-size:12px;font-weight:bold;
}
.trLeaveCal_Row td
{font-weight:bold !important;}
.CssCalMth
{text-decoration:none;font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-size:13px;padding-right:9px;
         color:#1d4070;float:left;cursor:pointer;

}
.divLinkBorder {
    float:left;Border-top:1px solid #e6e6e6;padding-top:4px;padding-bottom:4px;margin-left:4px;margin-top:28px;margin-right:16px;
}
.divSeperator
{
  border:1px solid  #e6e6e6; cursor:default;
   Height:20px;float:right;margin-top:-26px;text-align:center;vertical-align:middle;margin-bottom:-4px;
   color:#d82133;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   /*color:#d82133;  color:#079adc;*/
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
         background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );

}
.divSeperator div
{
margin-bottom:-5px;padding:3px 3px 2px 3px;cursor:default;

}
.rddlCss
{
 padding-top:-10px;margin-top:-10px;
}

.divBoxScroll
{float:left;
height:198px;
 border:0px none;
padding-left:0px;padding-right:0px;padding-top:1px;padding-bottom:1px;margin-left:0px;margin-right:0px;
overflow:hidden; 
}
.divBoxScrollInside
{   overflow:scroll;height:219px;
}
.divBoxFrame_Remarks
{
float:left;margin-left:0px;

 border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;
                   border-bottom:1px solid #e6e6e6;  
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	  
}
.divBoxFrame_Title {
      /*top, right, bottom and left */  
  	
    height:30px;border-bottom:2px solid #b9b9b9;
	color:#317abf;
                     -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;
                   
text-align:left;font-size:12px;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   
       background-color:#fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}
.spanFrameTitle
{margin-left:5px;margin-top:9px;float:left;
   vertical-align:middle;
color:#1d4070;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;}

.divMainBox {
	margin-left: 5px;border:1px solid #d1cfcf;
   margin-top:2px;height:70px;
	
   -moz-border-radius-topleft: 5px;
 border-top-left-radius: 5px;
 -moz-border-radius-topright: 5px;
 border-top-right-radius: 5px;
   -moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	-webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	box-shadow: 3px 3px 3px rgba(68,68,68,0.6);	
}
.divMainBox .divMainSubBox{
	 /* This protects the inner element from being blurred */
    padding:1px 5px 0px 5px; margin-top:3px;
  	width:80px;
    height:14px;
	color:#1d4070;font-weight:bold;border-bottom:1px solid #b9b9b9;
text-align:left;font-size:9px;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
     -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
     background-color:#fafafa;
       background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );

}
.divMainBoxCenter
{
width:100%;padding-top:3px;
    
	color:#0076d1;
text-align:center;font-size:25px;
   font-family:Arial,Helvetica,Andale Mono,Sans-Serif,sans;
}
.divMainBoxFooter {width:100%;
  text-align:left;
    margin-top: 3px;
    height:16px;
  border-top:1px solid #d1cfcf;
     background-color:#fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}
.spanLeftText
{color:#1d4070;
    float: left;display: inline;  left: 0px; position: relative;margin:2px 0px 2px 2px;font-size:10px;
 font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-weight:bold;


}

.spanRightLink
{
    float: right;padding-right:2px;font-size:9px;display: inline; color: #317abf;
 font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-weight:bold;text-decoration:none;margin:3px 0px 2px 2px;

}
.calEventDay {
    float: right;
    font-size: 11px;
    color: #317abf;
    font-weight: bold;
    text-align: center;
}
.calEventName {
    float:left;padding-left:4px;padding-bottom:1px;font-size:12px;color:#2b8dd8;font-weight:bold;letter-spacing:1px;
}
.calEventBoxMain {
  margin-left:5px;margin-top:7px;margin-bottom:7px;
}
.calEventBoxSub
{
    border-bottom:1px solid #e6e6e6;width:300px;float:left;vertical-align:middle;font-family:Helvetica,Andale Mono,Sans-Serif,sans;
}
.calEventColor
{
     border:1px solid #fff;
width:8px;height:8px;display:block;float:left;margin-top:1px;
}
.calEventDate {font-family: Helvetica, sans-serif; font-size:11px;color:#222222;font-weight:bold;
}

.divInfoMsg

{display:block;margin:2px;
border: 1px solid  #f2fb00;border-collapse:collapse; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 12px; font-weight: 600; color: #2e2e2e;
                            width:98%;min-height:20px;
                       background-position: 5px center; padding-left: 20px;padding-top:2pt;padding-bottom:2pt; 
 
  -webkit-box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   -moz-box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
       background:#feffb3 url(../images/common/info_s.png) no-repeat 2px 3px ;  
         background: url(../images/common/info_s.png) no-repeat 2px 3px ;  
             
   background:  url(../images/common/info_s.png) no-repeat 2px 3px ,-moz-linear-gradient(top,  #feffb3 0%, #fdff8a 98%, #feffb3 99%, #fdff8a 100%) ;
	background:  url(../images/common/info_s.png) no-repeat 2px 3px ,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffb3), color-stop(98%,#fdff8a), color-stop(99%,#feffb3), color-stop(100%,#fdff8a));
	background: url(../images/common/info_s.png) no-repeat 2px 3px , -webkit-linear-gradient(top,  #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
	background:  url(../images/common/info_s.png) no-repeat 2px 3px ,-o-linear-gradient(top,  #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
	background: url(../images/common/info_s.png) no-repeat 2px 3px , -ms-linear-gradient(top,  #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
	background:  url(../images/common/info_s.png) no-repeat 2px 3px ,linear-gradient(to bottom,  #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffb3', endColorstr='#fdff8a',GradientType=0 );
    
}

 .divErrorMsg
{    width:98%;
     display:block;margin:2px;
	border: 1px solid #fb9393;	border-collapse:collapse; text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 12px; font-weight: 600; color: #2e2e2e;min-height:20px;
                           
                      background-position: 5px center;
 
      padding-left: 21px;padding-top:2pt;padding-bottom:2pt;      
       -webkit-box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   -moz-box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
     background:#febbbc;
     background: url(../images/common/error_s.png) no-repeat 2px 3px ;
         
           background:  url(../images/common/error_s.png) no-repeat 2px 3px ,-moz-linear-gradient(top,  #febbbc 0%, #fe7a7a 98%, #febbbc 99%, #fe7a7a 100%) ;
	background:  url(../images/common/error_s.png) no-repeat 2px 3px ,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbc), color-stop(98%,#fe7a7a), color-stop(99%,#febbbc), color-stop(100%,#fe7a7a));
	background: url(../images/common/error_s.png) no-repeat 2px 3px , -webkit-linear-gradient(top,  #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
	background:  url(../images/common/error_s.png) no-repeat 2px 3px ,-o-linear-gradient(top,  #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
	background: url(../images/common/error_s.png) no-repeat 2px 3px , -ms-linear-gradient(top,  #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
	background:  url(../images/common/error_s.png) no-repeat 2px 3px ,linear-gradient(to bottom,  #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbc', endColorstr='#fe7a7a',GradientType=0 );

 }




   .divValidMsg{display:block;margin:2px;border: 1px solid #b1db41;	 text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 12px;color: #2e2e2e;
        font-weight:600;  width:98%;min-height:20px;
 background-position: 5px center;
       background:#d1ff83;
     background: url(../images/common/success_s.png) no-repeat 2px 3px ;
      padding-left: 21px;padding-top:2pt;padding-bottom:2pt; 
        -webkit-box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   -moz-box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   box-shadow:0 3px 1px rgba(6,6,6, 0.4);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)"; 
      background:  url(../images/common/success_s.png) no-repeat 2px 3px ,-moz-linear-gradient(top,  #d1fc72 0%, #ccea89 98%, #d1fc72 99%, #ccea89 100%) ;
	background:  url(../images/common/success_s.png) no-repeat 2px 3px ,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1fc72), color-stop(98%,#ccea89), color-stop(99%,#d1fc72), color-stop(100%,#ccea89));
	background: url(../images/common/success_s.png) no-repeat 2px 3px , -webkit-linear-gradient(top,  #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
	background:  url(../images/common/success_s.png) no-repeat 2px 3px ,-o-linear-gradient(top,  #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
	background: url(../images/common/success_s.png) no-repeat 2px 3px , -ms-linear-gradient(top,  #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
	background:  url(../images/common/success_s.png) no-repeat 2px 3px ,linear-gradient(to bottom,  #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1fc72', endColorstr='#ccea89',GradientType=0 );
}    


   /* Begining of CSS Style added -- Swapna*/
   
table.ClassPlain  tr { border:0px none !important;}
table.ClassPlain  td 
{padding-left:4px;padding-top:4px;padding-bottom:4px; vertical-align:middle;
       border:0px none !important;
       -moz-border-radius:0;font-weight:normal;

}

.tdProfileHeader
{font-size:12px;font-weight:600; font-family: Helvetica, sans-serif; color:#084777 !important; 
}
.tdProfileFields
{font-size:12px;font-weight:100; font-family: Helvetica, sans-serif; color:#084777 !important;
}
.tdProfileHeaderSmall
{font-size:11px;font-weight:600; font-family: Helvetica, sans-serif; color:#084777 !important; 
}
.tdProfileFieldsSmall
{font-size:11px;font-weight:100; font-family: Helvetica, sans-serif; color:#084777 !important;
}
 /* Closing of CSS Style added -- Swapna*/


  /*
       
       Newly added styles Hashmi

       */

   .buttonEdit
 {margin-right:2px;margin-left:2px;
  padding-left:22px;padding-right:20px;
     background:transparent url(../Images/common/Edit.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;letter-spacing:1px;
    border:1px solid #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
  -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    }

.buttonEdit:hover{border:1px solid #fff;
    background-color:#85b9ff;color:#fff;
}

.PopUpTitle
{
    vertical-align:super;
color:#1d4070;font-size:13px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;}

.buttonClose
 {margin-right:2px;margin-left:2px;
  padding-left:26px;padding-right:17px;letter-spacing:1px;
     background:transparent url(../Images/common/close-window_off.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;
    border:1px solid  #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
  
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);    cursor:pointer;
    }
.buttonClose:hover{border:1px solid #fff;
color:#fff;
    background-color:#85b9ff;
	}

.buttonOverlap
 {margin-right:2px;margin-left:2px;
  padding-left:22px;padding-right:20px;
     background:url(../Images/common/overlap.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;letter-spacing:1px;
    border:1px solid #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
  -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor:pointer;
    }

.buttonOverlap:hover{border:1px solid #fff;
    background-color:#85b9ff;color:#fff;
}

.buttonDelete
 {margin-right:2px;margin-left:2px;
  padding-left:26px;padding-right:17px;letter-spacing:1px;
     background:transparent url(../Images/common/cross.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;
    border:1px solid  #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
  
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);    cursor:pointer;
    }
.buttonDelete:hover{border:1px solid #fff;
color:#fff;
    background-color:#85b9ff; 
	
}

.buttonPrint
 {margin-right:2px;margin-left:2px;
  padding-left:26px;padding-right:17px;letter-spacing:1px;
     background:transparent url(../Images/common/print.png) no-repeat 4px 5px;/*  left top*/
    background-color:#fff;color:#7b7b7b;
    border:1px solid  #c3c3c3;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
  
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);    cursor:pointer;
    }
    .buttonPrint:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: #85b9ff;
    }
    .linkMenuDeActiveMainLeft
{
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;color:#222;font-size:11pt; 
   letter-spacing:1px;padding-left:2px;
   padding-right:18px;text-decoration:none;font-style:normal;font-weight:100;
}
  .ajax__calendar_days table tr td,
   .ajax__calendar_months table tr td, 
  .ajax__calendar_years table tr td { padding:0 !important; margin:0 !important; } 
  .textboxWatermark
  {
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;color:#bebebe;font-size:10pt; 
  }