﻿

	a.noclass:link {display: inline;
		border: 0px;
	font-family:Verdana,Georgia,serif;
	color:Maroon;
	
	text-decoration:underline;
	background-color:Transparent;
	}     /* unvisited link */
a.noclass:visited {display: inline;
	font-family:Verdana,Georgia,serif;
		border: 0px;
		color:Maroon;
		text-decoration:underline;
		background-color:Transparent;
	}  /* visited link */
a.noclass:hover {display: inline;
	font-family:Verdana,Georgia,serif;
		border: 0px;
		color:Maroon;
		text-decoration:underline;
		background-color:Transparent;
	}   /* mouse over link */
a.noclass:active {display: inline;
	font-family:Verdana,Georgia,serif;
		border: 0px;
		color:Maroon;
		text-decoration:underline;
		background-color:Transparent;
	} 


	
	A {
	
	display: block;
	 width: 20px;
	  border: 1px solid #777;
	   padding: 2px; background: white;
	    text-decoration: none;
	    text-align:center;
	    color:#000;
	    
	font-family:Times New Roman,Verdana,Georgia,serif;
	
	}
	A:link{
	display: block;
	 width: 20px;
	  text-align:center;
	  border: 1px solid #777;
	   padding: 2px; background: #FFF;
	    text-decoration: none; color:#000;
	   
	}
	A:visited {
	
	display: block;
	 width: 20px;
	  text-align:center;
	  border: 1px solid #777;
	   padding: 2px; background-color:white;
	    text-decoration: none;
	    color:#000;
	
	}
	A:hover {
	display: block;
	 width: 20px;
	  border: 1px solid #777;
	   padding: 2px; background: #DDD;
	    text-decoration: none;  color:#CC3300;
	     text-align:center;
	    }
	A:active {
	display: block;
	 width: 20px;
	  border: 1px solid #777;
	   padding: 2px;  background-color:Orange;
	    text-decoration: none;
	  color:#000; 
	   text-align:center; 
	  
	  }
	
	
	f1
{
	position:relative;float:left;top:12px;   z-index:10;
}
	
	.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.modalPopup3 {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
.modalPopup {
font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    width:340px;
    border:solid 1px #1B80B6;
    background-color:#F2F9FF;
}
.msg
{font-family: Verdana, Arial, Helvetica, sans-serif;
    vertical-align:middle;
    text-align:left;
     padding-top:6px;
    padding-left:6px;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
   
}  	
.p1
{
	color:#C1D4E3;
}		
.subHeader_E { font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 8pt; 
				background-image:url(../Images/bgblue.gif) ;
				background-repeat: repeat-x;
				border:1; font-weight:bold;
				color: #ffffff;		 
				}	
.header{ 
 font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    width:350px;
    height:26px;
    
    text-align:left;
    vertical-align:middle;
  
    background-image:url(../Images/bgblue.gif) ;
				background-repeat: repeat-x; 
}  

.PartChromeStyle
{
 background-color:#EFF3FB;

 font-family:Verdana;
  color:#333333;
                  
} 
.PartTitleStyle 
{
 background-color:#507CD1;
 font-size:0.6em;
 Color:white;
 font-family:Verdana;
 
 padding: 2px 0px 5px 10px; 
 text-align:left;
 background-image:url(../images/webpartPage/webBorders/boxHeaderTopLeft.gif);
background-repeat: no-repeat; 
background-position: left top; }
.PartTitleStyle table 
{
	margin-top:-2px;
background-image:url(../images/webpartPage/webBorders/boxHeaderTopRight.gif); 
background-repeat: no-repeat;
background-position: right top;
}
.PartTitleStyle table tr td 
{
padding:3px  3px 0  3px;
}
.TitleBarVerbStyle
{
	Font-Size:0.6em;
	Color:White;
	text-decoration:none;
	
}

.PartStyle 
{
	background-color: #EFF3FB;
  border: solid 1px #D1DDF1;
 color: #333333;
 font-size:0.8em; 
 }
 .PartZone 
 {
border:dashed 1px #507CD1;
font-family:Verdana;
padding:6px;
 }

.MenuVerbStyle
{
	border: solid 1px #507CD1;
	color:red;
}
.MenuVerbHoverStyle
{
background-color:#EFF3FB;
border:Solid 1px #CCCCCC;
color:red;
}
  
.MenuVerbStyle
{
	background-color:red;
border:Solid 1px #507CD1;
color:red;
}
.MenuPopupStyle
{
	background-color:#507CD1;
	border:Solid 1px #CCCCCC;
	color:Red;
   font-family:Verdana;
    Font-Size:0.6em;
}
.MenuLabelStyle
{
	
	background-image:url(../images/webpartPage/webBorders/arrowbox.png); 

}
.MenuLabelHoverStyle
{
color:red;
}
.HeaderStyle 
{
  height:0px;   
display:none;
}
/*
.PartZoneHeader 
{
 height:0px;   
display:none; }

*/	                       
				                       
				                       
				                       
				                       a.effect:link {display: inline;
		border: 0px;
	font-family:Verdana,Georgia,serif;
	color:#1b80b6;
	
	text-decoration:underline;
	background-color:Transparent;
	}     /* unvisited link */
a.effect:visited {display: inline;
	font-family:Verdana,Georgia,serif;
		border: 0px;
		color:#1b80b6;
		text-decoration:underline;
		background-color:Transparent;
	}  /* visited link */
a.effect:hover {display: inline;
	font-family:Verdana,Georgia,serif;
		border: 0px;
		color:#000000;
		text-decoration:underline;
		background-color:#e6e7e7;
	}   /* mouse over link */
a.effect:active {display: inline;
	font-family:Verdana,Georgia,serif;
		border: 0px;
		color:#a8a8a8;
		text-decoration:underline;
		background-color:Transparent;
	} 
    .t {background: url(../images/webpartPage/webBorders/dot.png) 0 0 repeat-x; }
  .b {background: url(../images/webpartPage/webBorders/dot.png) 0 100% repeat-x}
.l {background: url(../images/webpartPage/webBorders/dot.png) 0 0 repeat-y}
.r {background: url(../images/webpartPage/webBorders/dot.png) 100% 0 repeat-y}
.bl {background: url(../images/webpartPage/webBorders/t2a.png) 0 100% no-repeat}
.br {background: url(../images/webpartPage/webBorders/t1a.png) 100% 100% no-repeat}
.tl {background: url(../images/webpartPage/webBorders/t2b.png) 0 0 no-repeat}
.tr {background: url(../images/webpartPage/webBorders/t1b.png) 100% 0 no-repeat; padding:2px} 
				                       
		                      