BODY{margin:0px;font-size:13px;font-family:arial;color:#3F3F3F; background-image:url(../images/Library/Master/top-bg.jpg); background-repeat:repeat-x;}
#header
{height:190px; background-color:#FCE2BB;}
.name
{font-size:35px; color:#3E91B9; padding-left:20px; height:80px; font-weight:bold; font-style:italic;}
.name2
{color:#444341;}
.tag
{color:#626262; font-size:18px; padding-left:15px;}
#links-bg
{height:60px; background-image:url(../images/Library/Master/links-bg.gif); background-repeat:repeat-x;}
.toplinks
{width:130px; text-align:center; font-size:12px; font-weight:bold;}
.toplinks a
{color:#ffffff; text-decoration:none;}
.toplinks a:hover
{color:#68DEEA; text-decoration:none;}
.sap
{width:2px; background-image:url(../images/Library/Master/sap.gif); background-repeat:no-repeat; background-position:center;}
.catlinks
{font-weight:bold; border-bottom:1px solid #ffffff; font-size:11px;}
.catlinks a
{color:#393939; text-decoration:none; display:block; padding-left:20px; display:block; height:35px; line-height:35px;}
.catlinks a:hover
{color:#000000; text-decoration:none; background-color:#F3F5F4;}
.cat-head
{font-family:tahoma; font-size:12px; font-weight:bold; color:#ffffff; height:37px; padding-left:35px; background-image:url(../images/Library/Master/heading-bg.jpg); background-repeat:no-repeat;}
.offer
{color:#383838; font-family:tahoma; font-size:14px; font-weight:bold; height:30px; line-height:30px;}
#main
{text-align:justify; padding-left:15px; padding-right:15px; padding-top:8px; padding-bottom:15px;}
.smal-txt
{font-size:11px; color:#383838;}
.main-head
{font-weight:bold; color:#ffffff; height:37px; padding-left:20px; background-image:url(../images/Library/Master/main-head.gif); background-repeat:no-repeat;}
.head2
{font-family:tahoma; font-size:12px; font-weight:bold; color:#ffffff; height:35px; padding-left:12px; background-color:#969696; border-left:1px solid #ffffff;}
.bottomlinks
{width:110px; text-transform:uppercase; font-size:11px; font-weight:bold;text-align:center;}
.bottomlinks a
{color:#575757; text-decoration:none;}
.bottomlinks a:hover
{color:#000000;text-decoration:none;}
.sap2{color:#575757;width:1px;}
a{color:#34A7D4; text-decoration:underline;}
a:hover{color:#34A7D4; text-decoration:none;}
#rc1
{background-image:url(../images/Library/Master/rc1.jpg); background-repeat:no-repeat; width:14px; height:35px;}
#rc2
{background-image:url(../images/Library/Master/rc2.jpg); background-repeat:no-repeat; width:14px; height:35px;}
#rc3
{background-image:url(../images/Library/Master/rc3.jpg); background-repeat:no-repeat; width:17px; height:60px;}
#rc4
{background-image:url(../images/Library/Master/rc4.jpg); background-repeat:no-repeat; width:17px; height:60px;}
#bottom
{width:852px; height:35px; background-color:#D1D1D1;}