﻿@charset "utf-8";
/* CSS Document */
body{
	color: #737373;
	font-family:FrutiLig;
    background:#fff;
}
@font-face {
  font-family: 'FrutiBla';
  src: url('../fonts/site-font/FrutiBla.eot');
  src: url('../fonts/site-font/FrutiBla.eot?#iefix') format('embedded-opentype'), url('../fonts/site-font/FrutiBla.woff') format('woff'), url('../fonts/site-font/FrutiBla.ttf') format('truetype'), url('../fonts/site-font/FrutiBla.svg#FrutiBla') format('svg');
}

@font-face {
  font-family: 'FrutiLig';
  src: url('../fonts/site-font/FrutiLig.otf');
}

/***********   Header   ************/
.container{
  /*position: relative;*/
  padding: 0px !important;
}
.header{
  //position: relative;
  padding-bottom: 4px;
}

.strips {
    float: left;
    height: 17px;
    /*width: 14.28%;*/
    width:12.5%
}
.grey{
	background-color:#929292;
}
.red{
	background-color:#d72228;
}
.orange{
	background-color:#e8772c;
}
.yellow{
	background-color:#dda32e;
}
.green{
	background-color:#759049;
}
.blue{
	background-color:#589ace;
}
.darkblue{
	background-color:#2b5492;
}
.purple{
	background-color:#b24b94;
}
.img-responsive{
	display:inline !important;
}
a:focus{
	outline:none;
}
.logo {
    margin-top: 70px;
	max-width: 270px;
}
.menu .navbar-default {
    background-color: transparent;
    border: medium none;
    margin: 7px 0 20px;
    min-height: inherit;
}
.menu .navbar-default .navbar-nav > li > a {
    /*border-right: 1px solid #b3b3b3;*/
    border-right: 1px solid #fff;
    color:#fff;
    font-weight: bold;
    padding: 0 20px;
    text-transform: uppercase;
}
.menu .navbar-default .navbar-nav > li:last-child > a {
    border-right: none;
    padding-right: 0px;
}
.menu .navbar-default .navbar-nav > .active > a, .menu .navbar-default .navbar-nav > .active > a:hover, .menu .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #d72228;
}
.links {
    bottom: -20px;
    position: absolute;
    right: 0px;
}
.links a{
	color: #737373;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
}

/***********   content   ************/

.homepage-content{
	background: #d6d7d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d6d7d8 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d7d8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d6d7d8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d6d7d8 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6d7d8 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d6d7d8 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d7d8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	min-height:800px;
	border-top: 2px solid #d2d3d4;
}
.home-container{
	max-width:1000px;
}
.home-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.courses-search {
    width: 300px;
	position:relative;
}
input.form-control.courses-input {
    border: 2px solid #b9bbbb;
    border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
    padding-left: 50px;
    padding-right: 92px;
	margin-top: 0px;
}
input.form-control.courses-input::-moz-placeholder {
    color: #d9d5d5;
}
.btn.btn-courses {
    background-color: #cdcccb;
    border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
    color: #fff;
    padding: 3px 10px;
    position: absolute;
    right: 4px;
	top: 3px;
}
.btn-courses .glyphicon.glyphicon-search {
    font-size: 12px;
}
.search-loction {
    width: 180px;
	margin-right: 10px;
}
select.form-control.loction-control {
    background: none repeat scroll 0 0 #6b6868;
    border: 1px solid #6b6868;
    border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	color:#fff;
	font-weight:bold;
	border-bottom:none;
	height:38px;
}
.search-academy {
    width: 180px;
	margin-right: 10px;
}
select.form-control.academy-control {
   background: #c8c9c9; /* Old browsers */
background: -moz-linear-gradient(left, #c8c9c9 0%, #b7b9ba 25%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c8c9c9), color-stop(25%,#b7b9ba), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #c8c9c9 0%,#b7b9ba 25%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #c8c9c9 0%,#b7b9ba 25%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #c8c9c9 0%,#b7b9ba 25%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to right, #c8c9c9 0%,#b7b9ba 25%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c9c9', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 */
    border: 1px solid #6b6868;
    border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
    color: #fff;
	height:38px;
    font-weight: bold;
    text-align: center;
	border-bottom:none;
}
.main-slide .carousel-indicators {
    left: 10%;
}
.main-slide .carousel-indicators li {
    background-color: #818181;
    border: 1px solid #646464;
}
.main-slide .carousel-indicators .active{
	background-color:#cb091f;
	border: 1px solid #cb091f;
}
.main-slide .carousel-caption {
    bottom: auto;
    color: #ca051a;
    font-size: 20px;
    left: 100px;
    padding-bottom: 30px;
    right: 20%;
    text-align: left;
    text-shadow: inherit;
    top: 40px;
}
.main-slide .carousel-caption span{
	font-size:35px;
}
.images-section {
    margin-bottom: 50px;
    margin-top: 20px;
}
.images-section .row .col-md-3 {
    margin-bottom: 20px;
}
.img {
    position: relative;
}
.img img{
	width:100%;
}
.img-txt {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    padding: 2px 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.btm-section .col-md-4 {
    margin-bottom: 20px;
}
h4.heading {
    background-color: #cdcccb;
    color: #554c4f;
    font-size: 14px;
    padding: 3px 5px;
	margin: 0 0 5px;
}
.content-btm {
    background-color: #f1f1f1;
    font-size: 11px;
    min-height: 115px;
    padding: 5px;
}
.icon .fa{
	font-size:22px;
}
.news-pdf {
    background-color: #e6e6e6;
    padding: 4px;
	font-size: 18px;
	margin-top: 3px;
}
.news-pdf > span {
    font-size: 14px;
    font-weight: bold;
}
.right-icon.fa{
	color: #b6b7b8;
    font-size: 22px;
    margin-right: 10px;
    margin-top: 4px;
}
.social-section {
    margin-top: 40px;
}
.social-section h5 {
	color: #554c4f;
    font-size: 14px;
}
.social-section {
     float: right;
    margin-top: 30px;
    max-width: 120px;
    text-align: center;
}
.social-icon > a {
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 6px;
}
.social-icon > a .fa {
    color: #cdcccb;
    font-size: 33px;
}
.social-icon > a.facebook:hover .fa {
    color: #436ea3;
}
.social-icon > a.tumblr:hover .fa {
    color: #2cdcff;
}
.social-icon > a.linkedin:hover .fa {
    color: #006da7;
}
.social-icon > a.google-plus:hover .fa {
    color: #51464c;
}
.social-icon > a.youtube:hover .fa {
    color: #ef0000;
}
.social-icon > a.qq:hover .fa {
    color: #1c87cf;
}
.content-instagram{
	text-align:center;
}
.content-instagram > a {
    display: inline-block;
    margin-bottom: 3px;
    padding: 0;
}
.copy-right {
    color: #bababd;
    margin-bottom: 10px;
}
.form-control.academy-control > option {
    background: none repeat scroll 0 0 #ccc;
}

/***********   About us   ************/
.section-head{
	background-color:#cdcccb;
	padding:4px 0 4px  14px;
	font-size:21px;
	color:#5c5c5b;
}

.box-content {
    background-color: #f1f1f1;
    color: #808080;
    font-size: 12px;
    line-height: 19px;
    margin-top: 5px;
    padding: 12px 12px ;
	min-height:150px;
}

.arrow-icon {
    color: #c9c9cb;
    float: right;
    font-size: 23px;
    margin-top: 24px;
}

.file-icon {
    color: #c9c9cb;
    float: right;
    font-size: 23px;
    margin-top: 24px;
}

.news-letter{
	background-color:#e6e6e6;
	letter-spacing:1px;
	padding:8px;
	color:#999999;
	font-size:15px;
}

.news-letter i {
    font-size: 23px;
}
.file-icon {
    color: #808080;
    
}

.icon2{
	 color: #c9c9cb;  
}



/* page 2*/

section.innerpage-content {
   // margin-top: 70px;
}
.innerpage-header{
	background-color:#cb091f;
	padding:25px 0;
   
}


.center-section{
	margin-top:0px;
}

.about-academy{
	background-color:#cb091f;
	color:#fff;
	text-align:center;
	padding:10px;
	font-size:25px;
		
}
.FAQ{
	background-color:#b7b9ba;
	color:black ;
	text-align:center;
	padding:10px;
	font-size:25px;
		
}

.banner{
	border:1px solid #d4d4d4;
	border-radius:2px;
	
}
.banner-text{
	margin-top:25px;
	margin-left:25px;
  max-height: 191px;
  overflow-y: auto;
  text-align:start;
  direction: rtl;
	
	
}
.white-logo {
    margin-top: 24px;
}
.languages {
    text-align: center;
}
.academies {
    text-align: right;
}
.innerpage-container{
	max-width:1030px;
}
.innerpage-container{
	margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.accordion-section {
    border: 2px solid #d7d7d7;
    margin: 30px 0;
    min-height: 500px;
	padding:30px 20px;
}
.accordion-group .panel-default > .panel-heading {
    background-color: #f4e4e5;
    border: medium none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding:5px 15px;
}
.accordion-group .panel-default{
	border:none;
	box-shadow: inherit;
}
.accordion-group .panel-title > a {
    color: #de596c;
    font-size: 13px;
}
.accordion-group .panel-title .pull-right {
    color: #7c7b79;
    font-size: 13px;
    margin-top: 3px;
	text-transform: uppercase;
}
.accordion-group.panel-group .panel + .panel{
	margin-top:0;
}
.accordion-group .panel-default > .panel-heading.bg-white{
	background-color:#fff;
}

/* page langauge */
.topMarginZero{
	margin-top: 0;
}
.lang-section-border{
	border: 1px solid #d7d7d7;
}
.top-buffer { margin-top:50px; }

/***********   Footer   ************/
footer .footer-container-btm {
    background-color: #e4e4e3;
    padding-top: 10px;
}
.footer-container{
	max-width:1000px;
}
.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
footer .list-inline > li {
    border-right: 1px solid #848484;
    line-height: 14px;
    padding: 0 18px;
}
footer .list-inline a {
    color: #848484;
}
footer .list-inline > li:first-child {
    padding-left: 0;
}
footer .list-inline > li:last-child {
    border: medium none;
    padding-right: 0;
}
.nav-tabs>li {   
    height: 40px;
	width: 135px;
}

/***************Media Query***************/
/***************Media Query***************/
@media only screen and (max-width: 959px) and (min-width: 768px) {
footer .footer-container-btm {
    text-align: center;
}
.footer-container-btm .col-md-5 .pull-right {
    float: none !important;
}
.nav-tabs>li {   
    height: 35px;
	width: 50%;
}	
}
@media only screen and (max-width: 767px) {
.logo {
    margin: 30px auto 0;
    max-width: 270px;
}
.logo-school-container>img{ /*width:80% !important;*/
  margin-top: 0px !important;
}
.school-logo img {
max-width: 75% !important;
}
.acadamic-icon img{
width:40% !important;
  padding-right: 100px;
}
.school-menu ul{
  float: none !important;
  }

.school-menu li{
  width:100%;
}


.menu .navbar-default {
    background-color: transparent;
    border: medium none;
    margin: 7px 0 20px;
    min-height: inherit;
}
.menu .navbar-default .navbar-nav > li > a {
    border-right: none;
    color: #b3b3b3;
    font-weight: bold;
    padding: 0 20px;
    text-transform: uppercase;
}
.menu .navbar-default .navbar-nav > li:last-child > a {
    border-right: none;
    padding: 0 20px;
}
.navbar-collapse{
  position: absolute;
  top: 41px;
width: 93%;
background: #F3F3F3;
z-index: 1000;
}
button.navbar-toggle
{
  position: relative;
}
.courses-search {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.social-section {
    float: none;
    margin: 30px auto 20px;
    max-width: 120px;
    text-align: center;
}
.copy-right {
    color: #bababd;
    float: none !important;
    margin-bottom: 10px;
    text-align: center;
}
footer .footer-container-btm {
    text-align: center;
}
.footer-container-btm .col-md-5 .pull-right {
    float: none !important;
}
.academies {
text-align: center;
}
.white-logo,.languages{
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.white-logo{
  text-align: center;
 
}
.logo {
margin: 10px;
}
.school-menu ul{
  float: none;
}
.school-menu li{
  width: 100%;
}
.banner-text {
margin-top: 25px;
margin-left: 25px;
max-height: 191px;
overflow-y: auto;
direction:ltr; 
}
.nav-tabs>li {   
    height: 50px;
	width: 49%;
	}
}
@media only screen and (max-width: 480px) {
.images-section .row .col-md-3 {
    width: 100%;
}
.nav-tabs li{
  display: block !important;
}
.school-logo img {
max-width: 75% !important;
}
.acadamic-icon img{
width:30%;
  margin-top: 20px;
}
.school-menu ul{
  float: none;
}
.school-menu li{
  width:100%;
}
.menu .navbar-default {
    background-color: transparent;
    border: medium none;
    margin: 7px 0 20px;
    min-height: inherit;;
}
.menu .navbar-default .navbar-nav > li > a {
    border-right: none;
    color: #b3b3b3;
    font-weight: bold;
    padding: 0 20px;
    text-transform: uppercase;
}
.menu .navbar-default .navbar-nav > li:last-child > a {
    border-right: none;
    //padding-right: 0px;
}

.navbar-collapse{
  position: absolute;
  top: 41px;
  width: 93%;
  background: #F3F3F3;
  z-index: 1000;
}
button.navbar-toggle
{
  position: relative;
}
.search-loction, .search-academy{
	width:100%;
	margin-right:0;
	margin-bottom:10px;
}
.logo {
margin: 10px;
max-width: 270px;
}
select.form-control.loction-control, select.form-control.academy-control{
	border-radius:5px;
	-moz-order-radius:5px;
	-webkit-border-radius:5px;
}
.academies {
text-align: center;
}
.white-logo,.languages{
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.school-menu li{
  width: 100%;
}
.banner-text {
margin-top: 25px;
margin-left: 25px;
max-height: 191px;
overflow-y: auto;
direction:ltr; 
}
.nav-tabs>li {   
    height: 40px;
	width: 100%;
}
.nav-tabs>li>a {
	padding:6px !important;
}
.nav-tabs>li:nth-child(5)>a, .nav-tabs>li:nth-child(7)>a{
		margin-top: 0px !important;
}
}

.school-menu ul {
  float: left;
   margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: none;
  padding: 0px;
  margin-bottom: 0px;
}
.school-menu ul li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding: 10px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #808080;
  margin-bottom: -1px;
  border-bottom: none;
  background: rgb(193,194,194); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(193,194,194,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(193,194,194,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(193,194,194,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(193,194,194,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(193,194,194,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(193,194,194,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c2c2', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 */

}
.menuSchool
{display:block;
 padding:0px !important;
}
.menuSchool li
{display:block;
 padding:0px !important;
}
.menuActive
{
visibility:visible!important;display:block !important;opacity:1 !important;
}
.red{
background: #cb091f !important;
color: #fff;
font-weight: bold;
border: none;
}
.dark-gary{
  background: #6c6969 !important;
color: #fff;
font-weight: bold;
border: none;
}
.school-menu ul li:hover {
  background: #cb091f;
 color: #fff;
}
.school-menu ul li ul {
  padding: 0;
  position: absolute;
  top: 40px;
  left: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 1000;  
}
.menuAcdSearch
{
      width: 280px;
}

li.light-gray{  
   background: rgba(201,194,199,0.8) !important;
  color: #fff;
  font-weight: bold;
  border: none;
}
li.light-gray:hover{
 background: #6c6969 !important;
  }
.school-menu ul li ul li { 

  display: block;
  border-radius: 0px; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  font-size: 12px;
  border-bottom: 1px solid #333;
}
.school-menu ul li ul li:nth-child(1) {
        background:rgba(209,9,31,0.95);
    }
    .school-menu ul li ul li:nth-child(2) {
        background:rgba(207,91,31,0.95);
    }
    .school-menu ul li ul li:nth-child(3) {
        background:rgba(211,147,36,0.95);
    }
    .school-menu ul li ul li:nth-child(4) {
        background:rgba(88,115,56,0.95);
    }
    .school-menu ul li ul li:nth-child(5) {
        background:rgba(51,92,130,0.95);
    }
    .school-menu ul li ul li:nth-child(6) {
        background:rgba(22,43,83,0.95);
    }
    .school-menu ul li ul li:nth-child(7) {
        background:rgba(178,75,148,0.95);
    }
.school-menu ul li ul li:hover { //background: #666; }
.school-menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.innerpage-content{
    margin-top: 20px;
}
.innerpage-content .container{
    max-width: 970px;
}
.search-section {
    margin-top: 20px;
}
.search-section>.nav{
    margin-bottom: -6px;
}
.nav-tabs>li {
    border-radius:10px 10px 0px 0px;
    padding: 5px;
    font-size: 11px;
    display: inline-block;
    float: none;
    margin: 0px;
    border: 1px solid #dbd9d8;
}
.nav-tabs>li>a {
    color: #fff !important;
    border: none;
    float: left;
    padding: 0px 5px;
    width: 83%;
    margin-right: 0px;
}

.nav-tabs>li>img{
   width: 20px;
   height: 20px;
   float: left;
   margin-top: 5px;
}
.nav-tabs>li>a:hover{
    color: #fff !important;
    background:none;
    border-color: none;
}
.nav-tabs>li:nth-child(1){
    background:#cb091f !important;
}
.nav-tabs>li:nth-child(2){
    background:#e06222 !important;
}
.nav-tabs>li:nth-child(3){
    background:#d39324 !important;
}
.nav-tabs>li:nth-child(4){
    background:#638039 !important;
}
.nav-tabs>li:nth-child(5){
    background:#4887c2 !important;
}
.nav-tabs>li:nth-child(5)>a{
    margin-top: 7px;
}
.nav-tabs>li:nth-child(6){
    background:#214080 !important;
}
.nav-tabs>li:nth-child(7){
    background:#a03381 !important;
}
.nav-tabs>li:nth-child(7)>a{
    margin-top: 7px;
}
nav-tabs>li>a:hover, .nav-tabs>li.active, .nav-tabs>li.active{
    
    height: 50px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background:none;
    border: none;
}
.logo-school-container{
    margin-top: 34px;
    max-width: 270px;
}
.top-right-icon>img{
    width: 155px;    
}
.center{
    text-align: center;
}
.school-logo img{
    max-width: 60%;
}
.school-banner h2{
    text-align: center;
    background:#e4e4e3;
    margin-top: 0px;
    padding: 10px;
	margin-bottom:0px;
}
.modal{

}
.modal-content{

}
.modal-content>.modal-header{
  background: #cb1c1e;
  text-align: center;
}
.modal-content>.modal-header>h4{
  color:#fff;
}
.text-center{
  text-align: center;
  font-size: 10px;
  color: #999;
}
.btn-submit{
  background-color: #cdcccb;
}
.gray-bg{
  background: #ccc !important;
}
.summary{
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #333;
  overflow: hidden;
}
.summary>.summary-content{
    min-height: 500px;
    padding-top: 30px;
    background: rgb(237,238,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(237,238,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,238,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeef2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.summary>.summary-header{
  background: #cdcccb;
  padding:10px;
  text-align: center;
}
.mr10{
  margin-right: 10px;
}
h2.transcation {
  margin: 156px auto;
  font-size: 50px;
}
.acadamic-icon img{
  width:20%;
  float: right;
}
.panel-title a span.redcolor{
  color:#cb091f !important;
  font-weight: bold;
}
.panel-title>span{
  position: absolute;
  left:23px;
}
.accordion-group .panel-default > .panel-heading{
  position: relative;
}
.accordion-group .panel-title > a>.glyphicon{
  position: absolute;
  left: -16px;
  top: 7px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body{
   background: rgb(237,238,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(237,238,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,238,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,238,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeef2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.panel-group .panel-heading+.panel-collapse>.panel-body .heading{
  border-bottom: 1px solid #ccc;
font-size: 16px;
margin-bottom: 10px;
color: #cb091f;
overflow: hidden;
}
.panel-group .panel-heading+.panel-collapse>.panel-body .heading h4{
  padding:0px;
  margin:0px;
}

ul.day-class{
  padding:0px;
  list-style: none;
  margin-bottom: 0px;
}
ul.day-class li{
  display: inline-block;
  font-size: 10px;
  background: #cb091f;
  color: #fff;
  padding:3px 6px;
  border-radius: 3px 3px 0px 0px;
}
    .google-maps {
        position: relative;
        padding-bottom: 45%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    /* --------------------------------- additional css style ----------------------------- */
     .progMsg_Show { 
            position:fixed; 
            top:30%; 
            left:33%; text-align:center;height:180px;
            padding:10px; 
            width:40%; 
            z-index:1001;  font-family: Verdana, Arial, Helvetica, sans-serif; 
              color:#555152;
  font-size: 17px;font-style:italic;
           background-color:#fff;border:1px solid  #a9bed8;
           
        }
   .progBgFilter_Show {
            position:fixed; 
             top:30%; 
            left:43%;bottom:0px; 
            
            right:0px;
            /**/ 
            /**/
            overflow:hidden; 
            padding:0; 
            margin:0; 
            background-color:#fff; 
            filter:alpha(opacity=10); 
            opacity:0.1; 
            z-index:1000; 
        }
   .navbar-user
   {
cursor:default;   }
 
 
  .AcademicHeaderbox{ margin:auto;padding:1.5em 5.5em !important;}
  .LangCss{background-color:#cb091f;}
  .EnhCss{background-color:#e8772c;}
  .SdtCss{background-color:#dda32e;}
  .ArtCss{background-color:#759049;}
  .LdrCss{background-color:#589ace;}
  .SportCss{background-color:#2b5492;}
  .SkillCss{background-color:#b24b94;}


 .Schoolbox{ margin:auto;padding:1.5em 5.5em !important;

}
 .ACYLinks
  {display:inline-block !important;
   color:#FFF !important;
text-decoration:none !important;
 }
 .ACYLinks:hover{
 color:#FFF !important;
text-decoration:none !important;
 }
 .masterheader{
/**/
  padding-bottom: 4px;
   position:absolute;
      width:100%;
      z-index:100;
}


 .BsuColDrop {
     min-width:300px;
      width: 100%;
      background-color:#fff;
      padding:0px;margin:0px;
   
}


#BsuDrop li:hover .BsuColDrop {
     visibility: visible; /* shows sub-menu */
    opacity: 1;
 -moz-box-shadow: 0 0 10px 1px #dbdbdb;
-webkit-box-shadow: 0 0 10px 1px #dbdbdb;
box-shadow: 0 0 10px 1px #dbdbdb; 
}

#BsuDrop li:hover  a.active {

      color: #fff;
      background-color: #459cfe; }



.BsuColDrop .BoxActive{
    visibility: visible; /* shows sub-menu */
    opacity: 1;
}

.divBsuCol {

          -webkit-columns: 2 280px;
  -moz-columns: 2 280px;
  columns: 2 280px;
  -webkit-column-gap: 0.125em;
  -moz-column-gap: 0.125em;
  column-gap: 0.125em;
   margin: 1em auto 1em;


}
.divBsuColSolid
{ /*-webkit-column-rule-style: solid;
  -moz-column-rule-style: solid;
  column-rule-style: solid;*/


}

.divBsuTitleLink {
    display: block;
    text-align: left;
   width: 280px !important;
  
    font: 10px "Roboto", Helvetica, sans-serif !important;
    color: #616161 !important;
    font-weight: normal !important;
    padding: 3px 0px 6px 3px;
    vertical-align: middle !important;
    text-decoration: none !important;
   -moz-box-sizing:    border-box;  
   -webkit-box-sizing: border-box;   
    box-sizing:        border-box;   
    text-shadow:none !important;
   margin: 0px 0px 3px 3px;
  
    
}

      .divBsuTitleLink:hover {
        
         color: #4194f1 !important;
    
    }



.BsuNoColDrop {
    font-size: 12px;
    font-weight: normal;
     padding: 8px 0px 8px 14px;
    margin: 10px 0px 10px 0px;
    color: #d82133;
}

.divBsuScroll {
 
    border: 0px none;
    padding: 1px 0px 1px 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    /*width: 1004px;*/
     min-height:80px;
}

.divBsuScrollInside {
     display: block;
    margin-top: 0px;
       background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 280px;
    /*width: 1024px;*/
    text-align: left;
     min-height:120px;
}
 

.DisplaySearchCss {
       color: #fff;padding:14px 4px ;font-size:14px;
      margin:-5px;
          text-decoration: none;
 
     background-color:#459dff;
  background: -moz-linear-gradient(top,  #459dff 0%, #3c87dc 100%, #459dff 100%, #3c87dc 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#459dff), color-stop(100%,#3c87dc), color-stop(100%,#459dff), color-stop(100%,#3c87dc));
	background:  -webkit-linear-gradient(top,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	background: -o-linear-gradient(top,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	background:  -ms-linear-gradient(top,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	background: linear-gradient(to bottom,  #459dff 0%,#3c87dc 100%,#459dff 100%,#3c87dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459dff', endColorstr='#3c87dc',GradientType=0 );
}

.school-search {
    width: 100%;
    margin:0px;
   padding:3px 4px 2px 2px;
   
}
.school-input {
    border: 2px solid #b9bbbb;
    display:inline!important;
    padding-left: 20px;
    padding-right: 22px;
	margin:0px;
}
input.form-control.school-input::-moz-placeholder {
    color: #d9d5d5;
}


.school-input{
   display:inline !important;
width:70% !important;margin-top:2px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.school-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.school-input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.school-input:-ms-input-placeholder {
    color: #777;
}

.school-input::-webkit-input-placeholder {
    color: #777;
}
.btn-Search
{
    background-color:#cdcccb;
}

.btn-courses .glyphicon.glyphicon-search {
    font-size: 12px;
}
.search-loction {
    width: 180px;
	margin-right: 10px;
}
.CourseTitle
{
border-bottom: 1px solid #ccc;
}
.termTitle
{
     border-bottom: 1px solid #ccc;
font-size: 14px;
margin-bottom: 10px;
color: #cb091f;
overflow: hidden;
}
.Cost
{
     
font-size: 12px;
margin-bottom: 10px;
color: #cb091f;
overflow: hidden;
font-weight:bold;
}
.termDetail
{
font-size: 12px;margin:4px 0px 4px 0px;
}
/*.accordion-toggle{
    text-decoration:none !important;
    
}*/
.menuRed
{
    color:blue !important;
}
 .white > li > a {
    /*border-right: 1px solid #b3b3b3;*/
    border-right: 1px solid #fff  !important;
    color:#fff  !important;
  padding-right:20px !important;
}
 .gray > li > a {
    /*border-right: 1px solid #b3b3b3;*/
    border-right: 1px solid #5e5e5e !important;
    color:#5e5e5e  !important;
  padding-right:20px !important;
}
 .tabLink
 {display:block !important;
  
     text-decoration:none !important;
     color:#737373 !important;
 }
 .tabLink:hover{
      text-decoration:none !important;
     color:#fff !important;
 }
 .tabLinkActive
 {
 	display:block !important;
      text-decoration:none !important;
     color:#fff !important;
      background: #cb091f;
 }
 .errValidator
{
  color:#FE4365; font-size: 12px;font-weight:normal;
}
 .formControl-Inline
 {display:inline !important;
  width:96% !important;

 }

   .cart {
	position: relative;
	top:-3px;
	font-size: 1.1em;
    font-weight:bold;
    /*border:1px solid #808080;*/
   
 text-align:center;
    margin-left:5px;
   
 -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
-o-animation-duration:1.2s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
   -moz-animation-fill-mode: both;
-o-animation-fill-mode: both;

    -webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
   
}
.divContainer
{
height:100%;overflow-y:auto;overflow-x:hidden;padding-left:4px;padding-right:4px;
}
 
   .darkPanelM {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    background: url(../Images/dark.png) 0 0 !important;
    display: block;
    z-index: 10000;
}


.darkPanelMTop {
    height: 280px;
    background-color: #f0f0f0;
    border: 1px solid #0092d7;
    margin: 100px auto 0px auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px 0px;
    width: 600px;
}

.holderInner {
    overflow: hidden;
}

.holderInner {
    width: 585px;
    height: 239px;
    border: solid 1px #ccc;
    border-collapse: collapse;
    margin: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    padding-top: 12px;
    text-align: left;
}

.griditem	
{	
	/*font-family:Helvetica, Verdana, Arial,  sans-serif; 
	font-size: 12px; color:#33335C ; 
	background-color:#ffffff; 
	text-align:left;*/
       font-weight: normal;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
   line-height:20px !important;box-sizing:border-box;
   padding-left:4px;
    border-collapse: collapse;

    background-color: #fff;
	
}
.griditem tr:hover{
 background: #c0f0fc;
        background: -moz-linear-gradient(top, #c0f0fc 0%, #86dff5 100%, #c0f0fc 100%, #86dff5 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0f0fc), color-stop(100%,#86dff5), color-stop(100%,#c0f0fc), color-stop(100%,#86dff5));
            background:  -webkit-linear-gradient(top, #c0f0fc 0%,#86dff5 100%,#c0f0fc 100%,#86dff5 100%);
            background: -o-linear-gradient(top, #c0f0fc 0%,#86dff5 100%,#c0f0fc 100%,#86dff5 100%);
            background:  -ms-linear-gradient(top, #c0f0fc 0%,#86dff5 100%,#c0f0fc 100%,#86dff5 100%);
            background: linear-gradient(to bottom, #c0f0fc 0%,#86dff5 100%,#c0f0fc 100%,#86dff5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0f0fc', endColorstr='#86dff5',GradientType=0 );
}
.griditem td{ font-size:12px;
    border-top:1px solid #D0D7E5  !important;
   border-left:1px solid #D0D7E5 !important;
    border-right:1px solid #D0D7E5 !important;
    padding-left:12px !important;height:20px !important;line-height:20px !important;box-sizing:border-box;
}


.griditem td:first-child
{
     border-left:1px solid #d4e8fc !important;


}
.griditem td:last-child
{
     border-right:1px solid #d4e8fc !important;

}


.griditem_alternative 
{
	height:18px !important;line-height:18px !important;box-sizing:border-box;
    border: 1px solid #aabec9 !important;
     font-size:12px;
      background-color: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%, #ffffff 100%, #f7f7f7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7), color-stop(100%,#ffffff), color-stop(100%,#f7f7f7));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%,#ffffff 100%,#f7f7f7 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%,#ffffff 100%,#f7f7f7 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%,#ffffff 100%,#f7f7f7 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%,#ffffff 100%,#f7f7f7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
}


.griditem_alternative td{
      border-top:1px solid #D0D7E5  !important;
     border-left:1px solid #D0D7E5 !important;
    border-right:1px solid #D0D7E5 !important;   font-size:12px;
  padding-left:12px !important;height:20px !important;line-height:20px !important;box-sizing:border-box;
}

.griditem_alternative td:first-child
{
     border-left:1px solid #d4e8fc !important;

}
.griditem_alternative td:last-child
{
     border-right:1px solid #d4e8fc !important;

}


.gridheader_new 
{
	   height:20px !important;line-height:20px !important;box-sizing:border-box !important;text-align: center !important;
        color: #04558b;
            border: 1px solid #d4e8fc;
            border-bottom:2px solid #88e3f8;
          font-size: 13px;
      background-color: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #dfebf8 100%, #ffffff 100%, #dfebf8 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfebf8), color-stop(100%,#ffffff), color-stop(100%,#dfebf8));
        background: -webkit-linear-gradient(top, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfebf8',GradientType=0 );

 
}
tr.gridheader_new:hover{
  background-color: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #dfebf8 100%, #ffffff 100%, #dfebf8 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfebf8), color-stop(100%,#ffffff), color-stop(100%,#dfebf8));
        background: -webkit-linear-gradient(top, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#dfebf8 100%,#ffffff 100%,#dfebf8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfebf8',GradientType=0 );

}

.gridheader_new>th{
    border:1px solid #d4e8fc !important; height:20px !important;line-height:20px !important;box-sizing:border-box !important;text-align: center !important;
    padding:10px 0px 10px 0px;
    }

.gridheader_new>th:first-child
{
    /*border:1px solid #d4e8fc !important;*/
       -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;

}
.gridheader_new>th:last-child
{
 /*border:1px solid #d4e8fc !important;*/
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;

}
 .LatePass {
	position: relative;
	top:-3px;
	font-size: 1.1em;
    font-weight:bold;
   border:1px solid #808080;
   
 text-align:center;
    margin-left:5px;
   
 -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
-o-animation-duration:1.2s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
   -moz-animation-fill-mode: both;
-o-animation-fill-mode: both;

    -webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
   
}
.Latespan
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: black;
 
font-size:12px;
	}
	
	
.box h3{
	text-align:center;
	position:relative;
	top:80px;
}
.box {
	width:70%;
	height:200px;
	background:#FFF;
	margin:40px auto;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}	


 @-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.2);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.2);
	}
	
	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}
	
	70% {
		-moz-transform: scale(.9);
	}
	
	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.2);
	}
	
	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}
	
	70% {
		-o-transform: scale(.9);
	}
	
	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.2);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}
