﻿@charset "utf-8";
/* CSS Document */ 
html {
height:100%;
}


       

img,a,li,ol,ul    { border:0px; text-decoration:none;}
.clear            { clear:both;}
.wrapper { margin:0 auto; width:990px; position:relative;}

	.Allbutton
	{background: url('../images/Common/PageBody/buttonArrow.png')
	 
	}
	.buttons
	{padding:0 8px 0px 8px; text-align:center; line-height:26px; height:26px; 
	 border:1px solid #ccc; font-weight:bold; font-size:11px; color:#666;
    margin: 5px 0px 0px 3px;
     cursor:pointer;
	}
	
 
            
            
            .diverror
{display:block;
	border: 1px solid #ccc;	 text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                  letter-spacing:1px;font-weight:600;
                  width:966px;
                      background-position: 5px center;
  background:#ffc7c7 url(../images/Common/PageBody/error_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;        }


.divvalid{display:block;border: 1px solid #ccc;	 text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
         letter-spacing:1px;font-weight:600;  width:966px;
 background-position: 5px center;
  background:#d1ff83 url(../images/Common/PageBody/success_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
}  
.divnote{display:block;
border: 1px solid  #ccc;background-color:#fff8da; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 10px; font-weight: normal; color: #2e2e2e;padding:3pt;
                 letter-spacing:1px;font-weight:600;  width:966px;
                 
                 }

.divinfo
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:966px;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
       
}

.divinfoPopUp
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:96.5%;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
       
}

.divinfoInner
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:966px;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;text-align:justify;           
       
}


.validationsummary {
	border: 1px solid #ccc;
	padding: 0px 0px 5px 7px;/*top right botton left */
	font-size:11px;
	width:100%;
	text-align:left;
	background-color:#feffb3;
	  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
}
.validationheader {
	left: 10px;
	font-size: 11px;
	font-weight: bold;
	height:20px;
   padding-top  :6px;
   padding-left:10px;
	text-align:left;
}
.validationsummary ul 
{
	margin: 0;
 padding: 0;
 margin-left: 30px;
	padding-top: 5px;
	padding-left: 45px;
	list-style:round;
	  font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 10px;font-weight:bold;
	text-align:left;letter-spacing:1px;
}
.validationsummary ul li {
	padding: 1px 0px 1px 2px;
		background-position:0px 3px;
	background-repeat:no-repeat;
}
.watermarked
{color:#666; font-size:11px; font-family:Verdana,segoe ui, arial, sans-serif;
}
.modalBackground {
	background-color:Gray;filter:alpha(opacity=90);	opacity:0.9;
}

.modalPopup {
	background-color:#FFFFFF;
	border: 1px solid #ccc;
	padding:3px;

} 
.viewdetails  
{display:inline ! important;float:right;clear:left;
	color:#056687 !important;
	font-weight:bold !important;
	font-size:9px ! important;
}
.gridMsgDetail
{text-align:justify; background-color: #ffffff;
 border: solid 1px #aabec9; color: #000000;width: 500px;
 height:auto;
                     
}
.girdpoplbl
{display:inline  ! important;float:left;clear:right;
}
   
  
.tdPadDiv
{padding-top:10px;
 padding-bottom:1px;
}
.tdfields
{font-weight:normal;font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666;
}
.innerTitletd
{
    color:#056687; font-size:10pt;padding-bottom:12px;
}
.checkboxInner
{ font-weight:bold;margin:-2px 0 0 3px;
   color:#056687;padding-left:3px;
  vertical-align:middle;}
  
  .checkbox label 
{ 
vertical-align: middle;    
} 
 


.customCalloutStyle div, .customCalloutStyle td{
 border: solid 1px Black !important;
 background-color:Gray !important;
 color:White !important;
 }
 .customCalloutStyle .ajax__validatorcallout_popup_table{
 display: none !important;
 border: none !important;
 background-color: transparent !important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_popup_table_row{
 vertical-align: top !important;
 height: 100% !important;
 background-color: transparent!important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_cell{
 width: 20px !important;
 height: 100% !important;
 text-align: right!important;
 vertical-align: top !important;
 border: none !important;
 background-color: transparent !important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_table{
 height: 100% !important;
 border: none !important;
 background-color: transparent;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_table_row{
 background-color: transparent!important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_arrow_cell
 {
 padding: 8px 0px 0px 0px !important;
 text-align: right!important;
 vertical-align: top !important;
 font-size: 1px !important;
 border: none !important;
 background-color: transparent !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv{
 font-size: 1px;
 position: relative;
 left: 1px;
 border-bottom: none;
 border-right: none;
 border-left: none;
 width: 15px;
 background-color: transparent;
 padding: 0px;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div{
 height: 1px !important;
 overflow: hidden !important;
 border-top: none !important;
 border-bottom: none;
 border-right: none;
 padding: 0px;
 margin-left: auto;
 }
 .customCalloutStyle .ajax__validatorcallout_error_message_cell
 {
 font-family: Tahoma;
 font-size: 11px;
 padding: 5px;
 border-right: none;
 border-left: none;
 width: 100%;
 }
 .customCalloutStyle .ajax__validatorcallout_icon_cell{
 width: 20px;
 padding: 5px;
 border-right: none;
 }
 .customCalloutStyle .ajax__validatorcallout_close_button_cell{
 vertical-align: top;
 padding: 0px;
 text-align: right;
 border-left: none;
 }
 .customCalloutStyle .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv{
 border: none;
 text-align: center;
 width: 10px;
 padding: 1px;
 cursor: pointer;
 }
 .tdPaidColor
 {
     font-family:Verdana, Arial, Helvetica, sans-serif;
     border-top:solid 1px #ccc !important;
     border-left:solid 1px #ccc !important;
     border-right:solid 1px #ccc !important;
     background-color:#e6effc;color:Black !important;
 }
  .remark_info
{
font-family:Verdana; font-size:11px;color:#666;font-weight:bold; clear:both;	
}

.multipleText { width:550px !important; height:50px !important;color:#666;
	 border:1px solid #ccc;font-family:Verdana; font-size:11px;
	
	}
.multipleTextsmall {  width:245px !important; height:150px !important; margin-right:10px;}
.trSub_Header 
{
	border:none !important;
  background:url('../images/Common/PageBody/inbxBg.png')  0 0 repeat-x; 
color:#084777; font-weight:200;
 padding-top:14px;
  padding-bottom:14px;font-size:11pt;font-family:Verdana, Arial, Helvetica, sans-serif;
 }
 
.BlueTable_simple 
{ background-color:#63c7f7;

} 


.trHeader 
{border:none !important;
  background:url('../images/Common/PageBody/inbxBg.png')  0 0 repeat-x; 
color:#2195df;
font-weight:bold; padding-top:14px; padding-bottom:14px;font-size:9pt;
 }
.tdfieldsHome
{margin-top:3px;padding-top:4px;
	font-weight:bold;font-size:10px;
}
.tdfieldsHomeValue
{margin-top:3px;padding-top:4px;
	font-weight:normal;font-size:11px;
}
table.tableNoborder 
{border:none 0px !important;
}

table.tableNoborder tr
{border:none 0px !important;
}
table.tableNoborder tr:hover 
{ background-color:Transparent !important;}

table.tableNoborder td
{border:none 0px !important;
}

.remark
{
font-family:Verdana; font-size:0.9em;color:#666;	
}
 
.tdblankTop
{border-right-style:none !important;border-right-width:0px !important;
 border-left-style:none !important;border-left-width:0px !important;
 border-top-style:none !important; border-top-width:0px !important;

}
.tdblankAll

{border:none !important;border-style:none !important; margin-top:-1px;background-color:Transparent !important;
	
}
.tdblankall_small

{border:none !important;
	background-color:Transparent !important;margin:0px !important; height:4px !important;
	
}
.mainheading 
{color:#003a63;
font-size:24pt;font-family: verdana,Arial, Helvetica, sans-serif;
font-weight:lighter;
letter-spacing:1px;
border-bottom:2px solid #ffffff !important;
padding-bottom:25px !important;
padding-top:0px !important;
	 }
	 
	 body { height:100%;margin:0;background-color:#63c7f7;}
      
      .headerMainCell
      {border-right:solid 2px #fff !important;padding-left:8px !important;
		padding-right:8px !important;font-family: verdana,Arial, Helvetica, sans-serif;
		font-size:10px;color:#fff;text-align:center;
	vertical-align:middle;font-family:Verdana; 
	background-color:#003a63;font-weight:bold;height:45px;
      }
      .header    { float:left; background:url('../Images/Common/Pagebody/header1.png') no-repeat 0 0; 
		width:990px; height:130px;
		 overflow:hidden; margin-bottom:1px; position:relative;}

      /**************************** footer *********************************/
.footer     
{font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:  #003a63;
	height:35px;
	vertical-align:middle;
	margin-top:15px;
	}
.footer .in { width:950px; height:40px; border-top:solid 2px #FFFFFF; margin:0 auto;
	 padding-top:20px;}
/**************************** footer Ends*****************************/

 .trStyleOdd
 {background-color:#f4f4f4;
	font-family: verdana,Arial, Helvetica, sans-serif;
		font-size:11px;color:#000;height:30px;
 }
 .trStyleOdd_Arabic
 {background-color:#f4f4f4;
	font-family: verdana,Arial, Helvetica, sans-serif;
		font-size:18px;color:#000;height:30px;
 }
 
 .trStyleEven
 {background-color:#fff;
	font-family: verdana,Arial, Helvetica, sans-serif;
		font-size:11px;color:#000;height:30px;
 }
  .trStyleEven_Arabic
 {background-color:#fff;
	font-family: verdana,Arial, Helvetica, sans-serif;
		font-size:18px;color:#000;height:30px;
 }
 .titleText
 {padding-top:14px;
	font-family: verdana,Arial, Helvetica, sans-serif;
		font-size:13px;color:#fff;padding-bottom:14px;
		line-height:20px;
 }
 .chkLabel
 {padding-left:10px;
 }
 /*
 #Chk123 
 {height:25px;width:25px;
background-color: #fafafa;
	border: 1px solid #cacece;
		padding: 9px;
	display: inline-block;
	position: relative;
}
#Chk123 .input[type=checkbox] { 
     border: 0 !important;
     background-color: #fafafa;

} 
*/


#Chk123 {
	width: 25px;
	height: 28px;
	padding-bottom: 5px;
	}
