﻿.darkPanelM_Show {
    position: fixed;
    left: 0px;
    top: 0px;
    background: url('../Images/dark.png') 0 0 !important;
    display: block;
    min-width: 100%;
    min-height: 100%;
    z-index: 2000;
}

.darkPanelM {
    position: fixed;
    left: 0%;
    top: 0%;
    background: url('../Images/dark.png') 0 0 !important;
    min-width: 100%;
    min-height: 100%;
    z-index: 2000;
}

.trSub_Header {
    border: 2pt !important;
    background: url( '../900501/Images/bgmain.jpg' ) 0 0 repeat-x;
    color: rgba(6,6,6, 0.7);
    font-weight: bold !important;
    padding-top: 25px;
    padding-bottom: 14px;
    font-size: 11pt;
    letter-spacing: 2px;
    height: 50px;
}

.darkPanelMTop {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid rgba(6,6,6, 0.4);
    margin: 50px auto 0px auto; /*top, right, bottom and left */
    z-index: 2000;
    padding: 0px 0px 0px 0px;
    -webkit-box-shadow: 0 15px 10px rgba(6,6,6, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(6,6,6, 0.7);
    box-shadow: 0 15px 10px rgba(6,6,6, 0.7);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    width: 550px;
    height: 480px;
}

.darkPanelIETop {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #0092d7;
    margin: 50px auto 0px auto; /*top, right, bottom and left */
    z-index: 2000;
    padding: 0px 0px 0px 0px;
    -webkit-box-shadow: 0 15px 10px rgba(6,6,6, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(6,6,6, 0.7);
    box-shadow: 0 15px 10px rgba(6,6,6, 0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    width: 590px;
    height: 480px;
}

.darkPanelMCenter {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 35%;
    text-align: center;
    width: 400px;
    height: 150px;
    border: 1px solid #0092d7;
    background-color: #f0f0f0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.holderInner {
    overflow: hidden;
}

.holderInner {
    width: 535px;
    height: 437px;
    border: solid 2px rgba(6,6,6, 0.7);
    border-collapse: collapse;
    margin: 6px 6px 6px 6px;
    background-color: #FFFFFF;
    text-align: left;
}


.darkPanelFooter {
    padding: 1px 0px 0px 1px;
    margin: 0px; /*top, right, bottom and left */
    width: 99.9%;
    height: 27px;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    color: #fff;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #0092d7;
    background: #75a9d1;
    background: -moz-linear-gradient(top, #75a9d1 0%, #4372b0 98%, #75a9d1 99%, #4372b0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a9d1), color-stop(98%,#4372b0), color-stop(99%,#75a9d1), color-stop(100%,#4372b0));
    background: -webkit-linear-gradient(top, #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
    background: -o-linear-gradient(top, #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
    background: -ms-linear-gradient(top, #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
    background: linear-gradient(to bottom, #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', endColorstr='#4372b0',GradientType=0 );
}

.TitlePl {
    position: relative;
    float: left;
    padding-left: 6px;
    margin-top: 5px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}

.closelbtnPl {
    position: relative;
    float: right;
    padding-right: 4px;
    margin-top: 2px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0px none;
    color: #a6c4dd;
    text-shadow: 0px 2px 3px #555;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    /*color: #a6c4dd;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 
            0px 3px 0px #777, 
            0px 4px 0px #666, 
            0px 5px 0px #555, 
            0px 6px 0px #444,
             0px 7px 0px #333,
             0px 8px 7px #001135;*/
    /*text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);*/
}

    .closelbtnPl:hover {
        color: #fff;
        border: 0px none;
    }

.taxamtmessage {
    display: block;
    border: 1px solid #ccc;
    text-align: left;
    font-family: segoe ui, verdana, arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #a85219;
    letter-spacing: 1px;
    font-weight: 600;
    width: 50%;
    background-position: 5px center;
    background: #feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px;
    padding-left: 22px;
    padding-top: 3pt;
    padding-bottom: 3pt;
}

.divinfoPopUp {
    display: block;
    margin: 5px 3px 2px 3px;
    border: 1px solid #f2fb00;
    border-collapse: collapse;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 17px;
    font-size: 12px;
    font-weight: normal;
    color: #2e2e2e;
    width: 95%;
    background-position: 5px center;
    padding-left: 20px;
    padding-top: 2pt;
    padding-bottom: 2pt;
    -webkit-box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    -moz-box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    background: #feffb3 url(../images/common/info_s.png) no-repeat 2px 3px;
    background: url(../images/common/info_s.png) no-repeat 2px 3px;
    background: url(../images/common/info_s.png) no-repeat 2px 3px,-moz-linear-gradient(top, #feffb3 0%, #fdff8a 98%, #feffb3 99%, #fdff8a 100%);
    background: url(../images/common/info_s.png) no-repeat 2px 3px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffb3), color-stop(98%,#fdff8a), color-stop(99%,#feffb3), color-stop(100%,#fdff8a));
    background: url(../images/common/info_s.png) no-repeat 2px 3px, -webkit-linear-gradient(top, #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
    background: url(../images/common/info_s.png) no-repeat 2px 3px,-o-linear-gradient(top, #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
    background: url(../images/common/info_s.png) no-repeat 2px 3px, -ms-linear-gradient(top, #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
    background: url(../images/common/info_s.png) no-repeat 2px 3px,linear-gradient(to bottom, #feffb3 0%,#fdff8a 98%,#feffb3 99%,#fdff8a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffb3', endColorstr='#fdff8a',GradientType=0 );
}

.diverrorPopUp {
    position: relative;
    z-index: 3000;
    display: block;
    margin: 2px;
    border: 1px solid #fb9393;
    border-collapse: collapse;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 17px;
    font-size: 12px;
    font-weight: 600;
    color: #2e2e2e;
    width: 95%;
    background-position: 5px center;
    padding-left: 21px;
    padding-top: 2pt;
    padding-bottom: 2pt;
    -webkit-box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    -moz-box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    background: #febbbc;
    background: url(../images/common/error_s.png) no-repeat 2px 3px;
    background: url(../images/common/error_s.png) no-repeat 2px 3px,-moz-linear-gradient(top, #febbbc 0%, #fe7a7a 98%, #febbbc 99%, #fe7a7a 100%);
    background: url(../images/common/error_s.png) no-repeat 2px 3px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbc), color-stop(98%,#fe7a7a), color-stop(99%,#febbbc), color-stop(100%,#fe7a7a));
    background: url(../images/common/error_s.png) no-repeat 2px 3px, -webkit-linear-gradient(top, #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
    background: url(../images/common/error_s.png) no-repeat 2px 3px,-o-linear-gradient(top, #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
    background: url(../images/common/error_s.png) no-repeat 2px 3px, -ms-linear-gradient(top, #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
    background: url(../images/common/error_s.png) no-repeat 2px 3px,linear-gradient(to bottom, #febbbc 0%,#fe7a7a 98%,#febbbc 99%,#fe7a7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbc', endColorstr='#fe7a7a',GradientType=0 );
}

.divvalidPopUp {
    display: block;
    margin: 2px;
    border: 1px solid #b1db41;
    text-align: left;
    font-size: 12px;
    color: #2e2e2e;
    font-weight: 600;
    width: 95%;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 17px;
    background-position: 5px center;
    background: #d1ff83;
    background: url(../images/common/success_s.png) no-repeat 2px 3px;
    padding-left: 21px;
    padding-top: 2pt;
    padding-bottom: 2pt;
    -webkit-box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    -moz-box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    box-shadow: 0 3px 1px rgba(6,6,6, 0.4);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    background: url(../images/common/success_s.png) no-repeat 2px 3px,-moz-linear-gradient(top, #d1fc72 0%, #ccea89 98%, #d1fc72 99%, #ccea89 100%);
    background: url(../images/common/success_s.png) no-repeat 2px 3px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1fc72), color-stop(98%,#ccea89), color-stop(99%,#d1fc72), color-stop(100%,#ccea89));
    background: url(../images/common/success_s.png) no-repeat 2px 3px, -webkit-linear-gradient(top, #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
    background: url(../images/common/success_s.png) no-repeat 2px 3px,-o-linear-gradient(top, #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
    background: url(../images/common/success_s.png) no-repeat 2px 3px, -ms-linear-gradient(top, #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
    background: url(../images/common/success_s.png) no-repeat 2px 3px,linear-gradient(to bottom, #d1fc72 0%,#ccea89 98%,#d1fc72 99%,#ccea89 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1fc72', endColorstr='#ccea89',GradientType=0 );
}

.anim {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(05);
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.5);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        -o-transform: scale(.5);
    }

    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
