﻿.ProfBoxScroll
{float:left;

 border:0px none;
padding-left:0px;padding-right:0px;padding-top:1px;padding-bottom:1px;margin-left:0px;margin-right:0px;
overflow:hidden; 
}
.ProfBoxScrollInside
{   overflow:scroll;
}
.ProfBoxFrame_Remarks
{
float:left;margin-left:0px;

 border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;
                   border-bottom:1px solid #e6e6e6;  
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	  
}

.ProfBoxInsideLeft_Title
{
 /* This protects the inner element from being blurred */
    padding:3px 1px 3px 1px; /*top, right, bottom and left */  
  	margin-left:10px;margin-right:5px;
    height:23px;
	border-bottom:1px solid #dddddb; 
text-align:left;font-size:12px;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    /*-moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;*/	
       
	/*background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), 

color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', 

endColorstr='#f0f0f0',GradientType=0 );*/
}
.ProfBoxFrame_Title {
      /*top, right, bottom and left */  
  	
    height:30px;border-bottom:2px solid #b9b9b9;
	color:#317abf;
                     -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;
                   
text-align:left;font-size:12px;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   
       background-color:#fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop

(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
	background:  -webkit-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background:  -ms-linear-gradient(top,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', 

endColorstr='#e9e9e9',GradientType=0 );
}
.ProfFrameTitle
{margin-left:5px;margin-top:9px;float:left;
   vertical-align:middle;
color:#1d4070;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;}
.ProfLeft_Title
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 6px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px;
}

.spImgBox
{display:inline;padding:0px;margin-right:3px;margin-left:-1px;float:left;margin-top:-4px;
 /*border-top:1px solid #b9b9b9;border-left:1px solid #b9b9b9;border-right:1px solid #b9b9b9;*/

}

.ProfLeft_Title_Prof
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
   /* background: transparent url(../Images/Profile/Profile.png) no-repeat 4px 4px;   left top*/
}
.ProfLeft_Title_AtComp
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
    /*background: transparent url(../Images/Profile/myComp.png) no-repeat 4px 4px;   left top*/
}

.ProfLeft_Title_Leave
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
    /*background: transparent url(../Images/Profile/Leave.png) no-repeat 4px 4px;   left top*/
}

.ProfLeft_Title_Qual
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
   /* background: transparent url(../Images/Profile/Qual.png) no-repeat 4px 4px;   left top*/
}

.ProfLeft_Title_Depd
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
    /* background: transparent url(../Images/Profile/Depd.png) no-repeat 4px 4px;  left top*/
}
.ProfLeft_Title_Comp
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
     /*background: transparent url(../Images/Profile/Comp.png) no-repeat 4px 4px;  left top*/
}
.ProfLeft_Title_Comm
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 0px;font-size:18px;
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 
 color:#009ee2;letter-spacing:1px; 
    /*background: transparent url(../Images/Profile/comm.png) no-repeat 4px 4px;   left top*/
}

.spanRight_Titleimg
{
display:inline !important;
}

.ProfRight_TitleLink
{
    float: right;padding-right:10px;
}
.ProfRight_Titleimg
{
padding:3px 4px 0px 3px;cursor:pointer;
}
.ProfDisplayText
{/*font-family:Bitter !important;*/
 font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 font-size:13px;
text-align:justify;line-height:20px;min-height:380px;
    white-space:pre-wrap;overflow: hidden; color:#262626;   /*color:#36393B;*/ 
    padding-left:10px;padding-right:20px;padding-top:3px;width:97%;
}
.ProfDisplayText_Multiline
{/*font-family:Bitter !important;*/
 font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 font-size:13px;
text-align:justify;line-height:20px;
    white-space:pre-wrap; color:#262626;
    Width:560px !important; Height:395px !important;
    resize: none;border:1px solid #dddddb;
    margin:3px 0px 3px 6px;
}


.ProfDisplayLbl
{text-align:justify;font-size:13px;padding-top:3px;
    white-space:pre-wrap;
    /*color: #BAB9BE;*/
	
	/*font-family:Open sans !important;*/
    font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    /*color: #949494;*/
color: #737373;
}

.ProfDisplayVal
{font-family:Helvetica,Andale Mono,Sans-Serif,sans;
 /*font-family:Bitter !important;*/
 text-align:justify;font-size:12px;
    white-space:pre-wrap; color:#262626;
}
.divbuttonbox
{
    width:98%;text-align:right;border-top:1px solid #dddddb;float:left;margin-left:14px;padding-top:2px;
}
.profContentBox
{
Width:560px;align-items:center;padding:0px 6px 0px 6px;
}
.buttonEdit {
    margin-right: 3px;
    margin-left: 3px;
    padding-left: 22px;
    padding-right: 20px;
    background: transparent url(../Images/common/editBtn.png) no-repeat 4px 5px; /*  left top*/
    background-color: #fff;
    color: #7b7b7b;
    letter-spacing: 1px;
    border: 1px solid #c3c3c3;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

    .buttonEdit:hover {
        border: 1px solid #fff;
        background-color: #85b9ff;
        color: #fff;
    }
.Prof_calCss
{
  border-collapse: collapse;
    color: #b9b9b9;padding-top:0px;
}
.Prof_calWeekendStyle {
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
   font-family: 'helvetica';
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    color: #000;
    font-family: Helvetica, sans-serif;
          /*background: #A8C4A2;
        background: -moz-linear-gradient(top, #A8C4A2 0%, #98b292 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8C4A2), color-stop

(100%,#98b292));
        background: -webkit-linear-gradient(top, #A8C4A2 0%,#98b292 100%);
        background: -o-linear-gradient(top, #A8C4A2 0%,#98b292 100%);
        background: -ms-linear-gradient(top, #A8C4A2 0%,#98b292 100%);
        background: linear-gradient(to bottom, #A8C4A2 0%,#98b292 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A8C4A2', 

endColorstr='#98b292',GradientType=0 );*/
            background: #d4d3d3;
        background: -moz-linear-gradient(top, #d4d3d3 0%, #c4c3c3 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d3d3), color-stop(100%,#c4c3c3));
        background: -webkit-linear-gradient(top, #d4d3d3 0%,#c4c3c3 100%);
        background: -o-linear-gradient(top, #d4d3d3 0%,#c4c3c3 100%);
        background: -ms-linear-gradient(top, #d4d3d3 0%,#c4c3c3 100%);
        background: linear-gradient(to bottom, #d4d3d3 0%,#c4c3c3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d3d3', 

endColorstr='#c4c3c3',GradientType=0 );
}
.Prof_calWeekendStyle a
{
    text-decoration: none;
}
.Prof_calDayStyle {
    border: 1px solid #e6e6e6;
    height: 10px;
    width: 10px;
    font-family: 'helvetica';
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    color: #000;
     background: #ffffff;
/*background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), 

color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', 

endColorstr='#f0f0f0',GradientType=0 );*/
}

.Prof_calDayStyle a
{
text-decoration: none;
}
    .Prof_calDayStyle:hover {
        color: #000 !important;
        background: #e7fd7e;
        background: -moz-linear-gradient(top, #e7fd7e 0%, #e0fb5e 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7fd7e), color-stop(100%,#e0fb5e));
        background: -webkit-linear-gradient(top, #e7fd7e 0%,#e0fb5e 100%);
        background: -o-linear-gradient(top, #e7fd7e 0%,#e0fb5e 100%);
        background: -ms-linear-gradient(top, #e7fd7e 0%,#e0fb5e 100%);
        background: linear-gradient(to bottom, #e7fd7e 0%,#e0fb5e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7fd7e', 

endColorstr='#e0fb5e',GradientType=0 );
    }


.Prof_calWeekTitle {
    text-align: center;
    color: #fff;
    font-weight: normal;
    border: 0px none;
    font-size: 10px;
    height: 14px;
    font-family: 'helvetica';
    background: #75a9d1;
    background: -moz-linear-gradient(top, #75a9d1 0%, #4372b0 100%, #75a9d1 100%, #4372b0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a9d1), color-stop(100%,#4372b0), 

color-stop(100%,#75a9d1), color-stop(100%,#4372b0));
    background: -webkit-linear-gradient(top, #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
    background: -o-linear-gradient(top, #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
    background: -ms-linear-gradient(top, #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
    background: linear-gradient(to bottom, #75a9d1 0%,#4372b0 100%,#75a9d1 100%,#4372b0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#4372b0',GradientType=0 );
}



.Prof_calOtherDay {
    border: 1px solid #e6e6e6;
    height: 10px;
    width: 10px;
    font-family: 'helvetica';
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    background: #eeeeee;
}

    .Prof_calOtherDay a {
        color: #8c8c8a !important; text-decoration: none;
    }

.Prof_calDayToday {
 color: #007cdb;  font-weight:bold;
    font-family: 'helvetica';
    font-size: 10px;
    text-decoration:underline;
   border:none;
   
  /*background: #85b9ff; color: #fff;
        background: -moz-linear-gradient(top, #85b9ff 0%, #73a4e6e 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85b9ff), color-stop(100%,#73a4e6e));
        background: -webkit-linear-gradient(top, #85b9ff 0%,#73a4e6e 100%);
        background: -o-linear-gradient(top, #85b9ff 0%,#73a4e6e 100%);
        background: -ms-linear-gradient(top, #85b9ff 0%,#73a4e6e 100%);
        background: linear-gradient(to bottom, #85b9ff 0%,#73a4e6e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b9ff', 

endColorstr='#73a4e6e',GradientType=0 );*/
     
}

    .Prof_calDayToday a {
        color: #000 !important;
    }
    .Prof_YearTextCss {
            color: #1d4070;
    font-size: 11px;
    font-weight: bold;font-family: Helvetica,Andale Mono,Sans-Serif,sans;padding-left:4px;
    padding:0px;
       margin:0px;
        }

 .Prof_MthTextCss
 {
  color: #1d4070;
    font-size: 11px;
    font-weight: bold;font-family: Helvetica,Andale Mono,Sans-Serif,sans; 
   padding:0px;
     margin:0px;
  
 } 
 .Prof_MthYearTxt
 {margin:0px;padding:2px 0px 0px 0px;
       height: 16px;
    border: 1px solid #dddddb;
    color: #317abf;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    font-size: 10px;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    background-color: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), 

color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', 

endColorstr='#f0f0f0',GradientType=0 );
 }
 
.calHolidayStyleAll_ToolTip
{position:absolute;z-index:1;padding:3px 3px 3px 3px;max-width:150px;margin-top:6px;

    visibility: hidden; /* shows sub-menu */ text-align:left;
    opacity: 0;color:#3a3a3a;font-size:10px;  font-family: Helvetica, sans-serif;
    background-color: #feffb3;
    -webkit-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    -moz-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    -o-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    float: left;
     border: 1px solid #c6c6c6;
      -moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    -webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    
}



.calHolidayStyleAll_ToolTip:after
{
	content: "";
position: absolute;
top: -8px;
left: 3px;
border-style: solid;
border-width: 0 8px 8px;
border-color: #feffb3 transparent;
display: block;
width: 0;
z-index: 1;
}

.Prof_calHolidayStyleAll:hover div
{
visibility: visible; /* shows sub-menu */
    opacity: 1;
      -webkit-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    -moz-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    -o-transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}
.Prof_calHolidayStyleAll {
    border: 1px solid #dcdcdc;
    border-collapse: collapse;
    color: #fff !important;
      font-family: 'helvetica';
    text-decoration: none;
    font-size: 10px;
    text-align: center;
      background: #F04155;
      cursor:pointer;
        background: -moz-linear-gradient(top, #F04155 0%, #de3c4f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F04155), color-stop(100%,#de3c4f));
        background: -webkit-linear-gradient(top, #F04155 0%,#de3c4f 100%);
        background: -o-linear-gradient(top, #F04155 0%,#de3c4f 100%);
        background: -ms-linear-gradient(top, #F04155 0%,#de3c4f 100%);
        background: linear-gradient(to bottom, #F04155 0%,#de3c4f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F04155', 

endColorstr='#de3c4f',GradientType=0 );
   
}
.Prof_calHolidayStyleAll a
{
    text-decoration: none;color: #fff !important;
}

#UlProfMenu {
    padding: 0px;
   margin: -8px 0px 0px 5px ;

}
    #UlProfMenu li {
        list-style: none;
        display: block;
        float: left;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        margin: -8px 0px 0px 1px ; background: transparent;
    }
    #UlProfMenu ul {
        list-style: none;
        padding: 0px 0px 12px 0px;border: 1px solid #dcdcdc;
        color:#3a3a3a;  font-family: Helvetica, sans-serif;
        width:220px;
        margin: 0px;
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;z-index:8000;background-color:#fff;
            -moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    -webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
   

       
    }
    #UlProfMenu li:hover > ul {
        display: block;
        visibility: visible;
        opacity: 1;z-index:8000;
     
  -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;

    }
    #UlProfMenu ul li {
        padding: 0px;
        margin: 2px;
        text-align: left;
        display: block;z-index:8000;
    }

    .Prof_menuCss
        {color:#75a9d1;font-size:32px;text-align:center;vertical-align:middle;
        cursor: pointer; 
          border: 1px solid #dcdcdc;
  padding:2px 6px 2px 6px;margin:8px 2px 0px 0px;
           }
    .Prof_menuCss:hover
        {color:#75a9d1;font-size:32px;text-align:center;vertical-align:middle;
        cursor: pointer; 
          border: 1px solid #dcdcdc;
  padding:2px 6px 2px 6px;margin:8px 2px 0px 0px;-moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;  background-color:#f7f7f7;
           }


   .subMenuCssProf
   {background: transparent url(../Images/Profile/Profile_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
         padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;
   }
   .subMenuCssProf:hover
   {-moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;   padding: 6px 0px 6px 36px;margin:2px;  color: #fff !important;
        /*border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;#f5f5f5*/
        background: #75a9d1 url(../Images/Profile/Profile_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Profile_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Profile_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Profile_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Profile_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Profile_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Profile_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }


   .subMenuCssGEMS
   {background: transparent url(../Images/Profile/myComp_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
       padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;
   }

   .subMenuCssGEMS:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;   padding: 6px 0px 6px 36px;margin:2px;  color: #fff !important;
        background: #75a9d1 url(../Images/Profile/myComp_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/myComp_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/myComp_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left 

bottom, color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop

(100%,#518ebd));
        background: url(../Images/Profile/myComp_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/myComp_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/myComp_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/myComp_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }
   .subMenuCssLeave
   {background: transparent url(../Images/Profile/Leave_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
        padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;
   }

    .subMenuCssLeave:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; padding: 6px 0px 6px 36px;margin:2px;  color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Leave_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Leave_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Leave_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Leave_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Leave_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Leave_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Leave_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }
   .subMenuCssQual
   {background: transparent url(../Images/Profile/Qual_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
    padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;

   }

     .subMenuCssQual:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; padding: 6px 0px 6px 36px;margin:2px; color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Qual_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Qual_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Qual_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Qual_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Qual_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Qual_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Qual_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }
   .subMenuCssDepd
   {background: transparent url(../Images/Profile/Depd_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
        padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;

   }

    .subMenuCssDepd:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;padding: 6px 0px 6px 36px;margin:2px;  color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Depd_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Depd_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Depd_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Depd_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Depd_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Depd_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Depd_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }
   .subMenuCssComp
   { background: transparent url(../Images/Profile/Comp_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
      padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;

   }
    .subMenuCssComp:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;padding: 6px 0px 6px 36px;margin:2px; color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Comp_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Comp_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Comp_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Comp_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Comp_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Comp_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Comp_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }
   .subMenuCssComm
   { background: transparent url(../Images/Profile/Comm_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
       padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;

   }

    .subMenuCssComm:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; padding: 6px 0px 6px 36px;margin:2px; color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Comp_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Comm_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Comm_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Comm_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Comm_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Comm_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Comm_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }

     .subMenuCssDocs
   { background: transparent url(../Images/Profile/docs2.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
       padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;

   }

    .subMenuCssDocs:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; padding: 6px 0px 6px 36px;margin:2px; color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Comp_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/docs2.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/docs2.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/docs2.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/docs2.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/docs2.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/docs2.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }
    .divBinaryImgCss
    {
        margin:4px;border:1px solid #dddddb;padding:1px;-moz-border-radius:3px;
    -webkit-border-radius:3px;border-radius:3px;  
    }
.telerik_BinaryImageCss
    {
    width:100px;height:110px;
    }
.PassBoxInnerSub {padding-top:12px;padding-bottom:3px;
              background-color:White;
	  font-family:Helvetica,Andale Mono,Sans-Serif,sans;
	color:#003a62;font-size:12px;text-align:center;
}
  .watermarkPassHide
        {
            background:#fff url('../images/login/key.png')  no-repeat 2px 5px;
            background-repeat: no-repeat;line-height:22px;
            vertical-align: middle;Width:180px !important; Height:24px !important;
           color: #ecebeb;padding-left:22px;        }
.watermarkUserMail
 {
            background:#fff url('../images/login/UsrMail.png')  no-repeat 2px 5px;
            background-repeat: no-repeat;line-height:22px;
            vertical-align: middle;Width:180px !important; Height:24px !important;
           color: #ecebeb;padding-left:22px;        }

  .PasswordBoxOuter
  {
       position: relative;	
  width: 80%;	
  height: 120px;	
  margin: 0px auto;	
  border: 2px solid #c00;

  }
  .PasswordBoxInner
  {
margin-top:0px;text-align:center;
  }
  .divPassBoxTitle
  {
       /* This protects the inner element from being blurred */
   
    padding:8px 1px 3px 5px; /*top, right, bottom and left */  
  	margin:0px;
    height:20px;
	border-bottom:1px solid #dddddb; 
text-align:left;font-size:14px;	 color:#009ee2;letter-spacing:1px; 
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    /*-moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;*/	
       
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), 

color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', 

endColorstr='#f0f0f0',GradientType=0 );

  }

  .PasswordBox
  {border: 1px solid #dcdcdc;
     align-content:center;text-align:center;
      width:300px;height:180px;
      /*-moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    -webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    box-shadow: 3px 3px 3px rgba(68,68,68,0.6);*/
    -moz-box-shadow: 1px 4px 5px 2px  rgba(68,68,68,0.6);
-webkit-box-shadow: 1px 4px 5px 2px  rgba(68,68,68,0.6);
box-shadow:1px 4px 5px 2px  rgba(68,68,68,0.6);

    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
 position: absolute;	
  width: 300px;	
  height: 200px;	
  top: 120px;	
  left: 26%;	
  margin-left: -10px;	
    }
  .PasswordBoxErrMsgCss
  {text-align:left;
     color: #d82133;margin-top:10pt;float:left;margin-left:5px;padding:2px;width:94%;
  }
  .PasswordBoxSuccessMsgCss
  {text-align:left;
     color: #d82133;margin-top:10pt;float:left;margin-left:5px;padding:2px;width:94%;
  }
  .ForgotPass {background:#fff url('../images/login/userpass.png')  no-repeat 0px 2px;
            background-repeat: no-repeat;background-color:transparent;
    color: #003a62;
    font-size: 11px;
  padding-left: 22px;padding-top:7pt;padding-bottom:5pt;    
    vertical-align:middle;
border:0px none !important ; text-decoration:none;
}
  .PrintPanel  { position:fixed; left:0px; top:0px;
                 background:url('../images/common/dark.png') 0 0 !important; 
                 display:none; min-width:100%; min-height:100%; z-index:3000;}
.PrintPanelTop { position:relative;   background-color:#ffffff;
                     border:1px solid #0092d7; margin:102px auto 0px auto;/*top, right, bottom and left */  
width:600px;  height: 440px; z-index:2000; overflow:hidden;
padding:0px 0px 0px 0px;  
	-webkit-box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   -moz-box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}
.PrintContent {
    overflow:hidden;
}
.watermark {
  
/*content: "GEMS OASIS ";*/ color: #e8e8e8;   font-family: Helvetica, Arial, sans-serif;
   font-size: 50pt;  
   -webkit-transform: rotate(-45deg);  
   -moz-transform: rotate(-45deg);  
   -o-transform: rotate(-45deg);  
   transform: rotate(-45deg);  
  
   position: absolute;
     margin: 0;  
    top:200px;  
   left:20%;  
   opacity: .3;  
    filter:alpha(opacity=30);
  
}

.PrintBoxScroll
{float:left;
height:456px;width:658px;
 border:0px none;
padding-left:0px;padding-right:0px;padding-top:1px;padding-bottom:1px;margin-left:0px;margin-right:0px;
overflow:hidden; 
}
.PrintBoxScrollInside
{   overflow:scroll;height:472px;width:638px;
}

.TitlePrint {
    position: relative;
    float: left;
    padding-left: 6px;margin-top:5px;
    text-decoration: none;letter-spacing:1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;font-weight:normal;
  }

.closelbtnPl {position:relative;float:right;padding-right:4px;margin-top:2px;
  text-shadow: 0px 2px 3px #555; text-decoration:none;
}

#PanelPrinter {  text-decoration:none;
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    letter-spacing:1px; border:0px none;
color: #a6c4dd;cursor:pointer;
}
 #PanelClose {  text-decoration:none;
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    letter-spacing:1px; border:0px none;
color: #a6c4dd;cursor:pointer;
}
.darkPanelFooter { padding: 1px 0px 0px 1px;
    margin: 0px;/*top, right, bottom and left */ 
  width: 99.9%;   height:27px;
font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    color: #fff;
    font-size: 16px;    
  position: absolute;
  bottom: 0px;border-top:1px solid #0092d7;
 background: #75a9d1;
	background: -moz-linear-gradient(top,  #75a9d1 0%, #4372b0 98%, #75a9d1 99%, #4372b0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a9d1), color-stop(98%,#4372b0), color-stop(99%,#75a9d1), color-stop(100%,#4372b0));
	background: -webkit-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: -o-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: -ms-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: linear-gradient(to bottom,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', endColorstr='#4372b0',GradientType=0 );

}

/**************************** Gray Gridview style *********************************/
table.gridViewClassGray {
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    border: 1px solid #f7f7f7;
    padding: 9px;
    border-collapse: collapse;

    background-color: #fff;
}

    table.gridViewClassGray th {
        height: 24px;
        text-align: center;
        color: #04558b;
        font-weight:bold;
        border-bottom: 2px solid #b9b9b9;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        font-size: 12px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
    }

    table.gridViewClassGray tr {
        border: 0px none !important;
    }

    table.gridViewClassGray td {
        height: 23px;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        border: 1px solid #e6e6e6 !important;
        -moz-border-radius: 0; font-weight: normal;    color: #4d4d4d; font-size:9pt;
            }

.gridAlternateCss {
    height: 23px;
    border: 1px solid #aabec9 !important;
    background-color: #fafafa;font-size:9pt;
    font-weight: normal;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}

.gridRowCss {
    height: 23px;
    border: 1px solid #aabec9 !important;
}

.highlight {
    cursor: pointer;
    color: #000;
    background: #eafc93;
}

.gridpager /*Common Styles*/ {
    background-color: Transparent !important;
    width: auto !important;
    height: 28px !important;
}

    .gridpager table {
        background-color: Transparent !important;
        margin: auto;
        float: right;
    }

    .gridpager tr {
        border: 0px none !important;
        background-color: Transparent !important;
    }

    .gridpager table td {
        background-color: Transparent !important;
        border-collapse: collapse;
        margin: 2px;
    }

    .gridpager td {
        background-color: Transparent;
        border-collapse: collapse;
    }

        .gridpager td table {
            background-color: Transparent !important;
            border-collapse: collapse;
        }

            .gridpager td table td {
                border: 0px none !important;
                padding: 0px 2px 0px 2px;
                margin-top: 1px;
                /*top, right, bottom and left */
                background-color: Transparent !important;
            }

    .gridpager table td a {
        font-weight: bold;
        color: #4b4b4b;
        border: solid 1px #ccc !important;
        /*-moz-border-radius: 12px;
 border-radius: 12px;*/
        font-size: 12px;
        text-decoration: none;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
    }

        .gridpager table td a:hover {
            font-weight: bold;
            color: white;
            border: solid 1px #2a67a1 !important;
            font-size: 12px;
            text-decoration: none;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 3px;
            padding-bottom: 3px;
            background: #317abf;
            background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
            background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
        }

    .gridpager table td span {
        font-weight: bold;
        color: white;
        border: solid 1px #2a67a1 !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        /*top, right, bottom and left */
        background: #317abf;
        background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
        background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
    }
/**************************** Gray Gridview style End*********************************/

.txtSearchCss {
    border: 1px solid #c3c3c3;
    height: 26px;
    display: inline;
    color: #444444 !important;
    margin-left: 5px;
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    padding: 0px 0px 0px 4px;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 0.333em;
    -webkit-border-radius: 0.333em;
    -webkit-background-clip: padding-box;
    border-radius: 0.333em;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.DisplaySearchCss {
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    font-size: 17px;
    color: #444444;
    padding-left: 4px;
    margin-top: 2px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 4px;
    padding-top: 1px;
}
.tbldivSub
{
    border:1px solid  #e6e6e6; cursor:default;
   Height:20px;float:right;text-align:center;vertical-align:middle;
   color:#d82133;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   /*color:#d82133;  color:#079adc;*/
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
         background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
.tbldivSub div
{
margin-bottom:-5px;padding:3px 3px 2px 3px;cursor:default;
}
.tblFilter
{margin:12px 4px 12px 144px;
    border:1px solid #cecece;border-collapse:collapse;
     font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;color:#8d8d8b;
}
.tblFilter td
{
background-color:#f8f8f8;padding:4px 0px 4px 4px;border:1px solid #e3e3e1;border-collapse:collapse;font-size:12px; font-family:Helvetica,Andale Mono,Sans-Serif,sans; 
}
.tdlabels
{margin:2px 0px 2px 0px;
 width:100px;
}

.dropDownCssFilter
{width:120px !important; height:22px !important; padding:1px 0px 1px 0px;
    color:#464646; font-size:12px; font-family:Helvetica,Andale Mono,Sans-Serif,sans; background-color:#FFF !important;
                       border:1px solid #e3e3e1; line-height:18px;margin:2px 0px 2px 0px; 
                       
}
.telerik_gridAlternateCss {
    height: 23px !important;
   border: 1px solid #e6e6e6 !important;
    background-color: #fafafa;font-size:8pt;color:#4d4d4d;
    font-weight: bold;font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}
.telerik_gridRowCss {
        height: 23px !important;
        border: 1px solid #e6e6e6 !important;
        -moz-border-radius: 0; font-weight: bold;    color: #4d4d4d; font-size:8pt;

    font-weight: bold;font-family:Helvetica,Andale Mono,Sans-Serif,sans;
}
.telerik_gridHeaderCss {
  height: 24px  !important;
        text-align: center;
        color: #04558b;
        font-weight:bold; font-family:Helvetica,Andale Mono,Sans-Serif,sans;
        border-bottom: 2px solid #b9b9b9;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        font-size: 12px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}
.telerik_BinaryImageCss
{border:1px solid #f5f5f5;margin:3px 3px 0px 3px;}


#VoidBox {
    -webkit-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    transform:rotate(-20deg);
    font-size:200px;
    color:#CCC;
    font-weight:bold;
    letter-spacing:40px;
    position:absolute; 
    z-index:1000; 
    top:20%;
    left:15%;   
    opacity:0.5; 
    filter:alpha(opacity=50);
}

/*------------------ My Menu---------------- */
                       #navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu a{
	background:url('img/navigation.jpg') no-repeat;

	height:39px;
	width:38px;
	display:block;
	position:relative;
}

/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navigationMenu .home {	background-position:0 0;}
#navigationMenu .home:hover {	background-position:0 -39px;}
#navigationMenu .home span{
	background-color:#7da315;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
	background-color:#c86c1f;
	color:#5a3517;
	text-shadow:1px 1px 0 #d28344;
}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
	background-color:#d0a525;
	color:#604e18;
	text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#af1e83;
	color:#460f35;
	text-shadow:1px 1px 0 #d244a6;
}

 .subMenuCssBenf
   { background: transparent url(../Images/Profile/Benf_M.png) no-repeat 4px 0px; /*  left top*/
       display:block; width:180px;
       padding: 6px 0px 6px 36px;margin:2px;
        color:#3a3a3a;font-size:13px;  font-family: Helvetica, sans-serif; text-decoration: none;
        cursor: pointer;

   }

    .subMenuCssBenf:hover
   { -moz-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; padding: 6px 0px 6px 36px;margin:2px; color: #fff !important;
        background: #75a9d1 url(../Images/Profile/Benf_M.png) no-repeat 4px 0px;
        background: url(../Images/Profile/Benf_M.png) no-repeat 4px 0px ,-moz-linear-gradient(top, #75a9d1 0%, 

#518ebd 100%, #75a9d1 100%, #518ebd 100%);
        background: url(../Images/Profile/Benf_M.png) no-repeat 4px 0px,  -webkit-gradient(linear, left top, left bottom, 

color-stop(0%,#75a9d1), color-stop(100%,#518ebd), color-stop(100%,#75a9d1), color-stop(100%,#518ebd));
        background: url(../Images/Profile/Benf_M.png) no-repeat 4px 0px , -webkit-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Benf_M.png) no-repeat 4px 0px,  -o-linear-gradient(top, #75a9d1 0%,#518ebd 

100%,#75a9d1 100%,#518ebd 100%);
        background: url(../Images/Profile/Benf_M.png) no-repeat 4px 0px , -ms-linear-gradient(top, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        background:url(../Images/Profile/Benf_M.png) no-repeat 4px 0px , linear-gradient(to bottom, #75a9d1 

0%,#518ebd 100%,#75a9d1 100%,#518ebd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', 

endColorstr='#518ebd',GradientType=0 );

   }