﻿/* Default CSS Stylesheet for a new Web Application project */
/* CSS Document */
.cellMatters
{
	border: 1px solid #D8E5F8;
	padding: 1px;
	margin: 0px;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.cellMattersLight
{
	border: 1px solid #D8E5F8;
	padding: 1px;
	margin: 0px;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}
.RadButton
{
	border-style: solid;
	border-color: White;
	border-width: 1pt;
	background-color: #1B80B6;
	background-image: url('../images/BGImage.jpg');
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 11px;
	height: 24px;
	text-decoration: none;
}
.cellMatters
{
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.RadGridRow
{
	font-size: 10px;
	color: #1B80B6;
	font-family: Arial, Arial Narrow,Arial Black;
	background-color: #ffffff;
	height: 18px;
	font-weight: bold;
}
.RadGridAltRow
{
	font-size: 10px;
	color: #1B80B6;
	font-family: Arial, Arial Narrow,Arial Black;
	background-color: #eeeeee;
	height: 18px;
	font-weight: bold;
}
.RadGridGroupHeader
{
	font-size: 14px;
	color: #000000;
	font-family: Arial, Arial Narrow,Arial Black;
	background-color: #eeeeee;
	height: 20px;
	font-weight: bold;
}
.RadLnkText a:link
{
	text-decoration: none;
	font-size: 9px;
	color: #000000;
	font-family: Arial, Arial Narrow,Arial Black;
	font-weight: bold;
}
.RadLnkText a:visited
{
	text-decoration: underline;
	font-size: 9px;
	color: #000000;
	font-family: Arial, Arial Narrow,Arial Black;
	font-weight: bold;
}
.RadLnkText a:active
{
	text-decoration: underline;
	font-size: 9px;
	color: #000000;
	font-family: Arial, Arial Narrow,Arial Black;
	font-weight: bold;
}
.RadLnkText a:hover
{
	text-decoration: underline;
	font-size: 9px;
	color: #000000;
	font-family: Arial, Arial Narrow,Arial Black;
	font-weight: bold;
}
table.RadTable
{
	border: 1px solid #D8E5F8;
	padding: 1px;
	margin: 0px;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	border-collapse: collapse;
}
table.RadTable td 
{
	border: 1px solid #D8E5F8;
	padding: 1px;
	margin: 0px;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	border-collapse: collapse;
}

.RadSubHeader_Img
{
	font-family: Arial, Arial Narrow,Arial Black;
	background-image: url(../Images/newblue.gif);
	background-repeat: repeat;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	color: #ffffff;
	height: 20;
}


.RadPanelQual table
{
	float: left;
	padding: 0;
}
.RadPanelQual
{
	background-color: #FFFFFF;
	border: 3px solid #D8E5F8;
	max-height: 100%;
}
.RadPanelQualFull
{
	background-color: #FFFFFF;
	border: 3px solid #D8E5F8;
	max-height: 100%;
}


.RadDarkPanlvisible, .RadDarkPanl2, .RadDarkPanl
{        	
                	background-position: 0 0;
	position: absolute;
	left: 0%;
	top: 0%;
	background: url(../Images/dark.png) 0 0 !important;
	display: none;
	width: 100%;
	height: 2000px;
	background-repeat: repeat !important;


}
.RadDarkPanlvisible
{
	display: block;
}
.RadLabel
{
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 10px;
	color: #000000;
}
.RadLabelText
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #D8E5F8;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 9px;
	color: #000000;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
}
.RadLabelTextHeader
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #D8E5F8;
	font-family: Arial, Arial Narrow,Arial Black;
	font-size: 13px;
	color: #000080;
	vertical-align: middle;
	font-weight: bold;
	text-align: left;
}