﻿.resgridheadrotate
{
	/* Safari */
	-webkit-transform: rotate(-90deg); /* Firefox */
	-moz-transform: rotate(-90deg); /* IE */
	-ms-transform: rotate(-90deg); /* Opera */
	-o-transform: rotate(-90deg); /* Internet Explorer  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid red;
	text-align: center;border-color:#008080;
}

.resgridrotate
{
	
	height: 150px;
	line-height: 150px;
	width:20px;
	font-weight: normal;
	display: block;
	white-space: nowrap;vertical-align:bottom !important;
  margin-top:70px;margin-bottom:-50px;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);border-color:#008080;
}



.resgridrotate_pointer
{
	
	height: 150px;
	line-height: 150px;
	width:20px;
	font-weight: normal;
	display: block;
	white-space: nowrap;vertical-align:bottom !important;
  margin-top:70px;margin-bottom:-50px;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	cursor:pointer;
}




.resgridheader_backup
{
	color:#FFF;
	font-family: Arial;
	font-size:8pt;

background: -webkit-linear-gradient(#347EC7,#5B79A3); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#347EC7, #5B79A3); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#347EC7, #5B79A3); /* For Firefox 3.6 to 15 */
background: linear-gradient(#347EC7, #5B79A3); /* Standard syntax */
border-collapse:collapse;
border-color:#FFF;width:40px;


/*B9FFFF*/
}


.resgridheader2
{
	color:#fff;
	font-family: Arial;
	font-size:8pt;

background: -webkit-linear-gradient(#336699,#3366CC); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#336699, #3366CC); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#336699, #3366CC); /* For Firefox 3.6 to 15 */
background: linear-gradient(#336699, #3366CC); /* Standard syntax */
border-collapse:collapse;
border-color:#fff;width:40px;
border-width:0px;

/*B9FFFF*/
}

.resgridheader
{
	color:#DED3CF;
	font-family: Arial;
	font-size:8pt;
background-color:#68615D;
border-collapse:collapse;
border-color:#DED3CF;width:40px;
border-width:0px;

/*B9FFFF*/
}


/*
.resgridheader th
{
 position: relative;
top: expression(this.offsetParent.scrollTop);  
z-index: 10; 
}*/

.resgridheader td
{
	border-top:solid 1px #DED3CF; border-right:solid 1px #DED3CF; border-collapse:collapse ;border-left:solid 1px #DED3CF;
}

/*#B0B0B0*/
.resgridrowstyle1
{
	background-color:#F5F5D4 ;
	font-family: Arial;
	font-size:9pt;border-style:none ;border-width:0px;border-color:#909090 ;color:#000;font-family:Verdana;
	height:20px;
}

.resgridrowstyle1 td {font-size:9pt; border-top:solid 1px #909090; border-right:solid 1px #909090 ;font-family:Verdana; height:20px;
                      padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;}

/*border-top:solid 1px #B7B7B7*/
.resgridrowstyle2
{
	background-color:#fff;
	font-family: Arial;
	font-size:9pt;border-style:none ;border-width:0px;color:#000;font-family:Verdana;height:20px;
}
.resgridrowstyle2 td { border-top:solid 1px #909090 ;border-right:solid 1px #909090 ;  padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;
                       height:20px;border-bottom:solid 1px #909090 ; }





.restableheader
{
	color:#306161;
	font-family: Arial;
	font-size:8pt;
	
background: -webkit-linear-gradient(#B9EAEA,#78D6D6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#B9EAEA, #78D6D6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#B9EAEA, #78D6D6); /* For Firefox 3.6 to 15 */
background: linear-gradient(#B9EAEA, #78D6D6); /* Standard syntax */
border-collapse:collapse;
border-color:#008080;width:40px;height:25px;

	
	}
	
	.resrotator
	{
		padding-right:10px;
	}

.restablefooter
{
	color:#306161;
	font-family: Arial;
	font-size:8pt;height:30px;
	font-weight:bold;
}

.restable
{
	color:#000;
	font-family: Arial;
	font-size:8pt;height:30px;
}


.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=90);
	opacity:0.9;
}
.resgridstyle
{
	border-style:outset;border-color:#CCE6E6 !important;
	  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
	
	border-left-width:1px;
}



.ImageStyle
{
	cursor:pointer;
}

.resPnlPopup
{
border-with:2px;
border-color:#FF9900;
border-style:solid;
	
}

.resmsgClose
{
background: -webkit-linear-gradient(#FF9900,#FF9966); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#FF9900, #FF9966); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FF9900, #FF9966); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FF9900, #FF9966); /* Standard syntax */
}
.tableChart 
{
	BORDER-LEFT: #78B82C 1pt solid;
	BORDER-RIGHT: #78B82C 1pt solid;
	padding: 4px; 
	border-collapse:collapse;
	BORDER-BOTTOM: #78B82C 1pt solid; 
	-moz-border-radius:0;
} 
.tdChart  
{
	padding: 2px; 	
	border-left: #78B82C 1pt solid; 
	border-top: #78B82C 1pt solid;
	border-bottom : #78B82C 1pt solid;
	border-right: #78B82C 1pt solid;
	-moz-border-radius:0;

	margin-left: 120px;
	
	

}

.chartFields
{
		font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;font-weight: bold;
}
table.tableNoborder
{
	border:0pt None !important;
}

.tableChart1
{
	border-width:1px;
	border-collapse:collapse;
	border-color:#78B82C;
	border-style:solid;
	border-bottom-style :solid;border-bottom-color:#78B82C;
	border-top-style :solid;border-top-color:#78B82C;
	
}

.largelabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;font-size:85px !important;
}

.lblResTitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:bold;font-size:10px !important;color:#fff;
}

.reschartgridheader
{
	color:#000;
	font-family: Arial;
	font-size:8pt;
	
background: #D5D7CD; /* For Safari 5.1 to 6.0 */
border-collapse:collapse;

}


.reschartgridheader td
{
	border-top:solid 1px #B7B7B7; border-right:solid 1px #B7B7B7;border-left:solid 1px #B7B7B7;
}


.reschartgridrowstyle
{
	background-color:#fff;
	font-family: Arial;
	font-size:8pt;border-style:none ;border-width:0px;border-color:#000;width:20px !important;
	padding:3px;border-collapse:collapse;
}

.reschartgridrowstyle td
{
	border-top:solid 1px #B7B7B7; border-right:solid 1px #B7B7B7;border-left:solid 1px #B7B7B7;
}


.reschartgridrow_lastrow
{
	background-color:#F5F5D4;
	font-family: Arial;
	font-size:8pt;border-style:none ;border-width:0px;border-color:#000;width:20px !important;
	padding:3px;border-collapse:collapse;
}

