﻿
#sticky_left{ position:fixed; top:330px; left:0px;
               height:50px; background:url("../images/arrowCircleRight.png")  no-repeat;} 
.tranPanel {
   	position: fixed; z-index:2;
    left:0%; top:0%;right:0%;
                 background:url('../images/common/white.png') 0 0 !important; 
                 display:block; /*min-width:100%; min-height:100%;*/ 
                 text-align:center !important;/*border:2px solid yellow;*/

}

 .divDBMainHolder {
       /*top, right, bottom and left */  
/* height: 463px;width:1335px;
 width: 1220px;height:100%;*/
 min-height: 463px;width:99.5%;
 /*width:1335px;*/
text-align:center;margin:118px 12px 0px 2px;padding:2px 0px 0px 0px;
 
      background:#f8f8f8;

border:1px solid #c6d0dd;

-moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	

-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";

    /*box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);*/
	zoom: 1;
    overflow:hidden;
    }
 .csslock
 {
 border-left:1px solid #bebebe;border-top:1px solid #bebebe;border-right:1px solid #bebebe;
 position:absolute; z-index:200; width:80px;height:20px;left:1265px;margin-top:-26px;
 font-size:12px;font-weight:bold;cursor:pointer;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
        background:#ffffff url(../Images/common/info_s.png) no-repeat 4px 2px; 
	background:url(../Images/common/info_s.png) no-repeat 4px 2px, -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background:url(../Images/common/info_s.png) no-repeat 4px 2px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background:url(../Images/common/info_s.png) no-repeat 4px 2px, -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background:url(../Images/common/info_s.png) no-repeat 4px 2px, -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background:url(../Images/common/info_s.png) no-repeat 4px 2px, -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background:url(../Images/common/info_s.png) no-repeat 4px 2px, linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
 .csslock div
 {
   padding-left:14px; padding-top:3px; color:#d82133;
 }
 .divSlideRightImg {
   border:0px none;position:fixed; z-index:100;
  top:100px;cursor:pointer;left:1314px;
    
}

.divBoxScroll
{float:left;
height:456px;
 border:0px none;
padding-left:0px;padding-right:0px;padding-top:1px;padding-bottom:1px;margin-left:0px;margin-right:0px;
overflow:hidden; 
}
.divBoxScrollInside
{   overflow:scroll;height:472px;
}
.divBoxDivider
{float:left;
height:453px;padding:0px;margin:0px;
width:1px;border-right:1px  solid #c6d0dd;
}

.divBoxInsideHolder
{
margin-left: 2px;border:1px solid #bebebe;
   margin-top:4px; margin-bottom:2px;background-color:white;overflow:hidden;
	   -moz-border-radius-topleft: 5px;
 border-top-left-radius: 5px;
 -moz-border-radius-topright: 5px;
 border-top-right-radius: 5px;	
}
.divBoxInsideLeft_Title
{
 /* This protects the inner element from being blurred */
    padding:3px 1px 3px 1px; /*top, right, bottom and left */  
  	
    height:23px;
	border-bottom:1px solid #bebebe;
text-align:left;font-size:12px;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
         background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
.spanLeft_Title
{
    float: left; display: inline; left: 0px; position: relative;padding:2px 0px 2px 6px;font-size:17px;
 font-family:Helvetica,Andale Mono,Sans-Serif,sans;color:#04558b;
}
.spanRight_TitleLink
{
    float: right;padding-right:10px;
}
.spanRight_Titleimg
{
padding:3px 4px 0px 3px;cursor:pointer;
}
.divContentColHolder
{
width:100%; padding-top:0px;padding-left:10px;padding-right:15px;
display:block;text-align:left;
}


.dbLinkbtn {

    color:#079adc;text-decoration:none;
    background:transparent url('../Images/Common/link4.png')  no-repeat 1px 1px;padding-left:22px;

}
.divLinkBorder {
    float:left;Border-top:1px solid #e6e6e6;Border-bottom:1px solid #e6e6e6;padding-top:4px;padding-bottom:4px;margin-left:4px;
}
.divLinkBorderFilter
{
Height:26px;float:left;margin-top:-20px;font-size:12px;color:#4d4d4d;font-weight:600;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
}

.divlinks
{
    border:1px solid  #e6e6e6; cursor:default;
   Height:20px;float:right;margin-top:-26px;text-align:center;vertical-align:middle;margin-bottom:-4px;
   color:#d82133;font-size:12px;font-weight:bold;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   /*color:#d82133;  color:#079adc;*/
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	
         background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}
.divlinks div
{
margin-bottom:-5px;padding:3px 3px 2px 3px;cursor:default;
}
.divContentColTitle
{
    border-bottom:1px solid #e8e7e7;margin-top:25px;margin-bottom:4px;margin-left:1px;margin-right:1px;
}

.SpanContentColTitle
{
    border:1px solid #e6e6e6;padding:2px 4px 2px 4px;
   Height:15px;margin-top:-20px;text-align:center;vertical-align:middle;
  color:#4d4d4d;font-size:12px;font-weight:bold;float:right;
   font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;	  background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}

.divContentCol {float:left;
}

.DropdownDB
{border:1px solid #c7c7c7; 
            border-radius:3px;
            -moz-border-radius: 3px;              
              color:#079adc;text-decoration:none;font-family:Helvetica;font-size:12px;padding:1px;
    background-color:white;

}
.divPaySlipBox{
 width:620px;height:35px;overflow:hidden;margin-top:4px;
}
.divPaySlipBoxDrag{
width:1000px;overflow:hidden;
}

.divPaySlipNew
{    float:left;height:33px;width:38px;margin:0px 8px 0px 8px;
border:1px solid #c7c7c7;   /*top, right, bottom and left */  
             font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;
                
                text-decoration:none; text-align:center;vertical-align:bottom;

                 background:#ffffff url(../Images/common/drGreen.png) no-repeat 10px 14px;  /*right top*/
                    	background: url(../Images/common/drGreen.png) no-repeat 10px 14px , -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: url(../Images/common/drGreen.png) no-repeat 10px 14px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: url(../Images/common/drGreen.png) no-repeat 10px 14px, -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: url(../Images/common/drGreen.png) no-repeat 10px 14px, -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: url(../Images/common/drGreen.png) no-repeat 10px 14px, -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: url(../Images/common/drGreen.png) no-repeat 10px 14px, linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
    -moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	-webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";

    /*box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);*/
}
.divPaySlipNewInner
{ -moz-border-radius-topleft: 3px;
 border-top-left-radius: 3px;
 -moz-border-radius-topright: 3px;
 border-top-right-radius: 3px;
      margin-top:0px;width:40px;height:12px;margin-left:-1px;margin-right:0px;padding:0px 0px 0px 0px;

	  overflow: hidden;font-size:11px;
            
 background: #a8dd18;     color:white;
                text-decoration:none; text-align:center;vertical-align:top;
	background: -moz-linear-gradient(top,  #a8dd18 0%, #89bb00 100%, #a8dd18 100%, #89bb00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8dd18), color-stop(100%,#89bb00), color-stop(100%,#a8dd18), color-stop(100%,#89bb00));
	background: -webkit-linear-gradient(top,  #a8dd18 0%,#89bb00 100%,#a8dd18 100%,#89bb00 100%);
	background: -o-linear-gradient(top,  #a8dd18 0%,#89bb00 100%,#a8dd18 100%,#89bb00 100%);
	background: -ms-linear-gradient(top,  #a8dd18 0%,#89bb00 100%,#a8dd18 100%,#89bb00 100%);
	background: linear-gradient(to bottom,  #a8dd18 0%,#89bb00 100%,#a8dd18 100%,#89bb00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8dd18', endColorstr='#89bb00',GradientType=0 );

}
.divPaySlipOld
{    float:left;height:33px;width:38px;margin:0px 8px 0px 7px;
border:1px solid #c7c7c7;   /*top, right, bottom and left */  
             font-family:Helvetica,Andale Mono,Sans-Serif,sans;
   -moz-border-radius-topleft: 4px;
 border-top-left-radius: 4px;
 -moz-border-radius-topright: 4px;
 border-top-right-radius: 4px;
                
                text-decoration:none; text-align:center;vertical-align:bottom;

                 background:#ffffff url(../Images/common/drBlue.png) no-repeat 10px 14px;  /*right top*/
                    	background: url(../Images/common/drBlue.png) no-repeat 10px 14px , -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%, #ffffff 100%, #f0f0f0 100%);
	background: url(../Images/common/drBlue.png) no-repeat 10px 14px , -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0), color-stop(100%,#ffffff), color-stop(100%,#f0f0f0));
	background: url(../Images/common/drBlue.png) no-repeat 10px 14px, -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: url(../Images/common/drBlue.png) no-repeat 10px 14px, -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: url(../Images/common/drBlue.png) no-repeat 10px 14px, -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	background: url(../Images/common/drBlue.png) no-repeat 10px 14px, linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%,#ffffff 100%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
    -moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	-webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
	box-shadow:3px 3px 3px rgba(68,68,68,0.6);
    	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";

    /*box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);*/
}
.divPaySlipOldInner
{
 -moz-border-radius-topleft: 3px;
 border-top-left-radius: 3px;
 -moz-border-radius-topright: 3px;
 border-top-right-radius: 3px;
    margin-top:0px;width:40px;height:12px;margin-left:-1px;margin-right:0px;padding:0px 0px 0px 0px;
          overflow: hidden;font-size:11px;
            

 background: #52a0ec;     color:white;
                text-decoration:none; text-align:center;vertical-align:top;
	background: -moz-linear-gradient(top,  #52a0ec 0%, #006dd8 100%, #52a0ec 100%, #006dd8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a0ec), color-stop(100%,#006dd8), color-stop(100%,#52a0ec), color-stop(100%,#006dd8));
	background: -webkit-linear-gradient(top,  #52a0ec 0%,#006dd8 100%,#52a0ec 100%,#006dd8 100%);
	background: -o-linear-gradient(top,  #52a0ec 0%,#006dd8 100%,#52a0ec 100%,#006dd8 100%);
	background: -ms-linear-gradient(top,  #52a0ec 0%,#006dd8 100%,#52a0ec 100%,#006dd8 100%);
	background: linear-gradient(to bottom,  #52a0ec 0%,#006dd8 100%,#52a0ec 100%,#006dd8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a0ec', endColorstr='#006dd8',GradientType=0 );
}
.divPaySlipReadY
{color:transparent;
    }
.divPaySlipReadN
{
 position:relative;  overflow: hidden;width:30px;vertical-align:bottom;text-align:center;
-webkit-transform: rotate(49deg);
  -moz-transform:    rotate(49deg);
  -ms-transform:     rotate(49deg);
  -o-transform:      rotate(49deg);
     top: -13px;
  right: -20px;bottom:-5px;font-size:8px;color:#666666;text-align:center; font-weight:bold;  
 
           background-color:#FFDD40;  
background:  -moz-linear-gradient(top,  #FFDD40 0%, #FFD200 98%, #FFDD40 99%, #FFD200 100%) ;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFDD40), color-stop(98%,#FFD200), color-stop(99%,#FFDD40), color-stop(100%,#FFD200));
	background:  -webkit-linear-gradient(top,  #FFDD40 0%,#FFD200 98%,#FFDD40 99%,#FFD200 100%);
	background:  -o-linear-gradient(top,  #FFDD40 0%,#FFD200 98%,#FFDD40 99%,#FFD200 100%);
	background:  -ms-linear-gradient(top,  #FFDD40 0%,#FFD200 98%,#FFDD40 99%,#FFD200 100%);
	background:  linear-gradient(to bottom,  #FFDD40 0%,#FFD200 98%,#FFDD40 99%,#FFD200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDD40', endColorstr='#FFD200',GradientType=0 );*/
    }
.divPaySlipReadN span {margin-top:3px;
    }
.HoverYear
    {
        text-decoration:none;font-family:Helvetica,Andale Mono,Sans-Serif,sans;font-size:12px;padding-left:12px;padding-right:20px;
         background:#ffffff url(../Images/common/yearArr.png) no-repeat 40px -3px;color:#079adc;

    }

.PrintPanel  { position:fixed; left:0px; top:0px;
                 background:url('../images/common/dark.png') 0 0 !important; 
                 display:none; min-width:100%; min-height:100%; z-index:3000;}
.PrintPanelTop { position:relative;   background-color:#ffffff;
                     border:1px solid #0092d7; margin:102px auto 0px auto;/*top, right, bottom and left */  
width:648px;  height: 440px; z-index:2000; overflow:hidden;
padding:0px 0px 0px 0px;  
	-webkit-box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   -moz-box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   box-shadow:0 15px 10px rgba(6,6,6, 0.7);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}
.PrintContent {
    overflow:hidden;
}
.PrintBoxScroll
{float:left;
height:456px;width:698px;
 border:0px none;
padding-left:0px;padding-right:0px;padding-top:1px;padding-bottom:1px;margin-left:0px;margin-right:0px;
overflow:hidden; 
}
.PrintBoxScrollInside
{   overflow:scroll;height:472px;width:688px;
}
.TitlePrint {
    position: relative;
    float: left;
    padding-left: 6px;margin-top:5px;
    text-decoration: none;letter-spacing:1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;font-weight:normal;
  }

.closelbtnPl {position:relative;float:right;padding-right:4px;margin-top:2px;
  text-shadow: 0px 2px 3px #555; text-decoration:none;
}

#PanelPrinter {  text-decoration:none;
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    letter-spacing:1px; border:0px none;
color: #a6c4dd;cursor:pointer;
}
 #PanelClose {  text-decoration:none;
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    letter-spacing:1px; border:0px none;
color: #a6c4dd;cursor:pointer;
}
.darkPanelFooter { padding: 1px 0px 0px 1px;
    margin: 0px;/*top, right, bottom and left */ 
  width: 99.9%;   height:27px;
font-family:Helvetica,Andale Mono,Sans-Serif,sans;
    color: #fff;
    font-size: 16px;    
  position: absolute;
  bottom: 0px;border-top:1px solid #0092d7;
 background: #75a9d1;
	background: -moz-linear-gradient(top,  #75a9d1 0%, #4372b0 98%, #75a9d1 99%, #4372b0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a9d1), color-stop(98%,#4372b0), color-stop(99%,#75a9d1), color-stop(100%,#4372b0));
	background: -webkit-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: -o-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: -ms-linear-gradient(top,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	background: linear-gradient(to bottom,  #75a9d1 0%,#4372b0 98%,#75a9d1 99%,#4372b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a9d1', endColorstr='#4372b0',GradientType=0 );

}
.FrameCss
{
  vertical-align:middle;border-style:none;width:99.9%;min-height: 700px;margin-right:0px; margin-left:0px;padding-right:0px;padding-left:0px;
  }
#Framecontainer
{
 width: 100%; height: 540px; overflow:hidden;margin-top:-5px;
}

/**************************** Gray Gridview style *********************************/
table.gridViewClassGray {
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    border: 1px solid #f7f7f7;
    padding: 9px;
    border-collapse: collapse;

    background-color: #fff;
}

    table.gridViewClassGray th {
        height: 24px;
        text-align: center;
        color: #04558b;
        font-weight:bold;
        border-bottom: 2px solid #b9b9b9;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        font-size: 12px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
    }

    table.gridViewClassGray tr {
        border: 0px none !important;
    }

    table.gridViewClassGray td {
        height: 23px;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        border: 1px solid #e6e6e6 !important;
        -moz-border-radius: 0; font-weight: normal;    color: #4d4d4d; font-size:9pt;
            }

.gridAlternateCss {
    height: 23px;
    border: 1px solid #aabec9 !important;
    background-color: #fafafa;font-size:9pt;
    font-weight: normal;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
}

.gridRowCss {
    height: 23px;
    border: 1px solid #aabec9 !important;
}

.highlight {
    cursor: pointer;
    color: #000;
    background: #eafc93;
}

.gridpager /*Common Styles*/ {
    background-color: Transparent !important;
    width: auto !important;
    height: 28px !important;
}

    .gridpager table {
        background-color: Transparent !important;
        margin: auto;
        float: right;
    }

    .gridpager tr {
        border: 0px none !important;
        background-color: Transparent !important;
    }

    .gridpager table td {
        background-color: Transparent !important;
        border-collapse: collapse;
        margin: 2px;
    }

    .gridpager td {
        background-color: Transparent;
        border-collapse: collapse;
    }

        .gridpager td table {
            background-color: Transparent !important;
            border-collapse: collapse;
        }

            .gridpager td table td {
                border: 0px none !important;
                padding: 0px 2px 0px 2px;
                margin-top: 1px;
                /*top, right, bottom and left */
                background-color: Transparent !important;
            }

    .gridpager table td a {
        font-weight: bold;
        color: #4b4b4b;
        border: solid 1px #ccc !important;
        /*-moz-border-radius: 12px;
 border-radius: 12px;*/
        font-size: 12px;
        text-decoration: none;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
    }

        .gridpager table td a:hover {
            font-weight: bold;
            color: white;
            border: solid 1px #2a67a1 !important;
            font-size: 12px;
            text-decoration: none;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 3px;
            padding-bottom: 3px;
            background: #317abf;
            background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
            background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
        }

    .gridpager table td span {
        font-weight: bold;
        color: white;
        border: solid 1px #2a67a1 !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        /*top, right, bottom and left */
        background: #317abf;
        background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
        background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
    }
/**************************** Gray Gridview style End*********************************/

  .textboxWatermark
  {
  font-family:Helvetica,Andale Mono,Sans-Serif,sans;color:#f2f2f2;font-size:10pt; 
  }