﻿@charset "utf-8";
/* CSS Document */ 
html {
height:100%;
}
body { height:100%;margin:0; font-family: verdana, Arial, Helvetica, sans-serif; font-size:11px;
        background:url('../images/Common/PageBody/bg1.png') repeat-x 0 0; color:#666;}

       

img,a,li,ol,ul    { border:0px; text-decoration:none;}
.clear            { clear:both;}
.clearheight      { clear:both; height:10px; overflow:hidden;}
.clearheighttbox  { clear:both; height:2px; overflow:hidden;}
.wrapper { margin:0 auto; width:990px; position:relative;}
fieldset { padding:10px; border: 1px solid #D8E5F8; display:block; overflow:hidden;}
legend   { padding:2px 5px 2px 5px; font-weight:bold; color:#22588c;}
fieldset table    { margin:0px !important;}
fieldset.fieldClr { background-color:#f4f9fc;}
.checkbox    { margin:7px 0 0 -3px; float:left;}
table        { background-color:#fff;}
th .checkbox,
td .checkbox { margin:0 auto; float:none; margin-left:12px;}
h2           { font-size:11px; color:#666;}
h2 span{color:#ff0000;}
.underlineh2   { border-bottom:1px dotted #ccc; padding-bottom:3px;}
.width { width:157px;}
.radiobutton { margin-top:5px; float:left;}
.radiobutton input { border:none !important;}
.lblCmn   { float:left; margin:9px 0 0 10px;}
.bCmn     { float:left; clear:both; margin:10px 0 0 0;}
hr        { border-color: #ccc; border-width:0px 0px 1px 0px;}
.left     { float:left;}
.hide     { display:none;}
.rt-align { text-align:right;}
.small-text { font-size:11px; line-height:15px;}
.underline  { border-bottom:1px solid #ccc; padding-bottom:2px;}
.redTbl     { background-color:#33CC33; }
/*****************************Header*****************************/
.header    { float:left; background:url('../images/Common/PageBody/header1.png') no-repeat 0 0; width:990px; height:130px; border-bottom:1px solid #d5d4d4; overflow:hidden; margin-bottom:1px; position:relative;}
.homeBtn   { position:absolute; left:0px; top:15px; background:url('../images/home-button1.png') no-repeat 0 0; width:30px; height:29px;}
/*****************************menu starts*****************************/
.menubox   { float:left; margin:80px 0 0 -3px;  }
.menubox a { float:left; background:url('../images/Common/Menu_Tab/menu-in.png') repeat-x 0 0; height:30px; text-align:center; line-height:33px; color:#615b5b; outline-style:none; font-size:14px;}
.menubox a:hover  { background:url('../images/Common/Menu_Tab/menu-over-in.png') repeat-x 0 0;}
.menubox a .left  { float:left; background:url('../images/Common/Menu_Tab/menu-left.png') no-repeat 0 0; height:30px;}
.menubox a .right { float:left; background:url('../images/Common/Menu_Tab/menu-rt.png') no-repeat right 0; height:30px; padding:0 15px 0 15px;}
.menubox a:hover .right { background:url('../images/Common/Menu_Tab/menu-over-rt.png') no-repeat right 0;}
.menubox a:hover .left  { background:url('../images/Common/Menu_Tab/menu-over-lft.png') no-repeat 0 0;}
.menubox a.sel-menu		{ background:url('../images/Common/Menu_Tab/menu-select-in.png') repeat-x 0 0; color:#fff; }
.menubox a.sel-menu:hover  { background:url('../images/Common/Menu_Tab/menu-select-in.png') repeat-x 0 0; }
.menubox a.sel-menu .left  { background:url('../images/Common/Menu_Tab/menu-select-lft.png') no-repeat 0 0; }
.menubox a.sel-menu .right { background:url('../images/Common/Menu_Tab/menu-select-rt.png') no-repeat right 0;  }
.menubox a.my-prof		 { margin-top:2px !important; float:left; background:url('../images/my-prof-bg-nor.png') no-repeat 0 0 !important; height:27px; width:96px; text-align:center; line-height:33px; color:#615b5b; outline-style:none; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.menubox a.my-prof:hover { background:url('../images/my-prof-bg-over.png') no-repeat 0 0 !important;}
.menubox a.my-prof-sel	 { background:url('../images/my-prof-bg.png') no-repeat 0 0 !important; color:#fff;}
.menubox a.my-prof-sel:hover { background:url('../images/my-prof-bg.png') no-repeat 0 0 !important; color:#fff;} 


.menubox a.create-prof		 { margin-top:2px !important; float:left; background:url('../images/create-prof-bg-nor.png') no-repeat 0 0 !important; height:27px; width:126px; text-align:center; line-height:33px; color:#615b5b; outline-style:none; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.menubox a.create-prof-sel	 { background:url('../images/create-prof-bg.png') no-repeat 0 0 !important; color:#fff; width:126px;}
.menubox a.create-prof-sel:hover { background:url('../images/create-prof-bg.png') no-repeat 0 0 !important; color:#fff; width:126px;} 

/*****************************menu ends*******************************/

.loginBox                { margin-top: 90px; float:right;}
.header .loginBox        { color:#10B3EA; font-size:12px; font-weight:bold;}
.header .loginBox .label { color:#10B3EA ; margin:0px 0 0 3px; float:left;}
.loginBox .linkBx        { float:left; margin-top:-28px;}
.loginBox .linkBx a      { color:#666 !important; font-size:11px; float:left; }
.loginBox .linkBx span   { float:left; color:#666; font-size:25px; margin:-4px 6px 0; line-height:5px;}
.loginBox span           { float:left; height:19px; line-height:19px; color:#fff;}
.loginBox input.text     { float:left; margin-left:5px; width:110px; height:19px; line-height:19px; padding:0 5px 0 5px;}
.loginBox input.button   { font-weight:normal; background:url('../images/goButton1.png') no-repeat 0 0;
                            -moz-border-radius:0px; width:24px; height:21px; text-align:center;
                             line-height:15px; border:0px; margin-left:5px; padding:0px; outline-style:none; 
                             cursor:pointer; float:left; margin-top:0px; color:#000; margin-bottom:0 !important;}
                             
.loginBox input.button:hover {background-position:0 -25px;}
.loginBox a.splLink          { border:0px;  background:url('../images/loginlink.png') repeat-x; border:1px solid #45abcd; color:#076686 !important; line-height:13px; font-size:11px; float:left; padding:0 3px 0 3px; height:15px; margin:7px 3px 0 0;}
.loginBox a:hover            { text-decoration:none;}
.loginBox label              { height:19px; line-height:19px; margin-left:5px; color:#fff; font-weight:bold;}
.loginBox input.logout       { background: url('../images/logotBtn1.png') no-repeat scroll 0 -23px transparent; border: 0 none; bottom: 27px; color: #000000; cursor: pointer; float: right; height: 23px; margin-right: 15px; padding-bottom: 5px; position: absolute; right: 0; text-align: center; width: 75px; z-index: 100;}
.loginBox input.logout:hover { background-position:0 0;}
.menu { background: url('../images/menu.png') repeat-x scroll 0 0 transparent !important; border: 1px solid #EBEAEA; height: 26px !important;    line-height: 26px !important; margin-left: 3px; margin-top: 12px; padding: 0 2px 0 2px; width: auto !important; font-size:11px !important;}

/*****************************Header Ends*****************************/

/***************************** content *******************************/
.maiNBottomBox    { background:url('../images/homeImage3.png') no-repeat 0 0; width:983px; height:194px; float:left; margin-top:5px;}
.Scrolljob        { float: left; height: 113px; margin:48px 17px 0 10px; width:334px; font-size:10px; overflow:hidden;}
.Scrolljob p a    { color:#05395e; text-decoration:underline;}
.rightbox { float:left; width:200px;}
.content          { float:left; clear:both; width:990px; position:relative;}
.content .leftBox { width:100%; float:left; border:none !important;}
.banner           { float:left; background:url('../images/header.jpg') no-repeat 0 0; width:784px; height:270px; 
                    position:relative; margin-top:5px; }
                    
 .content .leftBox .label { float:left; margin-top:4px;}
.banner .caption  { position:relative; z-index:100; top:50px; left:50px; color:#FFFFFF; font-size:30px;}
.homesearcBox     { color:#666; float:left; background:url('../images/searchBgbg.png') 0 0 repeat-x ;  
                    height: 258px; width: 205px; padding:0 2px 10px 2px; border:1px solid #e3e4e3;}
.homesearcBox h3                 { padding:0px 0 0 10px; text-align:left; margin:0 0 0 -3px; color:#525050; font-weight:normal; font-size:14px; width:348px; height:24px; line-height:24px; background:#ccc;}
.homesearcBox .selctCat          {float:left; margin:8px 0 8px 10px;}
.homesearcBox .long              { width:331px !important;}
.homesearcBox .zoom              { background:url('../images/zoom.png') 0 0 no-repeat; width:15px; height:15px; text-indent:-9999px; border:0px; float:left; clear:none;}
.homesearcBox .dropDownList      { width:151px !important; margin:0px;}
.homesearcBox option             { width:auto !important;}
.homesearcBox .radiobutton       { float:left; margin-bottom: -14px; margin-top: 6px;}
.homesearcBox .radiobutton label { float:left;clear:none; margin:3px 0 0 0; color:#666;}
.homesearcBox .radiobutton input{ float:left; width:20px; height:auto; clear:none;}
.homesearcBox .sel               { float:left; clear:both; height:15px; width:351px; margin:5px 0 4px 0;}
.homesearcBox .sel table,
.homesearcBox .sel th,
.homesearcBox .sel td,
.homesearcBox .sel tr      { border:0px !important; height:auto; float:left;}
.homesearcBox .left        { float:left; width:163px;}
.homesearcBox h2           { font-size: 12px; height: 35px; line-height: 35px; margin: 0 0 10px 0; text-align: center; display:block;}
.homesearcBox label        { margin-bottom:3px; clear:both; float:left; font-size:12px;}
.homesearcBox input.text   { width:131px; height:11px; border:1px solid #d0cdcd; color:#8d8c8c; }
.homesearcBox input,
.homesearcBox select       { clear: both; float: left; height: 19px; width: 151px; 
                             margin-bottom:12px; border:1px solid #d0cdcd; color:#8d8c8c;}
.homesearcBox input.button { -moz-border-radius: 0px; text-align:center;
                              padding:0px;  background:url('../images/button1.png') 0 0 no-repeat;
                               width:72px; height:26px; text-align:center; line-height:26px; 
                               color:#666; margin-right:6px; border:0px; float:right;margin-top:0px;
                                cursor:pointer;}
.homesearcBox input.button:hover {background-position:0 -31px;}
.homesearcBox .Panlpop	{ display:none; border:1px solid #aaaeb0;  padding:0px; z-index: 1000; position:absolute; right:0px; top:14px; } 
.homesearcBox .refnoPnl { right: 737px !important; top: 81px;}
.homesearcBox .subject	{ right: 653px !important; top: 149px;}
.homesearcBox .location { right: 669px !important; top: -71px;}
.homesearcBox .exp		{ right: 599px !important; top: 81px;}
.homesearcBox .position { right: 456px !important; top: 115px;}
.homesearcBox .department { right: 483px !important; top: 149px;}
.homesearcBox .age		  { right: 578px !important; top: 83px;}
.homesearcBox .closeWrap  { position:absolute; top:-15px; right:0px;}
.homeloginLabel1          { width:34px;}
.homesearcBox .Panlpop .selectMulti { width:auto !important; height:auto !important;
                                       margin:0px !important; background:none !important;}
                                       
.content .heading              { background:url('../images/icons.png') no-repeat 0 0; height:35px; line-height:35px; border-bottom:1px solid #d8e5f8; padding:0 0 0 30px; color:#459cc9; font-size:13px; font-weight:bold; margin:5px 0 10px; padding:0 0 0 40px;}
.content .approval             { background-position:0 -65px;}
.content .personalannexure     { background-position:0 -129px;}
.content .previousEmployment   { background-position:0 -201px;}
.content .interviewScheduling  { background-position: 0 -345px}
.content .skillDetails         { background-position:0 -269px;}
.content .leblinputBoxes       { float:left; width:185px; margin:10px 0;}
.content .leblinputBoxesregn   { float:left; width:250px; margin:10px 0;}
.leblinputBoxes span { float:left;}
.content .leblinputBoxes .left { margin-right:20px; }
.content .fileUpload           { margin:5px 0 0 10px; float:left;}
.content .label                { float:left;}

.content .label span           { color:Red;}
.content .input,
.content .selectMulti  { width:171px; height:15px; color:#666; border:1px solid #ccc;
                          line-height:15px;margin:5px 0px 0 0;  margin-right:2px; 
                          clear:both; font-family:Verdana; font-size:11px;}

.content .textarea,
.inputdate{ width:67px!important; height:15px; color:#666; border:1px solid #ccc; 
            line-height:15px;margin:5px 0px 0 0; float:left; margin-right:2px;
             clear:both; font-family:Verdana; font-size:11px;}
.inputsal{ width:100px!important; height:15px; color:#666; border:1px solid #ccc; line-height:15px;margin:5px 0px 0 0; float:left; margin-right:2px; clear:both; font-family:Verdana; font-size:11px;}
.content .dropDownList { width:173px; color:#666; font-size:11px; font-family:Verdana; 
                         height:19px; border:1px solid #ccc; line-height:15px;margin:5px 0px 0 0; float:left; margin-right:2px; clear:both;}
.dropDownListDate { width:85px; color:#666; font-size:11px; font-family:Verdana; height:19px; border:1px solid #ccc; line-height:15px;margin:5px 0px 0 0; float:left; margin-right:2px; clear:both;}
.dropDownListSal { width:120px; color:#666; font-size:11px; font-family:Verdana; height:19px; border:1px solid #ccc; line-height:15px;margin:5px 0px 0 0;  margin-right:2px; clear:both;}
.content .textarea     { height:80px !important; width:380px;}
.content .selectMulti  { width:156px; height:70px; clear:none; float:left; margin-left:-10px; border:0px; margin-top:-10px;}
.content .selectMulti option { border-bottom:1px solid #f2f6fa; color:#074053;}
.content .selectMultiWExp    { width:168px; height:70px; clear:none; float:left; margin-left:0px; border:0px; margin-top:-10px; }
.content .selectMultiWExp option { border-bottom:1px solid #f2f6fa; color:#666; font-size:11px !important;}
.content .selectMultiWExp option:visited  {background-color:Red;}
 
.content .smallText              { width:auto !important;}
.content td .button,
.content td a          { float:none !important; display:block !important; height:22px!important; 
                         line-height:22px!important; margin:3px !important;}
a.button,
.content td .button,
.content td a,
input.button            { padding:0 8px 0 8px; text-align:center; line-height:26px; height:26px; border:1px solid #ccc; 
                          font-weight:bold; font-size:11px; float:right; margin:5px 0px 0px 3px; cursor:pointer; color:#666; }
a.button:hover,
input.button:hover      { background-position:0 -31px;}
.content table			{ float:left; border-collapse:collapse; margin-bottom:10px; margin-top:5px; 
              			  color:#033448; text-align: left;}
.contentapdetail          { float:left; clear:both; width:374px; position:relative;}
.contentapdetail table{ float:left; border-collapse:collapse; margin-bottom:10px; margin-top:5px; color:#033448; 
                        text-align: left; width:374px;}

.content td , .content tr, .content th { border:1px solid #d8e5f8; padding:5px; height:auto!important;}
.content th		{ height:30px; text-align:left; color:#056687;  font-weight:bold; 
           		  border-bottom:4px solid #d8e5f8; background-color:#fff; }
a.button {float:left !important;}
.content tr:hover { background-color:#e7f3f7;}
.content table input {margin:0px; padding:0px;}
.formwrapper { float:left;}
.content td .button {font-weight:normal; font-size:12px; margin:0px; padding:0 2px 3px;}
.content td img {margin:0 auto; width:11px; height:11px; display:block;}
.content td b { color:#bc8526; font-weight:bold; margin-bottom:5px; background:url('../images/iconArrow.png') no-repeat 0 4px; padding-left:10px; }
.gridView  {border:none !important; 
	padding: 9px; border-collapse:collapse;
	-moz-border-radius:0;}
                               
  .gridpager /*Common Styles*/
{
   background-color:Transparent !important;
width:auto !important;
height:auto !important;

}


.gridpager table

{background-color:Transparent !important;
 text-align:center; margin:auto;
width:auto !important;
height:auto !important;}
.gridpager tr 
{ border:solid  0px !important;
 background-color:Transparent !important;
 width:auto !important;

 }
.gridpager table td

{background-color:Transparent !important;
  border:none 0px !important;
height:auto !important;
width:auto !important;
border-collapse:collapse;
}

.gridpager td

{width:auto !important;
background-color:Transparent !important;border-collapse:collapse;
}
.gridpager td table
{background-color:Transparent !important;
width:auto;padding:0px important;border-collapse:collapse;

}
.gridpager td table tdborder-collapse:collapse;
{border:none 0px !important;width:auto !important;
 text-align:center !important;height:10px !important;
padding:0px important;
}
.gridpager  table td a

{height:15px !important;width:10px !important;
text-align:center !important;
  color:#056687;
   border:solid 1px #aabec9 !important;
     padding:0px 5px 6px 5px !important;
     background-color:#d8e5f8 !important; 
}
.gridpager  table td a:hover 
{
height:15px !important;width:10px !important;
text-align:center !important;
  color:black;font-weight:bold;
 
    border:solid 1px #aabec9 !important;
    padding:0px 5px 6px 5px !important;
    background-color:#fff !important;
    }/*padding:top right bottom left */

.gridpager table td span
{height:15px !important;width:10px !important;
font-weight:bold;
color:black;
 border:solid 1px #aabec9 !important;
 padding:4px 6px 4px 6px !important;

}     

table.ContentInfo
{border:none !important; width:100%;
	padding: 9px; border-collapse:collapse;
	-moz-border-radius:0;
}
table.ContentInfo th {height:30px; text-align:center; color:#056687;  font-weight:bold; 
           		  border-bottom:4px solid #d8e5f8; background-color:#fff;}
table.ContentInfo tr { border:1px solid #aabec9; padding:9px;}
table.ContentInfo td 
{
	border:1px solid #d8e5f8; padding:5px; height:auto!important;
	-moz-border-radius:0;
}


table.BlueTable_simple 
{ border:none !important; width:100%;
	padding: 9px; border-collapse:collapse;
	-moz-border-radius:0;
} 
table.BlueTable_simple th {height:30px; text-align:center; color:#056687;  font-weight:bold; 
           		  border-bottom:4px solid #d8e5f8; background-color:#fff;}
table.BlueTable_simple tr { border:1px solid #aabec9; padding:9px;}
table.BlueTable_simple td 
{
	border:none;
	-moz-border-radius:0;
}
.trHeader 
{border:none !important;
  background:url('../images/Common/PageBody/inbxBg.png')  0 0 repeat-x; 
color:#2195df;
font-weight:bold; padding-top:14px; padding-bottom:14px;font-size:9pt;
 }
.tdfieldsHome
{margin-top:3px;padding-top:4px;
	font-weight:bold;font-size:10px;
}
.tdfieldsHomeValue
{margin-top:3px;padding-top:4px;
	font-weight:normal;font-size:11px;
}
table.tableNoborder 
{border:none 0px !important;
}

table.tableNoborder tr
{border:none 0px !important;
}
table.tableNoborder tr:hover 
{ background-color:Transparent !important;}

table.tableNoborder td
{border:none 0px !important;
}

.remark
{
font-family:Verdana; font-size:0.9em;color:#666;	
}
 
.tdblankTop
{border-right-style:none !important;border-right-width:0px !important;
 border-left-style:none !important;border-left-width:0px !important;
 border-top-style:none !important; border-top-width:0px !important;

}
.tdblankAll

{border:none !important;border-style:none !important; margin-top:-1px;background-color:Transparent !important;
	
}
.tdblankall_small

{border:none !important;background-color:Transparent !important;margin:0px !important; height:4px !important;
	
}

.tdblankTop:hover 
{ background-color:Transparent !important;}

.add-div1  { width:200px; float:left; overflow:hidden;}
.add-div2  { width:174px; float:left; overflow:hidden;}
.add-div1 .label { margin-top:4px;}
.note {font-size:9px; color:#666666; float:left; margin-top:10px; font-family:Arial;}
.statusBullet {float:left; background:url('../images/statusbullets.png') 0 0 no-repeat; width:300px; margin:10px 0 0 0; height:12px;}
.imgBlts {float:left; margin:10px 0 0 0;}
.status {float:right;}
.statuslbl {float:right; color:#5c5858;}
.statuslbl .label { font-weight:normal !important;}
.status span {float:left;}
.status img { float:left; margin:3px 0 0 5px;}
.listBoxes  { float:left; color:#666; font-size:11px; font-family:Verdana; }
.listBoxes .buttonwrap { width:38px; float:left; margin:18px 0 0 5px;}
.listBoxes .button {float:left; height:20px; width:30px; margin:0 0 2px 0;}
table.tble td a.link { border:none; background:none !important; float:left !important; text-align:left;}
table.tble td span { float:left; clear:both;}
.splLink { float:left; background:url('../images/splLink.png') 0 0 repeat-x; border:1px solid #d3d2d2; padding:2px 5px; margin-bottom:5px; color:#575151;}
.splLink:hover { background:url('../images/splLinkOver.png') 0 0 repeat-x;}
.formwrapperLeft { float:left; margin-right:30px;}
.formwrapperLeft .label { width:200px;}
.FiledsetlistBox { float:left;}
.FiledsetlistBox input {float:left; margin-right:15px !important;}
.Panlpop {float:right; position:absolute; z-index:1000; padding:10px; width:164px;  right:0; top:14px; background:url('../images/dropDownBg.png') repeat-x 0 bottom #fff; border:1px solid #aaaeb0;}
.Panlpop ul { margin:0px; padding:0px; overflow-x:auto; overflow-y:auto; max-height:159px;}
.Panlpop ul li { cursor:pointer; clear:both; padding:3px; background:url('../images/listbg.png') repeat-x 0 0 #ccdff2; border-bottom:1px solid #cccccc; display:block; overflow:hidden;}
.Panlpop ul li:hover { background:#e9f3fd;}
.Panlpop ul li a {color:#2a5482; display:block;}
.dark { width:100%; height:100%; background-color:Black; opacity:.8; position:fixed; left:0px; top:0px; z-index:900;}
.rightbox .closeWrap .button 
{ float:right !important; width:16px !important; margin:0 !important; height:14px !important; 
  background:url('../images/Common/PageBody/close.png') 0 0 !important; border:0px !important; padding:0px !important;}
.mainheading { color:#084777; font-size:11px; font-weight:bold; display:block;  
               overflow:hidden; padding:5px; border:1px solid #b5cae7;  
               background:url('../images/Common/PageBody/mainHeahingrtbg.png') no-repeat right 0 #e6effc !important ; margin:5px 0; }
.mainheading .left {float:left;}
.mainheading .right {float:right; font-size:12px;}
.mainheading .label,
.mainheading span { width:auto !important; margin:0px !important; padding:0px; font-weight:normal;}
.details { margin-bottom:5px; margin-top:20px; display:none;  overflow:hidden; color:#8099a8;}
.details .label { background:none; width:auto; margin:0px; padding:0px;}
.details span { background:none; width:auto; margin:0px; padding:0px;}
.details .left { float:left; color:#fcb545; font-size:18px;}
.details .right { float:right;}
.inbox { background:url(../images/inbxBg.png) 0 0 repeat-x; border:0px; margin:20px 0px 10px 0; display:block; overflow:hidden;}
.longTable { overflow-x:auto;}
.inbox h2 { float:left; clear:both;  margin:10px 0 10px 0;}
.inbox legend { padding:0 10px 4px 10px; margin-top:28px;}
.inbox table.tble,
.inbox table th,
.inbox table tr { border:1px solid #aabec9 !important; background-color:#ebf2f6; padding:8px;}
.inbox table td { border:none;}
.inbox table.tble { width:100%;}
.inbox table.tble td a.link { margin:0px; font-weight:normal;}
table.apldjbs { width:100% !important;}
.inbox table.apldjbs td {  border: 1px solid #AABEC9 !important;}
.inbox a.splLink { text-decoration:underline; background: url("../images/delete-show-icons.png") no-repeat scroll 0 0 transparent !important; padding:0 0 0 15px!important; border:0px!important; color:#204689; margin-top:10px; margin-right:20px;}
.inbox a.show { background-position:0 -43px !important;}
.inbox b { color:#204689;}

#profilr-details .label {}
.divider { float:left; height:50px; width:10px;}
table.steptbl { height:11px; border:0px; width:100%; margin-top:6px; border:1px solid #b2b2b2;}
table.steptbl td,
table.steptbl tr { padding:0px; height:3px; font-size:3px; border:0px;}
table.steptbl tr { background-color:#CC0000 !important;}
table.steptbl td { border:1px solid #fff;}
.step { margin:5px 0 -2px 0; font-size:16px; display:none;}
.step .left {float:left;}
.step .right {float:right;}
.longinputBxs { width:555px !important; margin-top:10px !important;}
.multipleText { width:568px !important; height:80px !important;}
.multipleTextsmall {  width:245px !important; height:150px !important; margin-right:10px;}
.multipleTextspop {height: 29px !important; margin: 0; width: 171px !important;}
.multipleTextspop1 {height: 230px !important; margin: 0; width:auto; min-width: 346px !important; _width:347px}
.minilong { width:243px !important;}
.edit { background:url('../images/edit.png') 0 0 no-repeat !important; border:0px !important; margin:0px 0 0 5px !important; padding:0px !important; width:38px !important; height:13px !important; float:left;}
.delete { background:url('../images/delete.png') 0 0 no-repeat !important; border:0px !important; margin:3px 0 0 8px !important; padding:0px !important; width:45px !important; height:10px !important; float:left;}
.slidepnlbox { float:left; margin:10px 6px 10px 0;}
.highlight,
.sideButton  { font-size:10px; cursor:pointer; padding:0px 5px 0px 19px; height:24px; line-height:24px; color:#fff; float:left; background:url('../images/arrowDown1.png') no-repeat 4px 7px #13bbf4;}
.highlight   { background-position:4px -52px !important;}
.countBx { font-size:11px; height:24px; line-height:24px; color:#fff; float:left; background:url('../images/arrow-rt.png') right 0 no-repeat #13bbf4; padding:0px 10px 0 5px; margin-left:2px; border:0px;  }
.slidepannel { min-width:150px; position:absolute; width:auto; height:auto; padding:10px; background-color:#f1fbff; display:none; border:2px solid #6cd7fc; color:#073a6f;}
.slidepannel a {color:#073A6F; text-decoration:underline;}
#searchjobsPage .homesearcBox { margin-top:0px; width:auto; height:auto; border-color:#E5F7FD; border-width:0px 2px 2px 2px; background-image:none; padding-left:4px; color:#074053;}
#searchjobsPage .homesearcBox .long {margin-left:0px;}
#searchjobsPage .homesearcBox .sel { height:5px;}
#searchjobsPage .homesearcBox .selctCat {margin:8px 0 8px 0px;}
.forpopupBx { float:left; position:relative;}
.forpopupBx1 { float:left; position:relative;}

.rightbox .inbox .leblinputBoxes { margin:6px 0 0 0;}
.rightbox .inbox .button { background: url('../images/buttonAuto.png') repeat-x scroll 0 0 transparent !important;
                            border: 1px solid #CCCCCC !important; color: #666666 !important; 
                            cursor: pointer !important; float: left !important; font-weight: normal !important; height: 26px !important; line-height: 26px !important; margin: 10px 28px 3px 10px !important; padding: 0 10px !important; text-align: center !important; width:auto !important; float:right !important; }
.rightbox .inbox .button:hover { background-position:0 -31px !important;}
.prof-image { float:right; margin:5px 0 0 0; width:116px; height:130px; border:1px solid #b5cae7;}
.prof-image img { width:116px; height:130px;}
.rtPadding { float:right; margin-right:11px;}
.rtPadding1 { float:right; margin-right:0px;}
.rtPadding2 { float:right; margin-right:9px;}
.longLabel { width:570px; text-align:justify;}
.refButnWrap { float:right; margin-right:23px;}
#ContentPlaceHolder1_RegularExpressionValidator1,
#ContentPlaceHolder1_RegularExpressionValidator2 { margin-left:-11px;}
.workExpBnWrp { float:right;}
.workExpBnWrp .button { float:right; margin:0 0 0 3px;}
.panelQual    { background-color: #FFFFFF;  border: 3px solid #D8E5F8; margin:30px auto 0px auto; max-height: 520px;
                 overflow-x: hidden; overflow-y: hidden; padding: 10px 10px 0px 10px; width: 522px;}
.panelQual .btnupdate { float:right; margin-right:0px; margin-bottom:10px;}
.panelQual .btnupdate .button { margin:0 0 0 3px}

.panelQualPopUp    { background-color: #FFFFFF;  border: 3px solid #D8E5F8; margin:30px auto 0px auto; max-height: 520px; overflow-x: hidden; overflow-y: hidden; padding: 10px 10px 0px 10px; width: 522px;}
.panelQualPopUp .btnupdate { float:right; margin-right:0px; margin-bottom:10px;}
.panelQualPopUp .btnupdate .button { margin:0 0 0 3px}

.btnWorkExpSave { float:right; margin-right:8px;}
.popup-pannel .btnWorkExpSave { margin-right:4px;}
.popup-panne2 .btnWorkExpSave { margin-right:4px;}
.popup-pannel .button,
.popup-pannel2 .button { margin-right:0px;}
.popup-pannel2 .buttonothrdet { margin-right:9px;}
.content td a.morelink { height:auto !important; line-height:15px !important;}
a.morelink { background:none !important; border:0px !important; width:auto!important; height:auto!important; text-decoration:underline ; font-size:10px !important; font-weight:normal !important; }
/***************************** content Ends  *************************/

/******************************rightbox *******************************/
.zoom { cursor:pointer;}

.rightbox .mainheading { color:#213c4b; display:none;}
.applicationPro { display:block; overflow:hidden; }
.rightbox .applicationPro a { margin-bottom:5px; background-color:#FFBFBF; border:1px solid #FFBFBF;  padding:1px 3px 1px 15px; float:left; width:150px;  clear:both; font-size:11px; color:#666;}
.rightbox .applicationPro a.selected { background-color:#fff; background-image:none; border:1px solid #ccc; color:#666; width:150px;} 
.rightbox .applicationPro a.finished { background:url('../images/tick.png') 148px 2px no-repeat #BBE5C1; border:1px solid #BBE5C1;}
.rightbox .applicationPro a.partial { background:url('../images/exla.png') 148px 1px no-repeat #BBE5C1; border:1px solid #BBE5C1;}
.rightbox .bottombar { background:url('../images/rtBarBottom.png') 0 0 no-repeat; width:218px; height:10px; margin-bottom:3px; display:none;}
.rightbox .homesearcBox { width:200px; max-height:350px; min-height:206px; height:auto;
                           background-image:none; color:#074053 !important; border:none;}
.rightbox .homesearcBox .input { width:125px !important; height: 16px !important; line-height:10px; 
                                 font-size:11px; clear:none; margin-left:8px;}
                                 	.rightbox .loginButton 
                                 	{ border-style: solid !important;
	border-color: #ccc !important;
	border-width: 1px !important;
	color:#666;font-size:11px;
	height: 22px !important; 	margin:7px -3px 0 42px;  clear:none; 
                      	padding: 0 !important; width: 56px !important;   
	
}
.rightbox .homesearcBox .input1 {  width:131px; height:11px; border:1px solid #d0cdcd; color:#8d8c8c;   
                                  }
.rightbox .homesearcBox .left { clear:both; width:170px;}
.rightbox .homesearcBox .selctCat { clear:both; font-size:15px;}
.rightbox .homesearcBox .radio { float:left; clear:both;}
.rightbox .homesearcBox .radiobutton { margin:0px !important;}
.rightbox .homesearcBox .long { width:163px !important;}
.rightbox .inbox .input { height:11px !important;}
.rightbox .ChildMenu{ width:200px; height:auto; background-image:none; color:#074053 !important;
                       border:none !important;}
.inputNew { width:150px; height:15px; color:#084777; font-size:11px; font-weight:bold; border:0px; 
                          line-height:15px;margin:2px 0px 0 0; float:left; margin-right:2px; 
                          clear:both; font-family:Verdana; font-size:11px;}
.inlineObj { margin:0px 0px 0 0; float:left; margin-right:0px; 
                          clear:both;}
.childLink tr:hover { background-color:Transparent !important;}
  .imgCal
 {margin-top:4px !important;
 }                     
#searchjobsPage .homesearcBox input.text { }
.homesearcBox input.text,
.rightbox .homesearcBox input.text { width:149px; border:1px solid #ccc; color:#666; font-size:11px; }
#searchjobsPage .homesearcBox .zoom,
.rightbox .homesearcBox .zoom,
.rightbox .homesearcBox .bounce { cursor:pointer; background:url('../images/zoom2.png') no-repeat scroll 0 0 transparent; border: 0 none;   clear: none;  float: left; height: 15px; text-indent: -9999px; width: 15px;}
#searchjobsPage .homesearcBox input.button { margin:0 7px 0 0 !important;}
#searchjobsPage .homesearcBox input.button,
.rightbox .homesearcBox input.button { background:url('../images/buttonAuto.png') repeat-x 0 0;
                                        padding:0 10px 0 10px; text-align:center; line-height:26px; 
                                        height:26px; border:1px solid #13bbf4; font-weight:bold; 
                                        float:right; margin:10px 0 10px 0px; cursor:pointer; color:#13bbf4;}
.rightbox .mainheading .button { cursor:pointer; float:right; background:url('../images/plusBtn1.png') no-repeat 0 0; 
                                 width:28px; height:24px; border:none; -moz-border-radius:0px; margin:-5px 0 0 0; padding:0px;} 
.rightbox .mainheading .active  { background-position:0 -31px !important;}
.rightbox input.button            { background:url('../images/buttonAuto.png') repeat-x 0 0; padding:0 10px 0 10px; 
                                    text-align:center; line-height:26px; height:26px; border:1px solid #13bbf4; 
                                    font-weight:bold; float:right; margin:10px 0 10px 0px; cursor:pointer; color:#13bbf4; }
.rightbox .login .label { height:20px; margin-top:6px;  color:#666; min-width:34px; } 


  
.rightbox .button { border-style: none !important;
	border-color: inherit !important;
	border-width: 0px !important;
	background: url('../images/Common/PageBody/buttonArrow.png') no-repeat 0 0 !important;
	float: right !important; 	height: 15px !important; 	margin:8px -3px 0 0;
                      	padding: 0 !important; width: 25px !important;   
	clear:none !important; }
	

	.Allbutton
	{background: url('../images/Common/PageBody/buttonArrow.png')
	 
	}
	.buttons
	{padding:0 8px 0px 8px; text-align:center; line-height:26px; height:26px; 
	 border:1px solid #ccc; 
    font-weight:bold; font-size:11px;
    margin: 5px 0px 0px 3px;
     cursor:pointer; color:#666;
	}
	.RemoveLink
	{ cursor:default !important;
	}
	.buttons_grid
	{padding:0 8px 0px 8px; text-align:center; line-height:26px; height:26px; border:1px solid #ccc; 
                          font-weight:bold; font-size:11px;  margin: 5px 0px 0px 3px;  color:#666;
	}
.upadate-link-box {  margin-top:5px; overflow:hidden; display:block;}
.upadate-link-box .label { float:left; margin-bottom:15px;}
.upadate-link-box input.button { float:left; border:0px;
                                  background:url('../images/buttonArrow.png') repeat-x 0 0;
                                   width:26px; height:15px; margin:0!important; padding:0px;}
.rtSerchbtnBox  { float:right; width:110px;}
.rtSerchbtnBox .button { margin-top:0px !important;}
.marq { background:url('../images/marquee-bg.png') right 0 no-repeat; width:166px; height:133px; overflow:hidden; padding:8px 0  5px 0;  margin:84px 0 0 2px;}
.marq a { color:#666;}
.marq marquee { margin-top:28px; margin-left:5px; width:152px;}
.contentDemo { width:798px; height:175px; margin-top:20px;}
.contentDemo p { float:left; clear:both; margin:9px 0 25px 6px;}
.rightbox .inbox { margin:0px; background:none; border-right:1px solid #d5d4d4;}
table.searchjobs { width:100%;}
.searchjobs tr { border-bottom:1px solid #D8E5F8; border-left:0px; border-top:0px; border-right:0px;}
.searchjobs td { padding:10px 5px 10px 5px !important; font-size:10px;  font-family:Verdana !important;}
.searchjobs th { font-family:Verdana; background:#E6EFFC; font-size:10px; border-top:1px solid #B5CAE7; padding:0px 0 0 5px !important;}
.searchjobs td .button { width:100% !important;}
.ajax__validatorcallout_icon_cell img { display:none !important;}
/*****************************rightbox ends **************************/

/**************************** footer *********************************/
.footer     { background:url('../images/Common/PageBody/footer1.png') repeat-x 0 0; width:100%; float:left; height:60px; margin-top:40px;}
.footer .in { width:982px; height:40px; border-top:1px solid #d8d8d8; margin:0 auto; color: #5C5C5C; font-size: 10px; padding-top:20px;}
/**************************** footer Ends*****************************/


/********************* tab ***********************/
.ajax__tab_xp { margin:15px 0 15px 0;}
.ajax__tab_xp .ajax__tab_body {overflow:hidden;}
#draggable { position:relative; width:150px; height:150px; background-color:Black;}

/********************* tab ends ***********************/
.lblwrap200   { width:200px; float:left;}
.lblwrap200PD { width:200px; float:left; margin-top:5px; height: auto;}
.lblwrap125PD { width:125px; float:left; margin-top:5px; height: 14px;}
.lblwrap50    { width:50px; float:left; margin-top:5px; height: 14px;}
.lblwrap25    { width:25px; float:left; margin-top:5px; height: 14px;}
.lblwrap300   { width:300px; float:left; margin-top:7px;}
.lblwrap400   { width:400px; float:left; margin-top:7px;}
.txtbxwrap    { float:left;}
.txtbxwrap .selectMultiWExp { border:1px solid #CCCCCC; width:auto; min-width:173px;  margin:0;}
.txtbxwrap select.selectMultiWExp option { width:144px;}
.txtbxwrap select.selectMultiWExp option:hover { width:auto;}
.txtbxwrap h2 { height:auto; line-height:30px;}
.signature    { width:auto; float:right;}
table.ajax__validatorcallout ajax__validatorcallout_popup_table { width:auto !important;}
.changePass   { margin:50px auto;}
.changePass .label,
.changePass .input { clear:none;}
.changePass .label { width:200px; margin-top:5px;}
/*************** Calender Control ***********************/
.ajax__calendar_container          { border:1px solid #c8d7ee !important; background-color:#fff;}
.ajax__calendar_container table    { margin-left:-5px !important;}
.ajax__calendar_container table td { margin:0px !important; padding:0px;}
table.ajax__validatorcallout_popup_table img { width:auto; height:auto;}
table.ajax__validatorcallout_popup_table tr  { border:none; background:none; padding:0px;}
table.ajax__validatorcallout_popup_table td  { padding:0px;}
table.ajax__validatorcallout_popup_table tr:hover { border:none; background:none;}
table.ajax__validatorcallout_popup_table .ajax__validatorcallout_error_message_cell { padding:5px 0 5px 0;}
table.ajax__validatorcallout_popup_table .ajax__validatorcallout_icon_cell { padding:5px 0 5px 5px;}
.popup-pannel2,
.popup-pannel { width:522px; display:none;  position:relative; background-color:#fff; border:3px solid #B5CAE7; padding:15px; z-index:100001; left:296px; top:15px; float:left;}
.pannellong { max-height:500px; overflow-x:hidden; overflow-y:auto; margin:0 -15px 0 0; width:533px;}
.darkPanlvisible,
.darkPanl2,
.darkPanl     { position:fixed; left:0px; top:0px;
                 background:url('../Images/Common/PageBody/dark.png') 0 0 !important; 
                 display:none; width:100%; height:100%; z-index:10000;}
.darkPanlvisible { display:block;}
.popup-pannel a.button { float:right !important;}
.cancel { cursor:pointer; position:absolute; top:-3px; right:-3px; background-color:#B5CAE7; width:15px; text-align:center; line-height:15px; text-decoration:none; font-weight:bold; color:#000;}
.closebtn { cursor:pointer;  top:-3px; right:-3px; margin-top:-10px; margin-right:-10px; background-color:#B5CAE7; width:15px; text-align:center; line-height:15px; text-decoration:none; font-weight:bold; color:#000; float:right;
    height: 15px;
}
.insidegrdtable    {  margin:0 !important;}
.insidegrdtable2   { margin:0 !important;}
.insidegrdtable2 td { border:1px solid #D8E5F8 !important;color:#056687;  font-weight:bold; width:785px;}
.insidegrdtable td { border:1px solid #D8E5F8 !important;color:#056687;  font-weight:bold; width:785px;}
.insidegrdtableadd td { border:1px solid #D8E5F8 !important;color:#056687;  font-weight:normal; width:785px;}
.insidegrdtableadd th { border:1px solid #D8E5F8 !important;color:#056687;  font-weight:bold; width:785px;}

.popButton    { float:right; }
.paddingrt4   { margin-right:9px;}



.content .dropDownListED { width:347px; color:#666; font-size:11px; font-family:Verdana; height:19px; border:1px solid #ccc; line-height:15px;margin:5px 0px 0 0; float:left; margin-right:2px; clear:both;}
.txtbxwrap .selectMultiWED { border:1px solid #CCCCCC; width:auto; min-width:347px;  margin:0;color:#666; font-size:11px; font-family:Verdana;}
.content .inputED,
.content .selectMultiED  { width:347px; height:15px; color:#666; border:1px solid #ccc; line-height:15px;margin:5px 0px 0 0; float:left; margin-right:2px; clear:both; font-family:Verdana; font-size:11px;}




.myinbox {background: url('../images/iconArrow.png') no-repeat scroll 0 4px transparent; color: #BC8526; font-weight: bold; margin-bottom: 5px; padding-left: 10px;} 
.myinboxbutton {background: url('../images/buttonAuto.png') repeat-x scroll 0 0 transparent; 
                border: 1px solid #CCCCCC; color: #666666; cursor: pointer; font-size: 11px;
                 font-weight: normal; padding: 0 8px; text-align: left; }

a.buttoninbox,
.content td .buttoninbox,
.content td a,
input.buttoninbox {background: url('../images/buttonAuto.png') repeat-x scroll 0 0 transparent !important; width:53px!important; border:1px solid #cdcdcd!important;    color: #666666; cursor: pointer; font-size: 11px; font-weight:bold; padding: 0 8px; text-align: left; text-decoration:none!important; }

a.buttoninbox2,
.content td .buttoninbox2,
.content td a,
input.buttoninbox2 {background: url('../images/buttonAuto.png') repeat-x scroll 0 0 transparent !important; width:auto!important; border:1px solid #cdcdcd!important;    color: #666666; cursor: pointer; font-size: 11px; font-weight:normal; padding: 0 8px; text-align: left; text-decoration:none!important; }


a.buttonusracc,
.content td .buttonusracc,
.content td a,
input.buttonusracc {width:110px!important; background:none!important; border:0px!important;  color: #666666; cursor: pointer; font-size: 11px; font-weight:normal; padding: 0 8px; text-align: left; text-decoration:underline!important; }



a.itemtemp,
.content td .itemtemp,
.content td a,
input.itemtemp {width:126px!important; height:auto!important; background:none!important; border:0 none !important;  color: #666666; cursor: pointer; font-size: 11px; font-weight:normal; padding: 0px!important; text-align:left!important; text-decoration:none!important; }

/*.inbox table td {border: medium none; }*/


.uajinnerwrap{width:auto; height:auto; float:left; padding:15px 15px 15px 0;}
.uajlabel{width:auto; height:auto; float:left; font:11px/24px verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-align:left; padding-right:10px;}
.uajlbl{width:auto; height:auto; float:left; font:11px/24px verdana,Arial,Helvetica,sans-serif; font-weight:normal; text-align:left;}

.dropdwn100{width:100px; height:22px; border:1px solid #CCCCCC; color:#666; font-size:11px; font-family:Verdana;}

.date_new {width:60px !important; float:left; }
.date_new .dropDownList{width:56px; }
.pop1 {  font-weight:bold !important; }
.gridMsg
{padding:2px;line-height:2; text-align:justify; background-color: #ffffff;
                        border: solid 1px #aabec9; color: #000000;
                         width: 500px; height: 90px; font-size:10px;
                          font-weight:bold;word-wrap: break-word;
                    
}

 
            
            
            .diverror
{display:block;
	border: 1px solid #ccc;	 text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                  letter-spacing:1px;font-weight:600;
                  width:966px;
                      background-position: 5px center;
  background:#ffc7c7 url(../images/Common/PageBody/error_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;        }


.divvalid{display:block;border: 1px solid #ccc;	 text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
         letter-spacing:1px;font-weight:600;  width:966px;
 background-position: 5px center;
  background:#d1ff83 url(../images/Common/PageBody/success_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
}  
.divnote{display:block;
border: 1px solid  #ccc;background-color:#fff8da; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 10px; font-weight: normal; color: #2e2e2e;padding:3pt;
                 letter-spacing:1px;font-weight:600;  width:966px;
                 
                 }

.divinfo
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:966px;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
       
}

.divinfoPopUp
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:96.5%;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
       
}

.divinfoInner
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:966px;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;text-align:justify;           
       
}


.validationsummary {
	border: 1px solid #ccc;
	padding: 0px 0px 5px 7px;/*top right botton left */
	font-size:11px;
	width:100%;
	text-align:left;
	background-color:#feffb3;
	  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
}
.validationheader {
	left: 10px;
	font-size: 11px;
	font-weight: bold;
	height:20px;
   padding-top  :6px;
   padding-left:10px;
	text-align:left;
}
.validationsummary ul 
{
	margin: 0;
 padding: 0;
 margin-left: 30px;
	padding-top: 5px;
	padding-left: 45px;
	list-style:round;
	  font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 10px;font-weight:bold;
	text-align:left;letter-spacing:1px;
}
.validationsummary ul li {
	padding: 1px 0px 1px 2px;
		background-position:0px 3px;
	background-repeat:no-repeat;
}
.watermarked
{color:#666; font-size:11px; font-family:Verdana,segoe ui, arial, sans-serif;
}
.modalBackground {
	background-color:Gray;filter:alpha(opacity=90);	opacity:0.9;
}

.modalPopup {
	background-color:#FFFFFF;
	border: 1px solid #ccc;
	padding:3px;

} 
.viewdetails  
{display:inline ! important;float:right;clear:left;
	color:#056687 !important;
	font-weight:bold !important;
	font-size:9px ! important;
}
.gridMsgDetail
{text-align:justify; background-color: #ffffff;
 border: solid 1px #aabec9; color: #000000;width: 500px;
 height:auto;
                     
}
.girdpoplbl
{display:inline  ! important;float:left;clear:right;
}
   
   .Notif_Info_msg {
display:block;
border: 1px solid #ccc;
margin: 20px 1px ;
padding: 22px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
color: #2e2e2e;
 font-size: 15px; 
background-color: #feffb3;
font-family: segoe ui, verdana, arial, sans-serif; letter-spacing:1px;font-weight:600; 
background-image: url('../Images/Common/PageBody/info.png');
width:90%;
position: relative ;height:26px;z-index:3000px;
}
.Notif_button   { position: relative ; border:0px; margin-right:-22px;  outline-style:none; 
                             cursor:pointer; float:right; margin-top:-40px !important; color:#000; 
                            z-index:3000px;}
                             .Notif_warning_hide 
                             {display:none;
                             }
.gridlabel
{border:none 0px !important;color:#2195df;font-weight:bold; font-size:12px;
  display:inline;}
  
 gridBorderless  
 {
     border:none !important;border-style:none !important; background-color:Transparent !important;
     }
                                
  
  .gridBorderless
 tr:hover  
 {border:none !important;border-style:none !important; background-color:Transparent !important;
 } 
 
 .gridBorderless table

{border:none  0px !important;border-style:none !important;
    background-color:Transparent !important;
 }
.gridBorderless tr 
{ border:none  0px !important;border-style:none !important;
 background-color:Transparent !important;


 }
.gridBorderless table td

{background-color:Transparent !important;
  
border:none  0px !important;border-style:none !important;
}

.gridBorderless td

{
background-color:Transparent !important;border:none  0px !important;border-style:none !important;
}
.gridBorderless td table
{background-color:Transparent !important;
border:none  0px !important;border-style:none !important;

}
.gridBorderless td table tdborder-collapse:collapse;
{border:none  0px !important;border-style:none !important;


}
.lblChildNameCss
{
 font-weight:bold !important; 
font-size:11px;
} 
.loginlink
{color:#10B3EA !important; 
     font-weight:bold !important; 
font-size:9px !important;
}

.SibArrBtn {
}
.cssSibdiv
{text-align:left !important;background-color:#fff;
 border:1px solid #aabec9;
}

.currChildLink
{color:#10B3EA !important; 
     font-weight:bold !important; 
font-size:10px !important;
}

.tdPadDiv
{padding-top:14px;
 padding-bottom:1px;
}
.tdfields
{font-weight:normal;font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666;
}
.innerTitletd
{
    color:#056687; font-size:10pt;padding-bottom:12px;
}
.checkboxInner
{ font-weight:bold;margin:-2px 0 0 3px;
   color:#056687;padding-left:3px;
  vertical-align:middle;}
  
  .checkbox label 
{ 
vertical-align: middle;    
} 
 
.checkbox input 
{ 
    vertical-align: middle; 
} 
 
.checkbox label span 
{ 
    vertical-align: middle; 
}
div.holderTitle { overflow:hidden; }
div.holderTitle div { float:left;  width:200px;
      background-color: #ffffff;

                  margin-right:30px; padding-top:6px;padding-bottom:12px;
                  padding-left:2px;padding-right:2px;text-align:center;
                  }

div.holderInner { overflow:hidden; }
div.holderInner div { float:left;  width:200px;
     height:60px;  background-color: #ffffff;
 border: solid 1px #aabec9;
                  margin-right:30px; padding-top:6px;
                  padding-bottom:12px;padding-left:2px;padding-right:2px;
                  text-align:center;
                  }
                  div.holderInner div  
                  span{ display:block;padding-top:4px;text-align:center;
                  }
                  
div.holderSignin { overflow:hidden;}  
 #SignInDiv { padding-top:6px;  width:100%;
      background-color: #ffffff;
text-align:center !important; }    


.linkbtnAcc
{   
 color:#666; font-size:12px !important; width:968px !important;
}   

.AccountBox  {overflow:hidden;  }
.AccountBox a      {display:inline; color:#666 ; 
                    font-size:12px !important;float:left; white-space:nowrap !important; 
                   }
.AccountBox img {display:inline; 
                 margin-top:10px !important;margin-right:4px !important;
                 float:left;
                  }
                
div.CssCourse { overflow:hidden; }
#CourseDiv{ float:left;  width:968px;
      background-color: #ffffff;
 border: solid 1px #aabec9;
}
.divInfoInnerTd
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:965px;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;text-align:justify; 
      padding-right:6px;          
       
}
.InfoTdBasic
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:965px;
                       background-position: 5px center;
  background:#feffb3 url(../images/Common/PageBody/info_s.png) no-repeat 2px 3px ;
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;text-align:justify;           
       
}

.divInfoAmt
{overflow:hidden; 
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:955px;
               
  background:#ffffff;
      padding-left: 0px;padding-top:0pt;padding-bottom:0pt;text-align:justify;           
       
}
.divHeaderAmt 
{border:none !important;
  background:url('../images/Common/PageBody/inbxBg.png')  0 0 repeat-x; 
color:#2195df;
font-weight:normal; padding-top:14px; padding-bottom:14px;font-size:9pt;}





.LinkFocus
{color:#FF0000 !important;
font-weight:normal;
}

.customCalloutStyle div, .customCalloutStyle td{
 border: solid 1px Black !important;
 background-color:Gray !important;
 color:White !important;
 }
 .customCalloutStyle .ajax__validatorcallout_popup_table{
 display: none !important;
 border: none !important;
 background-color: transparent !important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_popup_table_row{
 vertical-align: top !important;
 height: 100% !important;
 background-color: transparent!important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_cell{
 width: 20px !important;
 height: 100% !important;
 text-align: right!important;
 vertical-align: top !important;
 border: none !important;
 background-color: transparent !important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_table{
 height: 100% !important;
 border: none !important;
 background-color: transparent;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_table_row{
 background-color: transparent!important;
 padding: 0px !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_arrow_cell
 {
 padding: 8px 0px 0px 0px !important;
 text-align: right!important;
 vertical-align: top !important;
 font-size: 1px !important;
 border: none !important;
 background-color: transparent !important;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv{
 font-size: 1px;
 position: relative;
 left: 1px;
 border-bottom: none;
 border-right: none;
 border-left: none;
 width: 15px;
 background-color: transparent;
 padding: 0px;
 }
 .customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div{
 height: 1px !important;
 overflow: hidden !important;
 border-top: none !important;
 border-bottom: none;
 border-right: none;
 padding: 0px;
 margin-left: auto;
 }
 .customCalloutStyle .ajax__validatorcallout_error_message_cell
 {
 font-family: Tahoma;
 font-size: 11px;
 padding: 5px;
 border-right: none;
 border-left: none;
 width: 100%;
 }
 .customCalloutStyle .ajax__validatorcallout_icon_cell{
 width: 20px;
 padding: 5px;
 border-right: none;
 }
 .customCalloutStyle .ajax__validatorcallout_close_button_cell{
 vertical-align: top;
 padding: 0px;
 text-align: right;
 border-left: none;
 }
 .customCalloutStyle .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv{
 border: none;
 text-align: center;
 width: 10px;
 padding: 1px;
 cursor: pointer;
 }
 .tdPaidColor
 {
     font-family:Verdana, Arial, Helvetica, sans-serif;
     border-top:solid 1px #ccc !important;
     border-left:solid 1px #ccc !important;
     border-right:solid 1px #ccc !important;
     background-color:#e6effc;color:Black !important;
 }