﻿.gridheader_new {   font-family: Verdana, Arial, Helvetica, sans-serif; 
				background-image:url(../Images/tabmenu/button1.jpg) ;
				background-repeat: repeat-x;
				border:0; font-weight:bold; 			 
				}