﻿
@import url(https://fonts.googleapis.com/css?family=Istok+Web);

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
/*Textbox Watermark*/

.unwatermarked {
	height:18px;
	width:148px;
	font-weight:bold;
}

.watermarked {
	/*height:20px;
	width:150px;
	padding:2px 0 0 2px;*/
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}


/*AutoComplete flyout */

.autocomplete_completionListElement_S1
{  font-family: Verdana, Arial, Helvetica, sans-serif;FONT-SIZE: 11px;
	visibility : hidden;
	margin : 0px!important;
	background-color : inherit;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height:120px;
	 text-align : left; 
    list-style-type : none;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem_S1
{font-family: Verdana, Arial, Helvetica, sans-serif;FONT-SIZE: 11px; 
	background-color: #ffff99;
	color: #1B80B6;
	padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem_S1 
{font-family: Verdana, Arial, Helvetica, sans-serif;FONT-SIZE: 11px;
	background-color : window;
	color : #1B80B6;
	padding : 1px;
}

 .WrapperDiv {
        width:800px;height:400px;border: 1px solid black;
    }        
    .WrapperDiv TH {
        position:relative;
    }
    .WrapperDiv TR 
    {
        /* Needed for IE */
        height:0px;
    } 
  .msgHeadOut1
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             font-size: 11px;
             width: 526px;
             height: 26px;
             text-align: left;
             vertical-align: middle;
             background-image: url(../Images/bgblue.gif);
             background-repeat: repeat-x;
         }
         .msgHeadOut2
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             font-size: 11px;
             width: 477px;
             height: 26px;
             text-align: left;
             vertical-align: middle;
             background-image: url(../Images/bgblue.gif);
             background-repeat: repeat-x;
         }
         
          .msgHeadOut1
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             font-size: 11px;
             width: 526px;
             height: 26px;
             text-align: left;
             vertical-align: middle;
             background-image: url(../Images/bgblue.gif);
             background-repeat: repeat-x;
         }
          .msgInner2
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             vertical-align: middle;
             text-align: left;
             padding-top: 5px;
             padding-left: 6px;
             color: #FFFFFF;
             font-size: 12px;
             font-weight: bold;
         }
         .msgHead3
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             font-size: 11px;
             width: 250px;
             height: 26px;
             text-align: left;
             vertical-align: middle;
             background-image: url(../Images/bgblue.gif);
             background-repeat: repeat-x;
         }
         .msgInner3
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             vertical-align: top;
             text-align: left;
             padding-top: 1px;
             padding-left: 6px;
             color: #FFFFFF;
             font-size: 12px;
             font-weight: bold;
         }
 .msgHeadOutIRC
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             font-size: 11px;
             width: 465px;
             height: 26px;
             text-align: left;
             vertical-align: middle;
             background-image: url(../Images/bgblue.gif);
             background-repeat: repeat-x;
         }
       
          .msgInnerIRC
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             vertical-align: middle;
             text-align: left;
             padding-top: 5px;
             padding-left: 6px;
             color: #FFFFFF;
             font-size: 12px;
             font-weight: bold;
         }
         
          .msgHeadOutAdd
         {
             font-family: Verdana, Arial, Helvetica, sans-serif;
             font-size: 11px;
             width: 647px;
             height: 26px;
             text-align: left;
             vertical-align: middle;
             background-image: url(../Images/bgblue.gif);
             background-repeat: repeat-x;
             margin-right:-1px;
         }
         
         .dynTableHead
         {
         	border-collapse: collapse;
         font-family: Verdana, Arial, Helvetica, sans-serif; 
         font-size: 10px; 
         font-weight: bold;
          color: #1B80B6;
          border-color:#1B80B6;
          border-width:1px;
          border-style:solid;
         }
         .dynTableTitle
         {
         	font-weight: bold; 
         	font-size: 8pt;
         	 background-image: url(../Images/bgblue.gif);
                color: white; 
                font-family: Verdana, Arial, Helvetica, sans-serif;
         }
         .popupMenu12 { 
        position:absolute; 
        visibility:hidden; 
        background-color:#F5F7F8; 
        opacity:.9; 
        filter: alpha(opacity=90); 
} 
 
.popupHover12  
{ 
        /* 
        background-image:<span class='val'>url(images/header-opened.png)</span>; 
        background-repeat:<span class='val'>repeat-x</span>; 
        background-position:<span class='val'>left top</span>; 
        */ 
        background-color: red; 
                z-index: 100000; 
}

.errorSummary
 {
 	background-color:#EDF3FA;
 	border:solid 1px #1B80B6;
 	font-size:11px;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
 	font-weight:bold;
 	color:red;
 	padding:2px;
 	text-align:left;
 
 }
 
 
 
 /*Incident Reporting Css*/
 



.tblFilter
{/*border:0px solid #a9bed8;*/
   border-collapse: collapse;
    border-spacing: 0; 
     font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;width:70%;color:#556270;text-align:left;
}
.txtSearch
{display:inline;
    width:440px !important; height:22px !important; border:1px solid #a9bed8 !important;
    background-color:#FFF !important;border-collapse:collapse;
    color:#1B80B6;font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;margin:1px 0px 1px 0px;padding-left:2px;line-height:20px;
    
}
.txtMulti_Remark
{
    width:95% !important; height:40px !important; border:1px solid #a9bed8 !important;
    background-color:#FFF !important;border-collapse:collapse;
    color:#1B80B6;font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}
.watermarkedtextIR
{color:#bdbdbd; 
    width:440px !important; height:22px !important; border:1px solid #a9bed8 !important;
    background-color:#FFF !important;border-collapse:collapse;
    font-family: verdana, Arial, Helvetica, sans-serif;font-style:italic;
    font-size: 12px;margin:1px 0px 1px 0px;padding-left:2px;line-height:20px;
}

.watermarkedDateIR
{color:#bdbdbd;  width:120px !important; height:20px !important; border:1px solid #a9bed8 !important;
    background-color:#FFF !important;border-collapse:collapse;line-height:18px;
    font-family: verdana, Arial, Helvetica, sans-serif;font-style:italic;
        font-size: 12px;margin:1px 2px 1px 0px;padding-left:2px;
}
.txtDateIR
{width:120px !important; height:20px !important; 
     border:1px solid #a9bed8 !important;line-height:18px;
    background-color:#FFF !important;border-collapse:collapse;
     color:#1B80B6;font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;margin:1px 2px 1px 0px;padding-left:2px;
}


.tblFilterIR td
{
padding:4px 0px 4px 2px;
}

.dropDownCssIR
{ height:24px !important; padding:2px 0px 2px 0px;
   color:#1B80B6; font-size:12px; font-family:Verdana; background-color:#FFF !important;
                         height:22px; border:1px solid #a9bed8 !important; line-height:20px;margin:1px 0px 1px 0px; 
                       
}
.linkbtnCssIR {
 
 color:#0080C9; text-decoration:underline;font-family: verdana, Arial, Helvetica, sans-serif;font-size: 8pt;font-weight:normal;
  }

.linkbtnCssIR:hover {
  color:#0080C9;text-decoration:underline;font-family: verdana, Arial, Helvetica, sans-serif;font-size: 8pt;font-weight:normal;
}
.SupCssIR
{
color:#F85931;font-weight:bold;font-size:11px;
}
.tblBoxIR
{
width:100%;margin:0px;padding:0px;text-align:left;
}
.Descr_cssIR{
  color:#1B80B6;text-decoration:none;font-family: verdana, Arial, Helvetica, sans-serif;font-size: 13px;margin:2px 2px 2px 2px;padding:1px 4px 1px 4px;
}
.StatusCssIR
{
   color:#8a8c8b;font-size:11px;padding-top:2px;margin:2px 2px 2px 2px;padding:1px 4px 1px 4px;
}

.spCatCss {

          background: transparent url(../OASIS_REPORTING/image/Cat.png) no-repeat 0px 0px;/* left top*/
color:#2E302B;font-size:11px;margin:2px 2px 2px 2px;font-family: verdana, Arial, Helvetica, sans-serif;vertical-align:top;
padding-left:14px;
}
.spInfo {

         
color:#031634;font-size:10px;margin:2px 2px 2px 0px;font-family: verdana, Arial, Helvetica, sans-serif;vertical-align:top;
padding-left:4px;
}

.spTimedtCss
{background: transparent url(../OASIS_REPORTING/image/timeDt.png) no-repeat 0px 0px;/* left top*/
    color:#2E302B;font-size:11px;margin:2px 2px 2px 2px;font-family: verdana, Arial, Helvetica, sans-serif;vertical-align:top;
   padding-left:14px; 
}

.spLevelCssLow
{
background: transparent url(../OASIS_REPORTING/image/Level.png) no-repeat 0px 0px;/* left top*/
   color:#f39c12;font-size:11px;margin:2px 2px 2px 2px;font-family: verdana, Arial, Helvetica, sans-serif;vertical-align:top;
 padding-left:14px;  
}
.spLevelCssMedium
{
background: transparent url(../OASIS_REPORTING/image/Level.png) no-repeat 0px 0px;/* left top*/
    color:#ea6f40;font-size:11px;margin:2px 2px 2px 2px;font-family: verdana, Arial, Helvetica, sans-serif;vertical-align:top;
 padding-left:14px; 
}

.spLevelCssHigh
{
background: transparent url(../OASIS_REPORTING/image/Level.png) no-repeat 0px 0px;/* left top*/
    color:#f74e4d;font-size:11px;margin:2px 2px 2px 2px;font-family: verdana, Arial, Helvetica, sans-serif;vertical-align:top;
 padding-left:14px;  
}


table.gridViewClassGrayIR {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 0px none #fff !important;
 

    background-color: #fff;
}


.emptyRow{

    border:1px solid #a9bed8 !important;text-align:center;
    color:#0095CB;text-decoration:none;font-family: verdana, Arial, Helvetica, sans-serif;font-size: 16px;margin:2px 2px 2px 2px;padding:3px 4px 3px 4px;
}
    table.gridViewClassGrayIR tr {
       border: 0px none #fff !important;
    }

    table.gridViewClassGrayIR td {
          border: 0px none #fff !important;
            }
    
.gridpagerIR /*Common Styles*/ {
    background-color: Transparent !important;
    width: auto !important;
    height: 28px !important;
}

    .gridpagerIR table {
        background-color: Transparent !important;
        margin: auto;
        float: right;
    }

    .gridpagerIR tr {
        border: 0px none !important;
        background-color: Transparent !important;
    }

    .gridpagerIR table td {
        background-color: Transparent !important;
        border-collapse: collapse;
        margin: 2px;
    }

    .gridpagerIR td {
        background-color: Transparent;
        border-collapse: collapse;
    }

        .gridpagerIR td table {
            background-color: Transparent !important;
            border-collapse: collapse;
        }

            .gridpagerIR td table td {
                border: 0px none !important;
                padding: 0px 2px 0px 2px;
                margin-top: 1px;
                /*top, right, bottom and left */
                background-color: Transparent !important;
            }

    .gridpagerIR table td a {
        font-weight: bold;
        color: #4b4b4b;
        border: solid 1px #ccc !important;
        /*-moz-border-radius: 12px;
 border-radius: 12px;*/
        font-size: 12px;
        text-decoration: none;
          padding: 1px 7px 1px 7px !important;
       
        background-color: #fafafa;
      
    }

        .gridpagerIR table td a:hover {
            font-weight: bold;
            color: white;
            border: solid 1px #2a67a1 !important;
            font-size: 12px;
            text-decoration: none;
                padding: 1px 7px 1px 7px !important;
       
            background: #317abf;
         
        }

    .gridpagerIR table td span {
        font-weight: bold;
        color: white;
        border: solid 1px #2a67a1 !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 1px;
        padding-bottom: 1px;
        /*top, right, bottom and left */
        background: #317abf;
     
    }
    .UploadCss
    {
        width:420px !important;
        height:26px !important;
        color:#1B80B6;
        font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;line-height:22px;
    }
.downLinkCssIR{
 color:#1B80B6;padding-top:0px; font-family: verdana, Arial, Helvetica, sans-serif;
  
    font-size: 12px;text-decoration:none;font-weight:normal;

}
.downLinkCssIR:hover{
  color:#1B80B6;padding-top:0px;
        font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;text-decoration:none;font-weight:normal;

}
.downImgCss
{display:inline;padding-right:3px;margin-top:-2px;
text-decoration:none;border:0px none;
}

.downImgCss:hover
{display:inline;padding-right:3px;margin-top:-2px;
text-decoration:none;border:0px none;
}
/*.ajax__calendar_days table tr td,
   .ajax__calendar_months table tr td, 
  .ajax__calendar_years table tr td { padding:0 !important; margin:0 !important; }*/ 


 .dbcontainerMain
        {
background-color:#fff ;  display: block;  width: 900px;  margin: 10px 0px 0px 0px;padding:0;text-align:left;
        }
        .dbULcontainer
        {
display:block;position:absolute;z-index:1; margin: 0; width: 200px;
        }
        .dbCatSubContainer {
            display: block;
            position: absolute;
            width: 190px;
            vertical-align: middle;
        }

        .dbCatSubProgContainer
        {
            display:block;width:90px;float:left;padding-left:24px;
        }

        .dblinkbtnCat
        {
            text-decoration:none;
            font-family:  Helvetica, sans-serif;
            color:#555152;font-weight:bold;font-size:11px;
            margin:0px;padding:0px;width:100%;height:100%;cursor:pointer;
            
        }

        .dbIRDetailcontainer{
            

margin-left: 200px; margin-top:2px;padding-left:6px;

 border: 1px solid #88BCE2;
  background-color: #FFF; 

  min-height: 465px; 

 display:block;position:absolute;z-index:0;
 width:670px;
 
 -moz-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    -webkit-box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
    

        }
 .dblinkbtnCat:hover
        {cursor:pointer;
            text-decoration:none;font-family: Helvetica, sans-serif;color:#555152;font-weight:bold;font-size:11px;margin:0px;padding:0px;width:100%;height:100%;
        }
.dbinactiveCat{
  background: #f6f6f6;
    
border:1px solid #e8e8e8;
 padding-left:4px;margin:3px 0px 3px 0px;height:60px;


}
.dbactiveCat
{
border-top: 1px solid  #88BCE2;border-left: 1px solid  #88BCE2;border-bottom: 1px solid  #88BCE2;border-right: 1px solid  #e8e8e8; 

background-color: #fff;padding-left:4px;margin:2px -9px 2px 0px;height:60px;padding-right:0px;
}
.catTotCount
{font-size:32px;display:block;width:60px;float:left;height:35px;font-family:'Courier New',Arial;
margin-top:6px;vertical-align:middle;font-weight:bold;
}

/*.catTotCount33
{font-size:27px;display:block;width:60px;float:left;height:35px;font-family:'AftasansRegular','DenseRegular','Courier New',Arial;
margin-top:6px;vertical-align:middle;font-weight:bold;color:#006B6B;

}

.catTotCount66
{font-size:27px;display:block;width:60px;float:left;height:35px;font-family:'AftasansRegular','DenseRegular','Courier New',Arial;
margin-top:6px;vertical-align:middle;font-weight:bold;color:#B96B54;
}*/

.catTotCount33
{font-size:28px;display:block;width:60px;float:left;height:35px;font-family:'Istok Web','Century Gothic', 'Courier New',Arial;
margin-top:6px;vertical-align:middle;color:#f39c12;
}

.catTotCount66
{font-size:28px;display:block;width:60px;float:left;height:35px;font-family:'Istok Web','Century Gothic', 'Courier New',Arial;
margin-top:6px;vertical-align:middle;color:#ea6f40;
}

.catTotCount100
{font-size:28px;display:block;width:60px;float:left;height:35px;font-family:'Istok Web','Century Gothic', 'Courier New',Arial;
margin-top:6px;vertical-align:middle;font-weight:normal;color:#f74e4d;
}
.LowLevelcss
{color:#f39c12;font-family: Helvetica, sans-serif;font-size:12px;font-weight:bold;

}
.MedLevelcss
{color:#ea6f40;font-family: Helvetica, sans-serif;font-size:12px;font-weight:bold;

}
.HighLevelcss
{
    color:#f74e4d;font-family: Helvetica, sans-serif;font-size:12px;font-weight:bold;
}


.IRUnitLinkcss
{
font-family: Helvetica, sans-serif !important; text-decoration:none !important;color:#0080C9 !important;
font-size:12px !important;font-weight:normal !important;
}
.IRUnitLinkcss:hover
{
font-family: Helvetica, sans-serif !important; text-decoration:none !important;color:#0080C9 !important;
font-size:12px !important;font-weight:normal !important;
}
.dbprogIR {background-color:#f1f1f1;margin:3px 0px 3px 0px;
 width: 75px;   height: 10px;padding:0px;
border: 1px solid #ccc;
 position: relative;

}

.dbProgCount {
 position: absolute;padding:0px;  z-index:1; 
 left: 50%;color: #000;font-size: 9px;font-weight:bold;font-family:  Helvetica, sans-serif;
}
.dbprogTitle
{
position: absolute;  padding:0px; 
 left:0%;color: #000;font-size: 9px;font-weight:normal;margin-left:-18px;
}
.bar1 {position: absolute;padding:0px;
 height: 10px;
background:#f39c12;/*B96B54; #7F9EBB;#ce76fa;*/


	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#ce76fa), color-stop(100%,#ae14fb));
	
background: -webkit-linear-gradient(top,  #ce76fa 31%,#ae14fb 100%);

	background: -moz-linear-gradient(top,  #ce76fa 31%, #ae14fb 100%);
	
background: -o-linear-gradient(top,  #ce76fa 31%,#ae14fb 100%);
	
background: -ms-linear-gradient(top,  #ce76fa 31%,#ae14fb 100%);
	
background: linear-gradient(to bottom,  #ce76fa 31%,#ae14fb 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce76fa', endColorstr='#ae14fb',GradientType=0 );*/
}
.bar2 {position: absolute;padding:0px;
 height: 10px;
background:#ea6f40;/*EB6841; #FF00AA;*/

 
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#fc7ed2), color-stop(100%,#FF00AA));
	
background: -webkit-linear-gradient(top,  #fc7ed2 31%,#FF00AA 100%);

	background: -moz-linear-gradient(top,  #fc7ed2 31%, #FF00AA 100%);
	
background: -o-linear-gradient(top,  #fc7ed2 31%,#FF00AA 100%);
	
background: -ms-linear-gradient(top,  #fc7ed2 31%,#FF00AA 100%);
	
background: linear-gradient(to bottom,  #fc7ed2 31%,#FF00AA 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7ed2', endColorstr='#FF00AA',GradientType=0 );*/	
}


.bar3 {position: absolute;padding:0px;
 height: 10px;
background:#f74e4d;/*F60758; #FF4242;*/ /*#FF4242;
border:1px solid #d7403f;border-collapse:collapse;margin-top:-1px;*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#fb8282), color-stop(100%,#FF4242));
	
background: -webkit-linear-gradient(top,  #fb8282 31%,#FF4242 100%);

	background: -moz-linear-gradient(top,  #fb8282 31%, #FF4242 100%);
	
background: -o-linear-gradient(top,  #fb8282 31%,#FF4242 100%);
	
background: -ms-linear-gradient(top,  #fb8282 31%,#FF4242 100%);
	
background: linear-gradient(to bottom,  #fb8282 31%,#FF4242 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8282', endColorstr='#FF4242',GradientType=0 );*/

}

.arrRightActive {display:block;float:left;margin-top:12px;margin-left:6px;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
		border-left:6px solid #88BCE2; 
}
.arrRightInactive {display:block;float:left;margin-top:12px;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
		border-left:6px solid #ccc; 
}

.darkPanlvisibleIR_DashBoard
     { 
 width:100% !important; height:100% !important;
   position: fixed !important;z-index:2;
   left:0%!important;
   top:0%!important;
   background:url(../Images/dark.png) 0 0 !important;
   display:none!important;
}



.darkPanlvisibleIR_DashBoard { display:block !important;z-index:2;}
.rotate {
    position:absolute;font-weight:normal;font-family:  Helvetica, sans-serif;font-size:13px; color:#fff;
      width:             350px;margin-left: 3px;
     height:            30px; margin-top: -28px;

     -moz-transform:    rotate(-90deg)
                         translateX(230px)
                         scale(1.5);
     -o-transform:      rotate(-90deg)
                         translateX(230px)
                         scale(1.5);
     -webkit-transform: rotate(-90deg)
                         translateX(230px)
                         scale(1.5);
     transform:         rotate(-90deg)
                         translateX(230px)
                         scale(1.5);

     /* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=4.592425498671033e-16, M12=1.5, M21=-1.5, M22=4.592425498671033e-16, SizingMethod='auto expand')";
   
   /* IE6 and 7 */ 
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=4.592425498671033e-16,
            M12=1.5,
            M21=-1.5,
            M22=4.592425498671033e-16,
            SizingMethod='auto expand');


   /*
    * To make the transform-origin be the middle of
    * the object.    Note: These numbers
    * are approximations.  For more accurate results,
    * use Internet Explorer with this tool.
    */
   /*margin-left: 148px; 
   margin-top: -596px;*/
}

.Vertical_header
{position:absolute;

    height:500px !important;	 background-color:#063053;
	/* chrome 2+, safari 4+; multiple color stops */
	background-image:-webkit-gradient(linear, left bottom, right top, color-stop(0.32, #063053), color-stop(0.66, #395873), color-stop(0.83, #5c7c99));
	/* chrome 10+, safari 5.1+ */
	background-image:-webkit-linear-gradient(45deg, #063053, #395873, #5c7c99);
	/* firefox; multiple color stops */
	background-image:-moz-linear-gradient(45deg, #063053, #395873, #5c7c99);
	/* ie10 */
	background-image: -ms-linear-gradient(45deg, #063053 0%, #395873 100%);
	/* opera 11.1 */
	background-image: -o-linear-gradient(45deg, #063053, #395873);
	/* The "standard" */
	background-image: linear-gradient(45deg, #063053, #395873);


	 width:30px;margin-left: -335px;
}
#divFollUp_main
{
    color:#0080C9; font-family: verdana, Arial, Helvetica, sans-serif;font-size: 8pt;font-weight:normal;display:inline;
    cursor:pointer;padding-bottom:16px;margin-top:-6px;
}
.divhoverFollUp
{ 
/*border:1px solid #a9bed8;*/
background-color:#fff;
padding:1px 15px 1px 2px;
 margin-top:16px;
 margin-left:-630px;
    visibility: hidden;
        opacity: 0;
        position:absolute;
   max-width:620px;
    max-height:140px;
    overflow-y:auto;
    overflow-x:hidden;
   
}

.DashBoardPopUpFilter
     { width:630px;height:170px;background-color:white;
 position:absolute;margin-top:23px;
 margin-left:-620px;border:1px solid  #0092d7;
z-index:4;
}
.PopSearchbtn
{clear:initial;
 text-decoration:none;
 color:blue;
}
.divGirdEnabled
{
width:99%;max-height:472px;overflow-y:auto;overflow-x:hidden;padding:1px 6px 1px 3px;text-align:left;
}


.tblFilterIRPopUp
{/*border:0px solid #a9bed8;*/
   border-collapse: collapse;
    border-spacing: 0; 
     font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    font-size: 14px;width:99%;color:#556270;text-align:left;font-weight:normal;
}
.txtSearchIRPopUp
{display:inline;width:300px !important;
    height:22px !important; border:1px solid #a9bed8 !important;
    background-color:#FFF !important;border-collapse:collapse;
    color:#1B80B6;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    font-size: 12px;margin:1px 0px 1px 0px;padding-left:2px;line-height:20px;
    
}

.watermarkedtextIRPopUp
{color:#bdbdbd; 
    width:300px !important; height:22px !important; border:1px solid #a9bed8 !important;
    background-color:#FFF !important;border-collapse:collapse;
    font-family: verdana, Arial, Helvetica, sans-serif;font-style:italic;
    font-size: 12px;margin:1px 0px 1px 0px;padding-left:2px;line-height:20px;
}


#divFollUp_main:hover > div {
        display: block; text-decoration:none !important;
        visibility: visible;
        opacity: 1;
    }
table.gridViewClassIR_DB {
    font-family: Helvetica,Andale Mono,Sans-Serif,sans;
    border: 1px solid #e1e6ef;
    padding: 9px;
    border-collapse: collapse;

    background-color: #fff;
}

    table.gridViewClassIR_DB th {
        height: 25px;
        text-align: center;
        color: #04558b;
        font-weight:bold;
        border: 1px solid  #e1e6ef;
        font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        font-size: 12px;
      
      
    }

    table.gridViewClassIR_DB tr {
        border: 0px none !important;
    }

    table.gridViewClassIR_DB td {
        height: 26px;font-family: Helvetica,Andale Mono,Sans-Serif,sans;
        border: 1px solid #e1e6ef !important;
        -moz-border-radius: 0; font-weight: normal;    color: #4d4d4d; font-size:9px !important;
            }

.gridAlternateCssIR_DB {
    height: 26px;
    border: 1px solid #e1e6ef !important;
    background-color: #f5f7fa;font-size:9px !important;
    font-weight: normal;font-family: Helvetica,Andale Mono,Sans-Serif,sans;

}

.gridRowCssIR_DB {
    height: 26px;
    border: 1px solid #e1e6ef !important;
}

.highlight {
    cursor: pointer;
    color: #000;
    background: #eafc93;
}

.gridpagerIR_DB /*Common Styles*/ {
    background-color: Transparent !important;
    width: auto !important;
    height: 28px !important;
}

    .gridpagerIR_DB table {
        background-color: Transparent !important;
        margin: auto;
        float: right;
    }

    .gridpagerIR_DB tr {
          border: 1px solid #e1e6ef !important;
        /*border: 0px none !important;*/
        background-color: Transparent !important;
    }

    .gridpagerIR_DB table td {
        background-color: Transparent !important;
        border-collapse: collapse;
        margin: 2px;
    }

    .gridpagerIR_DB td {
        background-color: Transparent;
        border-collapse: collapse;
    }

        .gridpagerIR_DB td table {
            background-color: Transparent !important;
            border-collapse: collapse;
        }

            .gridpagerIR_DB td table td {
              border: 0px none !important;
                
                padding: 2px 2px 2px 2px;
                margin-top: 1px;
                /*top, right, bottom and left */
                background-color: Transparent !important;
            }

    .gridpagerIR_DB table td a {
        font-weight: bold;
        color: #4b4b4b;
        border: solid 1px #ccc !important;
        /*-moz-border-radius: 12px;
 border-radius: 12px;*/
        font-size: 12px;
        text-decoration: none;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #fafafa;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%, #fafafa 100%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9), color-stop(100%,#fafafa), color-stop(100%,#e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%,#fafafa 100%,#e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
    }

        .gridpagerIR_DB table td a:hover {
            font-weight: bold;
            color: white;
            border: solid 1px #2a67a1 !important;
            font-size: 12px;
            text-decoration: none;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 1px;
            padding-bottom: 1px;
            background: #317abf;
            background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
            background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
        }

    .gridpagerIR_DB table td span {
        font-weight: bold;
        color: white;
        border: solid 1px #2a67a1 !important;
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 1px;
        padding-bottom: 1px;
        /*top, right, bottom and left */
        background: #317abf;
        background: -moz-linear-gradient(top, #317abf 0%, #2a67a1 100%, #317abf 100%, #2a67a1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#317abf), color-stop(100%,#2a67a1), color-stop(100%,#317abf), color-stop(100%,#2a67a1));
        background: -webkit-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -o-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: -ms-linear-gradient(top, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        background: linear-gradient(to bottom, #317abf 0%,#2a67a1 100%,#317abf 100%,#2a67a1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#317abf', endColorstr='#2a67a1',GradientType=0 );
    }
/***********************/

/*Incident Reporting Css*/ 
