﻿

.dialog {
 width:100%;
 margin:0px auto;
 min-width:20em;
 max-width:1400px; /* I only cut the left background images out to 800px. You could do much larger, etc. */
 color:#507CD1;

}

.dialog .hd .c,
.dialog .ft .c {
 font-size:1px; /* ensure minimum height */
 height:11px;
}

.dialog .ft .c {
 height:14px;
}

.dialog .hd {
 background:transparent url(../Images/webpartPage/tl.png) no-repeat 0px 0px;
 margin-right:14px; /* space for right corner */
}

.dialog .hd .c {
 background:transparent url(../Images/webpartPage/tr.png) no-repeat right 0px;
 margin-right:-14px; /* pull right corner back over "empty" space (from above margin) */
}

.dialog .bd {
 background:transparent url(../Images/webpartPage/ml.png) repeat-y 0px 0px;
 margin-right:6px;
}

.dialog .bd .c {
 background:transparent url(../Images/webpartPage/mr.png) repeat-y right 0px;
 margin-right:-6px;
}

.dialog .bd .c .s {
 margin:0px 8px 0px 4px;
 background:#dae4f7;
 padding:1em;
}

.dialog .ft {
 background:transparent url(../Images/webpartPage/bl.png) no-repeat 0px 0px;
 margin-right:14px;
}

.dialog .ft .c {
 background:transparent url(../Images/webpartPage/br.png) no-repeat right 0px;
 margin-right:-14px;
}

.gridFooter_Att 
{background-color:#2f71ef;
	background:url(../images/t2a.png);
background-repeat: no-repeat; 
background-position: left bottom;
}