<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="clmSubjectBsu.aspx.vb" Inherits="Curriculum_clmSubjectBsu" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
<script language="javascript" type="text/javascript">
function confirm_delete()
{

  if (confirm("You are about to delete this record.Do you want to proceed?")==true)
    return true;
  else
    return false;
   
 }

 



</script>

    &nbsp; &nbsp;


<table id="tbl_ShowScreen" runat="server" align="center" border="0" bordercolor="#1b80b6"
   cellpadding="5"
        cellspacing="0" style="width: 650px" >
            
            <tr >
               <td align="left" style="height: 1px; width: 761px;">
               <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label>
                   &nbsp;&nbsp;&nbsp;
               </td>  
                        </tr>
                   
              <tr><td class="matters">Fields Marked with (<span style="font-size: 8pt; color: #800000">*</span>)
                are mandatory      
        </td></tr>          
           <tr><td align="center" style="width: 761px; "   >
         <table id="Table1" runat="server" align="center" border="1" bordercolor="#1b80b6"
                    cellpadding="5" cellspacing="0" style="width: 354px" CLASS="BlueTableView">
        
         <tr class="subheader_img">
          <td align="left" colspan="12" style="height: 16px" valign="middle" >
         <font color="#ffffff" face="Arial, Helvetica, sans-serif" size="2"><span style="font-family: Verdana">
             Business Unit wise subject allocation</span></font></td>
         </tr>
         
                      
    
       
                 
                
             <tr>
             <td align="center" style="width: 70px; height: 14px;" colspan="18"   class="matters" >    
          
            <table id="Table4" runat="server" align="center" border="0" bordercolor="#1b80b6"
                    cellpadding="12"  cellspacing="0" style="width: 718px; height: 137px;" >         
                <tr>
                    <td align="center" class="matters" colspan="3">
                        Select Curriculum :
                        <asp:DropDownList id="DropDownList1" runat="server" Width="190px">
                        </asp:DropDownList></td>
                </tr>
                                       
            <tr>
            <td align="center" class="matters" >
                &nbsp;&nbsp;<asp:ListBox ID="lstEmpNotAllocated" runat="server" Height="290px" Width="305px" SelectionMode="Multiple" Rows="10" Font-Size="X-Small"></asp:ListBox></td>
              <td align="center" style="width: 8px; height: 285px;">
                  &nbsp;
                  <asp:Button ID="btnRight" runat="server" CssClass="button" Text=">>" /><br />
                <br />   &nbsp;<asp:Button ID="btnLeft" runat="server" CssClass="button" Text="<<" /></td>  
                 
                 <td align="center" class="matters">
                 <asp:ListBox ID="lstEmpAllocated" runat="server" Height="290px" Width="305px" SelectionMode="Multiple" Rows="10" Font-Size="X-Small"></asp:ListBox>   </td>  
                 
            </tr> 
          </table>
           
           </td></tr>
                      </table>
               &nbsp; &nbsp;
               <input id="lstValues" name="lstValues" runat="server" type="hidden" style="left: 274px;
            width: 74px; position: absolute; top: 161px; height: 10px"  />
               &nbsp;&nbsp;<asp:HiddenField ID="hfEmp" runat="server" /><asp:HiddenField ID="hfBsu" runat="server" />
               &nbsp;&nbsp;
           
           </td></tr>
          
        </table>



</asp:Content>

