﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="clmDBStudentReports.aspx.vb" Inherits="Curriculum_DashBoards_clmDBStudentReports" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label id="lbl1" Text="Test" runat="server" Font-Size="XX-Large" ></asp:Label>
    </div>
     <cr:crystalreportsource id="rs" runat="server" cacheduration="1">
    </cr:crystalreportsource>
    </form>
</body>
</html>
