﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdAddIssues.aspx.vb" Inherits="HelpDesk_Version2_TabsPages_hdAddIssues" %>

<%@ Register src="../Usercontrols/hdAddIssues.ascx" tagname="hdAddIssues" tagprefix="uc1" %>
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Add Issue</title>
    <link href="../../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
<ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server">
</ajaxToolkit:ToolkitScriptManager>
 
        <uc1:hdAddIssues ID="hdAddIssues1" runat="server" />
    
    </div>
    </form>
</body>
</html>
