*, ::after, ::before {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}
body {
    
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
}
header {
    background: #fff;
    min-height: 80px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
header h2 { 
    margin: 0; 
    color: #555758; 
    font-weight: 500; 
    font-size: 18px; 
}
header .close-viewer {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: bold;
    border: solid 1px #b1b1b1;
    border-radius: 3px;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    color: #b1b1b1;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
}
header .close-viewer:hover {
    color: #fff;
    background: #52aae1;
    border-color: #52aae1;
}

.document-view {
    padding: 30px 0;
    max-width: 100%;
    margin: 0 15px;
}