<%@ Page Language="VB" AutoEventWireup="false" CodeFile="semMasterSettings.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="SenRegister_semMasterSettings" %>

<%@ Register Src="UserControls/semMasterSettings.ascx" TagName="semMasterSettings"
    TagPrefix="uc1" %>
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
     <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>
            Master Settings
        </div>
        <div class="card-body">
            <div class="table-responsive m-auto">

   <div class="matters">
        <uc1:semMasterSettings ID="SemMasterSettings1" runat="server" />
    </div>

                

            </div>
        </div>
    </div>
</asp:Content> 
