<%@ Control Language="VB" AutoEventWireup="false" CodeFile="hdIssueChartPrint.ascx.vb" Inherits="HelpDesk_FusionCharts_UserControls_hdUserTaskProgressChart" %>
 

<div class="matters" align="center">
    <br />
    <br />
  
    <br />
    <asp:Literal ID="FCLiteral" runat="server"></asp:Literal>
    <br />
    <br />
    <table class="style1">
        <tr>
            <td valign="bottom">
                <asp:Literal ID="FCLiteral1" runat="server"></asp:Literal>
            </td>
            <td valign="bottom">
                <asp:Literal ID="FCLiteral2" runat="server"></asp:Literal>
            </td>
        </tr>
        <tr>
            <td valign="bottom">
                <asp:Literal ID="FCLiteral3" runat="server"></asp:Literal>
            </td>
            <td valign="bottom">
                <asp:Literal ID="FCLiteral4" runat="server"></asp:Literal>
            </td>
        </tr>
    </table>
    <br />
</div>
<script type="text/javascript">

window.setTimeout("pnt()",10000)
function pnt() {
    window.print();
}

</script>
