﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ucProStaff_Map.ascx.vb"
    Inherits="TIMETABLE_ucMasterProcess_ucProStaff_Map" %>


<table width="100%">
    <tr valign="bottom">
        <td align="left" valign="middle">
            <span class="error">
                <asp:Literal ID="lblErr" runat="server" EnableViewState="false"></asp:Literal></span>
        </td>
    </tr>
    <tr>
        <td align="left">
            <asp:Panel ID="plStaffMap" runat="server" ScrollBars="Vertical" Width="100%">
                <asp:GridView ID="gvStaffMap" runat="server" AutoGenerateColumns="False"
                    CssClass="table table-bordered table-row" Height="100%" Width="100%">
                    <RowStyle CssClass="griditem" />
                    <Columns>
                        <asp:TemplateField HeaderText="Untis Uploaded Staff">
                            <ItemTemplate>
                                <asp:Label ID="lblTTM_TEACHER" runat="server" Text='<%# bind("TTM_TEACHER") %>'></asp:Label>
                            </ItemTemplate>
                            <HeaderStyle HorizontalAlign="Center"></HeaderStyle>
                            <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Map it with OASIS">
                            <ItemTemplate>
                                <asp:Image ID="imgMap" runat="server" ImageUrl="~/Images/arrowred.png" />
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
                        </asp:TemplateField>

                        <asp:TemplateField HeaderText="OASIS Available Staff">
                            <EditItemTemplate></EditItemTemplate>
                            <ItemTemplate>
                                <asp:DropDownList ID="ddlUntis_Staff_Name" runat="server" CssClass="ddlanswer">
                                </asp:DropDownList>
                            </ItemTemplate>
                            <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle"></HeaderStyle>
                            <ItemStyle HorizontalAlign="left" VerticalAlign="Middle"></ItemStyle>
                        </asp:TemplateField>
                    </Columns>
                    <SelectedRowStyle CssClass="Green" />
                    <HeaderStyle CssClass="gridheader_pop" HorizontalAlign="Center" VerticalAlign="Middle" />
                    <AlternatingRowStyle CssClass="griditem_alternative" />
                </asp:GridView>
            </asp:Panel>
        </td>
    </tr>
    <tr>
        <td align="center">

            <asp:Button ID="btnSave" runat="server" CssClass="button" Text="Save" />
            <asp:Button ID="btnBack" runat="server" CausesValidation="False"
                CssClass="button" Text="Back" />

        </td>
    </tr>
</table>
