<%@ Master Language="VB" CodeFile="Management.master.vb" Inherits="Management_Management" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>GEMS OASIS</title>
 <script type="text/javascript" src="../cssfiles/tabber.js"></script> 
    <link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <link href="../cssfiles/example.css" rel="stylesheet" type="text/css" />
     <link href="../cssfiles/StyleSheet.css" rel="stylesheet" type="text/css" />
   <script language="javascript" type="text/javascript" src="../chromejs/chrome.js"></script>
   
   <!-- Popup Page Script -->
      
   <!-- End of PopUpPage Script -->  
   <link rel="shortcut icon" href="../Images/favicon.ico" type="image/x-icon">
</head>
<body style="margin-top:0px;margin-left:0px;margin-right:0px;" bottommargin="0px" oncontextmenu="return false">
    <form id="form1" runat="server" defaultbutton="Button1">
       
    <div>
        <table id="AutoNumber1" style="border-collapse:collapse; width: 100%; height: 100%;" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td colspan="2" align="center" bgcolor="#1B80B6" style="height: 15%">
                    <asp:Image ID="imgSchool" runat="server" ImageAlign="AbsMiddle" ImageUrl="~\images\schools\OOS\OOS-OSAS.jpg" /></td>
            </tr>
            <tr valign="top" >
                <td colspan="2" >
                    <table style="width: 100%; border-collapse:collapse;  border-top-style: none; border-right-style: none; border-left-style: none; border-bottom-style: none" cellSpacing="0" cellPadding="0">
                        <tr valign="top" >
                            <td style="width: 25%; background-color:#1b80b6;" align="center">
                <asp:Label ID="lblMainError" runat="server" Font-Names="Verdana" ForeColor="Red"></asp:Label>&nbsp;</td>
                            <td style="width: 25%; background-color:#edb113;">
                                </td>
                            <td style="width: 25%; background-color:#53b046;">
                                </td>
                            <td style="width: 25%; background-color:#ec3225;font-weight: bold; font-size: 8pt; color: white; font-family: Verdana;" align="center">
                                <asp:Label ID="lblLogged" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Size="12px"
                                    ForeColor="White" Text="User Logged In : "></asp:Label>
                                <asp:Label ID="lblUserLog" runat="server" Font-Bold="True" Font-Names="Verdana" Font-Size="12px"
                                    ForeColor="White"></asp:Label></td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#d0ebf9" style="border-right: #1b80b6 1pt solid; height: 14px">
                                &nbsp;<asp:LinkButton ID="LinkButton1" runat="server" Font-Names="Verdana" Font-Size="12px"
                                    ForeColor="#1B80B6">Home</asp:LinkButton></td>
                            <td align="center" bgcolor="#d0ebf9" style="border-right: #1b80b6 1pt solid; height: 14px">
                                <asp:HyperLink ID="HyperLink2" runat="server" Font-Bold="True" Font-Names="Verdana"
                                    Font-Size="12px" Font-Underline="True" ForeColor="#1B80B6" NavigateUrl="~/Modulelogin.aspx">Switch Module</asp:HyperLink></td>
                            <td align="center" bgcolor="#d0ebf9" style="border-right: #1b80b6 1pt solid; height: 14px">
                                <asp:Label ID="lblFinancial" runat="server" Text="Financial Year :2007-2008" Font-Bold="True" ForeColor="#1B80B6" Font-Names="Verdana" Font-Size="12px"></asp:Label></td>
                            <td align="center" bgcolor="#d0ebf9" style="height: 14px">
                                <asp:HyperLink ID="HyperLink3" runat="server" Font-Names="Verdana" Font-Size="12px"
                                    ForeColor="#1B80B6" NavigateUrl="~/login.aspx?logoff=1" Style="left: 852px; top: -38px">Log Off</asp:HyperLink></td>
                        </tr>
                    </table>
                 </td>
            </tr>
            <tr>
                <td valign="top" style="height: 509px">
                 <ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
                    <center>
                       <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                            <ContentTemplate>
                        <asp:ContentPlaceHolder ID="cphMasterpage" runat="server">
                            add your pages &nbsp;here</asp:ContentPlaceHolder>
                            </ContentTemplate>
                        </asp:UpdatePanel>
                        <asp:UpdateProgress ID="upProgGv" runat="server">
                            <ProgressTemplate>
                            <asp:Panel ID="pnlProgress" CssClass="screenCenter" runat="server"><br /><asp:Image ID="Image2" runat="server" ImageUrl="~/Images/loading1.gif" /><br />
                                        Please Wait....</asp:Panel>
                                
                        <ajaxtoolkit:alwaysvisiblecontrolextender id="avcProgress" runat="server" horizontaloffset="10"
                            horizontalside="Center" scrolleffectduration=".1" targetcontrolid="pnlProgress" verticaloffset="10"
                            verticalside="Middle"></ajaxtoolkit:alwaysvisiblecontrolextender>
                            </ProgressTemplate>
                        </asp:UpdateProgress>
                      </center>
                  
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td valign="top">
                </td>
            </tr>
        </table>
        <asp:XmlDataSource ID="xmlDataSource" runat="server" CacheDuration="1" TransformFile="~/TransformXSLT.xsl"
            XPath="MenuItems/MenuItem"></asp:XmlDataSource>
        <asp:Button ID="Button1" runat="server" Height="0px" Text="Button" Width="0px" OnClientClick="return false;" />
    </div>
    </form>
</body>
</html>
