<%@ Control Language="VB" AutoEventWireup="false" CodeFile="comExportMembers.ascx.vb" Inherits="masscom_UserControls_comExportMembers" %>
<asp:RadioButtonList ID="RadioData" runat="server" RepeatDirection="Horizontal">
<asp:ListItem Text ="Mobile" Selected="True" Value="M"></asp:ListItem> 
<asp:ListItem Text ="Email" Value="E"></asp:ListItem> 
</asp:RadioButtonList>
<asp:Button ID="btnExport" runat="server" CssClass="button" Text="Export" />&nbsp;
<asp:HiddenField ID="HiddenGroupid" runat="server" />
