<%@ Page Language="VB" AutoEventWireup="false" CodeFile="BarcodeIssue.aspx.vb" Inherits="Library_Barcode_BarcodeIssue" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Barcode Issue</title>
</head>
<body onload="javascript:window.print();">
    <form id="form1" runat="server">
    <div>
       <br />
       <br />
       <br />
       
        <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
    
    </div>
    </form>
</body>
</html>
