
.cssStepNoE
{
	font-size: 32px;
	display: block;
	width: 10px;
	float: left;
	padding-bottom: 3px;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}
.cssStepContainerE
{
	display: block;
	width: 150px;
	float: left;
	margin: 4px 0px 0px 6px;
	padding-left: 3px;
	font-size: 11px;
}
.cssStepContainer1E
{
	display: block;
	width: 350px;
	float: left;
	margin: 4px 0px 0px 6px;
	padding-left: 3px;
	font-size: 11px;
}

.cssStepE
{
	text-decoration: none;
	font-weight: bold;
}
.cssStepInfoE
{
	padding-top: 2px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
.cssStepBtnActiveE365
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnActiveE365:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActiveE365
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActiveE365:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepContainerE365
{
	display: block;
	width: 100px;
	float: left;
	margin: 4px 0px 0px 6px;
	padding-left: 3px;
}