.title
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #1B80B6;
}
.hddisp
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}
.mattersact
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1B80B6;
}
.griditem_alternative222222
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #1b80b6;
	font-weight: bold;
	background-color: #CEE3FF;
	text-align: left;
	border: 1;
	border-color: #1b80b6;
}
.Grid_LcdDisplay
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #ffffff;
	border: 1;
	border-color: #1b80b6;
}

.gridstyle2222222
{
	border-color: #1b80b6;
	border: 1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}
.gridheader_pop1222222
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	background-image: url(../Images/bgbig.gif);
	background-repeat: repeat-x;
	border: 0;
	color: #1b80b6;
}
.mattersmall
{
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.mattersmall2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	color: #000000;
}
.mattersmallhd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #1B80B6;
}
.mattersmis
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #1B80B6;
}
.matters3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1B80B6;
}
.matters2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}
.matters5
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #1B80B6;
}
.alert
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}
#TableFullHeight
{
	height: 100%;
}
.subHeader_red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-image: url(../Images/bgblue.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #800000;
}
.matters33
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 13px;
	color: #1B80B6;
}
.griditem_dark
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #ffffff;
	border: 1;
	border-color: #1b80b6;
}
.griditem_dark_s
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #ffffff;
	border: 1;
	border-color: #1b80b6;
}
.gridheader_lblue
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #800000;
	background-image: url(../Images/GRIDHEAD.gif);
	background-repeat: repeat-x;
	font-size: 11px;
	border: 0;
	font-weight: bold;
}
.griditem_alternative_dark
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #CEE3FF;
	border: 1;
	border-color: #1b80b6;
}
.griditem_alternative_dark_s
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #CEE3FF;
	border: 1;
	border-color: #1b80b6;
}
.gridheader_simple_hand
{
	font-weight: bold;
	font-size: 10pt;
	color: #1b80b6;
	font-family: Verdana;
	text-decoration: underline;
	cursor: hand;
}
.gridheader_simple
{
	font-weight: bold;
	font-size: 10pt;
	color: #1b80b6;
	font-family: Verdana;
	text-decoration: underline;
}
.subHeader_big
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url(../Images/bgblue.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #000000;
}
A:hover
{
	text-align: left;
	color: #800000;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}
A
{
	text-align: left;
	color: #800000;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}

.vlabel /*vertical oriented label */
{
	font: bold 9pt Verdana;
	writing-mode: tb-rl;
	filter: flipv fliph;
}

.vlabelarial /*vertical oriented label */
{
	font: bold 9pt Arial;
	writing-mode: tb-rl;
	filter: flipv fliph;
}


.vlabelsmall /*vertical oriented label */
{
	font: 7pt Arial;
	writing-mode: tb-rl;
	filter: flipv fliph;
}
.vlabel1 /*vertical oriented label */
{
	font: bold 7pt Verdana;
	writing-mode: tb-rl;
	filter: flipv fliph;
}

.vlabel2 /*vertical oriented label */
{
	font: 6pt Arial;
	writing-mode: tb-rl;
	filter: flipv fliph;
}
.vlabel3 /*vertical oriented label */
{
	font: 7pt Arial;
	color: #0000A6;
	font-weight: bold;
	writing-mode: tb-rl;
	filter: flipv fliph;
}
.MenuLink
{
	z-index: 999;
}

.MenuLink A
{
	background-color: #1B80B6;
	font: bold 8pt Verdana;
	color: White;
	text-decoration: none;
}
.MenuLink A:active
{
	background-color: #1B80B6;
	font: bold 8pt Verdana;
	color: White;
	text-decoration: none;
}
.MenuLink A:link
{
	background-color: #1B80B6;
	font: bold 8pt Verdana;
	color: White;
	text-decoration: none;
}
.MenuLink A:visited
{
	background-color: #1B80B6;
	font: bold 8pt Verdana;
	color: White;
	text-decoration: none;
}
.MenuLink A:hover
{
	background-color: #1B80B6;
	font: bold 8pt Verdana;
	color: Yellow;
	text-decoration: underline;
}
.inputmark
{
	width: 40px !important;
	height: 10px !important;
	color: #000000;
	border: 0px none #ccc !important;
	float: left;
	clear: both;
	font-family: Verdana;
	font-size: 11px !important;
	background-color: #ffffff !important;
	text-align: center;
	padding-bottom: 2px;
}

.inputmark_disable
{
	width: 40px !important;
	height: 10px !important;
	color: #000000 !important;
	border: 0px none #ccc !important;
	float: left;
	clear: both;
	font-family: Verdana;
	font-size: 11px !important;
	background-color: #d3d3d3 !important;
	text-align: center;
	padding-bottom: 2px;
}
.inputboxmulti
{
	background: F5FED2;
	border-bottom: #1B80B6 1px solid;
	border-left: #1B80B6 1px solid;
	border-right: #1B80B6 1px solid;
	border-top: #1B80B6 1px solid;
	color: #555555;
	cursor: text;
	font-family: verdana;
	font-size: 11px;
	width: 250px;
	height: 100px;
	text-decoration: none;
}
.inputboxnor
{
	background: FFFFFF;
	border-bottom: #1B80B6 1px solid;
	border-left: #1B80B6 1px solid;
	border-right: #1B80B6 1px solid;
	border-top: #1B80B6 1px solid;
	color: #555555;
	cursor: text;
	font-family: verdana;
	font-size: 11px;
	height: 14pt;
	text-decoration: none;
}
/* Tis Section is Added By Sajesh - For Applaying CCS to Assesment Module - Mark entry*/
.textboxsmall
{
	background: FFFFFF;
	max-height: 20px;
	border-bottom: #1B80B6 1px solid;
	border-left: #1B80B6 1px solid;
	border-right: #1B80B6 1px solid;
	border-top: #1B80B6 1px solid;
	color: #555555;
	cursor: text;
	font-family: verdana;
	font-size: 11px;
	height: 14pt;
	width: 60px;
	text-decoration: none;
}
.textboxmedium
{
	background: FFFFFF;
	border-bottom: #1B80B6 1px solid;
	border-left: #1B80B6 1px solid;
	border-right: #1B80B6 1px solid;
	border-top: #1B80B6 1px solid;
	color: #555555;
	cursor: text;
	font-family: verdana;
	font-size: 11px;
	height: 14pt;
	width: 80px;
	text-decoration: none;
}
.textboxmulti
{
	background: F5FED2;
	border-bottom: #1B80B6 1px solid;
	border-left: #1B80B6 1px solid;
	border-right: #1B80B6 1px solid;
	border-top: #1B80B6 1px solid;
	color: #555555;
	cursor: text;
	font-family: verdana;
	font-size: 11px;
	width: 200px;
	height: 60px;
	text-decoration: none;
}
/* End Of the Section Assesment Module Mark Entry*/
.button_small
{
	border-style: solid;
	border-color: White;
	border-width: 1pt;
	background-color: #1B80B6;
	background-image: url(   '../images/bg-menu-main.png' );
	font-weight: bold;
	color: #FFFFFF;
	font-family: tahoma,sans-serif;
	font-size: 10px;
	height: 18px;
	text-decoration: none;
}
.button
{
	border-style: solid;
	border-color: White;
	border-width: 1pt;
	background-color: #1B80B6;
	background-image: url(   '../images/bg-menu-main.png' );
	font-weight: bold;
	color: #FFFFFF;
	font-family: tahoma,sans-serif;
	font-size: 11px;
	height: 24px;
	text-decoration: none;
}

.button_menu
{
	border-style: none;
	border-width: 0pt;
	background-image: url('../images/tabmenu/blank.jpg' );
	font-weight: bold;
	color: Black !important;
	font-family: tahoma,sans-serif;
	font-size: 9px;
	height: 20px;
	text-decoration: none;
}
.button_menu:hover
{
	cursor: hand !important;
	background-image: url('../images/tabmenu/blank_hover.jpg' );
}

.button_menu_click
{
	border-style: none;
	border-width: 0pt;
	background-image: url('../images/tabmenu/blank_click.jpg' );
	font-weight: bold;
	color: Black !important;
	font-family: tahoma,sans-serif;
	font-size: 9px;
	height: 20px;
	text-decoration: none;
}
.button_menu_click:hover
{
	cursor: hand !important;
}
.button:hover
{
	background: red;
	background-image: url('../images/bg-menu-mainred.png' );
	border-style: solid;
	border-color: red;
	border-width: 1pt;
	font-weight: bold;
	color: #FFFFFF;
	font-family: tahoma,sans-serif;
	font-size: 11px;
	height: 24px;
	text-decoration: none;
}
.table1
{
	border-color: #1B80B6;
	width: 100%;
	border: 0;
}
.error
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #800000;
}
.gridstyle
{
	border-color: #1b80b6;
	border: 1;
}
.subheader_img
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../Images/newblue.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	color: #ffffff;
	height: 20;
}
.gridheader_new
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../Images/GRIDHEAD.gif);
	background-repeat: repeat-x;
	font-size: 11px;
	border: 0;
	font-weight: bold;
	color: #1b80b6;
}
.gridheader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1b80b6;
	font-weight: normal;
	background-color: #b0c4de;
	border-color: #b0c4de;
	border: 1;
	font-weight: bold;
	color: #1b80b6;
}
.gridheader_pop
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url(../Images/bgbig.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #1b80b6;
}
.gridheader_pop_big
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-image: url(../Images/biggridheadgb.jpg);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #1b80b6;
}
.gridheader_pop_orange
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url(../Images/misc/bgbig_orange.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #800000;
}
.gridheader_pop1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url(../Images/bgbig1.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #1b80b6;
}
.subHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-image: url(../Images/bgblue.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #ffffff;
}
.msg
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-align: left;
	padding-top: 6px;
	padding-left: 6px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.msg2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-align: left;
	padding-top: 5px;
	padding-left: 6px;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.msg_header
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 350px;
	height: 26px;
	text-align: left;
	vertical-align: middle;
	background-image: url(../Images/bgblue.gif);
	background-repeat: repeat-x;
}
.subHeader_E
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-image: url(../Images/bgblue.gif);
	background-repeat: repeat-x;
	border: 1;
	font-weight: bold;
	color: #ffffff;
}
.gridheader_small
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-image: url(../Images/bgblue.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #1b80b6;
}
.gridheader_text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #1b80b6;
}
.gridRowDenied
{
	background: #f9d9d9 url(../Images/accessDenied.png) center no-repeat;
}
.gradeAll
{
	margin-top: 0em;
	margin-left: -0.1em;
	text-decoration: underline;
	vertical-align: middle;
	font-style: italic;
	list-style-position: inside;
	list-style-image: url(../Images/all.png);
	cursor: pointer;
}
.gradeMale
{
	margin-top: 0em;
	margin-left: -0.1em;
	text-decoration: underline;
	vertical-align: middle;
	font-style: italic;
	list-style-position: inside;
	list-style-image: url(../Images/male.png);
	cursor: pointer;
}
.gradeFemale
{
	margin-top: 0em;
	margin-left: -0.1em;
	text-decoration: underline;
	vertical-align: middle;
	font-style: italic;
	list-style-position: inside;
	list-style-image: url(../Images/female.png);
	cursor: pointer;
}
.gradeNone
{
	margin-top: 0em;
	margin-left: -0.1em;
	text-decoration: underline;
	vertical-align: middle;
	font-style: italic;
	list-style-position: inside;
	list-style-image: url(../Images/none.png);
	cursor: pointer;
}
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.modalPopup1
{
	background-color: #c7dde9;
	padding: 3px;
	width: 250px;
	height: 450px;
}
.modalPopup2
{
	background-color: #fff;
}
.griditem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #ffffff;
	text-align: left;
	border: 1;
	border-color: #1b80b6;
}
.griditem_center
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #111177;
	background-color: #ffffff;
	text-align: left;
	border: 1;
	border-color: #1b80b6;
}
.griditem_total
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #f5deb3;
	text-align: left;
	border: 1;
	border-color: #1b80b6;
}
.griditem_alternative
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #CEE3FF;
	text-align: left;
	border: 1;
	border-color: #1b80b6;
}
.img_left
{
	text-align: left;
	border: 0;
}
.radiobutton
{
	background: #ffffff;
	color: #1B80B6;
	font-family: verdana;
	font-size: 11px;
	text-decoration: none;
}
.griditem_hilight
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1B80B6;
	background-color: #f5deb3;
	text-align: left;
	border: 1;
	border-color: #1b80b6;
}
.mattersheading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1B80B6;
}
.rptcrosstb
{
	padding-bottom: 0px !important;
	margin: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
}
.mattersrpt
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: lighter;
	color: #000000;
	padding-bottom: 0px;
	margin: 4px 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
.rptnumeric
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: lighter;
	color: #000000;
	padding-bottom: 0px;
	margin: 4px 2px 4px 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: right;
}
.matters
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1B80B6;
}
.matters2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	color: #1B80B6;
}
.mattersBig
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #1B80B6;
}
.mattersBigger
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #660099;
}
.matterswhite
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: white;
}

.checkbox
{
	background: #ffffff;
	font-family: verdana;
	font-size: 11px;
	width: 199px;
	text-decoration: none;
}

.listbox
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #b0c4de;
	border-color: #b0c4de;
	border: 1;
	width: 202px;
	height: 21px;
	text-decoration: none;
}
.inputbox
{
	background: F5FED2;
	border-bottom: #1B80B6 1px solid;
	border-left: #1B80B6 1px solid;
	border-right: #1B80B6 1px solid;
	border-top: #1B80B6 1px solid;
	color: #555555;
	cursor: text;
	font-family: verdana;
	font-size: 11px;
	width: 199px;
	height: 14px;
	text-decoration: none;
}
.no_margin
{
	margin-left: 0;
	margin-top: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1B80B6;
	background-color: #DFE0E5;
	text-align: left;
	border: 1;
	border-color: White;
}
.lnkaccount a:link
{
	text-decoration: none;
	color: #660099;
	font-size: 13px;
	font-weight: normal;
}
.lnkaccount a:visited
{
	text-decoration: underline;
	color: #660099;
	font-size: 13px;
}
.lnkaccount a:active
{
	text-decoration: underline;
	color: #660099;
	font-size: 13px;
}
.lnkaccount a:hover
{
	text-decoration: underline;
	font-weight: bold;
	font-size: 13px;
}
.lnkerror a:link
{
	text-decoration: none;
	color: #FF0000;
	font-size: 13px;
	font-weight: normal;
}
.lnkerror a:visited
{
	text-decoration: underline;
	color: #FF0000;
	font-size: 13px;
}
.lnkerror a:active
{
	text-decoration: underline;
	color: #FF0000;
	font-size: 13px;
}
.lnkerror a:hover
{
	text-decoration: underline;
	font-weight: bold;
	font-size: 13px;
}
.display_none
{
	display: none;
}
/* styles for menus*/
.chromestyle
{
	width: 99%;
	font-weight: bold;
}
.chromestyle:after
{
	/*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.img_left
{
	border: 0;
	vertical-align: middle;
	text-align: left;
}
.chromestyle ul
{
	border: 0px solid #1B80B6;
	width: 100%;
	height: 21px;
	background: url(chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/
	padding: 0px 0;
	margin: 0;
	text-align: center; /*set value to "left", "center", or "right"*/
}
.chromestyle ul li
{
	display: inline;
}
.chromestyle ul li a
{
	color: #494949;
	padding: 0px 7px;
	margin: 0;
	text-decoration: none;
}
.chromestyle ul li a:hover
{
	background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
	text-decoration: none;
}
.chromestyle ul li a[rel]:after
{
	content: "v"; /*HTML to indicate drop down link*/ /*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}
/* ######### Style for Drop Down Menu ######### */
.dropmenudiv
{
	position: absolute;
	top: 0;
	border: 1px solid #BBB; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	font: normal 12px Verdana;
	line-height: 10px;
	z-index: 100;
	background-color: white;
	text-align: left;
	width: 200px;
	visibility: hidden; /*filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}
.dropmenudiv a
{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	text-align: left;
	font-weight: bold;
	color: black;
}
* html .dropmenudiv a
{
	width: 100%; /*IE only hack*/
	text-decoration: none;
	text-align: left;
}
.dropmenudiv a:link
{
	text-decoration: none;
	color: #1B80B6;
	text-align: left;
}
.dropmenudiv a:hover
{
	/*THEME CHANGE HERE*/
	background-color: #F0F0F0;
	text-decoration: #1B80B6;
	text-align: left;
}
.dropmenudiv a:visited
{
	text-decoration: none;
	color: #1B80B6;
	text-align: left;
}
.dropmenudiv a:active
{
	text-decoration: none;
	color: #1B80B6;
	text-align: left;
}
.mnuMaster a:hover
{
	background-color: #F0F0F0;
	color: yellow;
}
.tabMaster
{
	border: solid 2px #1B80B6;
	background-color: #1B80B6;
	padding: 2px 10px;
	color: White;
}
.tabMaster a:hover
{
	color: yellow;
}
.selectedTabMaster
{
	background-color: white;
	border-bottom: solid 1px white;
	color: #1B80B6;
}
.tabContentsMaster
{
	border: solid 2px #1B80B6;
	padding: 10px;
	background-color: white;
	width: 80%;
}
.tabsMaster
{
	position: relative;
	top: 1px;
	left: 10px;
}
.subReport A
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.subReport A:active
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.subReport A:link
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.subReport A:visited
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.subReport A:hover
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.Linkmgmt A
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.Linkmgmt A:active
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.Linkmgmt A:link
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.Linkmgmt A:visited
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.Linkmgmt A:hover
{
	font: bold 8pt Verdana;
	color: Black;
	text-decoration: none;
}
.HomeHead
{
	font-size: 15pt;
	color: #1b80b6;
	font-family: Verdana;
	background-color: #b0c4de;
}
.treenode a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1B80B6;
}
.treenode a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1B80B6;
}
.treenode a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1B80B6;
}
.treenode a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #1B80B6;
}
.red
{
	background-color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: 15px;
	vertical-align: middle;
	color: Black;
	border-bottom: red 5px solid;
	background-image: url(../Images/password/red.gif);
	background-repeat: no-repeat;
}
.grey
{
	background-color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: 15px;
	vertical-align: middle;
	color: Black;
	border-bottom: blue 5px solid;
	background-image: url(../Images/password/blue.gif);
	background-repeat: no-repeat;
}
.blue
{
	background-color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: 15px;
	vertical-align: middle;
	color: Black;
	border-bottom: Maroon 5px solid;
	background-image: url(../Images/password/maroon.gif);
	background-repeat: no-repeat;
}
.yellow
{
	background-color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: 15px;
	vertical-align: middle;
	color: Black;
	border-bottom: Lime 5px solid;
	background-image: url(../Images/password/lime.gif);
	background-repeat: no-repeat;
}
.green
{
	background-color: White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: 15px;
	vertical-align: middle;
	color: Black;
	border-bottom: green 5px solid;
	background-image: url(../Images/password/green.gif);
	background-repeat: no-repeat;
}
.error_password
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #800000;
}
.bluebg
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	height: 18px;
	vertical-align: middle;
	color: white;
	background-image: url(../Images/bg-menu-main.png);
	background-repeat: repeat-x;
}
.screenCenter
{
	position: absolute;
	z-index: 19;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 300px;
	height: 100px;
	border: 1px solid #ffffff;
	background-color: #AED7FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	opacity: .80;
	filter: alpha(opacity=80);
}
/*AutoComplete flyout */

.autocomplete_completionListElement
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	visibility: hidden;
	margin: 0px !important;
	background-color: inherit;
	color: windowtext;
	border: buttonshadow;
	border-width: 1px;
	border-style: solid;
	cursor: 'default';
	overflow: auto;
	height: 200px;
	text-align: left;
	list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffff99;
	color: black;
	padding: 1px;
}
/* AutoComplete item */
.autocomplete_listItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: window;
	color: Black;
	padding: 1px;
}
table.BlueTable
{
	border-right: #1b80b6 1pt solid;
	padding: 4px;
	border-collapse: collapse;
	border-bottom: #1b80b6 1pt solid;
	-moz-border-radius: 0;
}
table.BlueTable td
{
	border-width: 1px;
	padding: 4px;
	border-left: #1b80b6 1pt solid;
	border-top: #1b80b6 1pt solid;
	border-bottom: #1b80b6 1pt solid;
	-moz-border-radius: 0;
}
table.BlueTable table
{
	border-width: 0px;
	padding: 0px;
}
table.BlueTable table td
{
	border-width: 0pt;
	padding: 1px;
}
table.BlueTableView
{
	border-right: #1b80b6 1pt solid;
	border-bottom: #1b80b6 1pt solid;
	border-top: #1b80b6 1pt solid;
	border-left: #1b80b6 1pt solid;
	padding: 8px;
	border-collapse: collapse;
	-moz-border-radius: 0;
}
.subheader_BlueTableView th
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: #1b80b6 1pt solid;
	background-image: url(../Images/newblue.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	color: #ffffff;
}

table.BlueTable_simple
{
	border-right: #1b80b6 1pt solid;
	padding: 4px;
	border-collapse: collapse;
	border-bottom: #1b80b6 1pt solid;
	-moz-border-radius: 0;
}
table.BlueTable_simple td
{
	border-width: 1px;
	padding: 4px;
	border-left: #1b80b6 1pt solid;
	border-top: #1b80b6 1pt solid;
	border-bottom: #1b80b6 1pt solid;
	-moz-border-radius: 0;
}
table.popdetails
{
	border-right: #1b80b6 1pt solid;
	border-bottom: #1b80b6 1pt solid;
	border-top: #1b80b6 1pt solid;
	border-left: #1b80b6 1pt solid;
	background-color: #FFFFCC;
	padding: 4px;
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF6600;
	font-size: 10px;
	-moz-border-radius: 0;
}
table.popdetails td
{
	border-width: 1px;
	padding: 4px;
	border-left: #1b80b6 1pt solid;
	border-top: #1b80b6 1pt solid;
	border-bottom: #1b80b6 1pt solid;
	border-right: #1b80b6 1pt solid;
	-moz-border-radius: 0;
}
/* gridview */

/* Pager styles*/
.PagerStyle
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../Images/bgblue.gif);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #1d1d1d;
}
.PagerStyle table
{
	text-align: center;
	margin: auto;
}
.PagerStyle table td
{
	border: 0px;
	padding: 5px;
}
.PagerStyle td
{
	border-top: #1b80b6 1pt solid;
}
.PagerStyle a
{
	color: #ffffff;
	text-decoration: none;
	padding: 2pt 10pt 2pt 10pt;
	border-top: solid 1pt #ffffff;
	border-right: solid 1pt #ffffff;
	border-bottom: solid 1pt #ffffff;
	border-left: solid 1pt #ffffff;
}
.PagerStyle span
{
	border-top: solid 1pt #ff0000;
	border-right: solid 1pt #ff0000;
	border-bottom: solid 1pt #ff0000;
	border-left: solid 1pt #ff0000;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	padding: 2pt 10pt 2pt 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table.BlueTable_Colln
{
	border-right: #A62900 1pt solid;
	padding: 0px;
	border-collapse: collapse;
	border-bottom: #A62900 1pt solid;
	-moz-border-radius: 0;
}
table.BlueTable_Colln td
{
	border-width: 1px;
	padding: 4px;
	border-left: #A62900 1pt solid;
	border-top: #A62900 1pt solid;
	border-bottom: #A62900 1pt solid;
	-moz-border-radius: 0;
}
table.BlueTable_Colln table
{
	border-width: 0px;
	padding: 0px;
}
table.BlueTable_Colln table td
{
	border-width: 0pt;
	padding: 0px;
}
.matters_Colln
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #A62900;
}
.gridheader_red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-repeat: repeat-x;
	font-size: 11px;
	background-color: #C34E4E;
	border: 0;
	font-weight: bold;
}
.griditem_red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #fc7f03;
	font-weight: normal;
	text-align: left;
	border: 1;
	background-color: #fffff0;
	border-color: #fc7f03;
}
.griditem_red td
{
	border-right: #fc7f03 1pt solid;
	border-top: #fc7f03 1pt solid;
	border-left: #fc7f03 1pt solid;
	border-bottom: #fc7f03 1pt solid;
}
.griditem_hilight_red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fc7f03;
	background-color: #ffffaa;
	text-align: left;
	border-color: #fc7f03;
}
.griditem_alternative_red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #fc7f03;
	font-weight: normal;
	background-color: #FFDACC;
	text-align: left;
	border: 1;
	border-color: #fc7f03;
}
.griditem_alternative_gray
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: Black;
	font-weight: bold;
	background-color: Gray;
	text-align: center;
	border: 1;
	border-color: #fc7f03;
}
.griditem_alternative_red td
{
	border-right: #fc7f03 1pt solid;
	border-top: #fc7f03 1pt solid;
	border-left: #fc7f03 1pt solid;
	border-bottom: #fc7f03 1pt solid;
}
.matters_Red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #fc7f03;
}


.select_red
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-repeat: repeat-x;
	font-size: 10px;
	background-color: #C34E4E;
	border: 0;
	font-weight: bold;
}

.containerGrid
{
	overflow: auto;
}
/* Keep the header cells positioned as we scroll */
.containerGrid table th
{
	position: relative;
}
/* For alignment of the scroll bar */
.containerGrid table tbody
{
	overflow-x: hidden;
}
.gridtext
{
	text-align: right;
}

div#div_gridholder
{
	width: 900px;
	height: 400px;
	overflow: scroll;
	position: relative;
	z-index: 200;
}


.FrozenCell
{
	position: relative;
	border-collapse: collapse;
	cursor: default;
	left: expression(document.getElementById("div_gridholder").scrollLeft-2);
}

/* Locks the header */
.FreezeHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #1b80b6;
	font-weight: bold;
	background-color: #CEE3FF;
	background-image: url(../Images/biggridheadgb.jpg);
	text-align: left;
	border: 0;
	border-collapse: collapse;
	border-color: inherit;
}

.FreezeHeader th
{
	border: "0";
	border-collapse: collapse;
	position: relative;
	z-index: 10;
	background-attachment: #CEE3FF;
	top: expression(document.getElementById("div_gridholder").scrollTop-2);
}


.FreezeHeader th.FrozenCells
{
	z-index: 10000;
}

div#div_Scrollgridholder
{
	height: expression(this.scrollHeight>399?   "400" : "auto" );
	overflow: scroll;
	position: relative;
	z-index: 200;
}


.FrozenGridCell
{
	position: relative;
	border-collapse: collapse;
	cursor: default;
	left: expression(document.getElementById(   "div_Scrollgridholder" ).scrollLeft-2);
}

/* Locks the header */
.FreezeGridHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url(../Images/bgbig.gif);
	background-repeat: repeat-x;
	border: 0;
	font-weight: bold;
	color: #1b80b6;
}

.FreezeGridHeader th
{
	border: "0";
	border-collapse: collapse;
	position: relative;
	z-index: 10;
	background-attachment: #CEE3FF;
	top: expression(document.getElementById(   "div_Scrollgridholder" ).scrollTop-2);
}


.FreezeGridHeader th.FrozenGridCell
{
	z-index: 100;
}
.ajax__calendar_container
{
	border: 1px solid #c8d7ee !important;
	background-color: #fff;
}
.ajax__calendar_container table
{
	margin-left: -5px !important;
}
.ajax__calendar_container table td
{
	margin: 0px !important;
	padding: 0px;
}
table.ajax__validatorcallout_popup_table img
{
	width: auto;
	height: auto;
}
table.ajax__validatorcallout_popup_table tr
{
	border: none;
	background: none;
	padding: 0px;
}
table.ajax__validatorcallout_popup_table td
{
	padding: 0px;
}
table.ajax__validatorcallout_popup_table tr:hover
{
	border: none;
	background: none;
}
table.ajax__validatorcallout_popup_table .ajax__validatorcallout_error_message_cell
{
	padding: 5px 0 5px 0;
}
table.ajax__validatorcallout_popup_table .ajax__validatorcallout_icon_cell
{
	padding: 5px 0 5px 5px;
}
.popup-pannel2, .popup-pannel
{
	width: 522px;
	display: none;
	position: absolute;
	background-color: #fff;
	border: 3px solid #B5CAE7;
	padding: 15px;
	z-index: 100001;
	left: 296px;
	top: 15px;
	float: left;
}
.pannellong
{
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 -15px 0 0;
	width: 533px;
}
.darkPanlvisible, .darkPanl2, .darkPanl
{
	left: 0px;
	top: 0px;
	background: url(   '../images/dark.png' ) 0 0 !important;
	display: none;
	width: 800px;
	height: 600px;
	z-index: 10000;
}
.darkPanlvisible
{
	display: block;
}
.popup-pannel a.button
{
	float: right !important;
}
.cancel
{
	cursor: pointer;
	position: absolute;
	top: -3px;
	right: -3px;
	background-color: #B5CAE7;
	width: 15px;
	text-align: center;
	line-height: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
.closebtn
{
	cursor: pointer;
	top: -3px;
	right: -3px;
	margin-top: -10px;
	margin-right: -10px;
	background-color: #B5CAE7;
	width: 15px;
	text-align: center;
	line-height: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	float: right;
	height: 15px;
}
.panelFeeSetup
{
	background-color: #FFFFFF;
	border: 3px solid #D8E5F8;
	margin: 3px auto 0px auto;
	max-height: 600px;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 15px 15px 0px 15px;
	width: 800px;
}

.closebtnFee
{
	cursor: pointer;
	top: -3px;
	background-color: #B5CAE7;
	width: 40px;
	text-align: center;
	line-height: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	float: right;
	height: 10px;
}


.cssStepNoE
{
	font-size: 32px;
	display: block;
	width: 10px;
	float: left;
	padding-bottom: 3px;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}
.cssStepContainerE
{
	display: block;
	width: 150px;
	float: left;
	margin: 4px 0px 0px 6px;
	padding-left: 3px;
	font-size: 11px;
}
.cssStepContainer1E
{
	display: block;
	width: 350px;
	float: left;
	margin: 4px 0px 0px 6px;
	padding-left: 3px;
	font-size: 11px;
}

.cssStepE
{
	text-decoration: none;
	font-weight: bold;
}
.cssStepInfoE
{
	padding-top: 2px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
.cssStepBtnActiveE
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnActiveE:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActiveE
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActiveE:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

/**/
.cssStepBtnActive1E
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnActive1E:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActive1E
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActive1E:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 35px !important;
	cursor: pointer;
}


.cssStepBtnActive2E
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnActive2E:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActive2E
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActive2E:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}
/**/
.cssStepBtnCompE
{
	border: 1px solid #bbe458 !important;
	background: #d0f96d !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #005F6B;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnCompE:hover
{
	border: 1px solid #bbe458 !important;
	background: #d0f96d !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #005F6B;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 35px !important;
	cursor: pointer;
}

.darkPanelM
{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0%;
	top: 0%;
	background: url(../Images/dark.png) 0 0 !important;
	display: block;
	z-index: 10000;
}


.darkPanelMTop
{
	height: 280px;
	background-color: #f0f0f0;
	border: 1px solid #0092d7;
	margin: 100px auto 0px auto;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px 0px 0px 0px;
	width: 600px;
}

.holderInner
{
	overflow: hidden;
}

.holderInner
{
	width: 585px;
	height: 239px;
	border: solid 1px #ccc;
	border-collapse: collapse;
	margin: 6px 6px 6px 6px;
	background-color: #FFFFFF;
	padding-top: 12px;
	text-align: left;
}

.cssStepBtnActive
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 120px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnActive:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 120px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnInActive
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 120px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnInActive:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 120px !important;
	height: 22px !important;
	cursor: pointer;
}
.cssStepBtnActive1
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnActive1:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnInActive1
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnInActive1:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 350px !important;
	height: 22px !important;
	cursor: pointer;
}


.cssStepBtnActive2
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnActive2:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	width: 200px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnInActive2
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnInActive2:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 200px !important;
	height: 22px !important;
	cursor: pointer;
}
/**/

.cssStepBtnComp
{
	border: 1px solid #bbe458 !important;
	background: #d0f96d !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #005F6B;
	margin: 2px !important;
	padding: 2px !important;
	width: 120px !important;
	height: 22px !important;
	cursor: pointer;
}

.cssStepBtnComp:hover
{
	border: 1px solid #bbe458 !important;
	background: #d0f96d !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #005F6B;
	margin: 2px !important;
	padding: 2px !important;
	width: 120px !important;
	height: 22px !important;
	cursor: pointer;
}


.cssStepBtnActiveE365
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnActiveE365 A
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnActiveE365:hover
{
	border: 1px solid #52a1c6 !important;
	background: #69b3d6 !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #fff;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActiveE365
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepBtnInActiveE365:hover
{
	border: 1px solid #e8e8e8 !important;
	background: #fbfbfb !important;
	display: block !important;
	float: left !important;
	text-decoration: none !important;
	font-family: Helvetica, sans-serif !important;
	color: #BCBDAC;
	margin: 2px !important;
	padding: 2px !important;
	width: 130px !important;
	height: 35px !important;
	cursor: pointer;
}

.cssStepContainerE365
{
	display: block;
	width: 100px;
	float: left;
	margin: 4px 0px 0px 6px;
	padding-left: 3px;
}