<%@ Page Language="VB"  AutoEventWireup="true" CodeFile="STU_TAB_COM.aspx.vb" Inherits="STU_TAB_COM" Title="::::GEMS OASIS:::: Online Student Administration System::::" %>
<%@ Register
    Assembly="AjaxControlToolkit"
    Namespace="AjaxControlToolkit"
    TagPrefix="ajaxToolkit" %>




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
<%--  <link href="../../cssfiles/Textboxwatermark.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/Accordian.css" rel="stylesheet" type="text/css" />
    
    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/example.css" rel="stylesheet" type="text/css" />--%>
           <!-- Bootstrap core CSS-->
    <link href="../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


</head>
<body>
<script language ="javascript" type="text/javascript" >
function handleError() 
{  return true;
}
window.onerror = handleError;
</script>
    <form id="form1" runat="server">
    <%@ Register Src="UserControl/Dash_ManageSMS.ascx" TagName="Dash_ManageSMS" TagPrefix="uc1" %>
     <uc1:Dash_ManageSMS ID="ComManageSMS1" runat="server" />
      <AjaxToolkit:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
    </AjaxToolkit:ToolkitScriptManager>
    <div>
 
   
 </div>

        <asp:Label ID="lblerror" runat="server" CssClass="error"></asp:Label><br />
        <asp:HiddenField ID="HF_stuid" runat="server" />
    </form>
</body>
</html>

