<%@ Page Language="VB" AutoEventWireup="false" CodeFile="STU_TAB_TIME.aspx.vb" Inherits="Students_stuContactdetails" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
<%--  <link href="../../cssfiles/Textboxwatermark.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/Accordian.css" rel="stylesheet" type="text/css" />
    
    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/example.css" rel="stylesheet" type="text/css" />--%>
             <!-- Bootstrap core CSS-->
    <link href="../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>
<body>
    <form id="form1" runat="server">
    <div>
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="left" class="title-bg-lite">Time Table Details</td>
            </tr>
            <tr>
                <td class="matters" colspan="6" rowspan="4" valign="top">
                    <table id="table1" runat="server"  width="100%">
                        <tr>
                            <td  align="center" colspan="5" rowspan="12">
                                <img src="../../Images/under-construction1.jpg" /></td>
                        </tr>
                        
                       
                    </table>
                   </td>
            </tr>
        </table>
    
    </div>
        <asp:Label ID="lblerror" runat="server" CssClass="error"></asp:Label><br />
        <asp:HiddenField ID="HF_stuid" runat="server" />
    </form>
</body>
</html>
