﻿<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master"  CodeFile="link.aspx.vb" Inherits="Library_Users_link" %>

<%@ Register src="Usercontrols/link.ascx" tagname="link" tagprefix="uc1" %>

<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
      <title>Library User Screen Link </title>
    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <link href="../../cssfiles/Librarystyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div align="center" >
    
        <uc1:link ID="link1" runat="server" />
    
    </div>
    </form>
</body>
</html>--%>


<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>User Screens
        </div>
        <div class="card-body">
            <div class="table-responsive m-auto">
                <div>

                       <uc1:link ID="link1" runat="server" />

                </div>
            </div>
        </div>
    </div>
</asp:Content>


