﻿<%@ Master Language="VB" %>

<%@ Register Src="~/Medical/UserControls/IncidentHistory.ascx" TagPrefix="uc2" TagName="Incident_History" %>
<%@ Register Src="~/Medical/UserControls/MedicalConditionDetail.ascx" TagPrefix="uc3" TagName="Medication_Condition" %>

<!DOCTYPE html>



<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phoenix Medical Module</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src='<%= ResolveUrl("~/Medical/assets/js/jquery-ui/jquery.min.js")%>'></script>
    <script src='<%= ResolveUrl("~/Medical/assets/js/jquery-ui/jquery-ui.min.js")%>'></script>
    <script src='<%= ResolveUrl("~/Medical/assets/js/jquery-ui/jquery-ui.min.js")%>'></script>
    <script src='<%= ResolveUrl("~/Medical/assets/js/jquery.dataTables.min.js")%>'></script>
    <!-- Bootstrap core CSS -->
    <link href='<%= ResolveUrl("~/Medical/assets/css/bootstrap.min.css")%>' rel="stylesheet" type="text/css">
    <link href='<%= ResolveUrl("~/Medical/assets/css/style.css")%>' rel="stylesheet" type="text/css">
    <link href='<%= ResolveUrl("~/Medical/assets/css/jquery.mCustomScrollbar.css")%>' rel="stylesheet" type="text/css">
    <link href='<%= ResolveUrl("~/Medical/assets/css/addons/date-time-picker.css")%>' rel="stylesheet" type="text/css" />
    <link href='<%= ResolveUrl("~/Medical/assets/css/addons/jquery.minicolors.css")%>' rel="stylesheet" type="text/css" />
    <!-- dataTable css -->
    <link href='<%= ResolveUrl("~/Medical/assets/css/addons/datatables.min.css")%>' rel="stylesheet" />
    <link href='<%= ResolveUrl("~/Medical/assets/css/addons/datatables-select.min.css")%>' rel="stylesheet" />

    <!-- Material Design Bootstrap -->
    <link href='<%= ResolveUrl("~/Medical/assets/css/main-medical.css")%>' rel="stylesheet" type="text/css" />


    <style type="text/css">
        .ui-widget-content {
            background-color: #ffffff !important;
            border-radius: 6px !important;
            font-size: 0.875rem !important;
        }

        .ui-menu .ui-state-active {
            margin: 0 !important;
            background-color: rgba(141, 194, 76, 0.5);
        }

        .bootbox .modal-content {
            background-color: transparent !important;
        }

        .bootbox .modal-dialog .modal-content {
            box-shadow: none !important;
        }

        .bd-example-modal-lg .modal-dialog {
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
        }

            .bd-example-modal-lg .modal-dialog .modal-content {
                background-color: transparent;
                border: none;
            }

        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
        }

            /* Loader circles */
            .loader > span {
                background: /*#6a923a*/ #ffffff;
                border-radius: 50%;
                margin: 5rem 0.5rem;
                animation: bouncingLoader 0.6s infinite alternate;
            }

                .loader > span:nth-child(2) {
                    animation-delay: 0.2s;
                }

                .loader > span:nth-child(3) {
                    animation-delay: 0.4s;
                }

        /* Define the animation called bouncingLoader. */
        @keyframes bouncingLoader {
            from {
                width: 0.1rem;
                height: 0.1rem;
                opacity: 1;
                transform: translate3d(0);
            }

            to {
                width: 1rem;
                height: 1rem;
                opacity: 0.1;
                transform: translate3d(0, -1rem, 0);
            }
        }

        tbody tr {
            cursor: pointer !important;
        }

        .student-profile-section .student-meta {
            padding: 0 0.25rem;
            min-height: 130px;
        }

        .ui-front {
            z-index: 10000;
        }

        .ui-autocomplete {
            position: absolute;
            top: 0;
            left: 0;
            cursor: default;
        }

        .ui-widget-content {
            border: 1px solid #dddddd;
            background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
            color: #333333;
        }
    </style>
</head>

<body>
    <!-- header start -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <!--Navbar -->
                    <nav class="navbar fixed-top navbar-expand-lg white scrolling-navbar main-nav pt-0 pb-0 pr-2">
                        <div class="school-logo d-block">
                            <img src="assets/img/phoenix-login.png" class="img-fluid" alt="Phoenix Logo">
                        </div>

                        <!--Menu item goes here-->
                        <div class="collapse navbar-collapse ml-3" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="<%=ResolveUrl("~/Modulelogin.aspx") %>">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link " href="stud_Medical_Class_List.aspx" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">Student List
                                    </a>
                                    <%--  <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="stud_Medical_Class_List.aspx">Student List</a>
                                    </div>--%>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link " href="stud_medical_cond.aspx" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">Medical Condition
                                    </a>
                                    <%--  <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="stud_medical_cond.aspx">Medical Condition</a>
                                    </div>--%>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link " href="stud_log_incident.aspx" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">Incident Log
                                    </a>
                                    <%-- <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="stud_log_incident.aspx">Incident Log</a>
                                    </div>--%>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Reports</a>
                                </li>

                            </ul>
                        </div>
                        <!--Menu item ends here-->

                        <button class="navbar-toggler first-button" type="button">
                            <div class="animated-icon1"><span></span><span></span><span></span></div>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto nav-flex-icons right-nav">
                                <li class="nav-item d-none">
                                    <div class="school-logo mt-3">
                                        <img src="assets/img/image-logos.png" class="img-fluid" alt="GEMS logo">
                                    </div>
                                </li>
                                <li class="nav-item dropdown notifications  d-none">
                                    <a href="javascript:void(0)" class="nav-link has-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bell position-relative"><span class="notification-count">5</span></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1">
                                        <a class="dropdown-item" href="#">English</a>
                                        <a class="dropdown-item" href="#">Arabic</a>
                                    </div>
                                </li>
                                <li class="nav-item avatar dropdown d-none">
                                    <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0">
                                        <div class="profile-card clearfix d-flex">
                                            <div class="profile-img float-left d-block">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0" alt="">
                                            </div>
                                            <div class="profile-name float-left d-block align-middle align-self-center">
                                                <h3>Emilia Clark</h3>
                                                <a href="#" data-toggle="modal" data-target="#basicExampleModal" class="change-mood dropdown-toggle">
                                                    <img src="assets/img/smileys/smiley-happy.svg" alt="Smiley">
                                                    Feeling <span>Happy</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="user-status">Struggle Is What Gives Us Meaning & Makes Us Human!</p>
                                        <ul class="profile-actions">
                                            <li class="dropdown-divider"></li>
                                            <li><a href="">View Profile</a></li>
                                            <li><a href="">Account Settings</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li>
                                                <a href="#">
                                                    <img src="assets/img/svg/ic-logout.svg" alt="Logout">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--/.Navbar -->
                </div>
            </div>
        </div>


    </header>
    <!-- header end -->
    <main class="pt-5 mx-lg-2 mt-4">
        <div class="container-fluid mt-2 mb-4">
            <form id="form1" runat="server">

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
                <uc2:Incident_History runat="server" ID="usrMessageBar" />
                <uc3:Medication_Condition runat="server" ID="Medication_Condition" />

            </form>
        </div>
    </main>
    <!-- footer start -->
    <footer>
        <p class="m-0 text-center">&copy; Copyright, GEMS Education</p>
    </footer>
    <!-- footer end -->
    <!-- SCRIPTS -->
    <%--    <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>--%>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/addons/bootstrap-select.js"></script>
    <!--script type="text/javascript" src="js/addons/particles.min.js"></script-->
    <!-- date-time and color picker js -->
    <script type="text/javascript" src="assets/js/addons/jquery.minicolors.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="assets/js/download.js"></script>
    <script type="text/javascript" src="assets/js/bootbox/bootbox-min.js"></script>


    <!-- dataTable js -->


    <script type="text/javascript">

        function DownloadAttachment(obj) {

            var file = obj;
            var postdata = { FILE: $(file).attr('file') };
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '<% = ResolveUrl("~/Medical/Student_Medical_Service.asmx/DownloadFile")%>',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(postdata),
                beforeSend: CheckSession(),
                success: function (response, status, xhr) {
                    if (response.d != "0") {
                        var data = "data:" + $(file).attr('contenttype') + ";base64," + response.d;
                        download(data, $(file).attr('filename'), $(file).attr('contenttype'));
                    }
                    else
                        alert('File not found!');
                },
                complete: function () {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
            });
        }


        function animateScrolltocontrol(modal, control) {
            var offset = $('#' + control).offset();
            $("#" + modal).animate({ scrollTop: offset.top }, 1500);
        }

        function BootstrapMessage(id, alert, icon, message) {

            var html = '<div id="alert-error-popup"  class="small sticky-top p-2 m-0 alert alert-' + alert + ' alert-dismissable" role="alert"><i class="fa fa-' + icon + '">&nbsp;</i><span  id="error-message"> ' + message + '</span></div>';
            $('#' + id).html(html);
            $('#' + id).show();
            setTimeout(function () {
                $('#' + id).hide()
            }, 5000);

        }
        function ShowLoader() {

            $('.modal-loader').modal('show');
        }

        function HideLoader() {

            setTimeout(function () {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('.modal-loader').modal('hide');
            }, 1000);


        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });
        });


        function CheckSession() {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '<% = ResolveUrl("~/Medical/Student_Medical_Service.asmx/CheckSession")%>',
                dataType: "json",
                type: "POST",
                data: {},
                success: function (response, status, xhr) {
                    if (response.d == "1") {
                        window.location.href = '<%= ResolveUrl("~/login.aspx")%>';
                    }
                },
                complete: function () {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
            });
        }

        function FillDropDown(ObjID, fromDLL) {
            var PostData = { prefixText: fromDLL }
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '<% = ResolveUrl("~/Medical/Student_Medical_Service.asmx/GetOption")%>',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(PostData),
                success: function (response, status, xhr) {
                    $('#' + ObjID).find('option').not(':first').remove();
                    if ($("#" + ObjID + " option[value='0']").length == 0)
                        $('#' + ObjID).append('<option selected="selected" value ="0">Select</option>');
                    $.each(response.d, function (key, value) {
                        //$('#' + ObjID).append($("<option></option>").attr("value", value.Value).text(value.Text));
                        $('#' + ObjID).append('<option value = ' + value.Value + '>' + value.Text + '</option>');
                    });
                    $('#' + ObjID).selectpicker('refresh');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                },
            });
        }

        function DisableTAB(obj) {
            $('#' + obj).on('keydown', function (e) {
                var keyCode = e.keyCode || e.which;

                if (keyCode == 9) {
                    if ($(this).val() == '') {
                        $(this).val('');
                    }
                }
            });
        }

        function AutoCompleteCall(obj, functioncall) {
            DisableTAB(obj);
            var TextData = "";
            $("#" + obj).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '../Medical/Student_Medical_Service.asmx/' + functioncall,
                        data: "{ 'prefixText':'" + $('#' + obj).val() + "'}",
                        dataType: "json",
                        success: function (data) {
                            response(data.d);

                        },
                        error: function (result) {
                            // alert(result);
                        },
                    });
                }, change: function (event, ui) {

                    if (ui.item == null) {
                        $("#" + obj).val('');
                        $("#" + obj).removeAttr('item-value');
                        $("#" + obj).removeAttr('item-data');
                    }
                }
                , select: function (event, ui) {
                    $("#" + obj).val("");
                    var selectedObj = ui.item;
                    TextData = selectedObj.value.trim().split('|')[0];
                    $("#" + obj).attr('item-value', selectedObj.value.trim().split('|')[1]);
                    $("#" + obj).attr('item-data', TextData);

                }
                , close: function (event, ui) {
                    $("#" + obj).val(TextData.trim());
                }
            });
        }
    </script>

    <div class="modal-loader modal fade bd-example-modal-lg" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="loader" id="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</body>
</html>
