﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comAssignGroupsSelection.aspx.vb" Inherits="masscom_TabPages_comAssignGroupsSelection" %>
<%@ Register src="../UserControls/comAssignGroupsSelection.ascx" tagname="comAssignGroupsPlainText" tagprefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        <script language="javascript" type="text/javascript">
     function SetValuetoParent(id) {
            //alert(id);
            parent.setValue(id);
            return false;
     }
            </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     
    
        <uc1:comAssignGroupsPlainText ID="comAssignGroupsSelection1" runat="server"  />
    
    
    </div>
    </form>
</body>
</html>
