﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comAssignGroupsStaffsUpdate.aspx.vb" Inherits="masscom_TabPages_comAssignGroupsStaffsUpdate" %>
<%@ Register Src="../UserControls/comAssignGroupsStaffUpdate.ascx" TagName="comAssignGroupsStaffUpdate"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <ajaxToolkit:ToolkitScriptManager id="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <uc1:comAssignGroupsStaffUpdate ID="ComAssignGroupsStaffUpdate1" runat="server" />
         
            
             
        </ContentTemplate>
        </asp:UpdatePanel>
    </div>
    </form>
</body>
</html>
