﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comAssignGroupsStudentsUpdate.aspx.vb" Inherits="masscom_TabPages_comAssignGroupsStudentsUpdate" %>

<%@ Register Src="../UserControls/comAssignGroupsStudentsUpdate.ascx" TagName="comAssignGroupsStudentsUpdate"
    TagPrefix="uc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <ajaxToolkit:ToolkitScriptManager id="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <uc1:comAssignGroupsStudentsUpdate ID="ComAssignGroupsStudentsUpdate1" runat="server" />
        
           
             
        </ContentTemplate>
        </asp:UpdatePanel>
    
    </div>
    </form>
</body>
</html>
