<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comAssignGroupsStudents.aspx.vb" Inherits="masscom_TabPages_comAssignGroupsStudents" %>

<%@ Register Src="../UserControls/comAssignGroupsStudents.ascx" TagName="comAssignGroupsStudents"
    TagPrefix="uc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
   <title>News Letters</title>
     <%--<link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server">
    <div class="matters">
     <ajaxToolkit:ToolkitScriptManager id="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
        
             <uc1:comAssignGroupsStudents ID="ComAssignGroupsStudents1" runat="server" />
             
        </ContentTemplate>
        </asp:UpdatePanel>
    
    </div>
    </form>
</body>
</html>
