﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelEmailPopupView.aspx.vb" Inherits="masscom_TabPages_comExcelEmailPopupView" %>
<%@ Register Src="../UserControls/comExcelEmailPopupView.ascx" TagName="comExcelEmailPopupView"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <uc1:comExcelEmailPopupView ID="ComExcelEmailPopupView1" runat="server" />
    </div>
    </form>
</body>
</html>
