﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comEmailApproval.aspx.vb" Inherits="masscom_TabPages_comEmailApproval" %>

<%@ Register src="../UserControls/comEmailApproval.ascx" tagname="comEmailApproval" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
     <link href="../../cssfiles/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div style="overflow:scroll;">
    
        <uc1:comEmailApproval ID="comEmailApproval1" runat="server" />
    
    </div>
    </form>
</body>
</html>
