﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelSMSPopupView.aspx.vb" Inherits="masscom_TabPages_comExcelSMSPopupView" %>
<%@ Register Src="../UserControls/comExcelSMSPopupView.ascx" TagName="comExcelSMSPopupView"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <uc1:comExcelSMSPopupView ID="ComExcelSMSPopupView1" runat="server" />
    </div>
    </form>
</body>
</html>
