<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comReportsPlainText.aspx.vb" Inherits="masscom_TabPages_comReportsPlainText" %>

<%@ Register Src="../UserControls/comReportsPlainText.ascx" TagName="comReportsPlainText"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
      <title>News Letters</title>
    <%-- <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>

</head>
<body>
    <form id="form1" runat="server">
   <div  >
       <uc1:comReportsPlainText id="ComReportsPlainText1" runat="server">
       </uc1:comReportsPlainText></div>
    </form>
</body>
</html>
