﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comSendSms.aspx.vb" Inherits="masscom_TabPages_comSendSms" %>

<%@ Register src="../UserControls/comSendSms.ascx" tagname="comSendSms" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:comSendSms ID="comSendSms1" runat="server" />
    
    </div>
    </form>
</body>
</html>
