﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comUpdatePlainText.aspx.vb" Inherits="masscom_TabPages_comUpdatePlainText" %>

<%@ Register src="../UserControls/comUpdatePlainText.ascx" tagname="comUpdatePlainText" tagprefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data">
    <div>
     <uc1:comUpdatePlainText ID="comUpdatePlainText1" runat="server" />
    </div>
    </form>
</body>
</html>
