﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comUpdateGemsConnectNewsLetter.aspx.vb" Inherits="masscom_TabPages_comUpdateGemsConnectNewsLetter" %>

<%@ Register src="../UserControls/comUpdateGemsConnectNewsLetter.ascx" tagname="comUpdateGemsConnectNewsLetter" tagprefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data">
    <div>
     <uc1:comUpdateGemsConnectNewsLetter ID="comUpdateGemsConnectNewsLetter1" runat="server" />
    </div>
    </form>
</body>
</html>