﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comUpdateNewsLetters.aspx.vb" Inherits="masscom_TabPages_comUpdateNewsLetters" %>
<%@ Register src="../UserControls/comUpdateNewsLetters.ascx" tagname="comUpdateNewsLetters" tagprefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:comUpdateNewsLetters ID="comUpdateNewsLetters1" runat="server" />
    </div>
    </form>
</body>
</html>
