﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comSurKTAAEFOnline.aspx.vb" Inherits="Survey_comSurKTAAEFOnline" %>

<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
  <%@ Register
    Assembly="AjaxControlToolkit"
    Namespace="AjaxControlToolkit"
    TagPrefix="ajaxToolkit" %>  
<%@ OutputCache Duration="1" VaryByParam="none" Location="None" NoStore="true" %> 

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Survey</title>
    <script language="javascript" type="text/javascript">
        self.moveTo(0, 0); self.resizeTo(1000, 700);

    // <!CDATA[
    function aa(th, id, qustid) {
        //check()
        // document.getElementById(aa).style.color='red';       
        var a = document.getElementsByName(id).length
        for (var i = 0; i < a; i++) {
            var b = document.getElementsByName(id).item(i).checked
            if (b == true) {

                var rdname = document.getElementsByName(id).item(i).name

                var selected = document.getElementById('HF_checkeditems').value

                if (selected.search(rdname) == -1) {

                    var ansqus = document.getElementById('HF_ansqust_id').value + qustid + ','
                    document.getElementById('HF_ansqust_id').value = ansqus

                    var store = document.getElementById('HF_checkeditems').value + rdname + ','
                    document.getElementById('HF_checkeditems').value = store
                    var Chkcnt = parseInt(document.getElementById('HF_radiobtnCount').value)
                    Chkcnt = parseInt(Chkcnt) + 1

                    document.getElementById('HF_radiobtnCount').value = Chkcnt

                }
            }
        }
    }


    function check() {
        var answered = document.getElementById('HF_ansqust_id').value
        var qustid = document.getElementById('HF_qustid').value
        var len = qustid.split(',')
        for (i = 1; i < len.length; i++) {
            if (answered.search(len[i]) == -1) {
                document.getElementById(len[i]).style.color = 'red';
            }
            else {
                document.getElementById(len[i]).style.color = 'black';
            }
        }

    }

    function btn_submit() {
        check()

        var Chkcnt = document.getElementById('HF_radiobtnCount').value
        //var chk1 = document.getElementById('Chk2441').checked;
        //var chk2 = document.getElementById('Chk2442').checked;
        //var chk3 = document.getElementById('Chk2443').checked;
        //var chk4 = document.getElementById('Chk2444').checked;
        //var chk5 = document.getElementById('Chk2445').checked;
        //var chk6 = document.getElementById('Chk2446').checked;



        var totcnt = document.getElementById('HF_Cnt').value


        //document.getElementById('HF_2441').value = chk1;
        //document.getElementById('HF_2442').value = chk2;
        //document.getElementById('HF_2443').value = chk3;
        //document.getElementById('HF_2444').value = chk4;
        //document.getElementById('HF_2445').value = chk5;
        //document.getElementById('HF_2446').value = chk6;

        document.getElementById('HF_COMM1').value = document.getElementById('txtCOMM1').value;
        document.getElementById('HF_COMM2').value = document.getElementById('txtCOMM2').value;
        document.getElementById('HF_COMM3').value = document.getElementById('txtCOMM3').value;
        document.getElementById('HF_COMM4').value = document.getElementById('txtCOMM4').value;

        var ktaacheck = document.getElementById('HF_KTAACHECK').value

        if (Chkcnt == totcnt) {


           
        }
        else {
            if (ktaacheck == "1") {
              
            }
            else {
                alert('You are requested to complete all questions. Thank you.');
                return false;
            }
        }
    }
    function Submit_onclick() {

        var ctrl;
        ctrl = document.getElementById("Submit1").value;
        //alert(document.getElementById("RadioButton15").checked)
        //
        document.getElementById("HiddenField1").value = ctrl;
        //document.form1.submit();

        if (document.getElementById(2) = "") {
            alert("Data Processing");
        }

    }
    function DraftClick() {

        alert("Evaluation and Action Plan Form Saved");
        return false;
    }

    function SubmitEvalClick() {

        alert("Please complete all mandatory* information required.");
        return false;
    }

    function CopyComments()
    {
        document.getElementById('HF_COMM1').value = document.getElementById('txtCOMM1').value;
        document.getElementById('HF_COMM2').value = document.getElementById('txtCOMM2').value;
        document.getElementById('HF_COMM3').value = document.getElementById('txtCOMM3').value;
        document.getElementById('HF_COMM4').value = document.getElementById('txtCOMM4').value;

    }

    function SaveAndSubmit() {
        document.getElementById('HF_COMM1').value = document.getElementById('txtCOMM1').value;
        document.getElementById('HF_COMM2').value = document.getElementById('txtCOMM2').value;
        document.getElementById('HF_COMM3').value = document.getElementById('txtCOMM3').value;
        document.getElementById('HF_COMM4').value = document.getElementById('txtCOMM4').value;

        if (confirm('Are you sure you have filled all the mandatory section/fields? If YES click OK else Cancel')) {
            // Save it!
        } else {
            return false;
        }

    }

    // ]]>
</script>
     <style type="text/css">
        .EVALBUTTON
        {
           width: 149px; 
           height: 39px ;border:1px solid #ccc; font-weight:bold; font-size:11px; color:#000;
        }
    </style>
    <link href="../cssfiles/parentSurvey.css" rel="stylesheet" type="text/css" />
   <%-- <link href="../cssfiles/StyleSheet.css" rel="stylesheet" type="text/css" />--%>
</head>
<body class="Surveybody"><div class="wrapper"><div class="header"></div> <div class="clear"></div>
<center >


    <form id="form1" runat="server">
        <ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>
    <div>
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <asp:HiddenField ID="HF_radiobtnCount" Value ="0" runat="server" />
        <asp:HiddenField ID="HF_checkeditems" runat="server" />
        <asp:HiddenField ID="HF_Cnt" Value ="0" runat="server" />
        <asp:HiddenField ID="HF_qustid" runat="server" />
        <asp:HiddenField ID="HF_ansqust_id" runat="server" />
        <asp:HiddenField ID="HF_check" runat="server" />
         <asp:HiddenField ID="HF_check2" runat="server" />
        <asp:HiddenField ID="HF_comments" runat="server" />
         <asp:HiddenField ID="HF_Survey" runat="server" />
            <asp:HiddenField ID="HF_KTAACHECK" runat="server" />
         
         <asp:HiddenField ID="HF_2441" runat="server" />
         <asp:HiddenField ID="HF_2442" runat="server" />
         <asp:HiddenField ID="HF_2443" runat="server" />
         <asp:HiddenField ID="HF_2444" runat="server" />
         <asp:HiddenField ID="HF_2445" runat="server" />
         <asp:HiddenField ID="HF_2446" runat="server" />
         
         
          <asp:HiddenField ID="HF_COMM1" runat="server" />
           <asp:HiddenField ID="HF_COMM2" runat="server" />
            <asp:HiddenField ID="HF_COMM3" runat="server" />
          <asp:HiddenField ID="HF_COMM4" runat="server" />
        <br />
        
        </div>
         <table width="100%" id="tbltitleInfo" runat="server">
             <tr class="trSub_Header">
                <td align="left" class="" colspan="5">
                    <font ><span style="font-family: Verdana;color:white;">
                       Please complete this Evaluation Form so that we can strengthen, promote and improve future professional development and determine whether professional development had the desired effects and to ensure programme accountability.</span></font>
                </td>
            </tr>
        </table>
       
        <table id="tblEmpInfo" runat="server" width="100%" class="BlueTable_simple">
              <tr class="trStyleOdd">
                <td align="left" class="style1">
                   <strong> Name</strong>
                </td>
                <td class="matters" style="width: 4px">
                    :
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblName" runat="server"></asp:Label>
                </td>
                <td class="matters">
                  <strong>  School</strong>
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblBsu" runat="server"></asp:Label>
                </td>
            </tr>
            <tr class="trStyleEven">
                <td align="left" class="style1">
                 <strong>   Position</strong>
                </td>
                <td class="matters" style="width: 4px">
                    :
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblPosition" runat="server"></asp:Label>
                </td>
                <td class="matters">
                 <strong>   School Level</strong>
                </td>
                <td align="left" class="matters">
                   <table width="100%">
                       <tr>
                           <td>EC<br />
<asp:CheckBox ID="chkLEVELEC" runat="server" Text="EC / EY / KG / FS " />
</td>
                           <td>P<br />
<asp:CheckBox ID="chkLEVELP" runat="server" Text="Primary / Elementary" />
</td>
                           <td>S<br />
<asp:CheckBox ID="chkLEVELS" runat="server" Text="Secondary / Middle school / High School" />
</td>
                           <td>ALL<br /><asp:CheckBox ID="chkLEVELALL" runat="server" Text="ALL" /></td>
                       </tr>
                   </table>
                </td>
            </tr>
             <tr class="trStyleOdd">
                <td align="left" class="style1">
                 <strong>   Title of Training</strong>
                </td>
                <td class="matters" style="width: 4px">
                    :
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblActivity" runat="server"></asp:Label>
                </td>
                <td class="matters">
                   <strong> Date of Training</strong>
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblCourseDate" runat="server"></asp:Label>
                </td>
            </tr>

             <tr class="trStyleEven">
                <td align="left" class="style1">
                   <strong> Name of Trainer</strong>
                </td>
                <td class="matters" style="width: 4px">
                    :
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblTrainername" runat="server"></asp:Label>
                </td>
                <td class="matters">
                  <strong>  Location of Training</strong>
                </td>
                <td align="left" class="matters">
                    <asp:Label ID="lblTraininglocation" runat="server"></asp:Label>
                </td>
            </tr>

        </table>

        <table width="100%" id="tblmessage" runat="server">
              <tr id="trLabelError">
                <td align="left" class="matters" valign="bottom" colspan="5">
                    <div id="lblError" runat="server">
                    </div>
                </td>
            </tr>
             <tr class="trSub_Header">
                <td align="left" class="" colspan="5">
                    <font ><span style="font-family: Verdana;color:white;">
                      For each statement, please tick if you agree or disagree using a rating scale from 1 to 4 as below. </span></font>
                </td>
            </tr>

             <tr><td>&nbsp;</td></tr>
             <tr>
                 <td>

                     <table width="80%" border="1" style="border-color:white;">
                         <tr>
                             <td style="background-color:#3FD117;"><b>4</b></td>
                             <td style="background-color:#F7F55C;"><b>3</b></td>
                             <td style="background-color:#f4bc42;"><b>2</b></td>
                             <td style="background-color:#F73802;"><b>1</b></td>
                         </tr>
                          <tr>
                             <td style="background-color:#3FD117;"><b>Strongly Agree</b></td>
                             <td style="background-color:#F7F55C;"><b>Agree</b></td>
                             <td style="background-color:#f4bc42;"><b>Disagree</b></td>
                             <td style="background-color:#F73802;"><b>Strongly Disagree</b></td>
                         </tr>
                     </table>
                 </td>

             </tr>
        </table>
         <asp:Panel ID="pnlSur" runat="server"></asp:Panel>
   <table align="left"  cellpadding="5" cellspacing="0"
            style="width: 950px" id="tblKTAA" runat="server" class="BlueTable_simple">
            <tr class="mainheading">
                <td colspan="5">
                    <font color="#ffffff" face="Arial, Helvetica, sans-serif" size="2"><span style="font-family: Verdana">
                        Key Take-Aways and Actions</span></font>
                </td>
            </tr>
          
           
            <tr class="trSub_Header">
                <td align="left" class="" colspan="5">
                      <font color="#ffffff" face="Arial, Helvetica, sans-serif" size="2"><span style="font-family: Verdana"><span style="font-family: Verdana">
                        What are your key take-away learnings from the professional development?</span></font>
                </td>
            </tr>
            <tr valign="middle" style="background-color:white;">
                <td colspan="5">
                    <table width="100%" cellpadding="4" cellspacing="4" style="background-color:white;">
                        <tr class="trStyleOdd">
                            <td align="center" style="font-weight: bold; color: #FF0000" valign="top">
                                *&nbsp;<asp:TextBox ID="txtlearning1" runat="server" TextMode="MultiLine" Width="97.5%" Height="50px" SKINID="MultiText"></asp:TextBox>
                            </td>
                        </tr>
                        <tr class="trStyleEven">
                            <td align="center" style="color: #000000">
                              
                                <asp:TextBox ID="txtlearning2" runat="server" TextMode="MultiLine" Width="97.5%" Height="50px" SKINID="MultiText"></asp:TextBox>
                            </td>
                        </tr>
                        <tr class="trStyleOdd">
                            <td align="center" style="color: #000000">
                              
                                <asp:TextBox ID="txtlearning3" runat="server" TextMode="MultiLine" Width="97.5%" Height="50px" SKINID="MultiText"></asp:TextBox>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="trSub_Header">
                <td align="left" class="" colspan="5">
                    <font color="#ffffff" face="Arial, Helvetica, sans-serif" size="2"><span style="font-family: Verdana">
                        What actions will you now take to implement the new learning? Consider both self
                        (own practice) and others (departmental / school level impact) when writing action
                        steps.</span></font>
                </td>
            </tr>
            <tr id="tableActions" runat="server">
                <td class="style1" colspan="5" style="width:100%">
                                        <table width="100%" cellpadding="4" cellspacing="4">
                        <tr>
                            <td>
                    <asp:GridView ID="gvActions" runat="server" AutoGenerateColumns="False" EmptyDataText="No Transaction details added yet."
                        Width="100%" EnableModelValidation="True" style="overflow: scroll;">
                        <EmptyDataRowStyle CssClass="gridheader_new" Wrap="True" />
                        <Columns>
                            <asp:TemplateField HeaderText="S. No">
                                <ItemTemplate>
                                    <asp:Label ID="lblMandatory" runat="server" Text='*' Font-Bold="True" ForeColor="Red" Visible="False" ></asp:Label>
                                    &nbsp;<asp:Label ID="lblSNo" runat="server" Text='<%# bind("SNo") %>'></asp:Label>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Center" Width="5%" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Action Step / Objectives ">
                                <EditItemTemplate>
                                    <asp:Label ID="Label1" runat="server" Text='<%# Eval("PD_KTA_Action_Step") %>'></asp:Label>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <asp:TextBox ID="txtAction" runat="server" TextMode="MultiLine"  Text='<%# Bind("PD_KTA_ACTION_STEP")%>' style="width:100%;height:100px;margin:0;padding:0;border-width:0" SkinID="MultiText"></asp:TextBox>
                                </ItemTemplate>
                                <ItemStyle Width="20%" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Success Criteria /Expected Outcome">
                                <EditItemTemplate>
                                    <asp:TextBox ID="TextBox1" runat="server" Text='<%# Bind("PD_KTA_Success") %>'></asp:TextBox>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <asp:TextBox ID="txtSuccess" runat="server" SKINID="MultiText" TextMode="MultiLine" style="width:100%;height:100px;margin:0;padding:0;border-width:0" Text='<%# Bind("PD_KTA_SUCCESS")%>'></asp:TextBox>
                                </ItemTemplate>
                                <ItemStyle Width="18%" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Timeline">
                                <EditItemTemplate>
                                    <asp:TextBox ID="TextBox2" runat="server" Text='<%# Bind("PD_KTA_Timeline") %>'></asp:TextBox>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <asp:TextBox ID="txtTimeLine" runat="server" SKINID="MultiText" TextMode="MultiLine" style="width:100%;height:100px;margin:0;padding:0;border-width:0" Text='<%# Bind("PD_KTA_TIMELINE")%>'></asp:TextBox>
                                </ItemTemplate>
                                <ItemStyle Width="10%" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText=" Resources / Preparation / Support needed">
                                <EditItemTemplate>
                                    <asp:TextBox ID="TextBox3" runat="server" Text='<%# Bind("PD_KTA_Resources") %>'></asp:TextBox>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <asp:TextBox ID="txtResources" runat="server" SKINID="MultiText" TextMode="MultiLine" style="width:100%;height:100px;margin:0;padding:0;border-width:0" Text='<%# Bind("PD_KTA_RESOURCES")%>'></asp:TextBox>
                                </ItemTemplate>
                                <ItemStyle Width="18%" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText=" Relevance to role">
                                <EditItemTemplate>
                                    <asp:TextBox ID="TextBox4" runat="server" Text='<%# Bind("PD_KTA_RelevanceText") %>'></asp:TextBox>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <asp:Label ID="lblRelevanceId" runat="server" Text='<%# bind("PD_KTA_RELEVANCE") %>' Visible="False"></asp:Label>
                                    
                                    <asp:CheckBoxList ID="cblRelevance" runat="server"  BorderColor="MenuHighlight" BorderStyle="Solid" BorderWidth="1px" CellPadding="2" CellSpacing="2" CssClass="matters" Height="10px" RepeatColumns="1" Width="100%">
                                    </asp:CheckBoxList>
                                    <asp:TextBox ID="txtRelevanceOther" runat="server" Width="80%" TEXT ='<%# Bind("OTHERTEXT")%>' ></asp:TextBox>
                                       <ajaxToolkit:TextBoxWatermarkExtender ID="txtRelevanceOtherw" runat="server" WatermarkCssClass="watermarked" WatermarkText="please state(other)" TargetControlID="txtRelevanceOther"></ajaxToolkit:TextBoxWatermarkExtender>
                                </ItemTemplate>
                                <ItemStyle Width="30%" />
                            </asp:TemplateField>
                        </Columns>
                        <RowStyle CssClass="trStyleEven" Height="25px" />
                        <SelectedRowStyle CssClass="griditem_hilight" />
                        <HeaderStyle CssClass="titleText" Height="25px" BackColor="#003366" />
                        <AlternatingRowStyle CssClass="trStyleOdd" />
                    </asp:GridView>
                            </td>
                        </tr>
                        </table>
                
                    
                </td>
            </tr>
            <tr>
                <td align="left" class="matters" colspan="5" style="text-align: center">
                    <asp:Button ID="btnSave" runat="server" CssClass="button" Text="SAVE AS DRAFT" Visible="false" />&nbsp;
                    <asp:Button ID="btnSavetoPDC" runat="server" Visible="False" CssClass="button" Text="SEND TO PDC"  />&nbsp;
                      <asp:Button ID="Button1" runat="server" Visible="False" CssClass="button" Text="SEND TO PDC"   />&nbsp;
                     <asp:Button ID="btnDraftEval" runat="server" Visible="false" CssClass="EVALBUTTON" Text="SAVE AS DRAFT" OnClientClick="CopyComments();"  />&nbsp;
                    <asp:Button ID="btnSaveEval" runat="server" Text="SAVE AND SUBMIT"  CssClass="EVALBUTTON" Visible="false" OnClientClick="return SaveAndSubmit();"   />
                </td>
            </tr>
         <tr>
           <td colspan="5">
               <div class="footer">
<div class="in">Copyright © 2016 GEMS Education. All Rights Reserved.</div>
</div>
           </td>
       </tr>
        </table>
    </form></center>
   
</div>
</body>
</html>
