<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryLibrarian.aspx.vb" Inherits="Library_TabPages_libraryLibrarian" %>

<%@ Register Src="../UserControls/libraryLibrarian.ascx" TagName="libraryLibrarian"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
      <title>Librarians</title>
    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:libraryLibrarian ID="LibraryLibrarian1" runat="server" />
    
    </div>
    </form>
</body>
</html>
