<%@ Control Language="VB" AutoEventWireup="false" CodeFile="rptLibraryDivisions.ascx.vb" Inherits="Library_Reports_UserControls_rptLibraryDivisions" %>
<table  cellpadding="5" cellspacing="0" class="matters"
    width="100%">
    <%--<tr>
        <td class="subheader_img">
            Library Divisions</td>
    </tr>--%>
    <tr>
        <td align="center" >
            <asp:Button ID="btnRptLibraryDivision" runat="server" CssClass="button" Text="Generate Report" />
        </td>
    </tr>
</table>
<asp:HiddenField ID="HiddenBsuID" runat="server" />
