﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryEditOption.aspx.vb" Inherits="Library_TabPages_libraryEditOption" %>

<%@ Register src="../UserControls/libraryEditOption.ascx" tagname="libraryEditOption" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
    <base target="_self" /> 
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:libraryEditOption ID="libraryEditOption1" runat="server" />
    
    </div>
    </form>
</body>
</html>
