<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryDivisions.aspx.vb" Inherits="Library_TabPages_libraryDivisions" %>

<%@ Register Src="../UserControls/libraryDivisions.ascx" TagName="libraryDivisions"
    TagPrefix="uc1" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Library Divisions</title>
    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:libraryDivisions id="LibraryDivisions1" runat="server">
        </uc1:libraryDivisions></div>
    </form>
</body>
</html>
