.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #1B80B6}
.hddisp {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #ffffff}
.mattersact {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #1B80B6}
.mattersmall {  font-family: Verdana,Arial, Helvetica, sans-serif; font-size: 9px;   color: #000000}
.mattersmall2 {  font-family: Arial, Helvetica, sans-serif; font-size: 7px;   color: #000000}
.mattersmallhd {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px;font-weight: bold;  color: #1B80B6}
.matterspdf {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;  color: #1B80B6}
.mattersmis {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #1B80B6}
.matters3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;  color: #1B80B6}
.matters2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #ffffff}
.matters5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px;  color: #1B80B6}
.alert {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FF0000}

A:hover {
	COLOR: #0000ff; FONT-FAMILY: Verdana; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A {
	COLOR: #1B80B1; FONT-FAMILY: Verdana; FONT-SIZE: 10px; TEXT-DECORATION: underline;
}

.inputboxnor {
	BACKGROUND: FFFFFF; BORDER-BOTTOM: #1B80B6 1px solid; BORDER-LEFT: #1B80B6 1px solid; BORDER-RIGHT: #1B80B6 1px solid; BORDER-TOP: #1B80B6 1px solid; COLOR: #555555; CURSOR: text; FONT-FAMILY: verdana; FONT-SIZE: 11px; HEIGHT: 14pt; TEXT-DECORATION: none
}
.button {
	BACKGROUND: #1B80B6; BORDER-BOTTOM: #104a7b 1px solid; BORDER-LEFT: #afc4d5 1px solid; BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; COLOR: #ffffff; FONT-FAMILY: tahoma,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 19px; TEXT-DECORATION: none; 
}
.button2 {
	BACKGROUND: #1B80B6; BORDER-BOTTOM: #104a7b 1px solid; BORDER-LEFT: #afc4d5 1px solid; BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; COLOR: #ffffff; FONT-FAMILY: tahoma,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 39px; WIDTH: 109px; TEXT-DECORATION: none
}
.button3 {
	BACKGROUND: #1B80B6; BORDER-BOTTOM: #104a7b 1px solid; BORDER-LEFT: #afc4d5 1px solid; BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; COLOR: #ffffff; FONT-FAMILY: tahoma,sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 29px; WIDTH: 109px; TEXT-DECORATION: none
}
.listbox2 {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #1B80B6 1px solid; BORDER-LEFT: #1B80B6 1px solid; BORDER-RIGHT: #1B80B6 1px solid; BORDER-TOP: #1B80B6 1px solid; COLOR: #000000;  FONT-FAMILY: verdana; FONT-SIZE: 11px; WIDTH: 650px; TEXT-DECORATION: none
}
.inputbox2 {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #1B80B6 1px solid; BORDER-LEFT: #1B80B6 1px solid; BORDER-RIGHT: #1B80B6 1px solid; BORDER-TOP: #1B80B6 1px solid; COLOR: #000000; CURSOR: text; FONT-FAMILY: verdana; FONT-SIZE: 11px; HEIGHT: 16pt; TEXT-DECORATION: none
}

.table1 {  border-color: #1B80B6; width:100%; border:0;}

/* 
.column1 { width:5%}
.column2 { width:35%}
.column3 { width:55%}
.column4 { width:5%}
*/

.rowheight0 { height:10px}

.height40 { height:40px; vertical-align:middle;}


.error {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #800000}

.message_green {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color:Green;}

.gridstyle {   	border-color:#1b80b6; 
				border:1;		 
				}
				.path1
        {
            
            margin:10px;
            border:Solid 1px black;
            font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px;color:#1B80B6; font-weight:normal ;
				font-weight:bold; 	
        }


.gridheader {   font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px;color: #ffffff; font-weight:normal ;
				background-color:#1b80b6;border-color:#1b80b6; 
				border:1; font-weight:bold; 			 
				}

.griditem	{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #1B80B6; 
				background-color:#ffffff; 
				text-align:left; border:1; 
				border-color:#1b80b6;}
.griditem_center{	font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; color: #1B80B6; 
				background-color:#ffffff; 
				text-align:left; border:1; 
				border-color:#1b80b6;}			

.griditem_alternative {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #1B80B6; 
	background-color:#DFE0E5; 
	text-align:left; border:1; 
	border-color:#1b80b6;}

.griditem_right {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1B80B6; background-color:#DFE0E5; text-align:right; border:1; border-color:White;}

.griditem_dark {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #1B80B6;text-align:left; border:1; border-color:White;}


.gridheader_trans {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; background-color:#7B8F9A; color: #000000}

.griditem_trans {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1B80B6; background-color:#DFE0E5; text-align:left; border:1; border-color:White;}
.griditem_trans_red {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1B80B6; background-color:#FFCCCC; text-align:left; border:1; border-color:White;}

.griditem_center {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1B80B6; background-color:#DFE0E5; text-align:center; border:1; border-color:White;}

.mattersheading {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #1B80B6}

.matters {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1B80B6}

.mattersBig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;font-weight: bold; color: #1B80B6}
.mattersBigger { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;font-weight: bold; color: #660099}

.column_1 { width:19%}
.column_2 { width:30%}
.column_3 { width:2%}
.column_4 { width:30%}
.column_5 { width:19%}

.column_6{ width:25%}
.column_7{ width:6%}

.checkbox {
	BACKGROUND: #ffffff; FONT-FAMILY: verdana; FONT-SIZE: 11px; WIDTH: 199px; TEXT-DECORATION: none
}

.listbox {
	BACKGROUND: #ffffff; BORDER-BOTTOM: #1B80B6 1px solid; BORDER-LEFT: #1B80B6 1px solid; BORDER-RIGHT: #1B80B6 1px solid; BORDER-TOP: #1B80B6 1px solid; COLOR: #000000;  FONT-FAMILY: verdana; FONT-SIZE: 11px; WIDTH: 202px; TEXT-DECORATION: none
}
.inputbox {
	BACKGROUND: F5FED2; BORDER-BOTTOM: #1B80B6 1px solid; BORDER-LEFT: #1B80B6 1px solid; BORDER-RIGHT: #1B80B6 1px solid; BORDER-TOP: #1B80B6 1px solid; COLOR: #555555; CURSOR: text; FONT-FAMILY: verdana; FONT-SIZE: 11px;WIDTH: 199px; HEIGHT: 14pt; TEXT-DECORATION: none
}
.no_margin { margin-left :0; margin-top:0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1B80B6; background-color:#DFE0E5; text-align:left; border:1; border-color:White;}




.columnBig_1 { width:20%; height:0;}
.columnBig_2 { width:80%}

.column_head1 { width:5%}
.column_head2 { width:20%}
.column_head3 { width:30%}
.column_head4 { width:15%}
.column_head5 { width:25%}
.column_head6 { width:5%}

.column_Tr1 { width:6%}
.column_Tr2 { width:10%}
.column_Tr3 { width:19%}
.column_Tr4 { width:5%}
.column_Tr5 { width:26%}
.column_Tr6 { width:15%}
.column_Tr7 { width:15%}
.column_Tr8{ width:4%}

.column_Msg1 { width:10%; background-color:#FFF791; height:10; border:0;}
.column_Msg2 { background-color:#FFF791; border:0;}
.column_Msg3 { width:20%; background-color:#FFF791; border:0;}
.table_error {  border-color:Red; width:100%; border:1;}



.lnkaccount a:link {
    text-decoration: none;
    color: #660099;
    FONT-SIZE: 13px;
    font-weight:normal;
}

.lnkaccount a:visited {
    text-decoration: underline;
    color: #660099;    FONT-SIZE: 13px;

}

.lnkaccount a:active {
    text-decoration: underline;
    color: #660099;
    FONT-SIZE: 13px;

}
.lnkaccount a:hover {
    text-decoration: underline;
    font-weight: bold;
    FONT-SIZE: 13px;
}

.tbl_bdr_lt {   BORDER-BOTTOM: #660099 0px solid; 
				BORDER-LEFT: #660099 0px solid; 
				BORDER-RIGHT: #660099 0px solid; 
				BORDER-TOP: #660099 0px solid;
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; 
				color: #1B80B6}

.tbl_bdr_lb {   BORDER-BOTTOM: #660099 0px solid; 
				BORDER-LEFT: #660099 0px solid; 
				BORDER-RIGHT: #660099 0px solid; 
				BORDER-TOP: #660099 0px solid;
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; 
				color: #1B80B6}
				
				
.tbl_bdr_t {   BORDER-BOTTOM: #660099 0px solid; 
				BORDER-LEFT: #660099 0px solid; 
				BORDER-RIGHT: #660099 0px solid; 
				BORDER-TOP: #660099 0px solid;
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; 
				color: #1B80B6}

.tbl_bdr_b {   BORDER-BOTTOM: #660099 0px solid; 
				BORDER-LEFT: #660099 0px solid; 
				BORDER-RIGHT: #660099 0px solid; 
				BORDER-TOP: #660099 0px solid;
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; 
				color: #1B80B6}	

.tbl_bdr_tr {   BORDER-BOTTOM: #660099 0px solid; 
				BORDER-LEFT: #660099 0px solid; 
				BORDER-RIGHT: #660099 0px solid; 
				BORDER-TOP: #660099 0px solid;
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; 
				color: #1B80B6}	

.tbl_bdr_br {   BORDER-BOTTOM: #660099 0px solid; 
				BORDER-LEFT: #660099 0px solid; 
				BORDER-RIGHT: #660099 0px solid; 
				BORDER-TOP: #660099 0px solid;
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 10px; 
				color: #1B80B6}			
				
				
				

.lnkerror a:link {
    text-decoration: none;
    color: #FF0000;
    FONT-SIZE: 13px;
    font-weight:normal;
}

.lnkerror a:visited {
    text-decoration: underline;
    color: #FF0000;    FONT-SIZE: 13px;

}

.lnkerror a:active {
    text-decoration: underline;
    color: #FF0000;
    FONT-SIZE: 13px;

}
.lnkerror a:hover {
    text-decoration: underline;
    font-weight: bold;
    FONT-SIZE: 13px;
}

.column_show_acc_1 { width:5%}
.column_show_acc_2 { width:25%}
.column_show_acc_3 { width:25%}
.column_show_acc_4 { width:25%}
.column_show_acc_5 { width:15%}
.column_show_acc_6 { width:5%}															


.display_none { display:none;}

/* styles for menus*/
.chromestyle{
width: 99%;
font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.img_left{ border:0;vertical-align:middle;text-align:left;}
.chromestyle ul{
border: 0px solid #1B80B6;
width: 100%;
height:21px;
background: url(chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/
padding: 0px 0;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #494949;
padding: 0px 7px;
margin: 0;
text-decoration: none;
/*border-right: 1px solid #DADADA;*/
}

.chromestyle ul li a:hover{
background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
text-decoration: none;
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
content: "v";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:10px;
z-index:100;
background-color: white;
text-align:left;
width: 200px;
visibility: hidden;
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
text-align:left;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
text-decoration: none;
text-align:left;

}
.dropmenudiv a:link {
    text-decoration: none;
    color:#1B80B6;
    text-align:left;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
text-decoration: #1B80B6;
text-align:left;
}
.dropmenudiv a:visited {
    text-decoration: none;
    color:#1B80B6;
    text-align:left;
}

.dropmenudiv a:active {
    text-decoration: none;
    color:#1B80B6;
    text-align:left;
}

