﻿.divvalid{display:block;border: 1px solid #ccc;	 text-align:left;
	font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
         letter-spacing:1px;font-weight:600;  width:966px;
 background-position: 5px center;
  background-color:#d1ff83;/* url(../images/Common/PageBody/success_s.png) no-repeat 2px 3px ;*/
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
}  
.divnote{display:block;
border: 1px solid  #ccc;background-color:#fff8da; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 10px; font-weight: normal; color: #2e2e2e;padding:3pt;margin-left:0px;
                 letter-spacing:1px;font-weight:600;  width:100%;
                 
                 }

.divinfo
{display:block;
border: 1px solid  #ccc; text-align:left;
font-family: segoe ui, verdana, arial, sans-serif;
         font-size: 11px; font-weight: normal; color: #2e2e2e;
                       letter-spacing:1px;font-weight:600;  width:966px;
                       background-position: 5px center;
  background:#feffb3;/* url(../images/Common/PageBody/success_s.png) no-repeat 2px 3px ;*/
      padding-left: 22px;padding-top:3pt;padding-bottom:3pt;            
       
}