﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="libraryOffline.ascx.vb" Inherits="Library_UserControls_libraryOffline" %>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    <asp:Image ID="Image1" ImageUrl="~/Images/verbs_red.ico" runat="server" />
</p>
<p >
<div class="matters">
    Library Module is offline for a while..Please try after some time. Sorry for the 
    inconvenience
</div>

</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>

