<%@ Page Language="VB" AutoEventWireup="false" CodeFile="gpsEnquire.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="Transport_GPS_Tracking_gpsEnquire" %>

<%@ Register Src="UserControls/SentDetails.ascx" TagName="SentDetails" TagPrefix="uc1" %>
 
  <asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

      <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-bus mr-3"></i> Location Enquiry
        </div>
        <div class="card-body">
            <div class="table-responsive">
      

  <uc1:SentDetails ID="SentDetails1" runat="server" />
 
            </div>
        </div>
    </div>

 </asp:Content> 
 
 