<%@ Page Language="VB" AutoEventWireup="false" CodeFile="gpsLCDAlertView.aspx.vb"  MasterPageFile="~/mainMasterPage.master"   Inherits="Transport_GPS_Tracking_gpsLCDAlertView" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 <script type="text/javascript" >

     function OpenListings() {
         var User = ""
         var win = window.open("../GPS_Tracking/gpsLCDAlertListingsJavascript.aspx", "", "toolbar=0,menubar=0,scrollbars=yes,resizable=0,directories=0,status=0,fullscreen,left=100,top=100");
     }
    
    </script>
<body onload="OpenListings()">
  
     <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-bus mr-3"></i>
            <asp:Label ID="lblTitle" runat="server" Text="LCD Alert View"></asp:Label>
        </div>
        <div class="card-body">
            <div class="table-responsive">


                 </div>
        </div>
    </div>


</body>

</asp:Content> 

