﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="gpsStudentInAlert.aspx.vb" Inherits="Transport_GPS_Tracking_gpsStudentInAlert" %>

<%@ Register src="UserControls/gpsStudentInAlertRefresh.ascx" tagname="gpsStudentInAlertRefresh" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<%--    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server">
    <uc1:gpsStudentInAlertRefresh ID="gpsStudentInAlertRefresh1" runat="server" />
    <div>
    
    </div>
    </form>
</body>
</html>
