<%@ Page Language="VB" AutoEventWireup="false" CodeFile="rptIntlStudentPerformanceByGrade_Excel.aspx.vb" Inherits="Curriculum_Reports_rptIntlStudentPerformanceByGrade_Excel" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
         <asp:GridView ID="gvStud" runat="server" AllowPaging="false">
        </asp:GridView>
        <asp:HiddenField ID="H_RPF" runat="server" />
         <asp:HiddenField ID="h_SBG" runat="server" />
         <asp:HiddenField ID="h_Type" runat="server" />
   </form>
</body>
</html>
