﻿<%@ Page Title="" Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="rptKHDAAverageAnalysis.aspx.vb" Inherits="Curriculum_Reports_Aspx_rptKHDAAverageAnalysis" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">

<script language="javascript" type="text/javascript">
    function fnSelectAll2(master_box) {
        var curr_elem;
        var checkbox_checked_status;
        for (var i = 0; i < document.forms[0].elements.length; i++) {
            curr_elem = document.forms[0].elements[i];
            if (curr_elem.id.substring(0, 28) == 'ctl00_cphMasterpage_cblGrade') {
                curr_elem.checked = master_box.checked;
            }
        }
        // master_box.checked=!master_box.checked;
    }
    function fnSelectAll1(master_box) {
        var curr_elem;
        var checkbox_checked_status;
        for (var i = 0; i < document.forms[0].elements.length; i++) {
            curr_elem = document.forms[0].elements[i];
            if (curr_elem.id.substring(0, 30) == 'ctl00_cphMasterpage_cblSubject') {
                curr_elem.checked = master_box.checked;
            }
        }
        // master_box.checked=!master_box.checked;
    }


function OnTreeClick(evt)
{
var src = window.event != window.undefined ? window.event.srcElement : evt.target;
var isChkBoxClick = (src.tagName.toLowerCase() == "input" && src.type == "checkbox");
if(isChkBoxClick)
{
var parentTable = GetParentByTagName("table", src);
var nxtSibling = parentTable.nextSibling;
//check if nxt sibling is not null & is an element node
if(nxtSibling && nxtSibling.nodeType == 1)
{
if(nxtSibling.tagName.toLowerCase() == "div") //if node has children
{
//check or uncheck children at all levels
CheckUncheckChildren(parentTable.nextSibling, src.checked);
}
}
//check or uncheck parents at all levels
CheckUncheckParents(src, src.checked);

}
}


function OnTreeClick1(evt)
{
var src = window.event != window.undefined ? window.event.srcElement : evt.target;
var isChkBoxClick = (src.tagName.toLowerCase() == "input" && src.type == "checkbox");
if(isChkBoxClick)
{
var parentTable = GetParentByTagName("table", src);
var nxtSibling = parentTable.nextSibling;
//check if nxt sibling is not null & is an element node
if(nxtSibling && nxtSibling.nodeType == 1)
{
if(nxtSibling.tagName.toLowerCase() == "div") //if node has children
{
//check or uncheck children at all levels
CheckUncheckChildren(parentTable.nextSibling, src.checked);
}
}
//check or uncheck parents at all levels
CheckUncheckParents(src, src.checked);
}
}


function CheckUncheckChildren(childContainer, check)
{
var childChkBoxes = childContainer.getElementsByTagName("input");
var childChkBoxCount = childChkBoxes.length;
for(var i=0;i<childChkBoxCount;i++)
{
childChkBoxes[i].checked = check;
}
}


function CheckUncheckParents(srcChild, check)
{
var parentDiv = GetParentByTagName("div", srcChild);
var parentNodeTable = parentDiv.previousSibling;
if(parentNodeTable)
{
var checkUncheckSwitch;
if(check) //checkbox checked
{
var isAllSiblingsChecked = AreAllSiblingsChecked(srcChild);
if(isAllSiblingsChecked)
checkUncheckSwitch = true;
else
return; //do not need to check parent if any(one or more) child not checked
}
else //checkbox unchecked
{
checkUncheckSwitch = false;
}
var inpElemsInParentTable = parentNodeTable.getElementsByTagName("input");
if(inpElemsInParentTable.length > 0)
{
var parentNodeChkBox = inpElemsInParentTable[0];
parentNodeChkBox.checked = checkUncheckSwitch;
//do the same recursively
CheckUncheckParents(parentNodeChkBox, checkUncheckSwitch);
}
}
}

function AreAllSiblingsChecked(chkBox)
{
var parentDiv = GetParentByTagName("div", chkBox);
var childCount = parentDiv.childNodes.length;
for(var i=0;i<childCount;i++)
{
if(parentDiv.childNodes[i].nodeType == 1)
{
//check if the child node is an element node
if(parentDiv.childNodes[i].tagName.toLowerCase() == "table")
{
var prevChkBox = parentDiv.childNodes[i].getElementsByTagName("input")[0];
//if any of sibling nodes are not checked, return false
if(!prevChkBox.checked)
{
return false;
}
}
}
}
return true;
}

//utility function to get the container of an element by tagname
function GetParentByTagName(parentTagName, childElementObj)
{
var parent = childElementObj.parentNode;
while(parent.tagName.toLowerCase() != parentTagName.toLowerCase())
{
parent = parent.parentNode;
}
return parent;
}

function UnCheckAll() 
{ 
var oTree=document.getElementById("<%=tvReport.ClientId %>");
childChkBoxes = oTree.getElementsByTagName("input");
var childChkBoxCount = childChkBoxes.length;
for(var i=0;i<childChkBoxCount;i++)
{
childChkBoxes[i].checked = false;
}

return true;
} 

</script>
     <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>
            <asp:Label ID="lblHeader" runat="server" Text="Analysis Report"></asp:Label>
        </div>
        <div class="card-body">
            <div class="table-responsive ">
 <table id="tbl_ShowScreen" runat="server" align="center" border="0" cellpadding="0"
        cellspacing="0"  width="100%">
                 
               <tr >
              
                <td width="50%" align="left" class="title" >
                  <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label></td>
              </tr>
             
           <tr>
            <td align="center"    valign="top">
                
                <table id="tblClm" runat="server" align="center" cellpadding="5" cellspacing="5"   style="width: 100%">
                    
                      <tr>
                        <td align="left" width="20%" >
                            <span class="field-label">Select Academic Year</span></td>
                       
                        <td align="left"  width="30%"  >
                             <asp:DropDownList ID="ddlAcademicYear" runat="server" AutoPostBack="True" >
                            </asp:DropDownList>               
                      </td>
                      
                        <td align="left"   width="20%" >
                            <span class="field-label">Grade</span></td>
                        
                        <td align="left"   width="30%" >
                           <asp:DropDownList ID="ddlGrade" runat="server" AutoPostBack="True" >
                            </asp:DropDownList>    
                        </td>
                       
                    </tr>
                    <%--<tr>
                        <td align="left"  style="width: 184px">
                            Select Section</td>
                        <td >
                            :</td>
                        <td align="left"  >
                            <asp:DropDownList ID="ddlSection" AutoPostBack="true" runat="server" Width="107px">
                            </asp:DropDownList></td>
                    </tr>--%>
                    <tr>
                        <td align="left"  >
                            <span class="field-label">Select Subject</span></td>
                        
                        <td align="left"  >
                         <asp:CheckBox ID="chkSubject" onclick="javascript:fnSelectAll1(this);" runat="server"
                    Text="Select All" AutoPostBack="True" />
                            <div class="checkbox-list">

                           <asp:CheckBoxList id="cblSubject" runat="server" 
                                 RepeatLayout="Flow" CssClass="field-label"  style="overflow: auto;">
                            </asp:CheckBoxList>
                            </div>
                    </td>
                        <td align="left"  >
                            <span class="field-label">Report Schedule</span></td>
                       
                        <td align="left"  >
                                     <div class="checkbox-list">
                            <asp:TreeView id="tvReport" runat="server"  class="field-label"
                                ExpandDepth="1"   MaxDataBindDepth="3" NodeIndent="10" onclick="OnTreeClick(event);"
                                PopulateNodesFromClient="False"
                                ShowCheckBoxes="All"   
                                >
                                <parentnodestyle font-bold="False" />
                                <hovernodestyle font-underline="True" />
                                <selectednodestyle backcolor="White" borderstyle="Solid" borderwidth="1px" font-underline="False"
                                    horizontalpadding="3px" verticalpadding="1px" />
                                <nodestyle  horizontalpadding="5px"
                                    nodespacing="1px" verticalpadding="2px" />
                            </asp:TreeView>
                                         </div>

                            </td>
                    </tr>
                    <tr>
                        <td align="left" width="20%" >
                            <span class="field-label">Select Report Operation</span></td>
                       
                            <td>
                                <asp:DropDownList ID="ddlOperation" runat="server" >
                                <asp:ListItem Text="AVG" Value="0"></asp:ListItem>
                                <asp:ListItem Text="MAX" Value="1"></asp:ListItem>
                                <asp:ListItem Text="MIN" Value="2"></asp:ListItem>
                            </asp:DropDownList>
                            </td>
                    </tr>
                    <%--<tr>
                        <td align="left"  style="width: 184px" >
                            Previous Report Schedule</td>
                        <td >
                            :</td>
                        <td align="left"  >
                            <asp:DropDownList ID="ddlPrevSchedule" AutoPostBack="true" runat="server" Width="183px">
                            </asp:DropDownList></td>
                    </tr>--%>
                   
                    <tr>
                        <td  align="center" colspan="4">
                            <asp:Button id="btnGenerateReport" runat="server" CssClass="button" Height="24px"
                                Text="Generate Report" ValidationGroup="groupM1" />
                                <asp:Button id="btnGeneratePDF" runat="server" CssClass="button" Height="24px"
                                Text="Download PDF" ValidationGroup="groupM1" />
                                <CR:CrystalReportSource ID="rs" runat="server" CacheDuration="1">
                            </CR:CrystalReportSource>
                                </td>
                    </tr>
                    
                    </table>
                <input id="h_Selected_menu_1" runat="server" type="hidden" value="=" /><input id="h_Selected_menu_2"
                    runat="server" type="hidden" value="=" /><input id="h_Selected_menu_7" runat="server"
                        type="hidden" value="=" />
                <input id="h_Selected_menu_8" runat="server"
                        type="hidden" value="=" />
                        
                        <input id="hfbDownload" runat="server"
                        type="hidden" value="=" />
               </td></tr>
           
    
</table>
                </div>
            </div>
         </div>
    <asp:HiddenField id="h_STU_IDs" runat="server">
    </asp:HiddenField>
     
 <asp:HiddenField id="h_MnuCode" runat="server">
    </asp:HiddenField>

</asp:Content>

