<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="rptObjTrackObjectiveConsolidated.aspx.vb" Inherits="Curriculum_Reports_Aspx_rptObjTrackObjectiveConsolidated" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" runat="Server">
    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>
            <asp:Label ID="lblHeader" runat="server" Text="Objectives Consolidated"></asp:Label>
        </div>
        <div class="card-body">
            <div class="table-responsive mr-3">
                <asp:Label ID="lblerror" runat="server" CssClass="error"></asp:Label>
                <table class="BlueTable" id="tblrule" runat="server" width="100%">
                    <tr>
                        <td align="left" class="matters" width="20%">
                            <span class="field-label" >Academic Year</span></td>

                        <td align="left" class="matters" width="30%">
                            <asp:DropDownList ID="ddlAcademicYear" runat="server" AutoPostBack="True">
                            </asp:DropDownList></td>

                        <td align="left" valign="middle" class="matters"  width="20%" >
                            <span class="field-label">Grade</span></td>

                        <td align="left" valign="middle"  class="matters" width="30%">
                            <asp:DropDownList ID="ddlGrade" runat="server"  
                                AutoPostBack="True">
                            </asp:DropDownList></td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle" class="matters "  >
                            <span class="field-label">Section</span></td>
                        <td align="left" valign="middle"   class="matters">
                            <div class="checkbox-list">
                            <asp:CheckBoxList ID="lstSection" runat="server"    RepeatLayout="Flow"   >
                            </asp:CheckBoxList>
                                </div></td>
                        <td colspan="2"></td>
                        
                    </tr>
                    <tr>
                        <td align="center" colspan="4" style="text-align: center">
                            <asp:Button ID="btnGenerateReport" runat="server" CssClass="button"  
                                Text="Generate Report" ValidationGroup="groupM1" /> <asp:Button ID="btnDownload" runat="server" CssClass="button"
                                    Text="Download Report in PDF" ValidationGroup="groupM1" TabIndex="7" />
                        </td>
                    </tr>
                </table>

                <asp:HiddenField ID="hfbDownload" runat="server" />
                <CR:CrystalReportSource ID="rs" runat="server" CacheDuration="1">
                </CR:CrystalReportSource>
            </div>
        </div>
    </div>
</asp:Content>

