<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="rptStudentPerformanceAcrossYear_CBSE.aspx.vb" Inherits="Curriculum_Reports_Aspx_rptStudentPerformanceAcrossYear_CBSE" title="Untitled Page" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
    <script language="javascript" type="text/javascript">


function openWin() {
            var sFeatures;
            sFeatures="dialogWidth: 729px; ";
            sFeatures+="dialogHeight: 600px; ";
            sFeatures+="help: no; ";
            sFeatures+="resizable: no; ";
            sFeatures+="scroll: yes; ";
            sFeatures+="status: no; ";
            sFeatures+="unadorned: no; ";
            var NameandCode;
            var result;
            var GRD_IDs =document.getElementById('<%=ddlGrade.ClientID %>').value;
            var SCT_IDs =document.getElementById('<%=ddlSection.ClientID %>').value;
            var ACD_IDs =document.getElementById('<%=ddlAcademicYear.ClientID %>').value;
            if (GRD_IDs== '')
            {
                alert('Please select atleast one Grade')
                return false;
            }
                              
            var oWnd = radopen("../../clmPopupForm.aspx?multiselect=true&ID=STUDENT_GRADE&GRD_IDs=" + GRD_IDs.split('|')[0] + "&SCT_IDs=" + SCT_IDs+"&ACD_ID="+ACD_IDs, "RadWindow1");
            
        }

        function OnClientClose(oWnd, args) {
            //get the transferred arguments
            var arg = args.get_argument();
            if (arg) {
                 NameandCode = arg.NameCode.split('||');
            document.getElementById("<%=h_STU_IDs.ClientID %>").value = NameandCode[0];
            document.getElementById("<%=txtStudIDs.ClientID()%>").value = NameandCode[1];
             __doPostBack('<%= txtStudIDs.ClientID%>', 'TextChanged');
            }
        }
        

        function autoSizeWithCalendar(oWindow) {
            var iframe = oWindow.get_contentFrame();
            var body = iframe.contentWindow.document.body;

            var height = body.scrollHeight;
            var width = body.scrollWidth;

            var iframeBounds = $telerik.getBounds(iframe);
            var heightDelta = height - iframeBounds.height;
            var widthDelta = width - iframeBounds.width;

            if (heightDelta > 0) oWindow.set_height(oWindow.get_height() + heightDelta);
            if (widthDelta > 0) oWindow.set_width(oWindow.get_width() + widthDelta);
            oWindow.center();
        }

      function GetSTUDENTS()
       {     
            var sFeatures;
            sFeatures="dialogWidth: 729px; ";
            sFeatures+="dialogHeight: 600px; ";
            sFeatures+="help: no; ";
            sFeatures+="resizable: no; ";
            sFeatures+="scroll: yes; ";
            sFeatures+="status: no; ";
            sFeatures+="unadorned: no; ";
            var NameandCode;
            var result;
            var GRD_IDs =document.getElementById('<%=ddlGrade.ClientID %>').value;
            var SCT_IDs =document.getElementById('<%=ddlSection.ClientID %>').value;
            var ACD_IDs =document.getElementById('<%=ddlAcademicYear.ClientID %>').value;
            if (GRD_IDs== '')
            {
                alert('Please select atleast one Grade')
                return false;
            }
            result = window.showModalDialog("../../clmPopupForm.aspx?multiselect=true&ID=STUDENT_GRADE&GRD_IDs=" + GRD_IDs.split('|')[0] + "&SCT_IDs=" + SCT_IDs+"&ACD_ID="+ACD_IDs,"", sFeatures)
            if(result != '' && result != undefined)
            {
                document.getElementById('<%=h_STU_IDs.ClientID %>').value = result;//NameandCode[0];
            }
            else
            {
                return false;
            }
         }
         
   </script>
   <script language="javascript" type="text/javascript">


function OnTreeClick(evt)
{
var src = window.event != window.undefined ? window.event.srcElement : evt.target;
var isChkBoxClick = (src.tagName.toLowerCase() == "input" && src.type == "checkbox");
if(isChkBoxClick)
{
var parentTable = GetParentByTagName("table", src);
var nxtSibling = parentTable.nextSibling;
//check if nxt sibling is not null & is an element node
if(nxtSibling && nxtSibling.nodeType == 1)
{
if(nxtSibling.tagName.toLowerCase() == "div") //if node has children
{
//check or uncheck children at all levels
CheckUncheckChildren(parentTable.nextSibling, src.checked);
}
}
//check or uncheck parents at all levels
CheckUncheckParents(src, src.checked);

}
}


function OnTreeClick1(evt)
{
var src = window.event != window.undefined ? window.event.srcElement : evt.target;
var isChkBoxClick = (src.tagName.toLowerCase() == "input" && src.type == "checkbox");
if(isChkBoxClick)
{
var parentTable = GetParentByTagName("table", src);
var nxtSibling = parentTable.nextSibling;
//check if nxt sibling is not null & is an element node
if(nxtSibling && nxtSibling.nodeType == 1)
{
if(nxtSibling.tagName.toLowerCase() == "div") //if node has children
{
//check or uncheck children at all levels
CheckUncheckChildren(parentTable.nextSibling, src.checked);
}
}
//check or uncheck parents at all levels
CheckUncheckParents(src, src.checked);
}
}


function CheckUncheckChildren(childContainer, check)
{
var childChkBoxes = childContainer.getElementsByTagName("input");
var childChkBoxCount = childChkBoxes.length;
for(var i=0;i<childChkBoxCount;i++)
{
childChkBoxes[i].checked = check;
}
}


function CheckUncheckParents(srcChild, check)
{
var parentDiv = GetParentByTagName("div", srcChild);
var parentNodeTable = parentDiv.previousSibling;
if(parentNodeTable)
{
var checkUncheckSwitch;
if(check) //checkbox checked
{
var isAllSiblingsChecked = AreAllSiblingsChecked(srcChild);
if(isAllSiblingsChecked)
checkUncheckSwitch = true;
else
return; //do not need to check parent if any(one or more) child not checked
}
else //checkbox unchecked
{
checkUncheckSwitch = false;
}
var inpElemsInParentTable = parentNodeTable.getElementsByTagName("input");
if(inpElemsInParentTable.length > 0)
{
var parentNodeChkBox = inpElemsInParentTable[0];
parentNodeChkBox.checked = checkUncheckSwitch;
//do the same recursively
CheckUncheckParents(parentNodeChkBox, checkUncheckSwitch);
}
}
}

function AreAllSiblingsChecked(chkBox)
{
var parentDiv = GetParentByTagName("div", chkBox);
var childCount = parentDiv.childNodes.length;
for(var i=0;i<childCount;i++)
{
if(parentDiv.childNodes[i].nodeType == 1)
{
//check if the child node is an element node
if(parentDiv.childNodes[i].tagName.toLowerCase() == "table")
{
var prevChkBox = parentDiv.childNodes[i].getElementsByTagName("input")[0];
//if any of sibling nodes are not checked, return false
if(!prevChkBox.checked)
{
return false;
}
}
}
}
return true;
}

//utility function to get the container of an element by tagname
function GetParentByTagName(parentTagName, childElementObj)
{
var parent = childElementObj.parentNode;
while(parent.tagName.toLowerCase() != parentTagName.toLowerCase())
{
parent = parent.parentNode;
}
return parent;
}

function UnCheckAll() 
{ 
var oTree=document.getElementById("<%=tvReport.ClientId %>");
childChkBoxes = oTree.getElementsByTagName("input");
var childChkBoxCount = childChkBoxes.length;
for(var i=0;i<childChkBoxCount;i++)
{
childChkBoxes[i].checked = false;
}

return true;
} 
</script>

    


    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>  Student Performance Report
        </div>
        <div class="card-body">
            <div class="table-responsive">


<telerik:RadWindowManager ID="RadWindowManager1" ShowContentDuringLoad="false" VisibleStatusbar="false" 
        ReloadOnShow="true" runat="server" EnableShadow="true"  >
        <Windows>
            <telerik:RadWindow ID="RadWindow1" runat="server" Behaviors="Close,Move" OnClientClose="OnClientClose" 
               OnClientAutoSizeEnd="autoSizeWithCalendar" Width="700px" Height="620px" >
            </telerik:RadWindow>
          
        </Windows>
    </telerik:RadWindowManager>

 <table id="tbl_ShowScreen" runat="server" align="center" width="100%" cellpadding="0"
        cellspacing="0" >
                 
               <tr>
              
                <td align="left">
                     <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label>
                     <asp:Button ID="btnCheck" style="display:none;"  runat="server" /></td>
              </tr>
             
           <tr>
            <td>
              
                <table id="tblClm" runat="server" align="center" width="100%">
                    
                      <tr>
                        <td align="left" width="20%">
                            <span class="field-label">Select Academic Year</span></td>
                        
                        <td align="left" width="30%">
                             <asp:DropDownList ID="ddlAcademicYear" runat="server" AutoPostBack="True"  >
                            </asp:DropDownList>               
                      </td>
                          <td align="left" width="20%">
                            <span class="field-label">Grade</span></td>
                        
                        <td align="left" width="30%">
                        <asp:DropDownList ID="ddlGrade" runat="server" AutoPostBack="true"  >
                        </asp:DropDownList></td>
                       </tr>   
                    
                    <tr>
                        <td align="left">
                            <span class="field-label">Select Section</span></td>
                        
                        <td align="left" >
                            <asp:DropDownList ID="ddlSection" AutoPostBack="true" runat="server"  >
                            </asp:DropDownList></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span class="field-label">Select Student</span></td>
                       
                        <td align="left">
                <asp:TextBox id="txtStudIDs" runat="server" OnTextChanged="txtStudIDs_TextChanged"></asp:TextBox>
                <asp:ImageButton id="imgStudent" runat="server" ImageUrl="~/Images/cal.gif" OnClientClick="openWin();return false;" OnClick="imgStudent_Click">
                </asp:ImageButton>
                <asp:GridView id="grdStudent" runat="server" AllowPaging="True" AutoGenerateColumns="False"
                PageSize="5" CssClass="table table-bordered table-row"  OnPageIndexChanging="grdStudent_PageIndexChanging">
                <columns>
                <asp:TemplateField HeaderText="Stud. No"><ItemTemplate>
                <asp:Label id="lbstu_no" runat="server" Text='<%# Bind("ID") %>'></asp:Label> 
                </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="DESCR" HeaderText="Student Name"></asp:BoundField>
                </columns>
                <headerstyle cssclass="gridheader_new" />
                </asp:GridView>
            </td>
                    </tr>
                    <tr>
                        <td align="left">
                             <span class="field-label">Select Report Card</span></td>
                       
                        <td align="left">
                            <div  class="checkbox-list">
                            <asp:TreeView id="tvReport" runat="server"
                                ExpandDepth="1" MaxDataBindDepth="3" NodeIndent="10" onclick="OnTreeClick(event);"
                                PopulateNodesFromClient="False"
                                ShowCheckBoxes="All">
                                <parentnodestyle />
                                <hovernodestyle />
                                <selectednodestyle backcolor="White"  font-underline="False"
                                    />
                                <nodestyle />
                            </asp:TreeView>
                                </div>

                        </td>
                        <td></td>
                    </tr>
                    
                      <tr>
                    <td colspan="4">
                        <asp:RadioButton id="rdBar" CssClass="field-label" runat="server" GroupName="g1" Text="Bar Graph">
                        </asp:RadioButton>
                        <asp:RadioButton id="rdLine" CssClass="field-label" runat="server" GroupName="g1" Text="Line Graph">
                        </asp:RadioButton></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <asp:Button id="btnGenerateReport" runat="server" CssClass="button" Text="Generate Report" ValidationGroup="groupM1" />
                                 <asp:Button id="btnDownload" runat="server" CssClass="button" EnableViewState="False"
                    Text="Download Report in Pdf" /></td>                    </tr>
                    
                    </table>
                <input id="h_Selected_menu_1" runat="server" type="hidden" value="=" /><input id="h_Selected_menu_2"
                    runat="server" type="hidden" value="=" /><input id="h_Selected_menu_7" runat="server"
                        type="hidden" value="=" />
                <input id="h_Selected_menu_8" runat="server"
                        type="hidden" value="=" />
               </td></tr>
           
    
</table>
    <asp:HiddenField id="h_STU_IDs" runat="server">
    </asp:HiddenField>
     
 <asp:HiddenField id="hfbDownload" runat="server">
 </asp:HiddenField>
    <cr:crystalreportsource id="rs" runat="server" cacheduration="1"> </cr:crystalreportsource>

                </div>
            </div>
        </div>

</asp:Content>

