<%@ Control Language="VB" AutoEventWireup="false" CodeFile="usrBSUnits.ascx.vb" Inherits="UserControls_usrBSUnits" %>
                <asp:TreeView ID="tvBusinessunit" runat="server" ShowCheckBoxes="All" onclick="client_OnTreeNodeChecked();">
                    <NodeStyle CssClass="treenode" />
                </asp:TreeView>
        <script language="javascript" type="text/javascript">
     function change_chk_state(src)
         {
               var chk_state=(src.checked);
               for(i=0; i<document.forms[0].elements.length; i++)
               {
                if (document.forms[0].elements[i].type=='checkbox')
                    {
                    document.forms[0].elements[i].checked=chk_state;
                    }
               }
          }     
        function client_OnTreeNodeChecked( )
        { 
                var obj = window.event.srcElement;
                var treeNodeFound = false;
                var checkedState;
                if (obj.tagName == "INPUT" && obj.type == "checkbox") {
//                //
//                if  ( obj.title=='All' && obj.checked ){ //alert(obj.checked);
//                change_chk_state(obj); }
//                //
                var treeNode = obj;
                checkedState = treeNode.checked;
                do {
                    obj = obj.parentElement;
                    } while (obj.tagName != "TABLE")
                var parentTreeLevel = obj.rows[0].cells.length;
                var parentTreeNode = obj.rows[0].cells[0];
                var tables = obj.parentElement.getElementsByTagName("TABLE");
                var numTables = tables.length
                    if (numTables >= 1)
                    {
                        for (i=0; i < numTables; i++)
                        {
                            if (tables[i] == obj)
                            {
                                treeNodeFound = true;
                                i++;
                                if (i == numTables)
                                    {
                                    return;
                                    }
                            }
                            if (treeNodeFound == true)
                            {
                            var childTreeLevel = tables[i].rows[0].cells.length;
                            if (childTreeLevel > parentTreeLevel)
                                {
                                var cell = tables[i].rows[0].cells[childTreeLevel - 1];
                                var inputs = cell.getElementsByTagName("INPUT");
                                inputs[0].checked = checkedState;
                                }
                            else
                                {
                                return;
                                }
                            }
                        }
                    }
                }
        }
    </script>

<asp:HiddenField ID="h_MenuCode" runat="server" />
