<%@ Page Language="VB" AutoEventWireup="false" CodeFile="gpsSpeedReportFilter.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="Transport_GPS_Tracking_Report_Pages_gpsSpeedReportFilter" %>

<%@ Register Src="~/Transport/GPS_Tracking/Report/UserControls/gpsSpeedReportFilter.ascx" TagName="gpsSpeedReportFilter"
    TagPrefix="uc1" %>
    
    <asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
    
       <uc1:gpsSpeedReportFilter ID="GpsSpeedReportFilter1" runat="server" />
    </asp:Content> 
 
       
 
