﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryLibrarian.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="Library_libraryLibrarian" %>

<%@ Register src="UserControls/libraryLibrarian.ascx" tagname="libraryLibrarian" tagprefix="uc1" %>


<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 <div>
    
        <uc1:libraryLibrarian ID="libraryLibrarian1" runat="server" />
    
 </div>
</asp:Content>  
