<%@ Page Language="VB" AutoEventWireup="false" EnableEventValidation="false"  CodeFile="LibraryGlobalSettings.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="Library_LibraryGlobalSettings" %>

<%@ Register Src="UserControls/libraryItems.ascx" TagName="libraryItems" TagPrefix="uc1" %>

<asp:Content ID="C1"  ContentPlaceHolderID="cphMasterpage"  runat="server">
 <div>
        <uc1:libraryItems ID="LibraryItems1" runat="server" />
</div>
</asp:Content> 
