﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryStockYearlyEntry.aspx.vb" Inherits="Library_libraryStockYearlyEntry" %>

<%@ Register src="UserControls/libraryStockYearlyEntry.ascx" tagname="libraryStockYearlyEntry" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Yearly Stock</title>
    <base target="_self" /> 
    <%--<link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">
    
        <uc1:libraryStockYearlyEntry ID="libraryStockYearlyEntry1" runat="server" />
    
    </div>
    </form>
</body>
</html>
