<%@ Page Language="VB" AutoEventWireup="false" CodeFile="libraryUploadExcelDataManual.aspx.vb" Inherits="Library_libraryUploadExcelDataManual" %>

<%@ Register Src="UserControls/libraryUploadExcelDataManual.ascx" TagName="libraryUploadExcelDataManual"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:libraryUploadExcelDataManual ID="LibraryUploadExcelDataManual1" runat="server" />
    
    </div>
    </form>
</body>
</html>
