<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Barcode_empid.aspx.vb" Inherits="Library_Barcode_Barcode" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Identity Card</title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
        <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
          <base target="_self" />
          <script type="text/javascript" language="javascript">
           window.onload = CheckForPrint
                function CheckForPrint()  
                     {
//                     var ctrl=document.getElementById('<%= h_print.ClientID %>' ).value; 
//                      document.getElementById('<%= h_print.ClientID %>' ).value='';
//                      if  (ctrl=='completed') CloseWindow()
//                      else if (ctrl!='')
//                       {
//                         document.getElementById(ctrl).click();                        
//                        }
                     } 
                     function CloseWindow()
                        {
                        if (confirm('Close the window?'))
                           window.close();
                        }
          </script>
              <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <cr:crystalreportviewer id="CrystalReportViewer1" runat="server" autodatabind="true"
             hascrystallogo="False" height="50px" printmode="ActiveX"
            width="350px"  ></cr:crystalreportviewer>
     <asp:HiddenField ID="h_print" runat="server" />
    </div>
    </form>
</body>
</html>
