<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="comCommunicationReportPage.aspx.vb" Inherits="Transport_GPS_Tracking_Communication_comCommunicationReportPage" %>

<%@ Register Src="comCommunicationReport.ascx" TagName="comCommunicationReport" TagPrefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

   <uc1:comCommunicationReport ID="ComCommunicationReport1" runat="server" />

</asp:Content> 
