<%@ Page Language="VB" AutoEventWireup="false" CodeFile="AttChart_Maindrilldown.aspx.vb" Inherits="Students_AttChart_Maindrilldown" Title="::::GEMS OASIS:::: Online Student Administration System::::" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
     <SCRIPT LANGUAGE="Javascript" SRC="../FusionCharts/FusionCharts.js"></SCRIPT>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Literal ID="ltDrilldownMain" runat="server"></asp:Literal>
    </div>
    </form>
</body>
</html>
