﻿<%@ Page Title="" Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="EnqConversionTranDate.aspx.vb" Inherits="Students_EnqConversionTranDate" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
     <script src="../Scripts/jquery-1.9.1.js" type="text/javascript"></script>
 <script type="text/javascript" >
     $(document).ready(function () {
         var win = window.open("EnqConvTranDateStatistics.aspx", "", "toolbar=0,menubar=0,scrollbars=yes,resizable=1,directories=0,status=0,left=100,top=10,width=1100,height=800");
     });

    </script>
</asp:Content>

