<%@ Page Language="VB"  AutoEventWireup="false" CodeFile="studBlueBookAll_M.aspx.vb" Inherits="Students_studBlueBookAll_M" Title="::::GEMS PHOENIX:::: Online Student Administration System::::"  %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server"/>
    <body>
    <form id="form1"  runat="server">
        <asp:Literal ID="ltBlueBook" runat="server"></asp:Literal>
        
         </form>
 </body>
</html>
