<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="studRegularObserver.aspx.vb" Inherits="Students_studRegularObserver" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" runat="Server">
    <script language="javascript" type="text/javascript">
        var color = '';
        function highlight(obj) {
            var rowObject = getParentRow(obj);
            var parentTable = document.getElementById("<%=gvStudRegular.ClientID %>");
if (color == '') {
    color = getRowColor();
}
if (obj.checked) {
    rowObject.style.backgroundColor = '#f6deb2';
}
else {
    rowObject.style.backgroundColor = '';
    color = '';
}
    // private method

function getRowColor() {
    if (rowObject.style.backgroundColor == '') return parentTable.style.backgroundColor;
    else return rowObject.style.backgroundColor;
}
}
// This method returns the parent row of the object
function getParentRow(obj) {
    do {
        obj = obj.parentElement;
    }
    while (obj.tagName != "TR")
    return obj;
}


function change_chk_state1(chkThis) {

    var chk_state = !chkThis.checked;
    for (i = 0; i < document.forms[0].elements.length; i++) {
        var currentid = document.forms[0].elements[i].id;
        if (document.forms[0].elements[i].type == "checkbox" && currentid.indexOf("chkSelect") != -1) {

            document.forms[0].elements[i].checked = chk_state;
            document.forms[0].elements[i].click();
        }
    }
}






function test1(val) {
    var path;
    if (val == 'LI') {
        path = '../Images/operations/like.gif';
    } else if (val == 'NLI') {
        path = '../Images/operations/notlike.gif';
    } else if (val == 'SW') {
        path = '../Images/operations/startswith.gif';
    } else if (val == 'NSW') {
        path = '../Images/operations/notstartwith.gif';
    } else if (val == 'EW') {
        path = '../Images/operations/endswith.gif';
    } else if (val == 'NEW') {
        path = '../Images/operations/notendswith.gif';
    }
    document.getElementById("<%=getid1()%>").src = path;
                document.getElementById("<%=h_selected_menu_1.ClientID %>").value = val + '__' + path;
                }

                function test2(val) {
                    var path;
                    if (val == 'LI') {
                        path = '../Images/operations/like.gif';
                    } else if (val == 'NLI') {
                        path = '../Images/operations/notlike.gif';
                    } else if (val == 'SW') {
                        path = '../Images/operations/startswith.gif';
                    } else if (val == 'NSW') {
                        path = '../Images/operations/notstartwith.gif';
                    } else if (val == 'EW') {
                        path = '../Images/operations/endswith.gif';
                    } else if (val == 'NEW') {
                        path = '../Images/operations/notendswith.gif';
                    }
                    document.getElementById("<%=getid2()%>").src = path;
                document.getElementById("<%=h_selected_menu_2.ClientID %>").value = val + '__' + path;
                   }





    </script>

    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-user mr-3"></i> Regular/Observer
        </div>
        <div class="card-body">
            <div class="table-responsive">

               <table id="tbl_ShowScreen" runat="server" align="center" width="100%" cellpadding="0"
                    cellspacing="0">

                    <tr>
                        <td align="left">
                            <asp:ValidationSummary ID="ValidationSummary1" runat="server" CssClass="error" EnableViewState="False" ValidationGroup="groupM1"
                              HeaderText="You must enter a value in the following fields:" />
                            <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label>
                            <table align="center" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table align="left" width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="left" width="25%"><span class="field-label">Select Academic Year</span></td>
                                                
                                                <td align="left" width="25%">

                                                    <asp:DropDownList ID="ddlAcademicYear" SkinID="smallcmb" runat="server" AutoPostBack="True" Width="100px">
                                                    </asp:DropDownList>
                                                </td>
                                                <td align="left" width="25%"><span class="field-label">Select Grade</span></td>
                                                
                                                <td align="left" width="25%">

                                                    <asp:DropDownList ID="ddlGrade" SkinID="smallcmb" runat="server" AutoPostBack="True" Width="100px">
                                                    </asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"><span class="field-label">Select Section</span></td>
                                                
                                                <td align="left">

                                                    <asp:DropDownList ID="ddlSection" runat="server">
                                                    </asp:DropDownList>
                                                </td>
                                                <td>
                                                    <asp:CheckBox ID="Checkoption" CssClass="field-label" runat="server"
                                                        Text="Include TC/SO Students" /></td>

                                                <td></td>

                                            </tr>
                                            <tr>
                                                <td colspan="4" align="center">
                                                    <asp:Button ID="btnSearch" runat="server" Text="List" CssClass="button" TabIndex="4" Height="27px" Width="58px" />
                                                </td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>



                                <tr>
                                    <td colspan="4">
                                        <table align="left" width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="left" width="25%"><span class="field-label">Select Regular/Observer</span></td>
                                               

                                                <td align="left" width="25%">
                                                    <asp:DropDownList ID="ddlRegular" runat="server" Enabled="False">
                                                        <asp:ListItem Value="NoChoose">Choose</asp:ListItem>
                                                        <asp:ListItem>Regular</asp:ListItem>
                                                        <asp:ListItem>Observer-Age</asp:ListItem>
                                                        <asp:ListItem>Observer-Doc</asp:ListItem>

                                                    </asp:DropDownList>
                                                    <asp:RequiredFieldValidator ID="rfvID" runat="server" ControlToValidate="ddlRegular" InitialValue="NoChoose" ValidationGroup="groupM1"
                                                        Display="Dynamic" CssClass="text-danger" ErrorMessage="Regular/Observer required." >*</asp:RequiredFieldValidator>

                                                </td>
                                                <td width="25%"></td>
                                                <td width="25%"></td>
                                                
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                               
                                                
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td align="center" colspan="4">
                                        <asp:GridView ID="gvStudRegular" runat="server" AllowPaging="True" AutoGenerateColumns="False"
                                            CssClass="table table-bordered table-row" EmptyDataText="No Records Found"
                                            PageSize="40" Width="100%">
                                            <RowStyle CssClass="griditem" />
                                            <Columns>
                                                <asp:TemplateField HeaderText="Available">
                                                    <EditItemTemplate>
                                                        <asp:CheckBox ID="chkSelect" runat="server" />

                                                    </EditItemTemplate>
                                                    <HeaderTemplate>
                                                       <asp:CheckBox ID="chkAll" runat="server" onclick="javascript:change_chk_state1(this);"
                                                                        ToolTip="Click here to select/deselect all rows" />
                                                    </HeaderTemplate>
                                                    <ItemTemplate>
                                                        <asp:CheckBox ID="chkSelect" runat="server" onclick="javascript:highlight(this);" />

                                                    </ItemTemplate>

                                                    <HeaderStyle Wrap="False"></HeaderStyle>

                                                    <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="STU_ID" Visible="False">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblStuId" runat="server" Text='<%# Bind("STU_ID") %>'></asp:Label>

                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="STP_ID" Visible="False">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblStpId" runat="server" Text='<%# Bind("STP_ID") %>'></asp:Label>

                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="SL.No">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblSlNo" runat="server" Text='<%# Bind("Sr_No") %>'></asp:Label>

                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Student No">
                                                    <HeaderTemplate>
                                                        <asp:Label ID="lblStHeader" runat="server" CssClass="gridheader_text" Text="Student No"></asp:Label>
                                                            <br />
                                                         <asp:TextBox ID="txtStuNoSearch" runat="server" Width="75%"></asp:TextBox>
                                                                           
                                                         <asp:ImageButton ID="btnStuNo_Search" runat="server" ImageAlign="middle" ImageUrl="~/Images/forum_search.gif" OnClick="btnStuNo_Search_Click" />
                                                                       

                                                    </HeaderTemplate>
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblStuNo" runat="server" Text='<%# Bind("STU_NO") %>'></asp:Label>

                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="Student Name">
                                                    <HeaderTemplate>
                                                    <asp:Label ID="lblName" runat="server" CssClass="gridheader_text" Text="Student Name"></asp:Label>
                                                            <br />
                                                    <asp:TextBox ID="txtStudName" runat="server" Width="75%"></asp:TextBox>
                                                    <asp:ImageButton ID="btnStudName_Search" runat="server" ImageAlign="Top" ImageUrl="~/Images/forum_search.gif" OnClick="btnStudName_Search_Click" /></td>
                                                                        

                                                    </HeaderTemplate>
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblEnqDate" runat="server" Text='<%# Bind("STU_NAME") %>'></asp:Label>

                                                    </ItemTemplate>
                                                </asp:TemplateField>

                                                <asp:TemplateField HeaderText="Ministry Type">
                                                    <HeaderTemplate>
                                                        Ministry Type
                                                        <br />
                                                        <asp:DropDownList ID="ddlgvRegular" runat="server" AutoPostBack="True" CssClass="listbox"
                                                        OnSelectedIndexChanged="ddlgvRegular_SelectedIndexChanged" Width="116px">
                                                        </asp:DropDownList>

                                                    </HeaderTemplate>
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblMINList" runat="server" Text='<%# Bind("STU_MINLISTTYPE") %>'></asp:Label>

                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                            </Columns>
                                            <SelectedRowStyle CssClass="Green" />
                                            <HeaderStyle Height="30px" CssClass="gridheader_pop" />
                                            <AlternatingRowStyle CssClass="griditem_alternative" />
                                        </asp:GridView>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <asp:Button ID="btnUpdate" runat="server" Text="Update" CssClass="button" TabIndex="4" ValidationGroup="groupM1" />

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                </table>







                <asp:HiddenField ID="hfACD_ID" runat="server" />
                <input id="h_Selected_menu_2"
                    runat="server" type="hidden" value="=" />
                <input id="h_Selected_menu_1" runat="server" type="hidden" value="=" />
                <asp:HiddenField ID="hfGRD_ID" runat="server" />
                <asp:HiddenField ID="hfSCT_ID" runat="server" />
                <asp:HiddenField ID="hfACY_DESCR" runat="server" />

            </div>
        </div>
    </div>

</asp:Content>

