<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="studMinApprSetDate.aspx.vb" Inherits="Students_studMinApprSetDate" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
<script language="javascript" type="text/javascript">
var color = ''; 
function highlight(obj)
{ 
var rowObject = getParentRow(obj); 
var parentTable = document.getElementById("<%=gvStud.ClientID %>"); 
if(color == '') 
{
color = getRowColor(); 
} 
if(obj.checked) 
{ 
rowObject.style.backgroundColor ='#f6deb2'; 
}
else 
{
rowObject.style.backgroundColor = '';  
color = ''; 
}
// private method

function getRowColor() 
{
if(rowObject.style.backgroundColor == '') return parentTable.style.backgroundColor; 
else return rowObject.style.backgroundColor; 
}
}
// This method returns the parent row of the object
function getParentRow(obj) 
{  
do 
{
obj = obj.parentElement;
}
while(obj.tagName != "TR") 
return obj; 
}


    function change_chk_state(chkThis)
         {
        var chk_state= ! chkThis.checked ;
         for(i=0; i<document.forms[0].elements.length; i++)
               {
               var currentid =document.forms[0].elements[i].id; 
               if(document.forms[0].elements[i].type=="checkbox" && currentid.indexOf("chkSelect")!=-1)
             {
               //if (document.forms[0].elements[i].type=='checkbox' )
                  //if (document.forms[0].elements[i].name.search(/chkSelect/)>0) also works
                    document.forms[0].elements[i].checked=chk_state;
                     document.forms[0].elements[i].click();//fire the click event of the child element
                 }
              }
          }
          
  
  
           
                function test1(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid1()%>").src = path;
                document.getElementById("<%=h_selected_menu_1.ClientID %>").value=val+'__'+path;
                }
                
                   function test2(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid2()%>").src = path;
                document.getElementById("<%=h_selected_menu_2.ClientID %>").value=val+'__'+path;
                }
                
               
                          
                   function test3(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid3()%>").src = path;
                document.getElementById("<%=h_selected_menu_3.ClientID %>").value=val+'__'+path;
                }
                
         
                function test7(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid7()%>").src = path;
                document.getElementById("<%=h_selected_menu_7.ClientID %>").value=val+'__'+path;
                }
                
         function getDate(val) 
          {     
            var sFeatures;
            sFeatures="dialogWidth: 227px; ";
            sFeatures+="dialogHeight: 252px; ";
            sFeatures+="help: no; ";
            sFeatures+="resizable: no; ";
            sFeatures+="scroll: no; ";
            sFeatures+="status: no; ";
            sFeatures+="unadorned: no; ";
            var NameandCode;
            var result;
            var nofuture="../Accounts/calendar.aspx?nofuture=yes";
           if (val==0)
            { 
           result = window.showModalDialog(nofuture,"", sFeatures)
           
         } 
         else
         {
            result = window.showModalDialog("../Accounts/calendar.aspx","", sFeatures)}
            if (result=='' || result==undefined)
            {
            return false;
            }
            

            if (val==1)
            { 
           document.getElementById('<%=txtDate.ClientID %>').value=result; 
        }
        
       
        
      return false;
    }  
         
   
  
   
   function confirm_enroll()
{
  
  if (confirm("You are about to enroll these selected enquiries.Do you want to proceed?")==true)
   return true;
  else
    return false;
   
 }     
</script>
<table width="100%" id="Table1" border="0px">


<tr style="font-size: 12pt;">

<td width="50%" align="left" class="title" style="height: 47px">&nbsp;<asp:Label id="lblTitle" runat="server" Height="37px" Width="477px"></asp:Label>


</td>
</tr>
</table>
<table id="tbl_ShowScreen" runat="server" align="center" border="0" cellpadding="0"
cellspacing="0" style="width: 100%">
<tr>
<td align="left"  class="matters"  valign="top">
<asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label>
</td>
</tr>
<tr>
<td align="left"  >
<asp:ValidationSummary ID="ValidationSummary1" runat="server" CssClass="error" EnableViewState="False"
ForeColor="" HeaderText="You must enter a value in the following fields:" SkinID="error"
ValidationGroup="groupM1" style="display: inline" />

</td>

</tr>

<tr>
<td style="width: 797px">
<table align="center" id="tblMin" runat="server" border="1" class="BlueTableView" bordercolor="#1b80b6" cellpadding="0" cellspacing="0" style="width: 520px">

 <tr>
                        <td align="left" class="matters"  style="width: 194px;">
                            Select Academic Year</td>
                        <td class="matters" style="width: 7px;" >
                            :</td>
                        <td align="left" class="matters" style="width: 137px;" colspan="5">
                           <asp:DropDownList ID="ddlAcademicYear" SKINID="smallcmb" runat="server" AutoPostBack="True" Width="108px">
                            </asp:DropDownList>               
                      </td>
                         
                    </tr>
                    
                    <tr>
                    
                       <td align="left" class="matters" >
                            Select Grade</td>
                        <td class="matters" style="width: 7px;" >
                            :</td>
                        <td align="left" class="matters" style="height: 10px; width: 122px;">
                            <asp:DropDownList ID="ddlGrade" SKINID="smallcmb" runat="server" AutoPostBack="True" Width="68px">
                            </asp:DropDownList>               
                      </td>
                             
                           
                        <td align="left" class="matters"  style="width: 80px;">
                            Select Section</td>
                        <td class="matters" style="width: 6px;" >
                            :</td>
                        <td align="left" class="matters" style="height: 10px; width: 89px;" colspan="2">
                            <asp:DropDownList ID="ddlSection" SKINID="smallcmb" runat="server" Width="71px">
                            </asp:DropDownList>               
                      </td>
                    
                    
                    </tr>
                    <tr>
                        <td align="left" class="matters">
                            Student ID</td>
                        <td class="matters" style="width: 7px">
                            :</td>
                        <td align="left" class="matters" style="width: 122px; height: 10px">
                            <asp:TextBox id="txtStuNo" runat="server">
                            </asp:TextBox></td>
                        <td align="left" class="matters" style="width: 80px">
                            Student Name</td>
                        <td class="matters" style="width: 6px">
                            :</td>
                        <td align="left" class="matters" style="width: 89px; height: 10px">
                            <asp:TextBox id="txtName" runat="server"></asp:TextBox></td>
                        <td style="height: 10px">
                       <asp:Button ID="btnSearch" runat="server" Text="List" CssClass="button" TabIndex="4" Width="51px"  /></td>
                    </tr>
                    
                    <tr>
                    <td colspan="8" style="height: 16px"></td>
                    </tr>
                     
                      

<tr><td align="left" class="matters"  style="height: 11px; width: 392px;">
    <asp:Label id="lblText" runat="server" Text="Label"></asp:Label></td>
<td class="matters" style="height: 11px; width: 40px;" >
:</td><td align="left" class="matters" style="height: 11px; width: 795px;">
<input id="txtDate" type="text"  runat="server"   onchange="MoveText();return false;" />
<asp:ImageButton ID="imgBtnEnqDate" runat="server" ImageUrl="~/Images/calendar.gif"
OnClientClick="getDate(1);return false;" /><asp:RegularExpressionValidator ID="RegularExpressionValidator3" runat="server" ControlToValidate="txtDate"
Display="Dynamic" ErrorMessage="Enter the  Date in given format dd/mmm/yyyy e.g.  21/Sep/2007 or 21/09/2007"
ValidationExpression="^([012]?\d|3[01])/([Jj][Aa][Nn]|[Ff][Ee][bB]|[Mm][Aa][Rr]|[Aa][Pp][Rr]|[Mm][Aa][Yy]|[Jj][Uu][Nn]|[Jj][Uu][lL]|[aA][Uu][gG]|[Ss][eE][pP]|[oO][Cc][Tt]|[Nn][oO][Vv]|[Dd][Ee][Cc]|[012]?\d)/(19|20)\d\d$"
ValidationGroup="groupM1">*</asp:RegularExpressionValidator><asp:CustomValidator ID="CustomValidator3" runat="server" ControlToValidate="txtDate"
CssClass="error" Display="Dynamic" EnableViewState="False" ErrorMessage="Date  entered is not a valid date"
ForeColor="" ValidationGroup="groupM1">*</asp:CustomValidator>
<asp:RequiredFieldValidator ID="rfDoj" runat="server" ErrorMessage="Please enter the date" ControlToValidate="txtDate" Display="None" ValidationGroup="groupM1"></asp:RequiredFieldValidator>
</td>
    <td align="left" class="matters" colspan="4" style="width: 795px; height: 11px">
        <asp:RadioButton id="rdApproved" runat="server" Text="Approved" Checked="True" GroupName="G1">
        </asp:RadioButton>
        <asp:RadioButton id="rdNotApproved" runat="server" Text="Not Approved" GroupName="G1">
        </asp:RadioButton></td>

</tr>

<tr>
<td align="center" class="matters" colspan="8" style="height: 135px" valign="top">
            
                <asp:GridView ID="gvStud" runat="server" AllowPaging="True" AutoGenerateColumns="False"
                CssClass="gridstyle" EmptyDataText="No Records Found"
                HeaderStyle-Height="30" PageSize="20" Width="392px" >
                <RowStyle CssClass="griditem" Height="25px" />
                <Columns>

                <asp:TemplateField HeaderText="Available"><EditItemTemplate>
                <asp:CheckBox ID="chkSelect" runat="server"  />
                </EditItemTemplate>
                <HeaderTemplate>
                <table><tr><td align="center">Select </td></tr><tr><td align="center">
                <asp:CheckBox ID="chkAll" runat="server"  onclick="javascript:change_chk_state(this);"
                ToolTip="Click here to select/deselect all rows" /></td>
                </tr></table>
                </HeaderTemplate>
                <ItemTemplate>
                <asp:CheckBox ID="chkSelect" runat="server" onclick="javascript:highlight(this);" />
                </ItemTemplate>
                <HeaderStyle Wrap="False"></HeaderStyle>
                <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
                </asp:TemplateField>
                
                <asp:TemplateField HeaderText="HideID" Visible="False">
                <ItemTemplate>
                <asp:Label ID="lblStuID" runat="server" Text='<%# Bind("Stu_ID") %>'></asp:Label>
                </ItemTemplate>
                <ItemStyle Width="20px"></ItemStyle>
                </asp:TemplateField>
                
                <asp:TemplateField HeaderText="Student ID"><HeaderTemplate>
                <table style="width: 124px;"><tr>
                <td align="center" style="width: 196px">
                <asp:Label ID="lblStu_NoH" runat="server">Student ID</asp:Label></td>
                </tr><tr>
                <td align="left" style="width: 196px;">
                <table border="0" cellpadding="0" cellspacing="0">
                <tr><td>
                <div id="Div1" class="chromestyle">
                <ul><li><a href="#" rel="dropmenu1">
                <img id="mnu_1_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" /><span
                style="font-size: 12pt; color: #0000ff; text-decoration: none"> </span></a></li>
                </ul>
                </div>
                </td><td style="height: 12px">
                <asp:TextBox ID="txtStuNo" runat="server" Width="94px"></asp:TextBox></td>
                <td style="height: 12px" valign="middle">
                <asp:ImageButton ID="btnSearchStuNo" runat="server" ImageAlign="Top" ImageUrl="../Images/forum_search.gif" OnClick="btnSearchStuNo_Click"/>
                </td></tr></table></td></tr></table>
                
</HeaderTemplate>
<ItemTemplate>
                <asp:Label ID="lblStuNo" runat="server" Text='<%# Bind("Stu_No") %>'></asp:Label>
                
</ItemTemplate>

<ItemStyle Width="60px"></ItemStyle>
</asp:TemplateField>
<asp:TemplateField HeaderText="Student Name" SortExpression="DESCR"><EditItemTemplate>
                &nbsp;
                
</EditItemTemplate>
<HeaderTemplate>
                <table style="width: 124px;">
                <tr><td align="center" style="width: 196px; height: 18px;">
                <asp:Label ID="lblStu_NameH" runat="server">Student Name</asp:Label></td>
                </tr><tr><td align="left" style="width: 196px;">
                <table border="0" cellpadding="0" cellspacing="0">
                <tr><td style="height: 12px">
                <div id="Div2" class="chromestyle">
                <ul><li><a href="#" rel="dropmenu2">
                <img id="mnu_2_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" /><span
                style="font-size: 12pt; color: #0000ff; text-decoration: none"> </span></a></li>
                </ul>
                </div>
                </td>
                <td style="height: 12px">
                <asp:TextBox ID="txtStuName" runat="server" Width="134px"></asp:TextBox></td>
                <td style="height: 12px" valign="middle">
                <asp:ImageButton ID="btnSearchStuName" runat="server" ImageAlign="Top" ImageUrl="../Images/forum_search.gif" OnClick="btnSearchStuName_Click"/>
                </td></tr></table></td></tr>
                </table>
</HeaderTemplate>
<ItemTemplate>
                <asp:Label ID="lblStuName" runat="server" Text='<%# Bind("Stu_Name") %>'></asp:Label>
                
</ItemTemplate>

<ItemStyle Width="180px"></ItemStyle>
</asp:TemplateField>
<asp:TemplateField HeaderText="Grade"><EditItemTemplate>
                &nbsp;
                
</EditItemTemplate>
<HeaderTemplate>
<table >
                <tr><td align="center" >
                <asp:Label ID="lblGradeH" runat="server">Grade</asp:Label></td>
                </tr><tr><td align="left" >
                <table border="0" cellpadding="0" cellspacing="0">
                <tr><td style="height: 12px">
                <div id="Div3" class="chromestyle">
                <ul><li><a href="#" rel="dropmenu3">
                <img id="mnu_3_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" /><span
                style="font-size: 12pt; color: #0000ff; text-decoration: none"> </span></a></li>
                </ul></div></td><td style="height: 12px">
                <asp:TextBox ID="txtGrade" runat="server" Width="79px"></asp:TextBox></td>
                <td style="height: 12px" valign="middle">
                <asp:ImageButton ID="btnGrade_Search" runat="server" ImageAlign="Top" ImageUrl="../Images/forum_search.gif" OnClick="btnGrade_Search_Click"/>
                </td></tr></table></td></tr></table>
                
</HeaderTemplate>
<ItemTemplate>
                <asp:Label ID="lblGrade" runat="server" Text='<%# Bind("grm_display") %>'></asp:Label>
                
</ItemTemplate>
</asp:TemplateField>
<asp:TemplateField HeaderText="Section"><EditItemTemplate>
                
</EditItemTemplate>
<HeaderTemplate>
<table >
                <tr><td align="center" >
                <asp:Label ID="lblSectionH" runat="server">Section</asp:Label></td>
                </tr><tr><td align="left" >
                <table border="0" cellpadding="0" cellspacing="0">
                <tr><td style="height: 12px">
                <div id="Div4" class="chromestyle">
                <ul><li><a href="#" rel="dropmenu4"></a>
                <img id="mnu_4_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" /><span
                style="font-size: 12pt; color: #0000ff; text-decoration: none"> </span></li>
                </ul></div></td>
                <td style="height: 12px">
                <asp:TextBox ID="txtSection" runat="server" Width="55px"></asp:TextBox></td>
                <td style="height: 12px" valign="middle">
                <asp:ImageButton ID="btnSection_Search" runat="server" ImageAlign="Top" ImageUrl="../Images/forum_search.gif" OnClick="btnSection_Search_Click"/>
                </td></tr></table></td></tr></table>
                
</HeaderTemplate>
<ItemTemplate>
                <asp:Label ID="lblSection" runat="server" Text='<%# Bind("sct_descr") %>'></asp:Label>
                
</ItemTemplate>

<ItemStyle Wrap="False" Width="40%"></ItemStyle>
</asp:TemplateField>
</Columns>
                <SelectedRowStyle CssClass="Green" />
                <HeaderStyle Height="30px" CssClass="gridheader_pop" />
                <AlternatingRowStyle CssClass="griditem_alternative" />
                </asp:GridView>
</td></tr>
<tr>


<td style="width: 403px; height: 19px;" colspan="7" align="left"><asp:Button ID="btnUpdate" runat="server" Text="Update" CssClass="button" ValidationGroup="groupM1" TabIndex="4" />
    <asp:HiddenField id="hfACD_ID" runat="server">
    </asp:HiddenField><asp:HiddenField id="hfGRD_ID" runat="server">
    </asp:HiddenField><asp:HiddenField id="hfSCT_ID" runat="server">
    </asp:HiddenField><asp:HiddenField id="hfSTUNO" runat="server">
    </asp:HiddenField><asp:HiddenField id="hfNAME" runat="server">
    </asp:HiddenField>
</td>


</tr>
</table>
<input id="h_Selected_menu_1" runat="server" type="hidden" value="=" />
<input id="h_Selected_menu_7" runat="server" type="hidden" value="=" /><input id="h_Selected_menu_2"
runat="server" type="hidden" value="=" /><input id="h_Selected_menu_3" runat="server"
type="hidden" value="=" /></td></tr>


</table>
<div id="dropmenu1" class="dropmenudiv" style="width: 110px">
<a href="javascript:test1('LI');">
<img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
Where</a> <a href="javascript:test1('NLI');">
<img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
In</a> <a href="javascript:test1('SW');">
<img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
With</a> <a href="javascript:test1('NSW');">
<img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
Start With</a> <a href="javascript:test1('EW');">
<img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
With</a> <a href="javascript:test1('NEW');">
<img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
Ends With</a>
</div>

<div id="dropmenu2" class="dropmenudiv" style="width: 110px">
<a href="javascript:test2('LI');">
<img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
Where</a> <a href="javascript:test2('NLI');">
<img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
In</a> <a href="javascript:test2('SW');">
<img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
With</a> <a href="javascript:test2('NSW');">
<img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
Start With</a> <a href="javascript:test2('EW');">
<img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
With</a> <a href="javascript:test2('NEW');">
<img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
Ends With</a>
</div>
<div id="dropmenu3" class="dropmenudiv" style="width: 110px">
<a href="javascript:test3('LI');">
<img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
Where</a> <a href="javascript:test3('NLI');">
<img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
In</a> <a href="javascript:test3('SW');">
<img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
With</a> <a href="javascript:test3('NSW');">
<img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
Start With</a> <a href="javascript:test3('EW');">
<img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
With</a> <a href="javascript:test3('NEW');">
<img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
Ends With</a>
</div>

<div id="dropmenu7" class="dropmenudiv" style="width: 110px">
<a href="javascript:test7('LI');">
<img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
Where</a> <a href="javascript:test7('NLI');">
<img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
In</a> <a href="javascript:test7('SW');">
<img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
With</a> <a href="javascript:test7('NSW');">
<img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
Start With</a> <a href="javascript:test7('EW');">
<img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
With</a> <a href="javascript:test7('NEW');">
<img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
Ends With</a>
</div>

<script type="text/javascript">


cssdropdown.startchrome("Div1")
cssdropdown.startchrome("Div2")
cssdropdown.startchrome("Div3")
cssdropdown.startchrome("Div7")
</script>

</asp:Content>

