<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="studReprintBlueBook.aspx.vb" Inherits="Students_studReprintBlueBook" Title="::::GEMS OASIS:::: Online Student Administration System::::"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
<script language="javascript" type="text/javascript">
       
          var color = ''; 
function highlight(obj)
{ 
var rowObject = getParentRow(obj); 
var parentTable = document.getElementById("<%=gvStud.ClientID %>"); 
if(color == '') 
{
color = getRowColor(); 
} 
if(obj.checked) 
{ 
rowObject.style.backgroundColor ='#f6deb2'; 
}
else 
{
rowObject.style.backgroundColor = '';  
color = ''; 
}
// private method

function getRowColor() 
{
if(rowObject.style.backgroundColor == '') return parentTable.style.backgroundColor; 
else return rowObject.style.backgroundColor; 
}
}
// This method returns the parent row of the object
function getParentRow(obj) 
{  
do 
{
obj = obj.parentElement;
}
while(obj.tagName != "TR") 
return obj; 
}


    function change_chk_state(chkThis)
         {
                  
        var chk_state= ! chkThis.checked ;
         for(i=0; i<document.forms[0].elements.length; i++)
               {
               var currentid =document.forms[0].elements[i].id; 
               if(document.forms[0].elements[i].type=="checkbox" && currentid.indexOf("chkSelect")!=-1)
             {
               //if (document.forms[0].elements[i].type=='checkbox' )
                  //if (document.forms[0].elements[i].name.search(/chkSelect/)>0) also works
                    if (  document.forms[0].elements[i].disabled==false)
                    {
                      document.forms[0].elements[i].checked=chk_state;
                      document.forms[0].elements[i].click();//fire the click event of the child element
                      }
                     if (chkstate=true)
                     {
                     
                     }
                 }
              }
          }       
          
           
                function test1(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid1()%>").src = path;
                document.getElementById("<%=h_selected_menu_1.ClientID %>").value=val+'__'+path;
                }
                
                   function test2(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid2()%>").src = path;
                document.getElementById("<%=h_selected_menu_2.ClientID %>").value=val+'__'+path;
                }
                
               
                          
                   function test7(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid7()%>").src = path;
                document.getElementById("<%=h_selected_menu_7.ClientID %>").value=val+'__'+path;
                }
                
                            
                   function test8(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid8()%>").src = path;
                document.getElementById("<%=h_selected_menu_8.ClientID %>").value=val+'__'+path;
                }
                            
                             
</script>
 <table id="tbl_ShowScreen" runat="server" align="center" border="0" cellpadding="0"
        cellspacing="0" >
                 
               <tr style="font-size: 12pt;">
              
                <td width="50%" align="left" class="title" style="height: 50px">
                    <asp:Label id="lblTitle" runat="server">REPRINT BLUEBOOK</asp:Label></td>
              </tr>
             
           <tr>
            <td align="center"  class="matters" style="font-weight: bold; width: 3812px; height: 215px" valign="top">
                <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label>
                <table ID="tblTC" runat="server" align="center" border="1" Class="BlueTableView" bordercolor="#1b80b6" cellpadding="0" cellspacing="0" style="width: 520px">
                    
                  
                      <tr>
                        <td align="left" class="matters"  style="width: 194px;">
                            Select Academic Year</td>
                        <td class="matters" style="width: 7px;" >
                            :</td>
                        <td align="left" class="matters" style="width: 137px;" colspan="5">
                           <asp:DropDownList ID="ddlAcademicYear" SKINID="smallcmb" runat="server" AutoPostBack="True" Width="108px">
                            </asp:DropDownList>               
                      </td>
                         
                    </tr>
                    
                    <tr>
                    
                       <td align="left" class="matters" >
                            Select Grade</td>
                        <td class="matters" style="width: 7px;" >
                            :</td>
                        <td align="left" class="matters">
                            <asp:DropDownList ID="ddlGrade" SKINID="smallcmb" runat="server" AutoPostBack="True" Width="68px">
                            </asp:DropDownList>               
                      </td>
                        <td align="left" class="matters" colspan="1" style="width: 122px; height: 10px">
                            Select Section</td>
                        <td align="left" class="matters" colspan="1" style="width: 122px; height: 10px">
                        </td>
                        <td align="left" class="matters" colspan="2" style="width: 122px; height: 10px"><asp:DropDownList ID="ddlSection" SKINID="smallcmb" runat="server" AutoPostBack="True" Width="77px" CausesValidation="True">
                        </asp:DropDownList></td>
                    
                    
                    </tr>
                    <tr>
                        <td align="left" class="matters">
                            Student ID</td>
                        <td class="matters" style="width: 7px">
                            :</td>
                        <td align="left" class="matters" style="width: 122px; height: 10px">
                            <asp:TextBox id="txtStuNo" runat="server">
                            </asp:TextBox></td>
                        <td align="left" class="matters" style="width: 80px">
                            Student Name</td>
                        <td class="matters" style="width: 6px">
                            :</td>
                        <td align="left" class="matters" style="width: 89px; height: 10px">
                            <asp:TextBox id="txtName" runat="server"></asp:TextBox></td>
                        <td style="height: 10px">
                       <asp:Button ID="btnSearch" runat="server" Text="List" CssClass="button" TabIndex="4" Width="51px"  /></td>
                    </tr>
                    
                    <tr>
                    <td colspan="8" style="height: 16px"></td>
                    </tr>
                    <tr>
                        <td align="left" colspan="8" style="height: 11px">
                            <asp:Button ID="btnPrint1" runat="server" Text="Print" CssClass="button" TabIndex="4" Width="51px"  /></td>
                    </tr>
                      <tr>
                      
                      
                      
                     <td align="center" class="matters" colspan="8" valign="top">
                     <asp:GridView ID="gvStud" runat="server" AutoGenerateColumns="False"
                     CssClass="gridstyle" EmptyDataText="Your Search query does not match any records. Kindly try with some other keywords."
                      HeaderStyle-Height="30" PageSize="50" Width="552px" AllowPaging="True">
                         <RowStyle CssClass="griditem" Height="25px" />
                     <Columns>
<asp:TemplateField HeaderText="HideID" Visible="False"><ItemTemplate>
<asp:Label id="lblStuId" runat="server" Text='<%# Bind("Stu_ID") %>' __designer:wfdid="w11"></asp:Label> 
</ItemTemplate>
</asp:TemplateField>
<asp:TemplateField HeaderText="HideID" Visible="False"><ItemTemplate>
                    <asp:Label ID="lblGrdId" runat="server"  Text='<%# Bind("Stu_GRD_ID") %>'></asp:Label>
                    
</ItemTemplate>
</asp:TemplateField>
<asp:TemplateField HeaderText="HideID" Visible="False"><ItemTemplate>
                    <asp:Label ID="lblDoj" runat="server"  Text='<%# Bind("Stu_Doj") %>'></asp:Label>
                    
</ItemTemplate>
</asp:TemplateField>
<asp:TemplateField HeaderText="Available"><EditItemTemplate>
&nbsp;
</EditItemTemplate>
<HeaderTemplate>
<TABLE><TBODY><TR><TD align=center>Select </TD></TR><TR><TD align=center><asp:CheckBox id="chkAll" onclick="javascript:change_chk_state(this);" runat="server" __designer:wfdid="w14" ToolTip="Click here to select/deselect all rows"></asp:CheckBox></TD></TR></TBODY></TABLE>
</HeaderTemplate>
<ItemTemplate>
<asp:CheckBox id="chkSelect" onclick="javascript:highlight(this);" runat="server" __designer:wfdid="w12"></asp:CheckBox> 
</ItemTemplate>

<HeaderStyle Wrap="False"></HeaderStyle>

<ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
</asp:TemplateField>
<asp:TemplateField HeaderText="Student No"><HeaderTemplate>
                    <table>
                   <tr>
                    <td align="center">
                  <asp:Label ID="lblStu_NoH" runat="server">Student No</asp:Label></td>
                  </tr>
                   <tr>
                   <td align="left" style="width: 196px;">
                    <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td>
                  <div id="Div1" class="chromestyle">
                <ul>
                <li><a href="#" rel="dropmenu1"></a>
               <img id="mnu_1_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" /><span
                style="font-size: 12pt; color: #0000ff; text-decoration: none"> </span></li>
                </ul>
                </div>
                </td>
                <td style="height: 12px">
                <asp:TextBox ID="txtStuNo" runat="server" Width="60px"></asp:TextBox></td>
                <td style="height: 12px" valign="middle">
                <asp:ImageButton ID="btnSearchStuNo" runat="server" ImageAlign="Top" ImageUrl="../Images/forum_search.gif" OnClick="btnSearchStuNo_Click"/>
                </td>
                </tr>
                </table>
                </td>
               </tr>
               </table>
              
</HeaderTemplate>
<ItemTemplate>
               <asp:Label ID="lblStuNo" Width="70px" runat="server" Text='<%# Bind("Stu_No") %>'></asp:Label>
               
</ItemTemplate>

<ItemStyle Width="60px"></ItemStyle>
</asp:TemplateField>
<asp:TemplateField HeaderText="Student Name" SortExpression="DESCR"><HeaderTemplate>
                <table style="width: 124px;">
                <tr>
                <td align="center" style="width: 196px; height: 18px;">
                <asp:Label ID="lblStu_NameH" runat="server">Student Name</asp:Label></td>
                </tr>
                 <tr>
                <td align="left" style="width: 196px;">
               <table border="0" cellpadding="0" cellspacing="0">
              <tr>
            <td style="height: 12px">
           <div id="Div2" class="chromestyle">
           <ul>
         <li><a href="#" rel="dropmenu2"></a>
        <img id="mnu_2_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" /><span
        style="font-size: 12pt; color: #0000ff; text-decoration: none"> </span></li>
          </ul>
            </div>
            </td>
           <td style="height: 12px">
           <asp:TextBox ID="txtStuName" runat="server" Width="134px"></asp:TextBox></td>
           <td style="height: 12px" valign="middle">
            <asp:ImageButton ID="btnSearchStuName" runat="server" ImageAlign="Top" ImageUrl="../Images/forum_search.gif" OnClick="btnSearchStuName_Click"/>
           </td>
           </tr>
           </table>
           </td>
           </tr>
            </table>
             
</HeaderTemplate>
<ItemTemplate>
            <asp:Label ID="lblStuName" runat="server" Text='<%# Bind("Stu_Name") %>'></asp:Label>
            
</ItemTemplate>

<ItemStyle Width="180px"></ItemStyle>
</asp:TemplateField>
<asp:TemplateField HeaderText="Grade"><HeaderTemplate>
              <table><tr>
              <td align="center">
              <asp:Label ID="lblH12" runat="server" CssClass="gridheader_text" Text="Grade"></asp:Label></td>
              </tr><tr><td >
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr><td ><div id="Div7" class="chromestyle">
              <ul><li><a href="#" rel="dropmenu7"></a>
              <img id="mnu_7_img" runat="server" align="middle" alt="Menu" border="0" src="../Images/operations/like.gif" />
              </li></ul></div></td>
              <td >
              <asp:TextBox ID="txtGrade" runat="server" Width="60px"></asp:TextBox></td> <td >
              <td  valign="middle">
              <asp:ImageButton ID="btnGrade_Search" runat="server" ImageAlign="Top" ImageUrl="~/Images/forum_search.gif" OnClick="btnGrade_Search_Click" /></td>
              </tr></table></td></tr>
              </table>
              
</HeaderTemplate>
<ItemTemplate>
                 <asp:Label ID="lblGrade" runat="server" Text='<%# Bind("grm_display") %>'></asp:Label>
             
</ItemTemplate>
</asp:TemplateField>
</Columns>  
                         <SelectedRowStyle CssClass="Green" />
                         <HeaderStyle Height="30px" CssClass="gridheader_pop" />
                         <AlternatingRowStyle CssClass="griditem_alternative" />
                     </asp:GridView>
                     </td></tr>
                    <tr>
                        <td align="left" class="matters" colspan="8" valign="top">
                            <asp:Button ID="btnPrint" runat="server" Text="Print" CssClass="button" TabIndex="4" Width="51px"  /></td>
                    </tr>
                    
                    </table>
                <input id="h_Selected_menu_1" runat="server" type="hidden" value="=" /><input id="h_Selected_menu_2"
                    runat="server" type="hidden" value="=" /><input id="h_Selected_menu_7" runat="server"
                        type="hidden" value="=" />
                <asp:HiddenField id="hfACD_ID" runat="server">
                </asp:HiddenField>
                <asp:HiddenField id="hfGRD_ID" runat="server">
                </asp:HiddenField>
                <asp:HiddenField id="hfSCT_ID" runat="server">
                </asp:HiddenField>
                <asp:HiddenField id="hfSTUNO" runat="server">
                </asp:HiddenField>
                <asp:HiddenField id="hfNAME" runat="server">
                </asp:HiddenField>
                <input id="h_Selected_menu_8" runat="server"
                        type="hidden" value="=" />
               </td></tr>
           
    
</table>
  <div id="dropmenu1" class="dropmenudiv" style="width: 110px">
        <a href="javascript:test1('LI');">
            <img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
            Where</a> <a href="javascript:test1('NLI');">
                <img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
                In</a> <a href="javascript:test1('SW');">
                    <img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
                    With</a> <a href="javascript:test1('NSW');">
                        <img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
                        Start With</a> <a href="javascript:test1('EW');">
                            <img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
                            With</a> <a href="javascript:test1('NEW');">
                                <img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
                                Ends With</a>
    </div>
    
    <div id="dropmenu2" class="dropmenudiv" style="width: 110px">
        <a href="javascript:test2('LI');">
            <img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
            Where</a> <a href="javascript:test2('NLI');">
                <img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
                In</a> <a href="javascript:test2('SW');">
                    <img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
                    With</a> <a href="javascript:test2('NSW');">
                        <img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
                        Start With</a> <a href="javascript:test2('EW');">
                            <img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
                            With</a> <a href="javascript:test2('NEW');">
                                <img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
                                Ends With</a>
    </div>
     <div id="dropmenu7" class="dropmenudiv" style="width: 110px">
        <a href="javascript:test8('LI');">
            <img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
            Where</a> <a href="javascript:test8('NLI');">
                <img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
                In</a> <a href="javascript:test8('SW');">
                    <img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
                    With</a> <a href="javascript:test8('NSW');">
                        <img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
                        Start With</a> <a href="javascript:test8('EW');">
                            <img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
                            With</a> <a href="javascript:test8('NEW');">
                                <img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
                                Ends With</a>
    </div>
     <div id="dropmenu8" class="dropmenudiv" style="width: 110px">
        <a href="javascript:test8('LI');">
            <img alt="Any where" class="img_left" src="../Images/operations/like.gif" />Any
            Where</a> <a href="javascript:test8('NLI');">
                <img alt="Not In" class="img_left" src="../Images/operations/notlike.gif" />Not
                In</a> <a href="javascript:test8('SW');">
                    <img alt="Starts With" class="img_left" src="../Images/operations/startswith.gif" />Starts
                    With</a> <a href="javascript:test8('NSW');">
                        <img alt="Like" class="img_left" src="../Images/operations/notstartwith.gif" />Not
                        Start With</a> <a href="javascript:test8('EW');">
                            <img alt="Like" class="img_left" src="../Images/operations/endswith.gif" />Ends
                            With</a> <a href="javascript:test8('NEW');">
                                <img alt="Like" class="img_left" src="../Images/operations/notendswith.gif" />Not
                                Ends With</a>
    </div>
     
     <script type="text/javascript">


cssdropdown.startchrome("Div1")
cssdropdown.startchrome("Div2")
cssdropdown.startchrome("Div3")
cssdropdown.startchrome("Div4")


    </script>
</asp:Content>

