<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="studPromote_M.aspx.vb" Inherits="Students_studPromote_M" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
<script language="javascript" type="text/javascript">

         function test1(val)
                {
                                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid1()%>").src = path;
                document.getElementById("<%=h_selected_menu_1.ClientID %>").value=val+'__'+path;
                }
                
                   function test2(val)
                {
                var path;
                if (val=='LI')
                {
                path='../Images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../Images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../Images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../Images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../Images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../Images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid2()%>").src = path;
                document.getElementById("<%=h_selected_menu_2.ClientID %>").value=val+'__'+path;
                }
                
                
var color = ''; 
function highlight(obj)
{ 
var rowObject = getParentRow(obj); 
var parentTable = document.getElementById("<%=gvStudPromote.ClientID %>"); 
if(color == '') 
{
color = getRowColor(); 
} 
if(obj.checked) 
{ 
rowObject.style.backgroundColor ='#f6deb2'; 
}
else 
{
rowObject.style.backgroundColor = '';  
color = ''; 
}
// private method

function getRowColor() 
{
if(rowObject.style.backgroundColor == '') return parentTable.style.backgroundColor; 
else return rowObject.style.backgroundColor; 
}
}
// This method returns the parent row of the object
function getParentRow(obj) 
{  
do 
{
obj = obj.parentElement;
}
while(obj.tagName != "TR") 
return obj; 
}


    function change_chk_state(chkThis)
         {
        var chk_state= ! chkThis.checked ;
         for(i=0; i<document.forms[0].elements.length; i++)
               {
               var currentid =document.forms[0].elements[i].id; 
               if(document.forms[0].elements[i].type=="checkbox" && currentid.indexOf("chkSelect")!=-1)
             {
               //if (document.forms[0].elements[i].type=='checkbox' )
                  //if (document.forms[0].elements[i].name.search(/chkSelect/)>0) also works
                    document.forms[0].elements[i].checked=chk_state;
                     document.forms[0].elements[i].click();//fire the click event of the child element
                 }
              }
          }
          
  
  
           
       
                
               
                          
                 </script>

      <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>
           <asp:label id="ltLabel" runat="server" Text="Promote Students"></asp:label>
        </div>
        <div class="card-body">
            <div class="table-responsive m-auto">

<table id="Table1" border=0  width="100%">
                
               
           <%--    <tr style="font-size: 12pt;">
              
                <td align="left" class="title" style="height: 45px; width: 46%;">&nbsp;PROMOTE STUDENTS&nbsp;</td>
              </tr>--%>
              </table>
 <table id="tbl_ShowScreen" runat="server" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
           <tr>
            <td align="left"  >
                <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label>
                </td>
                </tr>
                               
                <tr>
                <td  >
                <table align="center" id="tbPromote" runat="server" border="0" cellpadding="0" cellspacing="0" width="100%">
                  
                      <tr>
                        <td align="left">
                           <span class="field-label">  Select Academic Year</span></td>
                   
                        <td align="left" >
                           <asp:DropDownList ID="ddlAcademicYear" runat="server" AutoPostBack="True" >
                            </asp:DropDownList>               
                      </td>
                    <td class="text-left flip"><span class="field-label" >Stream</span></td>
                                     <td class="text-left flip">  <asp:DropDownList ID="ddlStream_top" runat="server" AutoPostBack="True">
                                        </asp:DropDownList></td>
                    </tr>
                    
                    <tr>
                    
                       <td align="left" >
                           <span class="field-label">  Select Grade</span></td>
                       
                        <td align="left" >
                            <asp:DropDownList ID="ddlGrade_top" runat="server" AutoPostBack="True" >
                            </asp:DropDownList>               
                      </td>
                             
                             
                        <td align="left" >
                           <span class="field-label">  Select Section</span></td>
                        
                        <td align="left" >
                            <asp:DropDownList ID="ddlSection"  runat="server" >
                            </asp:DropDownList>               
                      </td>
                    
                
                    
                    
                    </tr>
                      <tr>
                        <td align="left" >
                            <span class="field-label"> Student ID</span></td>
                       
                        <td align="left" >
                            <asp:TextBox id="txtStuNo" runat="server">
                            </asp:TextBox></td>
                        <td align="left" >
                           <span class="field-label">  Student Name</span></td>
                        
                        <td align="left" >
                            <asp:TextBox id="txtName" runat="server"></asp:TextBox></td>
                       
                    </tr>
                    <tr>
                     <td align="center" colspan="4">
                       <asp:Button ID="btnSearch" runat="server" Text="List" CssClass="button" TabIndex="4"   /></td>
                    </tr>
                    <tr runat="server" id="Stream_holder">
            
                          
                              
                           
                                         <td class="text-left flip"><span class="field-label" >Select Stream</span></td>
                                     <td class="text-left flip">  <asp:DropDownList  ID="ddlStream_botom" runat="server" AutoPostBack="True">
                                        </asp:DropDownList></td>
                           <td align="left" >
                           <span class="field-label">  Select Grade</span></td>
                       
                        <td align="left" >
                            <asp:DropDownList ID="ddlGrade_botom" runat="server" AutoPostBack="True" >
                            </asp:DropDownList>               
                      </td>
                           

                     
                           
                    </tr>
                    <tr>
                     <td align="left" >
                         <span class="field-label">    Action</span></td>
                     
                        <td align="left" >
                           <asp:DropDownList ID="ddlAction" SKINID="smallcmb" runat="server" Width="108px" AutoPostBack="True">
                                <asp:ListItem Value="Pass">Promote</asp:ListItem>
                                <asp:ListItem Value="Fail">Detain</asp:ListItem>
                                <asp:ListItem Value="Retest">Retest</asp:ListItem>
                               <asp:ListItem Value="DoublePromote">Double Promote</asp:ListItem>
                            </asp:DropDownList></td>    
                            
                         
                         <td align="left" >
                          <span class="field-label">   Promote or detain to section</span></td>
                       
                        <td align="left" >
                           <asp:DropDownList ID="ddlPromoteSection"  runat="server" AutoPostBack="True" >
                            </asp:DropDownList>    </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            <asp:Button ID="btnUpdate1" runat="server" Text="Update" CssClass="button" TabIndex="4" Visible="False"  /></td>
                        <td></td>
                        <td>
                            <asp:CheckBox Text="change Stream " runat="server" ID="chb_change_stream"  OnCheckedChanged="chb_change_stream_CheckedChanged" AutoPostBack="true"/>
                        </td>
                    </tr>
                      <tr>
                      
                      
                     <td align="center" colspan="4">
                     <asp:GridView ID="gvStudPromote" runat="server" AutoGenerateColumns="False"
                     CssClass="table table-bordered table-row" EmptyDataText="No Records Found"
                       PageSize="20" Width="100%" >
                     <Columns>
                       <asp:TemplateField HeaderText="Available">
                       <EditItemTemplate>
                       <asp:CheckBox ID="chkSelect" runat="server"  />
                       </EditItemTemplate>
                       <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                       <HeaderStyle Wrap="False" />
                        <ItemTemplate>
                       <asp:CheckBox ID="chkSelect" runat="server" onclick="javascript:highlight(this);" />
                       </ItemTemplate>
                        <HeaderTemplate>
                      
                     Select 
                    <asp:CheckBox ID="chkAll" runat="server"  onclick="javascript:change_chk_state(this);"
                     ToolTip="Click here to select/deselect all rows" />
                       </HeaderTemplate>
                     </asp:TemplateField>
                     
                        
                        <asp:TemplateField HeaderText="STU_ID" Visible="False" >
                      <ItemTemplate>
                      <asp:Label ID="lblStuId" runat="server" text='<%# Bind("STU_ID") %>'></asp:Label>
                      </ItemTemplate>
                       </asp:TemplateField>
                       
                       
                        <asp:TemplateField HeaderText="SL.No"  >
                      <ItemTemplate>
                      <asp:Label ID="lblSlNo" runat="server" text='<%# getSerialNo() %>'></asp:Label>
                      </ItemTemplate>
                       </asp:TemplateField>
                       
                   
                          <asp:TemplateField HeaderText="Student ID">
                                <HeaderTemplate>
                                 
                                  <asp:Label ID="lblFeeHeader" runat="server"  Text="Stud. No"></asp:Label>
                            <asp:TextBox ID="txtFeeSearch" runat="server" ></asp:TextBox>
                               <asp:ImageButton ID="btnFeeId_Search" runat="server" ImageAlign="Middle" ImageUrl="~/Images/forum_search.gif" OnClick="btnFeeId_Search_Click" />
                      </HeaderTemplate>
                      <ItemTemplate>
                      <asp:Label ID="lblFeeId" runat="server" text='<%# Bind("STU_NO") %>'></asp:Label>
                      </ItemTemplate>
                       </asp:TemplateField>
                       
                       
                          <asp:TemplateField HeaderText="Student Name">
                             <HeaderTemplate>
                                
                                  <asp:Label ID="lblName" runat="server"  Text="Student Name"></asp:Label>
                            <asp:TextBox ID="txtStudName" runat="server" ></asp:TextBox>
                               <asp:ImageButton ID="btnStudName_Search" runat="server" ImageAlign="Middle" ImageUrl="~/Images/forum_search.gif" OnClick="btnStudName_Search_Click" />
                      </HeaderTemplate>
                      <ItemTemplate>
                      <asp:Label ID="lblEnqDate" runat="server" text='<%# Bind("STU_NAME") %>'></asp:Label>
                      </ItemTemplate>
                       </asp:TemplateField>
                           
                          <asp:TemplateField HeaderText="Grade">
                             <HeaderTemplate>
                       
                       Grade
                         <asp:DropDownList ID="ddlgvGrade" runat="server" AutoPostBack="True" 
                          OnSelectedIndexChanged="ddlgvGrade_SelectedIndexChanged" >
                          </asp:DropDownList>
                         </HeaderTemplate>
                       <ItemTemplate>
                      <asp:Label ID="lblGrade" runat="server" text='<%# Bind("grm_display") %>'></asp:Label>
                      </ItemTemplate>
                      </asp:TemplateField>
                     
                          <asp:TemplateField HeaderText="SCT_ID" Visible="False" >
                      <ItemTemplate>
                      <asp:Label ID="lblsctId" runat="server" text='<%# Bind("STU_SCT_ID") %>'></asp:Label>
                      </ItemTemplate>
                       </asp:TemplateField>
                       
                       
                        <asp:TemplateField HeaderText="Section">
                        <HeaderTemplate>
                       
                       Section
                         <asp:DropDownList ID="ddlgvSection" runat="server" AutoPostBack="True" 
                          OnSelectedIndexChanged="ddlgvSection_SelectedIndexChanged" >
                          </asp:DropDownList>
                         </HeaderTemplate>
                       <ItemTemplate>
                      <asp:Label ID="lblSection" runat="server" text='<%# Bind("SCT_DESCR") %>'></asp:Label>
                      </ItemTemplate>
                      </asp:TemplateField>
                       
                                          
                             
                           <asp:TemplateField HeaderText="Status">
                             <HeaderTemplate>
                       
                     Status
                         <asp:DropDownList ID="ddlgvStatus" runat="server" AutoPostBack="True" 
                          OnSelectedIndexChanged="ddlgvStatus_SelectedIndexChanged" >
                          </asp:DropDownList>
                         </HeaderTemplate>
                       <ItemTemplate>
                      <asp:Label ID="lblStatus" runat="server" text='<%#  Bind("Status") %>'></asp:Label>
                      </ItemTemplate>
                      </asp:TemplateField>
                      
                      <asp:TemplateField HeaderText="Reenroll_Status">
                              <HeaderTemplate>
                      
                     Reenroll_Status
                         <asp:DropDownList ID="ddlgvReenrolStatus" runat="server" AutoPostBack="True" 
                          OnSelectedIndexChanged="ddlgvReenrolStatus_SelectedIndexChanged" >
                          </asp:DropDownList>
                         </HeaderTemplate>
                      <ItemTemplate>
                       <asp:Label ID="lblRe_Status" runat="server" text='<%#  Bind("REENROL_STATUS") %>'></asp:Label>
                      </ItemTemplate>                      
                      </asp:TemplateField>
                      
                      <asp:TemplateField HeaderText="Promotion Info">
                             <HeaderTemplate>
                       
                     Promotion Info
                         </HeaderTemplate>
                       <ItemTemplate>
                      <asp:Label ID="lblPromotion_Info" runat="server" text='<%#  Bind("PromGradeSection") %>'></asp:Label>
                      </ItemTemplate>
                      </asp:TemplateField>
                                               
                             
                     
                          
                       </Columns>  
                         <HeaderStyle  />
                         <RowStyle CssClass="griditem"  />
                         <SelectedRowStyle  />
                         <AlternatingRowStyle CssClass="griditem_alternative" />
                     </asp:GridView>
                     </td></tr>
                          <tr>
           
  
            <td  align="left" colspan="4">
            <asp:Button ID="btnUpdate" runat="server" Text="Update" CssClass="button" TabIndex="4" Visible="False"  />
                <asp:Panel ID="Panel1" runat="server" 
                    Visible="false" CssClass="panel-cover">
                    <asp:Label ID="lblText" runat="server" ></asp:Label>
                    <asp:Button ID="btnYes" runat="server" CssClass="button" />
                    <asp:Button ID="btnNo" runat="server" CssClass="button"  /></asp:Panel>
            </td>
 

                 </tr>
                    </table>
                    <ajaxToolkit:AlwaysVisibleControlExtender ID="AlwaysVisibleControlExtender1"
                    VerticalSide="Middle"
                    HorizontalSide="Center"
                     runat="server"
                        TargetControlID="Panel1">
                    </ajaxToolkit:AlwaysVisibleControlExtender>
                    <asp:HiddenField ID="hfACD_ID" runat="server" />
                    <asp:HiddenField ID="hfGRD_ID" runat="server" />
                    <asp:HiddenField ID="hfACD_ID_PROMOTED" runat="server" />
                    <asp:HiddenField ID="hfGRD_ID_PROMOTED" runat="server" />
                    <asp:HiddenField ID="hfSCT_ID" runat="server" />
                <input id="h_Selected_menu_1" runat="server" type="hidden" value="=" />
                <input id="h_Selected_menu_2" runat="server" type="hidden" value="=" />
                <input id="h_Selected_menu_3" runat="server"
                        type="hidden" value="=" /></td></tr>
           
    
</table>
 

                          
        </div>
        </div>
    </div>

</asp:Content>

