<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="studCert_Comm_View_new.aspx.vb" Inherits="studCert_Comm_View_new" Title="::::GEMS OASIS:::: Online Student Administration System::::"%>

<%@ Register Src="UserControl/studExportToExcel.ascx" TagName="studExportToExcel"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
    <uc1:studExportToExcel ID="StudExportToExcel1" runat="server" />

    
</asp:Content>

