<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="Studcardprint_Transport.aspx.vb" Inherits="Students_Studcardprint" Title="Untitled Page" %>

<%@ Register Src="usercontrol/StudIdcardprint_Transport.ascx" TagName="StudIdcardprint_Transport" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" runat="Server">
    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i>
            <asp:Literal ID="ltHeader" runat="server" Text="Print Id Card - Transport"></asp:Literal>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table width="100%">
                    <tr>
                        <td>
                            <uc1:StudIdcardprint_Transport ID="StudIdcardprint_Transport1" runat="server" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</asp:Content>

