        <%@ Page Language="VB" AutoEventWireup="false" Theme="general" MasterPageFile="~/mainMasterPage.master" CodeFile="Source_Subject_Groups.aspx.vb" Inherits="Administrator_Source_Subject_Groups" %>

<%@ Register Src="../UserControls/InterviewCityAdd.ascx" TagName="InterviewCityAdd"
    TagPrefix="uc4" %>

<%@ Register Src="../UserControls/BsuSettings.ascx" TagName="BsuSettings" TagPrefix="uc3" %>

<%@ Register Src="../UserControls/CurriculumSettings.ascx" TagName="CurriculumSettings"
    TagPrefix="uc2" %>

<%@ Register Src="../UserControls/CountriesSettings.ascx" TagName="CountriesSettings"
    TagPrefix="uc1" %>

    <asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

 <style>
    .SubaccordionHeader {
    border: 1px solid #bababa !important;
    color: #333 !important;
    background-color: #e7e7e7 !important;
    font-weight: bold !important;
    margin-top: 2px;
    border-top-left-radius: 6px;
    cursor: pointer;
    border-top-right-radius: 6px;
    padding: 6px 10px !important;
    height:100%  !important;
}
</style>


        <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-users mr-3"></i> Master Settings
        </div>
        <div class="card-body">
            <div class="table-responsive">

       
        <asp:Label id="lblmessage" runat="server" class="text-danger"></asp:Label>
        <br />
                <ajaxToolkit:Accordion ID="Accordion1" Width="100%" Height="700px" FadeTransitions="true"  HeaderCssClass="SubaccordionHeader" ContentCssClass="SubaccordionContent"  FramesPerSecond="40" AutoSize="None" TransitionDuration="100"  runat="server">
                <Panes>
                <ajaxToolkit:AccordionPane ID="A5" runat="server">
                <Header>Countries</Header>
                <Content>
                  <uc1:CountriesSettings ID="CountriesSettings1" runat="server" />
                </Content>
                </ajaxToolkit:AccordionPane>
                  
                  <ajaxToolkit:AccordionPane ID="A2" runat="server">
                 <Header>Job Category </Header>
                 <Content>
                          <asp:GridView ID="GrdCategory"  DataKeyNames="RECORD_ID" AutoGenerateColumns="false" Width="100%" runat="server" ShowFooter="True" AutoGenerateDeleteButton="false"  OnRowDeleting="GrdCategory_RowDeleting" OnRowEditing="GrdCategory_RowEditing" >
                <Columns>
                <asp:TemplateField HeaderText="Job Category">
                <ItemTemplate>
                <asp:Label ID="lblcdes" runat="server" Text='<%#Eval("CATEGORY_DES")%>'></asp:Label>
                
                </ItemTemplate>
                
                <FooterTemplate>
                 <div align="left" >
                        <asp:LinkButton ID="LinkAddNew" OnClientClick="javascript:return false;"    Text="Add New" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server"  >
                <table>
                    <tr>
                        
                        <td >
                            <asp:CheckBox ID="CheckTeach" Text="Teaching" runat="server" />
                            <asp:TextBox ID="txtitem" runat="server"></asp:TextBox>
                        </td>
                             <td >
                                  <asp:Button ID="btncategorysave" OnClick="btncategorysave_Click"  CssClass="button" runat="server" Text="Save" /></td>

                    </tr>
                 </table>
               </asp:Panel>
               <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender6"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkAddNew" CollapseControlID="LinkAddNew"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkAddNew" CollapsedText="Add New" ExpandedText="Close" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            </div> 
                </FooterTemplate>
                </asp:TemplateField>
                 <asp:TemplateField HeaderText="Teaching Mode">
                 <ItemTemplate>
                 <center>
                  <asp:CheckBox ID="BCheckTeach" Enabled="false" Checked='<%# Eval("TEACHING_MODE") %>'  runat="server" />
                 </center>
                 </ItemTemplate>
               <%--  <EditItemTemplate>
                 <asp:CheckBox ID="ECheckTeach" Checked='<%# Eval("TEACHING_MODE") %>' runat="server" />
                 </EditItemTemplate>--%>
                 </asp:TemplateField>
                 <asp:TemplateField HeaderText="Edit" >
                <ItemTemplate>
                <%--<asp:LinkButton ID="LinkPEdit" OnClientClick="javascript:return false;"   Text="Edit" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server" Height="50px" Width="100%">
                <table>
                    <tr>
                        
                        <td colspan="2">
                            <asp:TextBox ID="txtvalue" Text='<%# Eval("CATEGORY_DES") %>' runat="server"></asp:TextBox></td>
                        <td>
                            <asp:CheckBox ID="CheckBoxE" Checked='<%# Eval("TEACHING_MODE") %>' runat="server" Text="Teaching" /></td>
                        <td>
                           <asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>
                    </tr>
                </table>
                </asp:Panel>--%>
                <center>
                <table>
                <tr>
                    <td >
                        <asp:Panel ID="Panel1" runat="server">
                            <table>
                                <tr>
                                    
                        <td colspan="2">
                            <asp:TextBox ID="txtvalue" Text='<%# Eval("CATEGORY_DES") %>' runat="server"></asp:TextBox></td>
                        <td>
                            <asp:CheckBox ID="CheckBoxE" Checked='<%# Eval("TEACHING_MODE") %>' runat="server" Text="Teaching" /></td>
                        <td>
                           <asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>
                      </tr>
                            </table>
                        </asp:Panel>
                    </td>
                    <td valign="top">
                        <table width="100%">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td >
                                                <asp:LinkButton ID="LinkPEdit" runat="server" OnClientClick="javascript:return false;" Text="Edit"></asp:LinkButton></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                
                  <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender4"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkPEdit" CollapseControlID="LinkPEdit"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkPEdit" CollapsedText="Edit" ExpandedText="Cancel" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            </center>
                </ItemTemplate>
                </asp:TemplateField>
                 <asp:TemplateField HeaderText="Delete">
                <ItemTemplate>
                <center>
                <asp:LinkButton ID="LinkDelete" CommandName="Delete"  Text="Delete"  runat="server"></asp:LinkButton>
                <ajaxToolkit:ConfirmButtonExtender ID="ConfirmButtonExtender2" ConfirmText="Are you sure?" TargetControlID="LinkDelete" runat="server"></ajaxToolkit:ConfirmButtonExtender>
                </center>
                </ItemTemplate>
                </asp:TemplateField>
                    </Columns>
                  <HeaderStyle CssClass="gridheader_pop" Wrap="False" />
                   <RowStyle CssClass="griditem" Wrap="False" />
                   <SelectedRowStyle CssClass="Green" Wrap="False" />
                    <AlternatingRowStyle CssClass="griditem_alternative" Wrap="False" />
                    <EmptyDataRowStyle Wrap="False" />
                   <EditRowStyle Wrap="False" />
                </asp:GridView>
                 
                 </Content>
                 </ajaxToolkit:AccordionPane>
                  <ajaxToolkit:AccordionPane ID="A3" runat="server">
                  <Header>Information Source</Header>
                  <Content>
                  <asp:GridView ID="GrdSource"  DataKeyNames="RECORD_ID" AutoGenerateColumns="false" runat="server" Width="100%" ShowFooter="True">
                <Columns>
                <asp:TemplateField HeaderText="Source">
                <ItemTemplate>
                <%# Eval("SOURCE_DES") %>
                </ItemTemplate>
              
                <FooterTemplate>
               
                <div align="left" >
                 <asp:LinkButton ID="LinkAddNew" OnClientClick="javascript:return false;"    Text="Add New" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server" >
                <table>
                    <tr>
                        
                        <td >
                             <asp:TextBox ID="txtitem" runat="server"></asp:TextBox>
                        </td>
                             <td >
                                 <asp:Button ID="btnsourcesave"  CssClass="button" OnClick="btnsourcesave_Click" runat="server" Text="Save" /></td>

                    </tr>
                 </table>
               </asp:Panel>
                
                <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender7"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkAddNew" CollapseControlID="LinkAddNew"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkAddNew" CollapsedText="Add New" ExpandedText="Close" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            </div> 
                </FooterTemplate>
                </asp:TemplateField>
                                       <asp:TemplateField HeaderText="Edit" >
                <ItemTemplate>
                <%--<asp:LinkButton ID="LinkPEdit" OnClientClick="javascript:return false;"    Text="Edit" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server"  >
                <table>
                    <tr>
                        
                        <td >
                            <asp:TextBox ID="txtvalue" Text='<%# Eval("SOURCE_DES") %>' runat="server"></asp:TextBox></td>
                             <td >
                           <asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>

                    </tr>
                 </table>
               </asp:Panel>--%>
               <center>
               <table>
                <tr>
                    <td >
                        <asp:Panel ID="Panel1" runat="server">
                            <table width="100%">
                                <tr>
                                    <td>
                                      <asp:TextBox ID="txtvalue" Text='<%# Eval("SOURCE_DES") %>' runat="server"></asp:TextBox></td>
                                    <td>
                                       <asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>
                                </tr>
                            </table>
                        </asp:Panel>
                    </td>
                    <td valign="top">
                        <table width="100%" >
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td >
                                               <asp:LinkButton ID="LinkPEdit" runat="server" OnClientClick="javascript:return false;" Text="Edit"></asp:LinkButton></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                
                <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender2"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkPEdit" CollapseControlID="LinkPEdit"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkPEdit" CollapsedText="Edit" ExpandedText="Cancel" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            </center>
                </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="Delete">
                <ItemTemplate>
                <center>
                <asp:LinkButton ID="LinkDelete" CommandName="Delete"  Text="Delete"  runat="server"></asp:LinkButton>
                <ajaxToolkit:ConfirmButtonExtender ID="ConfirmButtonExtender3" ConfirmText="Are you sure?" TargetControlID="LinkDelete" runat="server"></ajaxToolkit:ConfirmButtonExtender>
                </center>
                </ItemTemplate>
                </asp:TemplateField>
                </Columns>
                  <HeaderStyle CssClass="gridheader_pop" Wrap="False" />
                   <RowStyle CssClass="griditem"  Wrap="False" />
                   <SelectedRowStyle CssClass="Green" Wrap="False" />
                    <AlternatingRowStyle CssClass="griditem_alternative" Wrap="False" />
                    <EmptyDataRowStyle Wrap="False" />
                   <EditRowStyle Wrap="False" />
                </asp:GridView>
                  
                  </Content>
                  
                  </ajaxToolkit:AccordionPane>
                  <ajaxToolkit:AccordionPane ID="A4" runat="server">
                   <Header>Communication Mode</Header>
                   <Content>
                    <asp:GridView ID="GrdMode" DataKeyNames="RECORD_ID" AutoGenerateColumns="false" runat="server" Width="100%" ShowFooter="True">
                <Columns>
                <asp:TemplateField HeaderText="Mode">
                <ItemTemplate>
                  <%#Eval("MODE")%>
                </ItemTemplate>
               
                <FooterTemplate>
               
                 <div align="left" >
                 <asp:LinkButton ID="LinkAddNew" OnClientClick="javascript:return false;"    Text="Add New" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server"  >
                <table>
                    <tr>
                        
                        <td >
                           <asp:TextBox ID="txtitem" runat="server"></asp:TextBox>
                        </td>
                             <td >
                                <asp:Button ID="btnmodesave"  CssClass="button" OnClick="btnmodesave_Click" runat="server" Text="Save" /></td>

                    </tr>
                 </table>
               </asp:Panel>
                
                <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender8"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkAddNew" CollapseControlID="LinkAddNew"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkAddNew" CollapsedText="Add New" ExpandedText="Close" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            </div>
                </FooterTemplate>
                </asp:TemplateField>
                                        <asp:TemplateField HeaderText="Edit" >
                <ItemTemplate>
                <%--<asp:LinkButton ID="LinkPEdit" OnClientClick="javascript:return false;"    Text="Edit" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server"  >
                <table>
                    <tr>
                        
                        <td >
                            <asp:TextBox ID="txtvalue" Text='<%# Eval("MODE") %>' runat="server"></asp:TextBox></td>
                             <td >
                           <asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>

                    </tr>
                 </table>
               </asp:Panel>--%>
               <center>
              <table>
                <tr>
                    <td >
                        <asp:Panel ID="Panel1" runat="server" Height="10px">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                      <asp:TextBox ID="txtvalue" Text='<%# Eval("MODE") %>' runat="server"></asp:TextBox></td>
                                    <td>
                                        &nbsp;<asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>
                                </tr>
                            </table>
                        </asp:Panel>
                    </td>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                            <tr>
                                <td style="width: 100px; height: 20px;">
                                    <table>
                                        <tr>
                                            <td style="width: 100px">
                                                &nbsp;<asp:LinkButton ID="LinkPEdit" runat="server" OnClientClick="javascript:return false;" Text="Edit"></asp:LinkButton></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                
                <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender3"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkPEdit" CollapseControlID="LinkPEdit"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkPEdit" CollapsedText="Edit" ExpandedText="Cancel" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            </center>
                </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField HeaderText="Delete">
                <ItemTemplate>
                <center>
                <asp:LinkButton ID="LinkDelete" CommandName="Delete"  Text="Delete"  runat="server"></asp:LinkButton>
                <ajaxToolkit:ConfirmButtonExtender ID="ConfirmButtonExtender4" ConfirmText="Are you sure?" TargetControlID="LinkDelete" runat="server"></ajaxToolkit:ConfirmButtonExtender>
                </center>
                </ItemTemplate>
                </asp:TemplateField>
                </Columns>
                  <HeaderStyle CssClass="gridheader_pop" Wrap="False" />
                   <RowStyle CssClass="griditem" Wrap="False" />
                   <SelectedRowStyle CssClass="Green" Wrap="False" />
                    <AlternatingRowStyle CssClass="griditem_alternative" Wrap="False" />
                    <EmptyDataRowStyle Wrap="False" />
                   <EditRowStyle Wrap="False" />
                </asp:GridView>
                  </Content>
                   </ajaxToolkit:AccordionPane>
                  <ajaxToolkit:AccordionPane ID="A1" runat="server">
                <Header>Subject</Header>
                <Content>
                <asp:GridView ID="GrdSubject" DataKeyNames="RECORD_ID" AutoGenerateDeleteButton="false" AutoGenerateEditButton="false" AutoGenerateColumns="false" ShowFooter="True" Width="100%" runat="server">
                <Columns>
                <asp:TemplateField HeaderText="Subject">
                <ItemTemplate>
                <%#Eval("SUBJECT")%>
                </ItemTemplate>

                <FooterTemplate>
                <div align="left" >
                
                 <asp:LinkButton ID="LinkAddNew" OnClientClick="javascript:return false;"    Text="Add New" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server"  >
                <table>
                    <tr>
                        
                        <td >
                           <asp:TextBox ID="txtitem" runat="server"></asp:TextBox>
                        </td>
                             <td >
                                 <asp:Button ID="btnsubjectsave"  CssClass="button" OnClick="btnsubjectsave_Click" runat="server" Text="Save" /></td>

                    </tr>
                 </table>
               </asp:Panel>
               
                <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender5"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkAddNew" CollapseControlID="LinkAddNew"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkAddNew" CollapsedText="Add New" ExpandedText="Close" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            
             </div>
                </FooterTemplate>
                </asp:TemplateField>
                            <asp:TemplateField HeaderText="Edit" >
                <ItemTemplate>      
                      <%-- <asp:LinkButton ID="LinkPEdit" OnClientClick="javascript:return false;"    Text="Edit" runat="server"></asp:LinkButton>
                 <asp:Panel ID="Panel1" runat="server" Height="10px" >
                <table>
                    <tr>
                        
                        <td >
                            <asp:TextBox ID="txtvalue" Text='<%# Eval("SUBJECT") %>' runat="server"></asp:TextBox></td>
                             <td >
                           <asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>

                    </tr>
                 </table>
               </asp:Panel>--%>
               <center>
               <table>
                <tr>
                    <td >
                        <asp:Panel ID="Panel1" runat="server">
                            <table>
                                <tr>
                                    <td>
                                       <asp:TextBox ID="txtvalue" Text='<%# Eval("SUBJECT") %>' runat="server"></asp:TextBox></td>
                                    <td>
                                        &nbsp;<asp:LinkButton ID="LinkUpdate" Text="Update" CommandName="Edit" runat="server"></asp:LinkButton></td>
                                </tr>
                            </table>
                        </asp:Panel>
                    </td>
                    <td valign="top">
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td >
                                                <asp:LinkButton ID="LinkPEdit" runat="server" OnClientClick="javascript:return false;" Text="Edit"></asp:LinkButton></td>
                                        </tr>
                                    </table>     
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                
                <ajaxToolkit:CollapsiblePanelExtender ID="CollapsiblePanelExtender1"  TargetControlID="Panel1" CollapsedSize="0" ExpandedSize="60"
        Collapsed="True" ExpandControlID="LinkPEdit" CollapseControlID="LinkPEdit"
        AutoCollapse="False" AutoExpand="False" ScrollContents="false"  TextLabelID="LinkPEdit" CollapsedText="Edit" ExpandedText="Cancel" runat="server">
            </ajaxToolkit:CollapsiblePanelExtender>
            
                </ItemTemplate>
                </asp:TemplateField>
                
                <asp:TemplateField HeaderText="Delete">
                <ItemTemplate>
                <center>
                <asp:LinkButton ID="LinkDelete" CommandName="Delete"  Text="Delete"  runat="server"></asp:LinkButton>
                <ajaxToolkit:ConfirmButtonExtender ID="ConfirmButtonExtender1" ConfirmText="Are you sure?" TargetControlID="LinkDelete" runat="server"></ajaxToolkit:ConfirmButtonExtender>
                </center>
                </ItemTemplate>
                </asp:TemplateField>
                </Columns> 

                  <HeaderStyle CssClass="gridheader_pop" Wrap="False" />
                   <RowStyle CssClass="griditem" Wrap="False" />
                   <SelectedRowStyle CssClass="Green" Wrap="False" />
                    <AlternatingRowStyle CssClass="griditem_alternative" Wrap="False" />
                    <EmptyDataRowStyle Wrap="False" />
                   <EditRowStyle Wrap="False" />
                   
                </asp:GridView>
                </Content>
                </ajaxToolkit:AccordionPane>    
                  <ajaxToolkit:AccordionPane ID="ABSU" runat="server">
                <Header>Business Units</Header>
                <Content>
                  <uc3:BsuSettings ID="BsuSettings1" runat="server" />
                </Content>
                </ajaxToolkit:AccordionPane>
                  <ajaxToolkit:AccordionPane ID="A6" runat="server">
                <Header>Curriculum</Header>
                <Content>
                <uc2:CurriculumSettings ID="CurriculumSettings1" runat="server" />
                </Content>
                </ajaxToolkit:AccordionPane>
                
                 <ajaxToolkit:AccordionPane ID="AccordionPane1" runat="server">
                <Header>Interview Cities</Header>
                <Content>
              
               <uc4:InterviewCityAdd ID="InterviewCityAdd1" runat="server" />
                </Content>
                </ajaxToolkit:AccordionPane>
                
                </Panes>
                </ajaxToolkit:Accordion>
       
      
     
      
                
                </div>
            </div>
            </div>
       
        </asp:Content>

       