﻿
.inputStyle{
    
    background-color:White !important; 
    border: 1px solid #19a2dc !important;
    font-family: "Open Sans",sans-serif !important;
    font-size: 15px !important;
    outline: medium none !important;
    padding: 0 0 4px 5px !important;

    height: 31px !important;
    line-height: 20px !important;
    border-radius: 6px 6px 6px 6px;
    
}
.inputStyleLabel{
    color:White;
    border: 0px solid #19a2dc;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    outline: medium none;
    padding: 0 0 4px 5px;
 
    height: 31px;
    line-height: 20px;
    
}
.ddl 
{
     position: relative;
	background:transparent;
	background-color:White !important; 
    
    height: 31px;
    overflow: hidden;
    padding: 0 0 4px 5px;
 
    background:url('../images/bgselect.png') no-repeat right #fff;
    border: 1px solid #10a1dc;
	border-radius: 6px 6px 6px 6px;
    -ms-appearance:none;
	-webkit-appearance: none;
	-moz-appearance: none;
    -o-appearance: none;

            appearance: none;
}

.ddl select{

width:60%;
height:35px;
border:0;
border-radius:0;
 -ms-appearance:none;
-webkit-appearance: none;
       -moz-appearance: none;
       -o-appearance: none;

            appearance: none;
color:#000000;
padding-bottom:11px;
padding-right:34px;
}
select::-ms-expand{
   display: none;


}

.ddlrad
{
background:transparent !important; 
	background-color:White !important; 
    
    height: 31px;
    overflow: hidden;
    padding: 0 0 4px 5px;

    background:url('../images/bgselect.png') no-repeat right #fff;
    border: 1px solid #10a1dc;
	border-radius: 6px 6px 6px 6px;
    -ms-appearance:none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
            appearance: none;
}
    .rcbitem {
         font-size:8px !important;
    }
.ddlrad select{

width:60%;
height:35px;
border:0;
border-radius:0;
-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
color:#000000;
padding-bottom:11px;
padding-right:34px;
}
.divDashboardContainer
{
height:100%;overflow-y:auto;overflow-x:hidden;padding-left:4px;padding-right:4px;
}
.enrolnew{ 
	font-size: 16px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:19px;
	padding-right:19px;
	border:1.7px solid  #fedb00;
	background: #fedb00;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
	float:right;
	display:inline-block;
}
.enrolnew:hover{ 
	border:1.7px solid  #fedb00;
	background: transparent;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
}


.enrolnew_Click 
{
    font-size: 16px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:19px;
	padding-right:19px;
	border:1.7px solid #DCFC8F;
	background: #DCFC8F;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
	float:right;
	display:inline-block;
}
.enrolnew_Click:hover{ 
	border:1.7px solid  #DCFC8F;
	background: transparent;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
}

.title 

{
    background-color:#00a3e0;
}
.enrolnewbtn{ 
	font-size: 10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:19px;
	padding-right:19px;
	border:1.7px solid  #fedb00;
	background-color: #fedb00;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
	float:right;
	
}
.enrolnewbtn:hover{ 
	border:1.7px solid  #fedb00;
	background: transparent;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
}

img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pannellongAlumini {height:90%;overflow-x:hidden; overflow-y:auto; margin:0 -15px 0 0; width:580px;}

#Progress
{
position: absolute;

width: 100%;
z-index: 10000;
}

.screenCenter {
    background-color:gray;
    color:white;
    padding-left:3%;    
    z-index:1000; 
}
  .progBgFilter_Show {
           width: 100%;
	height: 100%;
	position: absolute;
	margin-left:-670px;
    margin-top:-310px;
	
	background: url(../Images/dark.png) 0 0 !important;
	display: block;
	z-index: 10000;
    	
          
        }
       
        .progMsg_Show { 
            position:fixed; 
            top:30%; 
            left:33%; text-align:center;height:180px;
            padding:10px; 
            width:40%; 
            z-index:1001;  font-family: Verdana, Arial, Helvetica, sans-serif; 
              
  font-size: 17px;font-style:italic;
       background: transparent;
           
        }



        .darkPanelM
{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0%;
	top: 0%;
	background: url(../Images/dark.png) 0 0 !important;
	display: block;
	z-index: 10000;
}


.darkPanelMTop
{
	height: 280px;
	background-color: #f0f0f0;
	border: 1px solid #0092d7;
	margin: 100px auto 0px auto;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px 0px 0px 0px;
	width: 600px;
}

.holderInner
{
	overflow: hidden;
}

.holderInner
{
	width: 585px;
	height: 239px;
	border: solid 1px #ccc;
	border-collapse: collapse;
	margin: 6px 6px 6px 6px;
	background-color: #FFFFFF;
	padding-top: 12px;
	text-align: left;
}

.msgInfoBox {
    cursor:move;
  z-index: 100;  
position: fixed;
 top: 50%;
  left: 5%;
  margin-top: -6px;/*set to a negative number 1/2 of your height*/
  margin-left: -10px;/*set to a negative number 1/2 of your width*/

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-duration: 1s;
-o-animation-duration:1s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
   -moz-animation-fill-mode: both;
-o-animation-fill-mode: both;

    -webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
    border: 1px solid #459dff;
 
 
}
.msgInfoclose {

    cursor:pointer;
    float:right;
    display:inline-block;
    padding:1px 2px;
color:#000;
font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  .msgInfoclose:before {
       content: "\e014";
          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
              text-transform: none;
          line-height: 1em;
          margin-left: .2em; 
          padding:4px;
}

 .msgInfoError
 {
    margin: 0 auto;
    width:89%;
    display:block;
     line-height:22px;
	color:#2E2633;
 border:1px solid #FA6900;
	background-color: #FA6900;
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	padding:10px 11px 10px 11px;
	font-size: 14px;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }


.msgInfoSuccess
 {
    margin: 0 auto;
    width:89%;
    display:block;
     line-height:22px;
	color:#2E2633;
 border:1px solid #BEF202;
	background-color: #BEF202;
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	padding:10px 11px 10px 11px;
	font-size: 14px;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

.msgInfoWarning
 {
    margin: 0 auto;
    width:89%;
    display:block;
    line-height:22px;
	color:#2E2633;
 border:1px solid #FFCC00;
	background-color: #FFCC00;
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent 100%,rgba(255, 255, 255, .8) 100%, rgba(255, 255, 255, .8) 100%, transparent 100%, transparent);
	padding:10px 11px 10px 11px;
	font-size: 14px;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}
	
	70% {
		-moz-transform: scale(.9);
	}
	
	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}
	
	70% {
		-o-transform: scale(.9);
	}
	
	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}