<%@ Page Language="VB" AutoEventWireup="false" CodeFile="cotIssueToken.aspx.vb" Inherits="Counter_cotIssueToken" %>

<%@ Register Src="UserControls/cotIssueToken.ascx" TagName="cotIssueToken" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Issue Token</title>
    <link href="../cssfiles/title.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
// <!CDATA[

function Button1_onclick() {
window.close();
}

// ]]>
</script>
</head>
<body>
    <form id="form1" runat="server">
    <div style="vertical-align:middle; text-align: center;">
        <uc1:cotIssueToken ID="CotIssueToken1" runat="server" />
        <input id="Button1" accesskey="X" type="button" onclick="return Button1_onclick()" style="border-right: #ffffff 1px solid; border-top: #ffffff 1px solid; border-left: #ffffff 1px solid; border-bottom: #ffffff 1px solid; background-color: #ffffff" /></div>
    </form>
</body>
</html>
