<%@ Page Language="VB" AutoEventWireup="false" CodeFile="cotLcdDisplay.aspx.vb" MasterPageFile="~/mainMasterPage.master"  Inherits="Counter_cotLcdDisplay" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 <script type="text/javascript" >

      var User=""
     
      var win = window.open("../Counter/cotLcdView.aspx","","toolbar=0,menubar=0,scrollbars=no,resizable=0,directories=0,status=0,fullscreen,left=100,top=100");

    
    </script>


</asp:Content> 

