<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="Counter_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
      <script src="Javascript/JScript.js" type="text/javascript" ></script>
      <script type="text/javascript" >
      
      function  call(num)
      {
    
      playSound(num);
     
      }
      
      </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" OnClientClick="javascript:call(1); return false;" Text="1" />
          <asp:Button ID="Button2" runat="server" OnClientClick="javascript:call(2); return false;" Text="2" />
          <asp:Button ID="Button3" runat="server" OnClientClick="javascript:call(3); return false;" Text="3" />
          <asp:Button ID="Button4" runat="server" OnClientClick="javascript:call(4); return false;" Text="4" />
          <asp:Button ID="Button5" runat="server" OnClientClick="javascript:call(5); return false;" Text="5" />
          <asp:Button ID="Button6" runat="server" OnClientClick="javascript:call(6); return false;" Text="6" />
          <asp:Button ID="Button7" runat="server" OnClientClick="javascript:call(7); return false;" Text="7" />
          <asp:Button ID="Button8" runat="server" OnClientClick="javascript:call(8); return false;" Text="8" />
          <asp:Button ID="Button9" runat="server" OnClientClick="javascript:call(9); return false;" Text="9" />
          <asp:Button ID="Button10" runat="server" OnClientClick="javascript:call(0); return false;" Text="0" />
           
   </div>
    
    
    
    </form>
</body>
</html>
