<%@ Control Language="VB" AutoEventWireup="false" CodeFile="BsuSettings.ascx.vb" Inherits="OASIS_HR_UserControls_BsuSettings" %>
<asp:Label ID="lblmessage" runat="server" CssClass="text-danger"></asp:Label><br />
<asp:TextBox ID="txtSearch" runat="server"></asp:TextBox>
<asp:Button ID="BtnSearch" CssClass="button" runat="server" Text="Search" /><br />
<br />

<asp:Panel ID="Panel1" runat="server">
<div class="checkbox-list" >
<asp:CheckBoxList ID="CheckListBsu" runat="server">
</asp:CheckBoxList>
</div>
</asp:Panel>
<br />
<asp:Button ID="BtnSave" runat="server" CssClass="button" Text="Update" />