<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CountriesSettings.ascx.vb" Inherits="OASIS_HR_UserControls_CountriesSettings" %>
<asp:Label ID="lblmessage" runat="server" ForeColor="Red"></asp:Label><br />
<asp:TextBox ID="txtSearch" runat="server"></asp:TextBox>
<asp:Button ID="BtnSearch" CssClass="button" runat="server" Text="Search" /><br />
<br />

<asp:Panel ID="Panel1" runat="server" Height="200px" ScrollBars="Auto" Width="200px" BorderColor="Silver" BorderStyle="Solid">
<div align="left" class="matters" >
<asp:CheckBoxList ID="CheckListCountries" runat="server">
</asp:CheckBoxList>
</div>
</asp:Panel>
<br />
<asp:Button ID="BtnSave" runat="server" CssClass="button" Text="Update" />
