<%@ Page Language="VB"  AutoEventWireup="false" CodeFile="FileHandler.aspx.vb" Inherits="Common_FileHandler" title="Untitled Page" %>
<%@ OutputCache Duration="1" Location="None" VaryByParam="none" %> 


 <table border="0" cellpadding="0" cellspacing="0" align="center" width="98%"><tr><td  colspan="4" align="left" width="100%">
                    <table style="width:100%;">
                        <tr>
                            <td>
                                  &nbsp;</td>
                        </tr>
                    </table>
                    </td></tr></table>
 </asp:Content>
