<%@ Control Language="VB" AutoEventWireup="false" CodeFile="gpsSpeedReportFilter.ascx.vb" Inherits="Transport_GPS_Tracking_UserControls_gpsSpeedReportFilter" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
 <table border="1" bordercolor="#1b80b6" cellpadding="5" cellspacing="0" Width="700px" >
                        <tr>
                            <td class="subheader_img">
                               Speed - Report </td>
                        </tr>
                        <tr>
                            <td align="center"   >


<table class="matters" >
    <tr>
        <td align="left"  >
            Vehicle</td>
        <td align="left"  >
            <asp:DropDownList ID="DropDownList1" runat="server">
            </asp:DropDownList></td>
    </tr>
    <tr>
        <td align="left"  >
            Start Date</td>
        <td align="left"  >
            <asp:TextBox ID="txtFromdate" runat="server"></asp:TextBox>
            <asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/Images/calendar.gif"
                OnClientClick="return false;" /></td>
    </tr>
    <tr>
        <td align="left" >
            End Date</td>
        <td align="left" >
            <asp:TextBox ID="txtTodate" runat="server"></asp:TextBox>
            <asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/Images/calendar.gif"
                OnClientClick="return false;" />
        </td>
    </tr>
    <tr>
        <td >
        </td>
        <td >
            <asp:Button ID="btnView" runat="server" CssClass="button" Text="View" /></td>
    </tr>
</table>



 </td>
                    </tr>
               </table>
<ajaxToolkit:CalendarExtender ID="CalendarExtender1" runat="server" Format="MM/dd/yyyy"
    PopupButtonID="ImageButton1" TargetControlID="txtFromdate">
</ajaxToolkit:CalendarExtender>
<ajaxToolkit:CalendarExtender ID="CalendarExtender2" runat="server" Format="MM/dd/yyyy"
    PopupButtonID="ImageButton2" TargetControlID="txtTodate">
</ajaxToolkit:CalendarExtender>
