<%@ Control Language="VB" AutoEventWireup="false" CodeFile="SentDetails.ascx.vb" Inherits="Transport_GPS_Tracking_UserControls_SentDetails" %>
 
 
   <script type="text/javascript">

    
    function MapShow()
        {

        var User = 'Guest';//document.getElementById("<%=HiddenUnitid.ClientID %>").value;
       
        //window.showModalDialog('../GPS_Tracking/Map/gpsGetInfo.aspx?UnitId=' + window.document.getElementById("<%=HiddenUnitid.ClientID %>").value +'&User='+ User  , '','dialogHeight:250px;dialogWidth:250px;scroll:no;resizable:no;'); return false;
        window.open('../GPS_Tracking/Map/gpsTrackVechile.aspx' , '','dialogHeight:1024px;dialogWidth:768px;scroll:no;resizable:no;'); return false;

        document.getElementById("<%=HiddenUnitid.ClientID %>").value= '0';
        document.getElementById("<%=HiddenShowFlag.ClientID %>").value= '0';

        }
    </script>
    
    
 <table Width="100%" >
                        
                        <tr>
                            <td >

<table width="100%">
    <tr>
        <td align="left" width="20%">
            <span class="field-label">Select BSU</span></td>
        <td align="left" width="30%">
            <asp:DropDownList ID="DropBsu" runat="server">
            </asp:DropDownList></td>
    
        <td align="left" width="20%">
            <span class="field-label">Enter FeeID</span></td>
        <td align="left" width="30%">
            <asp:TextBox ID="txtfeeid" runat="server"></asp:TextBox></td>
    </tr>
    <tr>
        <td align="left" width="20%">
            <span class="field-label">Mobile Number</span></td>
        <td align="left" width="30%">
            <asp:TextBox ID="txtmobilenumber" runat="server"></asp:TextBox></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td align="center" colspan="4">
            <asp:Button ID="Button1" CssClass="button" runat="server" Text="OK" /></td>
    </tr>
    <tr>
        
        <td align="center" colspan="4">
            <asp:Label ID="Label1" runat="server"></asp:Label></td>
    </tr>
</table>
                                <asp:HiddenField ID="HiddenUnitid" runat="server" />
                                <asp:HiddenField ID="HiddenShowFlag" runat="server" />

 </td>
                    </tr>
               </table>

<script type="text/javascript"> 

if (document.getElementById("<%=HiddenShowFlag.ClientID %>").value == '1')
{

MapShow();

}


</script>