<%@ Page Language="VB" AutoEventWireup="false" CodeFile="bm_ActionView.aspx.vb" Inherits="Students_BehaviorManagement_bm_ActionView" %>

<%@ Register Src="UserControl/bm_ActionView.ascx" TagName="bm_ActionView" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
<%--    <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server">
    <div >
   <%--  <table class="title" width="100%">
                    <tr>
                        <td align="left" >
                            Action View</td>
                    </tr>
                </table>--%>
<br />
        <uc1:bm_ActionView ID="Bm_ActionView1" runat="server" />
    
    </div>
    </form>
</body>
</html>
