<%@ Page Language="VB" AutoEventWireup="false" CodeFile="bm_ActionViewDetails.aspx.vb" Inherits="Students_BehaviorManagement_bm_ActionViewDetails" %>

<%@ Register Src="UserControl/bm_ActionViewDetails.ascx" TagName="bm_ActionViewDetails"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Incident Details</title>
  <%--  <link href="../../cssfiles/title.css" rel="stylesheet" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server" title= "Incident Details">
    <div >
    <%-- <table class="title" width="100%">
                    <tr>
                        <td align="left" >
                            Action Detail View</td>
                    </tr>
                </table>--%>
<br />
        <uc1:bm_ActionViewDetails ID="Bm_ActionViewDetails1" runat="server" />
    
    </div>
    </form>
</body>
</html>
