<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="bm_CreateNewIncident.aspx.vb" Inherits="Students_BehaviorManagement_bm_CreateNewIncident" %>

<%@ Register Src="UserControl/bm_CreateNewIncident.ascx" TagName="bm_CreateNewIncident"
    TagPrefix="uc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">


<div >
    <table  width="100%">
                    <tr>
                        <td align="left" class="title-bg">
                            Record New Event</td>
                    </tr>
                </table>
<br />
  <uc1:bm_CreateNewIncident ID="Bm_CreateNewIncident1" runat="server" />
  </div>
</asp:Content> 