<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master"  CodeFile="bm_EditIncident.aspx.vb" Inherits="Students_BehaviorManagement_bm_EditIncident" %>

<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<%@ Register Src="UserControl/bm_EditIncident.ascx" TagName="bm_EditIncident" TagPrefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
<div >
 <table  width="100%">
                    <tr>
                        <td align="left" class="title-bg" >
                           Edit Incident</td>
                    </tr>
                </table>
<br />
<uc1:bm_EditIncident ID="Bm_EditIncident1" runat="server" />
</div>
 
</asp:Content> 