<%@ Page Language="VB" AutoEventWireup="false" CodeFile="rptDayenddocuments.aspx.vb" Inherits="Fees_rptDayenddocuments" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ OutputCache Duration="1" Location="None" VaryByParam="none" %> 
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>..</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:HiddenField ID="h_DocNo" runat="server" />
        <asp:HiddenField ID="h_DocDate" runat="server" />
    
    </div>
    </form>
</body>
</html>
