<%@ Control Language="VB" AutoEventWireup="false" CodeFile="usrManufacturer.ascx.vb" Inherits="UserControls_usrBSUnits" %>
                <script language="javascript" type="text/javascript">
         function ChangeAllCheckBoxStatesmanuf(checkedBox,Cnt)
        {
            
          var ChkState = false;
          if (checkedBox.checked)
          {
          ChkState = true
          }
                      
              for (var i = 0; i < Cnt; i++)
              {
              
              var ChkId = checkedBox.id 
              
              ChkId = ChkId.substring(ChkId,ChkId.length - 1)
              ChkId = ChkId + (i + 1)           
              document.getElementById(ChkId).checked = ChkState
              
              }
          //checkedBox.checked = false;
         }
         
        function ChangeAllCheckBoxmanuf(checkedBox,Cnt)
        {           
            
//             var truecount=0;
//             var CheckSt = true;  
//             var FirstChkId = checkedBox.id
//            var a=checkedBox.id.length                      
//            var b=checkedBox.id.indexOf("chkb_bsu")+20 
//      alert(b)
//            FirstChkId=FirstChkId.substring(FirstChkId,FirstChkId.length - (a-b))
//            alert (FirstChkId)    
//            FirstChkId = FirstChkId + (0)           
//         alert (FirstChkId)    
//              for (var i = 0; i < Cnt; i++)
//              {              
//                  var ChkId = checkedBox.id 
//                  alert (ChkId)    
//                  ChkId = ChkId.substring(ChkId,ChkId.length - (a-b))           
//                  ChkId = ChkId + (i + 1)
//               alert (ChkId)                                
//                 if (!document.getElementById(ChkId).checked == true)
//                  {                                
//                  CheckSt = false;
//                  document.getElementById(FirstChkId).checked = CheckSt;
//                  truecount= 1
//                  break;
//                  }                  
//              }
//              if (truecount == 0)
//              {               
//                document.getElementById(FirstChkId).checked = CheckSt;
//              }
         }
     
    </script>

<asp:HiddenField ID="h_MenuCode" runat="server" />
<asp:CheckBoxList ID="chkb_manuf" runat="server">
</asp:CheckBoxList>