﻿<%@ Master Language="VB" CodeFile="GemsEss.master.vb" Inherits="GemsEss_GemsEss" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Gems Ess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <asp:ContentPlaceHolder ID="head" runat="server">
        Content2
    </asp:ContentPlaceHolder>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%# ResolveUrl("~/GemsEss/assets/img/favicon.png")%>">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/css/bootstrap.min.css")%>">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/css/font-awesome.min.css")%>">
    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/css/line-awesome.min.css")%>">
    <!-- Chart CSS -->
    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/plugins/morris/morris.css")%>">
    <!-- Main CSS -->
    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/css/style.css")%>">
    <!-- Bootstrap DataTables CSS -->
    <link href="<%# ResolveUrl("~/GemsEss/assets/css/dataTables.bootstrap4.min.css")%>" rel="stylesheet" media="all" />

    <!-- Bootstrap Datetimepicker CSS -->
    <link href="<%# ResolveUrl("~/GemsEss/assets/css/bootstrap-datetimepicker-standalone.css")%>" rel="stylesheet" />
    <link href="<%# ResolveUrl("~/GemsEss/assets/css/bootstrap-datetimepicker.css")%>" rel="stylesheet" />
    <link href="<%# ResolveUrl("~/GemsEss/assets/css/fullcalendar.min.css")%>" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">-->


    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/css/semantic.min.css")%>">
    <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/assets/css/prism.min.css")%>">
      <link rel="stylesheet" href="<%# ResolveUrl("~/GemsEss/dist/jquery.flipster.min.css")%>">
      <link type="text/css" href="<%# ResolveUrl("~/Scripts/fancybox/jquery.fancybox.css?1=2")%>" rel="stylesheet" />
   
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <%--<script src="<%= ResolveUrl("~/GemsEss/assets/js/jquery-1.12.4.js")%>"></script>--%>

    <!-- Bootstrap Core JS -->
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/popper.min.js")%>"></script>
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/bootstrap.min.js")%>"></script>

    <!-- Slimscroll JS -->
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/jquery.slimscroll.min.js")%>"></script>

    <!-- Datatable JS -->
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/jquery.dataTables.min.js")%>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/dataTables.bootstrap4.min.js")%>" type="text/javascript"></script>

    <script src="<%= ResolveUrl("~/GemsEss/assets/js/moment.js")%>"></script>
    <%--    <script src="assets/js/moment-with-locales.js"></script>--%>
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/bootstrap-datetimepicker.min.js")%>"></script>
     
    <!-- Chart JS -->
    <script src="<%= ResolveUrl("~/GemsEss/assets/plugins/morris/morris.js")%>"></script>
    <script src="<%= ResolveUrl("~/GemsEss/assets/plugins/morris/morris.min.js")%>"></script>
    <script src="<%= ResolveUrl("~/GemsEss/assets/plugins/raphael/raphael.min.js")%>"></script>
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/chart.js")%>"></script>

    <!-- Custom JS -->
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/app.js")%>"></script>

    <!-- Fancy Box -->
    <script type="text/javascript" src="<%= ResolveUrl("~/Scripts/fancybox/jquery.fancybox.pack.js?1=2")%>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/Scripts/fancybox/jquery.fancybox.js?1=2")%>"></script>
  
    <script src="<%= ResolveUrl("~/GemsEss/assets/js/chart_bar.js")%>"></script>
     <%--<script src="<%= ResolveUrl("~/vendor/jquery-ui/jquery-ui.min.js")%>"></script>--%>
    <script  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="<%= ResolveUrl("~/GemsEss/dist/jquery.flipster.min.js")%>"></script>

    <style>
        body {
            margin-top: 20px;
            background: #fff;
        }

        a {
            /*color: #f96332;*/
        }

        .m-t-5 {
            margin-top: 5px;
        }

        .card {
            /*background: #fff;*/
            margin-bottom: 30px;
            transition: .5s;
            /*border: 0;*/
            border-radius: .1875rem;
            display: inline-block;
            position: relative;
            width: 100%;
            box-shadow: none;
        }

            .card .body {
                font-size: 14px;
                color: #424242;
                padding: 10px;
                font-weight: 400;
            }

        .profile-page .profile-header {
            position: relative;
        }

            .profile-page .profile-header .profile-image img {
                border-radius: 50%;
                width: 100px;
                border: 3px solid #fff;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            .profile-page .profile-header .social-icon a {
                margin: 0 5px;
            }

        .profile-page .profile-sub-header {
            min-height: 60px;
            width: 100%;
        }

            .profile-page .profile-sub-header ul.box-list {
                display: inline-table;
                table-layout: fixed;
                width: 100%;
                background: #eee;
            }

                .profile-page .profile-sub-header ul.box-list li {
                    border-right: 1px solid #e0e0e0;
                    display: table-cell;
                    list-style: none;
                }

                    .profile-page .profile-sub-header ul.box-list li:last-child {
                        border-right: none;
                    }

                    .profile-page .profile-sub-header ul.box-list li a {
                        display: block;
                        padding: 15px 0;
                        color: #424242;
                    }


        .fancybox-close {
            top: -10px !important;
            right: -10px !important;
        }

        th.prev::before {
            content: "<";
        }

        th.next::before {
            content: ">";
        }

        span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
            display: none;
        }

        span.notification-count {
            background: #FF9850;
            width: 1.125rem;
            height: 1.125rem;
            display: inline-block;
            position: absolute;
            border-radius: 100%;
            color: #fff;
            font-size: 0.625rem;
            font-weight: 700;
            text-align: center;
            line-height: 0.9375rem;
            right: -0.475rem;
            top: .775rem;
            border: solid 0.09375rem #fff;
            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }

        span.notification-count-mb {
            background: #FF9850;
            width: 1.125rem;
            height: 1.125rem;
            display: inline-block;
            position: absolute;
            border-radius: 100%;
            color: #fff;
            font-size: 0.625rem;
            font-weight: 700;
            text-align: center;
            line-height: 0.9375rem;
            right: -0.475rem;
            top: -0.25rem;
            border: solid 0.09375rem #fff;
            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }

         .modalWait {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('../images/loading1.gif') 50% 50% no-repeat;
        }

        /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

        body.loading .modalWait {
            overflow: hidden;
        }

        /* Anytime the body has the loading class, our
   modal element will be visible */
        body.loading .modalWait {
            display: block;
        }
    </style>
    <script>
        function ShowGif() {
            $body = $("body");
            $body.addClass("loading");
            return true;
        }
        function HideGif() {

            $body = $("body");
            $body.removeClass("loading");
        }
    </script> 
</head>
<body>
    <!-- Main Wrapper -->
    <form id="form1" runat="server">
        <ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server" AsyncPostBackTimeout="600">
        </ajaxToolkit:ToolkitScriptManager>
        <div class="main-wrapper">
           

            <!-- Loader -->
            <div id="loader-wrapper">
                <div id="loader">
                    <div class="loader-ellips">
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                    </div>
                </div>
            </div>
            <!-- /Loader -->
            <!-- Header -->
            <div class="header">


                <a id="toggle_btn" href="javascript:void(0);">
                    <span class="bar-icon" style="display: none;">
                        <%--<span></span>
                        <span></span>
                        <span></span>--%>
                    </span>
                </a>

                <!-- Header Title -->
                <div class="page-title-box">
                    <h3>
                        <img src="<%= ResolveUrl("~/gemsEss/assets/img/image-logo.png")%>" alt=""></h3>
                </div>
                <!-- /Header Title -->

                <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
                <span class="mobile_logo text-center pl-0">
                    <img src="<%= ResolveUrl("~/gemsEss/assets/img/image-logo.png")%>" alt="" height="80%" /></span>
                <!-- Header Menu -->

                <ul class="nav user-menu">
                    <!--SiteMap-->
                    <li>
                        <a runat="server" id="notificationIcon1" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" 
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell position-relative"><span runat="server" id="notificationCount1" class="notification-count"></span></i>
                        </a> 
                        <div class="dropdown-menu" aria-labelledby="notificationIcon1">
                            <h6 class="dropdown-header">Approval Alerts:</h6>
                            <div class="dropdown-divider"></div>
                            <asp:Repeater ID="rpNotification" runat="server">
                                <ItemTemplate>
                                    <a class="dropdown-item" href='<%# Eval("URL")%>'>
                                        <span class="text-success">
                                            <strong>
                                                <i></i><%# Eval("Type")%>
                                            </strong>
                                        </span>
                                        <span class="small float-right text-muted"><%# Eval("Total")%></span>
                                        <div class="dropdown-message small"><%# Eval("Remarks")%></div>
                                    </a>
                                    <div class="dropdown-divider"></div>

                                </ItemTemplate>
                            </asp:Repeater> 
                        </div>
                    </li>
                    <li>
                        <a href="<%= ResolveUrl("~/modulelogin.aspx")%>" class="dropdown-toggle nav-link" data-toggle="tooltip" title="Modules">
                            <i class="fa fa-sitemap "></i><span class="badge badge-pill"></span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= ResolveUrl("~/login.aspx?logoff=1")%>" class="dropdown-toggle nav-link" data-toggle="tooltip" title="LogOut">
                            <i class="fa fa-power-off"></i><span class="badge badge-pill"></span>
                        </a>
                    </li>

                    <!--SiteMap-->
                    <!-- Notifications -->

                    <%-- <li class="nav-item dropdown">
                   
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Dhanya</span> added new task <span class="noti-title"> appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Shakeel Shakeer</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-06.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Swapna TV</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>--%>

                    <!-- /Notifications -->

                    <li class="nav-item dropdown has-arrow main-drop">
                        <%-- <asp:Repeater ID="rptHeader" runat="server">
                            <ItemTemplate>
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img">
                                        <img src='<%# Eval("EMD_PHOTO")%>' alt="">
                                        <span class="status online"></span>
                                    </span>
                                    &nbsp;<span><%# Eval("EMP_NAME")%></span>
                                </a>
                            </ItemTemplate>
                        </asp:Repeater>--%>
                        <div class="dropdown-menu">
                            <%--         <a class="dropdown-item" href="login.html">Logout</a>--%>
                            <asp:LinkButton class="dropdown-item" ID="lnklogoff" runat="server">Logout</asp:LinkButton>
                        </div>
                    </li>

                </ul>
                <!-- /Header Menu -->
                <!-- Mobile Menu -->
                <div class="dropdown mobile-user-menu">
                    <a runat="server" id="notificationIcon" href="#" class="nav-link position-absolute" data-toggle="tooltip" title="" data-original-title="Notifications" style="right: 40px;">
                        <i class="fa fa-bell position-relative"><span runat="server" id="notificationCount" class="notification-count-mb"></span></i>
                    </a>

                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">

                        <a class="dropdown-item pr-2" href="<%= ResolveUrl("~/login.aspx")%>">Logout <i class="fa fa-sign-out ml-5"></i></a>
                    </div>
                </div>
                <!-- /Mobile Menu -->

            </div>
            <!-- /Header -->
            <!-- Sidebar -->
            <div class="sidebar" id="sidebar">

                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">

                        <ul class="sidebar1">
                            <!--<li class="active">
                            <a href="Index-New.html" data-toggle="tooltip" title="Dashboard"><i class="la la-dashboard"> </i> <span></span></a>
                            </li>-->

                            <li id="liMe">
                                <a href="Index.aspx" id="hrefMe"><i class="la la-user" data-toggle="tooltip" title="Me"></i><span class="mobile_mnu">My Profile</span></a>
                            </li>
                            <li id="liTeam" runat="server" visible="false">
                                <a href="MyTeamDetails.aspx" id="hrefTeam"><i class="la la-users" data-toggle="tooltip" title="My Team"></i><span class="mobile_mnu">My Team</span>
                                    <!--<span class="menu-arrow"></span>-->
                                </a>
                            </li>
                            <li id="LiPD" runat="server" visible="false">
                                <asp:LinkButton ID="lnkPhoenixPD" runat="server" class="nav-link" OnClick="lnkPhoenixPD_Click">
                                 <i class="fa fa-line-chart" data-toggle="tooltip" title="Professional Development"></i><span class="mobile_mnu">Professional Development</span>
                                </asp:LinkButton>
                            </li>
                            <li id="LiPM" runat="server" visible="false">
                                <asp:LinkButton ID="lnkPM" runat="server" class="nav-link" OnClick="lnkPM_Click">
                                 <i class="fa fa-bar-chart" data-toggle="tooltip" title="Performance Management"></i><span class="mobile_mnu">Performance Management</span>
                                </asp:LinkButton>
                            </li>
                            <li id="LiPMSL" runat="server" visible="false">
                                <asp:LinkButton ID="lnkPMSL" runat="server" class="nav-link" OnClick="lnkPMSL_Click">
                                 <i class="fa fa-area-chart" data-toggle="tooltip" title="Performance Management - School Leadership"></i><span class="mobile_mnu">PM - School Leadership</span>
                                </asp:LinkButton>
                            </li>
                            <li id="LiPMHOS" runat="server" visible="false">
                                <asp:LinkButton ID="lnkPMHOS" runat="server" class="nav-link" OnClick="lnkPMHOS_Click">
                                 <i class="fa fa-bar-chart" data-toggle="tooltip" title="Performance Management - HOS"></i><span class="mobile_mnu">PM - HOS</span>
                                </asp:LinkButton>
                            </li>
                            <li id="LiPMNonTeach" runat="server" visible="false">
                                <asp:LinkButton ID="lnkPMNonTeach" runat="server" class="nav-link" OnClick="lnkPMNonTeach_Click">
                                 <i class="fa fa-area-chart" data-toggle="tooltip" title="Performance Management - Non Teaching"></i><span class="mobile_mnu">PM - Non Teaching</span>
                                </asp:LinkButton>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            
            <!-- /Sidebar -->
            <!-- Page Wrapper -->


            <div>

                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                    <ContentTemplate>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>

        </div>
         <div class="modalWait"></div>
    </form>


    
    <!-- jQuery -->
   <%-- <script src="<%= ResolveUrl("~/GemsEss/assets/js/jquery-3.2.1.min.js")%>"></script>--%>

    <!--new-->
  
  
    <div class="sidebar-overlay" data-reff=""></div>
    <script>
                $(document).ready(function () {

                    var url = window.location.href;
                    //alert(url.toLowerCase());
                    //alert(url.toLowerCase().indexOf("index.aspx"));
                    if (url.toLowerCase().indexOf("index.aspx") > 0) {
                        $('#liMe').attr("class", "active");
                        $('#liTeam').attr("class", "");
                    }
                    else {
                        $('#liMe').attr("class", "");
                        $('#liTeam').attr("class", "active");
                    }
                });
         
        function Popup(url) {
            $.fancybox({
                'width': '100%',
                'height': '100%',
                'autoScale': false,
                'fitToView': false,
                'autoSize': false,
                'transitionIn': 'fade',
                'transitionOut': 'fade',
                'type': 'iframe',
                'href': url
            });
        };
    
        // sandbox disable popups
        if (window.self !== window.top && window.name != "view1") {
            ;
            window.alert = function () {/*disable alert*/ };
            window.confirm = function () {/*disable confirm*/ };
            window.prompt = function () {/*disable prompt*/ };
            window.open = function () {/*disable open*/ };
        }

        // prevent href=# click jump
        document.addEventListener("DOMContentLoaded", function () {
            var links = document.getElementsByTagName("A");
            for (var i = 0; i < links.length; i++) {
                if (links[i].href.indexOf('#') != -1) {
                    links[i].addEventListener("click", function (e) {
                        console.debug("prevent href=# click");
                        if (this.hash) {
                            if (this.hash == "#") {
                                e.preventDefault();
                                return false;
                            }
                            else {
                                /*
                                var el = document.getElementById(this.hash.replace(/#/, ""));
                                if (el) {
                                  el.scrollIntoView(true);
                                }
                                */
                            }
                        }
                        return false;
                    })
                }
            }
        }, false);
    
        /* chart.js chart examples */

        // chart colors
        //var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];

        var colors = ['#01a7e6', '#b0b3b5', '#cef378', '#890c58', '#005f61', '#4f2c1d'];

        /* 3 donut charts */
        var donutOptions = {
            cutoutPercentage: 0,
            legend: { position: 'bottom', padding: 5, labels: { pointStyle: 'circle', usePointStyle: true } }
        };

        // donut 1
        var chDonutData1 = {
            labels: ['Anual Leave', 'Balance Leave', 'Future Leaves'],
            datasets: [
                {
                    backgroundColor: colors.slice(0, 3),
                    borderWidth: 0,
                    data: [74, 11, 40]
                }
            ]
        };

        var chDonut1 = document.getElementById("chDonut1");
        if (chDonut1) {
            new Chart(chDonut1, {
                type: 'pie',
                data: chDonutData1,
                options: donutOptions
            });
        }

        // donut 2
        var chDonutData2 = {
            labels: ['Wips', 'Pops', 'Dags'],
            datasets: [
                {
                    backgroundColor: colors.slice(0, 3),
                    borderWidth: 0,
                    data: [40, 45, 30]
                }
            ]
        };
        var chDonut2 = document.getElementById("chDonut2");
        if (chDonut2) {
            new Chart(chDonut2, {
                type: 'pie',
                data: chDonutData2,
                options: donutOptions
            });
        }

        // donut 3
        var chDonutData3 = {
            labels: ['Angular', 'React', 'Other'],
            datasets: [
                {
                    backgroundColor: colors.slice(0, 3),
                    borderWidth: 0,
                    data: [21, 45, 55, 33]
                }
            ]
        };
        var chDonut3 = document.getElementById("chDonut3");
        if (chDonut3) {
            new Chart(chDonut3, {
                type: 'pie',
                data: chDonutData3,
                options: donutOptions
            });
        }


    </script>
     
    <%--<script type="text/javascript">
        $("[data-toggle=\"tooltip\"]").tooltip();
    </script>--%>
</body>
</html>
