<%@ Page Language="VB" AutoEventWireup="false" CodeFile="rptLibraryMaster.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="Library_Reports_FilterPages_rptLibraryMaster" %>

<%@ Register Src="../UserControls/rptLibraryMaster.ascx" TagName="rptLibraryMaster" TagPrefix="uc1" %>
    <asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server" >
    
      <uc1:rptLibraryMaster ID="RptLibraryMaster1" runat="server" />
      
    </asp:Content>  

