﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdPendingIssuesAging.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdPendingIssuesAging" %>

<%@ Register src="../UserControl/hdPendingIssuesAging.ascx" tagname="hdPendingIssuesAging" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

        <uc1:hdPendingIssuesAging ID="hdPendingIssuesAging" runat="server" />
    
</asp:Content> 

 