﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskConsolidatedReportBsu.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_Reports_Pages_hdTaskConsolidatedReportBsu" %>

<%@ Register src="../UserControl/hdTaskConsolidatedReportBsu.ascx" tagname="hdTaskConsolidatedReportBsu" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

 <uc1:hdTaskConsolidatedReportBsu ID="hdTaskConsolidatedReportBsu1" runat="server" />

</asp:Content> 
