﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdPendingIssuesAgingHistorical.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_hdPendingIssuesAgingHistorical" %>

<%@ Register src="../UserControl/hdPendingIssuesAgingHistorical.ascx" tagname="hdPendingIssuesAgingHistorical" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

        <uc1:hdPendingIssuesAgingHistorical ID="hdPendingIssuesAgingHistorical" runat="server" />
    
</asp:Content> 

 