﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="hdTaskConsolidatedReportBsuAging.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="HelpDesk_Reports_Pages_hdTaskConsolidatedReportBsuAging" %>

<%@ Register src="../UserControl/hdTaskConsolidatedReportBsuAging.ascx" tagname="hdTaskConsolidatedReportBsuAging" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

       <uc1:hdTaskConsolidatedReportBsuAging ID="hdTaskConsolidatedReportBsuAging1" 
            runat="server" />
    

</asp:Content> 


 