<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="rptClasslistTemplateDetails.aspx.vb" Inherits="Students_Reports_ASPX_rptClasslistTemplateDetails" Title="::::GEMS OASIS:::: Online Student Administration System::::" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" runat="Server">

    <script language="javascript" type="text/javascript">
          
         
    </script>


    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-users mr-3"></i>
            <asp:Label ID="lblCaption" runat="server" Text="Class List - For Academic Year"></asp:Label>
        </div>

        <div class="card-body">
            <div class="table-responsive m-auto">


                <table align="center" style="width: 100%">
                    <tr align="left">
                        <td>
                            <asp:ValidationSummary ID="ValidationSummary2" runat="server" CssClass="error" EnableViewState="False"
                                ForeColor="" HeaderText="Following condition required" ValidationGroup="dayBook" />
                            <asp:Label ID="lblError" runat="server" CssClass="error"></asp:Label></td>
                    </tr>
                    <tr align="left">
                        <td>
                            <table align="center"  style="width: 100%;">
                                <tr>
                                    <td align="left" style="width:20%"><span  class="field-label">Academic Year</span></td>
                                    <td style="text-align: left;width:30%;">
                                        <asp:DropDownList ID="ddlAcademicYear" runat="server" AutoPostBack="True">
                                        </asp:DropDownList></td>
                                
                                    <td align="left" style="width:20%"><span  class="field-label">Shift</span></td>
                                    <td align="left"  style="text-align: left;width:30%">
                                        <asp:DropDownList ID="ddlShift" runat="server" AutoPostBack="True">
                                        </asp:DropDownList></td>
                                </tr>


                                <tr>
                                    <td align="left" ><span  class="field-label">Grade</span></td>
                                    <td align="left"  style="text-align: left;">

                                        <asp:DropDownList ID="ddlGrade" runat="server" AutoPostBack="True">
                                        </asp:DropDownList></td>
                               
                                    <td align="left" ><span  class="field-label">Section</span></td>
                                    <td align="left"  style="text-align: left">
                                        <asp:DropDownList ID="ddlSection" runat="server">
                                        </asp:DropDownList></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td  >
                                        <span  class="field-label">
                                        <asp:RadioButtonList ID="rblist" runat="server" RepeatDirection="Horizontal">
                                            <asp:ListItem Selected="True" Value="0">Consolidated</asp:ListItem>
                                            <asp:ListItem Value="1">Details</asp:ListItem>
                                        </asp:RadioButtonList></span></td>
                                </tr>

                                <tr>
                                    <td align="left"  colspan="4" style="text-align: center">
                                        <asp:Button ID="btnGenerateReport" runat="server" CssClass="button" Text="Generate Report"
                                            ValidationGroup="dayBook" /></td>
                                </tr>
                            </table>
                            <asp:HiddenField ID="h_BSUID" runat="server" />
                            <asp:HiddenField ID="h_Mode" runat="server" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</asp:Content>

