<%@ Control Language="VB" AutoEventWireup="false" CodeFile="rptLibraryItemsAll.ascx.vb" Inherits="Library_Reports_UserControls_rptLibraryItemsAll" %>
<table  cellpadding="5" cellspacing="0" class="matters"
    width="100%">
   <%-- <tr>
        <td class="subheader_img">
           <span class="field-label"> Library Items Count </span></td>
    </tr>--%>
    <tr>
        <td align="center" align="center" >
            <asp:Button ID="btnlibitems" runat="server" CssClass="button" Text="Generate Report" />
        </td>
    </tr>
</table>
<asp:HiddenField ID="HiddenBsuID" runat="server" />
