﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comManageSMS.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="Transport_GPS_Tracking_SMS_comManageSMS" %>

<%@ Register src="comManageSMS.ascx" tagname="comManageSMS" tagprefix="uc1" %>


<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

    <uc1:comManageSMS ID="comManageSMS1" runat="server" />

</asp:Content>   

 