<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="gpsCreateGroupsAddOnPage.aspx.vb" Inherits="Transport_GPS_Tracking_Communication_gpsCreateGroupsAddOnPage" %>

<%@ Register Src="gpsCreateGroupsAddOn.ascx" TagName="gpsCreateGroupsAddOn" TagPrefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

    <div class="card mb-3">
        <div class="card-header letter-space">
            <i class="fa fa-book mr-3"></i> Create Groups AddOnPage
        </div>
        <div class="card-body">
            <div class="table-responsive m-auto">
                <uc1:gpsCreateGroupsAddOn ID="GpsCreateGroupsAddOn1" runat="server" />

            </div>
        </div>
    </div>
</asp:Content>
