﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comAssignGroupsStudentsFormtutorList.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="masscom_comAssignGroupsStudentsFormtutorList" %>

<%@ Register src="UserControls/comAssignGroupsStudentsFormtutorList.ascx" tagname="comAssignGroupsStudentsFormtutorList" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage"  runat="server">
        <uc1:comAssignGroupsStudentsFormtutorList ID="comAssignGroupsStudentsFormtutorList1" 
            runat="server" />

</asp:Content> 


    
