﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comAssignGroupsStudentsFormtutor.aspx.vb"  MasterPageFile="~/mainMasterPage.master" Inherits="masscom_comAssignGroupsStudentsFormtutor" %>

<%@ Register src="UserControls/comAssignGroupsStudentsFormtutor.ascx" tagname="comAssignGroupsStudentsFormtutor" tagprefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">

        <uc1:comAssignGroupsStudentsFormtutor ID="comAssignGroupsStudentsFormtutor1" runat="server" />

</asp:Content> 
 

    
   