﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelSendSelection.aspx.vb" Inherits="masscom_comExcelSendSelection" %>
<%@ Register Src="UserControls/comExcelSendSelection.ascx" TagName="comExcelSendSelection"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <%-- <ajaxToolkit:ToolkitScriptManager ID="ScriptManager1" runat="server">
        </ajaxToolkit:ToolkitScriptManager>--%>
        <uc1:comExcelSendSelection id="ComExcelSendSelection1" runat="server">
        </uc1:comExcelSendSelection></div>

    </form>
</body>
</html>
