﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelSMSPopup.aspx.vb" Inherits="masscom_comExcelSMSPopup" %>
<%@ Register Src="UserControls/comExcelSMSPopup.ascx" TagName="comExcelSMSPopup"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:comExcelSMSPopup ID="ComExcelSMSPopup1" runat="server" />
    </div>
    </form>
</body>
</html>
