<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelSendSms.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="masscom_comExcelSendSms" %>

<%@ Register Src="UserControls/comExcelSendSms.ascx" TagName="comExcelSendSms" TagPrefix="uc1" %>
<asp:Content ID="c1" ContentPlaceHolderID="cphMasterpage"  runat="server">
  
  <div>
        <uc1:comExcelSendSms id="ComExcelSendSms1" runat="server">
        </uc1:comExcelSendSms>
  </div>

</asp:Content>
