<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelSendPlainText.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="masscom_comExcelSendPlainText" %>

<%@ Register Src="UserControls/comExcelSendPlainText.ascx" TagName="comExcelSendPlainText"
    TagPrefix="uc1" %>
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
   <div>
        <uc1:comExcelSendPlainText id="ComExcelSendPlainText1" runat="server">
        </uc1:comExcelSendPlainText></div>
</asp:Content>

