﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelEmailPopup.aspx.vb" Inherits="masscom_comExcelEmailPopup" %>
<%@ Register Src="UserControls/comExcelEmailPopup.ascx" TagName="comExcelEmailPopup"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <uc1:comExcelEmailPopup ID="ComExcelEmailPopup1" runat="server" />
    </div>
    </form>
</body>
</html>
