<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="comExcelSendNewsLetters.aspx.vb" Inherits="masscom_comExcelSendNewsLetters" %>

<%@ Register Src="UserControls/comExcelSendNewsLetters.ascx" TagName="comExcelSendNewsLetters"
    TagPrefix="uc1" %>
    
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
 <div>
        <uc1:comExcelSendNewsLetters ID="ComExcelSendNewsLetters1" runat="server" />
    
    </div>
</asp:Content> 
