﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comExcelSendSMSSelection.aspx.vb" Inherits="masscom_comExcelSendSMSSelection" %>
<%@ Register Src="UserControls/comExcelSendSMSSelection.ascx" TagName="comExcelSendSMSSelection"
    TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <uc1:comExcelSendSMSSelection id="ComExcelSendSMSSelection1" runat="server">
        </uc1:comExcelSendSMSSelection>
    </div>
    </form>
</body>
</html>
