<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comGroupAddOnMembers.aspx.vb" MasterPageFile="~/mainMasterPage.master" Inherits="masscom_comGroupAddOnMembers" %>

<%@ Register Src="UserControls/comGroupAddOnMembers.ascx" TagName="comGroupAddOnMembers"
    TagPrefix="uc1" %>
<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage"  runat="server">
    <uc1:comGroupAddOnMembers id="ComGroupAddOnMembers1" runat="server">
    </uc1:comGroupAddOnMembers>
 
</asp:Content>
