<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/mainMasterPage.master" CodeFile="comGroupMembers.aspx.vb" Inherits="masscom_comGroupMembers" %>

<%@ Register Src="UserControls/comGroupMembers.ascx" TagName="comGroupMembers" TagPrefix="uc1" %>

<asp:Content ID="C1" ContentPlaceHolderID="cphMasterpage" runat="server">
    <uc1:comGroupMembers id="ComGroupMembers1" runat="server">
    </uc1:comGroupMembers>
   
</asp:Content>
