﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="comNewListGroups.aspx.vb" Inherits="masscom_comNewListGroups" %>
<%@ Register Src="UserControls/comNewListGroups.ascx" TagName="comNewListGroups" TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <uc1:comNewListGroups ID="ComNewListGroups1" runat="server"></uc1:comNewListGroups>
    </div>
    </form>
</body>
</html>
