<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="ExcelExport.aspx.vb" Inherits="Reports_ASPX_Report_ExcelExport" title="Untitled Page" %>

<%@ Register Src="../../UserControls/Transdocno.ascx" TagName="Transdocno" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
    <uc1:Transdocno ID="Transdocno1" runat="server" />
</asp:Content>

