<%@ Page Language="VB" AutoEventWireup="false" CodeFile="PrintPage.aspx.vb" Inherits="Payroll_empOrganizationChartView" Theme="General" %>
<%@ OutputCache Duration="1" Location="None" VaryByParam="none" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" visible="false"  >
<head id="Head1" runat="server">
    <title></title>       
    <base target="_self" />
    <link href="../../../cssfiles/title.css" rel="stylesheet" type="text/css" />
     <script language="javascript" type="text/javascript" src="../../../cssfiles/chromejs/chrome.js"></script> 
</head> 
<body onLoad="self.print();self.close();" >
     <form id="form1" runat="server" visible="True">
     
     </form>
</body>
</html>
