<%@ Page Language="VB" AutoEventWireup="false" CodeFile="printReport.aspx.vb" Inherits="Reports_ASPX_Report_printReport" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script language =javascript>
function printSpecial()
 { 
    window.print();
    window.location =document.referrer; 
 } 

//    if (window.confirm("Is report printed correctly ?"))
//    {
//        document.getElementById('<%=h_printSuccess.ClientID %>').value = "yes";
//    }
//    else
//    {
//        document.getElementById('<%=h_printSuccess.ClientID %>').value = "no";
//    }
//    document.form1.submit();
// } 
</script>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
</head>
<body onload ="printSpecial()" >
    <form id="form1" runat="server">
       <div id="printReady">
        <asp:HiddenField ID="h_printSuccess" runat="server" />
       <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true"
            HasCrystalLogo="False" HasDrillUpButton="False" HasExportButton="False" HasGotoPageButton="False"
            HasPageNavigationButtons="False" HasPrintButton="False" HasSearchButton="False"
            HasToggleGroupTreeButton="False" HasZoomFactorList="False" ToolPanelView="None" DisplayToolbar="False" EnableDatabaseLogonPrompt="False" EnableDrillDown="False" EnableParameterPrompt="False" EnableTheming="False" EnableToolTips="False" />
    
    </div>
    </form>
</body>
</html>
