<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="RptInterunitbalanse.aspx.vb" 
Inherits="Reports_ASPX_Report_RptInterunitbalanse"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">


    <script language="javascript" type="text/javascript">
           function getDate(left,top,txtControl) 
           {
            var sFeatures;
            sFeatures="dialogWidth: 250px; ";
            sFeatures+="dialogHeight: 270px; ";
            sFeatures+="dialogTop: " + top + "px; dialogLeft: " + left + "px";
            sFeatures+="help: no; ";
            sFeatures+="resizable: no; ";
            sFeatures+="scroll: yes; ";
            sFeatures+="status: no; ";
            sFeatures+="unadorned: no; ";

            var NameandCode;
            var result;
            result = window.showModalDialog("../../Accounts/calendar.aspx","", sFeatures);
            
            if(result != '' && result != undefined)
            {
                switch(txtControl)
                {
                  
                  case 1:  
                    document.getElementById('<%=txtToDate.ClientID %>').value=result;
                    break;
                }    
            }
            return false;
           } 

    </script>
    
    <script language="javascript" type="text/javascript">
     function change_chk_state(src)
         {
               var chk_state=(src.checked);
               for(i=0; i<document.forms[0].elements.length; i++)
               {
                if (document.forms[0].elements[i].type=='checkbox')
                    {
                    document.forms[0].elements[i].checked=chk_state;
                    }
               }
          }     
        function client_OnTreeNodeChecked( )
        { 
                var obj = window.event.srcElement;
                var treeNodeFound = false;
                var checkedState;
                if (obj.tagName == "INPUT" && obj.type == "checkbox") {
//                //
//                if  ( obj.title=='All' && obj.checked ){ //alert(obj.checked);
//                change_chk_state(obj); }
//                //
                var treeNode = obj;
                checkedState = treeNode.checked;
                do {
                    obj = obj.parentElement;
                    } while (obj.tagName != "TABLE")
                var parentTreeLevel = obj.rows[0].cells.length;
                var parentTreeNode = obj.rows[0].cells[0];
                var tables = obj.parentElement.getElementsByTagName("TABLE");
                var numTables = tables.length
                    if (numTables >= 1)
                    {
                        for (i=0; i < numTables; i++)
                        {
                            if (tables[i] == obj)
                            {
                                treeNodeFound = true;
                                i++;
                                if (i == numTables)
                                    {
                                    return;
                                    }
                            }
                            if (treeNodeFound == true)
                            {
                            var childTreeLevel = tables[i].rows[0].cells.length;
                            if (childTreeLevel > parentTreeLevel)
                                {
                                var cell = tables[i].rows[0].cells[childTreeLevel - 1];
                                var inputs = cell.getElementsByTagName("INPUT");
                                inputs[0].checked = checkedState;
                                }
                            else
                                {
                                return;
                                }
                            }
                        }
                    }
                }
        }
    </script>
    
   <table align="center" style="width: 80%;" > 
       <tr align =left >
           <td>
               <asp:Label ID="lblError" runat="server" CssClass="error" EnableViewState="False"></asp:Label>
    <asp:ValidationSummary   ID="ValidationSummary2" runat="server" EnableViewState="False"
                    HeaderText="Following condition required" ValidationGroup="dayBook" />
           </td>
       </tr>
    </table>
    
    <table align="center" class="BlueTable"  cellpadding="5" cellspacing="0" style="width: 80%;">
        <tr  class="subheader_img">
            <td align="left" colspan="3" style="height: 19px" valign="middle">                 
                        <asp:Label ID="lblrptCaption" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td align="left" valign = "middle" class="matters" style="width: 88px" >
                Business Unit</td>
            <td class="matters" valign = "middle" style="width: 18px">
                :</td>
            <td align="left" valign = "middle" class="matters" colspan="1" > &nbsp;
                <asp:TreeView ID="tvBusinessunit" runat="server" ShowCheckBoxes="All" onclick="client_OnTreeNodeChecked();">
                    <NodeStyle CssClass="treenode" />
                </asp:TreeView>
                </td>
        </tr>
        <tr>
            <td align="left" class="matters" style="width: 88px" >
                To Date</td>
            <td class="matters" style="width: 18px"  >
                :</td>
            <td align="left" class="matters" colspan="1" style="height: 1px; text-align: left;">
                <asp:TextBox ID="txtToDate" runat="server" Width="122px"></asp:TextBox>
                <asp:ImageButton ID="imgToDate" runat="server" CausesValidation="False" ImageUrl="~/Images/calendar.gif"
                    OnClientClick="return getDate(550, 310, 1)" />
                <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txtToDate"
                    ErrorMessage="To Date required" ValidationGroup="dayBook">*</asp:RequiredFieldValidator>&nbsp;
                <asp:RegularExpressionValidator ID="revToDate" runat="server" ControlToValidate="txtToDate"
                    Display="Dynamic" EnableViewState="False" ErrorMessage="Enter the To Date in given format dd/mmm/yyyy e.g.  21/Sep/2007"
                    ValidationExpression="^([012]?\d|3[01])/([Jj][Aa][Nn]|[Ff][Ee][bB]|[Mm][Aa][Rr]|[Aa][Pp][Rr]|[Mm][Aa][Yy]|[Jj][Uu][Nn]|[Jj][Uu][lL]|[aA][Uu][gG]|[Ss][eE][pP]|[oO][Cc][Tt]|[Nn][oO][Vv]|[Dd][Ee][Cc])/(19|20)\d\d$"
                    ValidationGroup="dayBook">*</asp:RegularExpressionValidator></td>
             
        </tr>
        <tr>
            <td align="center" class="matters" colspan="3" >
                &nbsp;&nbsp;
                <asp:Button ID="btnGenerateReport" runat="server" CssClass="button" Text="Generate Report" ValidationGroup="dayBook" /><asp:Button ID="btncancel" runat="server" CssClass="button" Text="Cancel" />
                &nbsp; &nbsp; &nbsp;
            </td>
        </tr>
    </table> 
</asp:Content>

