<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="rptReportViewer.aspx.vb" Inherits="Reports_ASPX_Report_rptReportViewer" title="Untitled Page" %>



   

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">

<table style="width:700px;height:100%">
        <tr style="width:700px;height:100%">
            <td align="left" valign = "top" style="width: 696px;"> 
    <CR:CrystalReportViewer ID="crv" runat="server" AutoDataBind="true" 
        EnableDatabaseLogonPrompt="False" EnableParameterPrompt="False" ReportSourceID="rs"
        ReuseParameterValuesOnRefresh="True" PrintMode="ActiveX" Width="350px" Height="50px" 
        ShowAllPageIds="True" HasToggleGroupTreeButton="False" 
                    ToolPanelView="None"/>
    &nbsp;<CR:CrystalReportSource ID="rs1" runat="server" CacheDuration="1" 
                    ViewStateMode="Enabled">
    </CR:CrystalReportSource>
      </td>
        </tr>
    <tr>

        <td>

            <asp:Label ID="lblRepInfo" runat="server"></asp:Label>

        </td>

    </tr>
    </table>
</asp:Content>

