<%@ Page Language="VB" AutoEventWireup="false" CodeFile="rptReportViewerModelView.aspx.vb" Inherits="Reports_ASPX_Report_rptReportViewerModelView" %>
<%--<%@ OutputCache Duration="1" VaryByParam="none" Location="None" NoStore="true" %> --%>

 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
          <base target="_self" />
           
    <link href="/aspnet_client/System_Web/2_0_50727/CrystalReportWebFormViewer3/css/default.css"
        rel="stylesheet" type="text/css" />
         
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
    <form id="form1" runat="server">
<table style="width:700px;height:100%">
        <tr style="width:700px;height:100%">
            <td align="left" valign = "top" style="width: 696px"> 
  <CR:CrystalReportViewer ID="crv" runat="server" AutoDataBind="true" ToolPanelView="None"
        EnableDatabaseLogonPrompt="False" EnableParameterPrompt="False" ReportSourceID="rs"
        ReuseParameterValuesOnRefresh="True" PrintMode="ActiveX" Width="350px" Height="50px" ShowAllPageIds="True" />
    &nbsp;<CR:CrystalReportSource ID="rs" runat="server" CacheDuration="1">
    </CR:CrystalReportSource> 
      </td>
        </tr>
    </table>
 </form>
</body>
</html>

