<%@ Page Language="VB" MasterPageFile="~/mainMasterPage.master" AutoEventWireup="false" CodeFile="rptTest.aspx.vb" Inherits="Reports_ASPX_Report_rptTest" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
     <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="True"
       ToolPanelView="None" EnableDatabaseLogonPrompt="False" EnableParameterPrompt="False"
        ReuseParameterValuesOnRefresh="True" />
    &nbsp;
    <CR:CrystalReportSource ID="rptDoc" runat="server">
        <Report FileName="~\Reports\RPT_Files\rptCashBooktest2.rpt">
        </Report>
    </CR:CrystalReportSource>
</asp:Content>

