<%@ Page Language="VB"  AutoEventWireup="false" CodeFile="RptViewerNew.aspx.vb" Inherits="Reports_ASPX_Report_RptViewerNew" title="Untitled Page" %>

<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
   <form runat="server" id="form1">
    <table width = 100% height = 100%>
        <tr width = 100% height = 100%>
            <td align="left" valign = "top"> &nbsp;<asp:Button ID="btnPrintReport" runat="server" Height="32px" Text="Print Report" Visible="False"/>   
            <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true" ToolPanelView="None"
        EnableDatabaseLogonPrompt="False" EnableParameterPrompt="False" 
        ReuseParameterValuesOnRefresh="True" PrintMode="ActiveX" Width="350px" Height="50px" ShowAllPageIds="True" HasToggleGroupTreeButton="False"/>
        
    </td>
        </tr>
    </table>

       </form>


