<%@ Page Language="VB" MasterPageFile="~/Management/Management.master" AutoEventWireup="false" CodeFile="RptViewerMIS.aspx.vb" Inherits="RptViewerMIS" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMasterpage" Runat="Server">
  <table width="90%" height="100%" align="center" >
  <tr><td>
  
    <table align="center" >
        <tr>
            <td align="left" valign="top"> 
                <asp:HiddenField ID="h_uniqueID" runat="server" />
        <asp:Button ID="btnPrintReport" runat="server" Height="32px" Text="Print Report" Visible="False"/>   
            <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true"
       ToolPanelView="None" Height="50px" Width="350px" PrintMode="ActiveX" HasCrystalLogo="False" />
    </td>
        </tr>
    </table></td></tr> </table>
</asp:Content>

