<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ShowLeaveApplications.aspx.vb" Inherits="Payroll_ShowLeaveApplications" %>

<%@ OutputCache Duration="1" Location="None" VaryByParam="none" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Documents</title>
     <base target="_self" />
<style type="text/css" > 
 .odd{background-color: white;} 
 .even{background-color: gray;} 
</style>
        <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <%--    <link href="/cssfiles/custome.css" rel="stylesheet">--%>
    <link href="/cssfiles/sb-admin.css" rel="stylesheet">
    
   <script language="javascript" type="text/javascript">
        //not in use
      function validate_add() {     
   
      if (document.getElementById("txtItemname").value=='')
      {
      alert("Kindly enter item Name");
      return false;
      }
      

      var agree=confirm('Do you really want to Add Item : ' + document.getElementById("txtItemname").value +' ?');

      if (agree)

       return true ;

      else

       return false ;

    }  
    function Return(retval)
    {
    window.returnValue = retval;
    //alert(retval);
    window.close();    
    }
    function hide(id)
     { 
     var tdid='tbl_Message'+id; 
     document.getElementById(tdid).style.display='none';
     }
       function help(id) {     
   
     //var groupcode=
     
            var sFeatures;
            sFeatures="dialogWidth: 460px; ";
            sFeatures+="dialogHeight: 150px; ";
            sFeatures+="help: no; ";
            sFeatures+="resizable: no; ";
            sFeatures+="scroll: yes; ";
            sFeatures+="status: no; ";
            sFeatures+="unadorned: no; ";
            var NameandCode;
            var result;
            var url;
            url='ShowError.aspx?id='+id; 
            result = window.showModalDialog(url,"", sFeatures)
              }  
    </script>
    
       <script language="javascript" type="text/javascript">
        //not in use
       function validate_add() {     
   
      if (document.getElementById("txtGroupcode").value=='')
      {
      alert("Kindly enter Group Code");
      return false;
      }
      if (document.getElementById("txtGroupname").value=='')
      {
      alert("Kindly enter Group Name");
      return false;
      }
      return true;
     }    
    function hide(id)
     { 
     var tdid='tbl_Message'+id;
    // alert(tdid);
     document.getElementById(tdid).style.display='none';
     }
       function help(id) {      
            var sFeatures;
            sFeatures="dialogWidth: 460px; ";
            sFeatures+="dialogHeight: 150px; ";
            sFeatures+="help: no; ";
            sFeatures+="resizable: no; ";
            sFeatures+="scroll: yes; ";
            sFeatures+="status: no; ";
            sFeatures+="unadorned: no; ";
            var NameandCode;
            var result;
            var url;
            url='ShowError.aspx?id='+id; 
            result = window.showModalDialog(url,"", sFeatures)
              }  
              
             function test(val)
                {
                //alert(val);
                var path;
                if (val=='LI')
                {
                path='../images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid() %>").src = path;
                document.getElementById("<%=h_selected_menu_1.ClientID %>").value=val+'__'+path;
                }
          function test1(val)
                {
                var path;
                if (val=='LI')
                {
                path='../images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid1() %>").src = path;
                document.getElementById("<%=h_selected_menu_2.ClientID %>").value=val+'__'+path;
                }
      function test2(val)
                {
                var path;
                if (val=='LI')
                {
                path='../images/operations/like.gif';
                }else if (val=='NLI')
                {
                path='../images/operations/notlike.gif';
                }else if (val=='SW')
                {
                path='../images/operations/startswith.gif';
                }else if (val=='NSW')
                {
                path='../images/operations/notstartwith.gif';
                }else if (val=='EW')
                {
                path='../images/operations/endswith.gif';
                }else if (val=='NEW')
                {
                path='../images/operations/notendswith.gif';
                }
                document.getElementById("<%=getid2() %>").src = path;
                document.getElementById("<%=h_selected_menu_3.ClientID %>").value=val+'__'+path;
                }
function MoveCursorDown(e) 
{
//alert(event.keyCode);//d=40,u=38
        var start_index=7;
        var max_index=19;
        var d='<%=Request.QueryString("bankcash") %>';
        if ( d !='') 
        { 
        start_index=14;
        max_index=25;
        }
        var c=start_index+1;
        var i=1;
        if(event.keyCode==32 && event.ctrlKey )
        { 
            c=document.getElementById("<%=h_SelectedId.ClientID %>").value-0;
            if (c <= 0 || c==-1||c<=start_index)
                {
                document.getElementById("<%=h_SelectedId.ClientID %>").value==(start_index+1)+'';
                c=start_index;
                }
                table = document.getElementById("gvGroup");
                if(table == null) return;
                rows = table.getElementsByTagName("TR");
                  var len=rows.length;
                if (len==max_index) len=len-2;
                 
            if (c<len)
                {
                var retval;
                cols=rows[c].getElementsByTagName("span");
                //alert('done'+cols[0].innerHTML);
                retval=cols[0].innerText + "___";
                cols=rows[c].getElementsByTagName("a");
                //alert('done'+cols[0].innerHTML);
                retval=retval+cols[0].innerText;
                //
                window.returnValue=retval;
                window.close();
                }
         }
                
        if(event.keyCode==40||event.keyCode==38)
        {
        if(event.keyCode==38) i=-1; 

                c=document.getElementById("<%=h_SelectedId.ClientID %>").value-0;
                c=c+i;
                if (c <= 0 || c==-1||c<=start_index)
                {
                document.getElementById("<%=h_SelectedId.ClientID %>").value==(start_index+1)+'';
                c=start_index;
                }
                    selectedRow = null; 
                    var index=0;
                    
                    table = document.getElementById("gvGroup");
                    if(table == null) return;
                    rows = table.getElementsByTagName("TR");
                    var len=rows.length;
                    if (len==max_index) len=len-2;
                  
                       if(c<rows.length)
                       {
                        cols1=rows[c].getElementsByTagName("a");
                        if (cols1!=null)
                        if (cols1.length>0)
                         if (cols1[0].innerText=='1') len=len-2;
                       }
                    if (c<len)
                    { 
                     rows[c].className = "griditem_hilight";
                     if (c%2==0)
                        {   if(c!=start_index)rows[c-1].className = "griditem_alternative";}
                     else
                        {    if(c!=start_index)rows[c-1].className = "griditem"; }
                     if(event.keyCode==38 && c+1<len) 
                        {
                          rows[c+1].className = "griditem";
                        }
                     document.getElementById("<%=h_SelectedId.ClientID %>").value=c;
                     
                    }
                     // alert(rows.length-900);
        }
}
                
    </script>

        <script>
        function GetRadWindow() {
            var oWindow = null;
            if (window.radWindow) oWindow = window.radWindow;
            else if (window.frameElement.radWindow) oWindow = window.frameElement.radWindow;
            return oWindow;
        }
    </script>
</head>
<body  class="matter" onload="listen_window();" onkeydown="MoveCursorDown(this);" topmargin="0" leftmargin="0">
    <form id="form1" runat="server">
 <input id="h_SelectedId" runat="server" type="hidden" value="-1" />
                        <input id="h_Selected_menu_2" runat="server" type="hidden" value="=" />
                        <input id="h_selected_menu_1" runat="server" type="hidden" value="=" />
                        <input id="h_Selected_menu_3" runat="server" type="hidden" value="=" />
                
    <div>
        <div>
            <table width="100%" id="tbl">
                       <tr>
                    <td align="center" colspan="5">
                        <asp:GridView ID="gvGroup" runat="server" CssClass="table table-row table-bordered" AutoGenerateColumns="False" Width="100%" EmptyDataText="No Data" AllowPaging="True">
                            <Columns>
                                <asp:TemplateField HeaderText="EMD_ID" Visible="False">
                                    <ItemTemplate>
                                        <asp:Label ID="iblEmd_id" runat="server" Text='<%# Bind("ELA_ID") %>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="Emp No">
                                    <EditItemTemplate>
                                        
                                    </EditItemTemplate>
                                    <HeaderTemplate>
                                         Emp No.<br />
                                                                <asp:TextBox ID="txtCode" runat="server" Width="100%"></asp:TextBox></td>
                                                                <asp:ImageButton ID="btnCodeSearch" runat="server" ImageAlign="Top" ImageUrl="../images/forum_search.gif" OnClick="ImageButton1_Click" /></td>
                                    </HeaderTemplate>
                                    <ItemTemplate>
                                        <asp:Label ID="lblCode" runat="server" Text='<%# Bind("EMPNO") %>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:BoundField DataField="EMP_NAME" HeaderText="Employee Name" />
                                <asp:BoundField DataField="ELA_DTFROM" DataFormatString="{0:dd/MMM/yyyy}" HeaderText="From Dt"
                                    HtmlEncode="False">
                                    <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                </asp:BoundField>
                                <asp:BoundField DataField="ELA_DTTO" DataFormatString="{0:dd/MMM/yyyy}" HeaderText="To Dt."
                                    HtmlEncode="False">
                                    <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                                </asp:BoundField>
                                <asp:TemplateField HeaderText="Doc Name">
                                    <EditItemTemplate>
                                        
                                    </EditItemTemplate>
                                    <HeaderTemplate>
                                        Remarks<br />
                                                                <asp:TextBox ID="txtName" runat="server" Width="98%"></asp:TextBox>
                                                                <asp:ImageButton ID="btnSearchName" runat="server" ImageAlign="Top" ImageUrl="../images/forum_search.gif" OnClick="btnSearchName_Click" />
                                    </HeaderTemplate>
                                    <ItemTemplate>
                                  <asp:Label ID="lblEmpName" runat="server"  Text='<%# Bind("EMP_NAME") %>' Visible="false"></asp:Label>
                                        <asp:LinkButton ID="lbCodeSubmit" runat="server" OnClick="LinkButton1_Click" Text='<%# Bind("ELA_REMARKS") %>' ></asp:LinkButton>
                                    </ItemTemplate>
                                </asp:TemplateField>
                            </Columns>
                             <RowStyle CssClass="griditem" Height="25px" />
                            <HeaderStyle CssClass="gridheader_pop" Height="25px" />
                            <AlternatingRowStyle CssClass="griditem_alternative" />
                            <SelectedRowStyle CssClass="griditem_hilight" />
                        </asp:GridView>
                        
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center" colspan="4"><span id="sp_message" class="error" runat="server"></span> </td>
                    <td></td>
                </tr>               
            </table>
        </div>
    

    </div>
    </form>
</body>
</html>
